Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

customer search demo
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/3.group.md
  packages/zent/src/select/demos/4.multiple.md
  packages/zent/src/select/demos/5.filter.md
  packages/zent/src/select/demos/6.customer-search.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

update docs [ci skip]
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
Due: none

virtual scroll demo
  packages/zent/src/select/Popup.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Trigger.tsx
  packages/zent/src/select/components/Option.tsx
  packages/zent/src/select/components/Search.tsx
  packages/zent/src/select/components/Tag.tsx
  packages/zent/src/select/demos/7.virtual-scroll.md
  packages/zent/src/select/index.ts
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

renderValue, renderOptionContent
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/TagList.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix demo [ci skip]
  packages/zent/src/select/demos/1.basic.md
Due: none

open, onOpenChange
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: replace input with zent Input
  packages/zent/assets/select.scss
  packages/zent/src/select/components/Search.tsx
  packages/zent/src/select/trigger/InputTrigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

grid: 更新批量操作实现方式
  packages/zent/assets/grid.scss
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/batch.md
  packages/zent/src/grid/utils.ts
  packages/zent/src/i18n/en-US.ts
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

new Icon grid
  packages/zent/package.json
  packages/zent/scripts/make-icon-grid.js
  packages/zent/src/copy-button/README_en-US.md
  packages/zent/src/copy-button/README_zh-CN.md
  packages/zent/src/copy-button/index.tsx
  packages/zent/src/icon/README_en-US.md
  packages/zent/src/icon/README_zh-CN.md
  packages/zent/src/icon/demos/all.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Update yarn.lock
  yarn.lock
Due: none

move style to svg attribute
  packages/zent/src/progress/components/AnimatedArc.tsx
  packages/zent/src/progress/components/CircleProgress.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix Progress issue on Safari
  packages/zent/assets/progress.scss
  packages/zent/src/progress/components/AnimatedArc.tsx
  packages/zent/src/progress/components/CircleProgress.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Update Progress tests
  packages/zent/__tests__/progress.js
Due: yarn format, eslint

new Icon grid (#1236)
  packages/zent/package.json
  packages/zent/scripts/make-icon-grid.js
  packages/zent/src/copy-button/README_en-US.md
  packages/zent/src/copy-button/README_zh-CN.md
  packages/zent/src/copy-button/index.tsx
  packages/zent/src/icon/README_en-US.md
  packages/zent/src/icon/README_zh-CN.md
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Fix progress in safari (#1237)
  packages/zent/__tests__/progress.js
  packages/zent/assets/progress.scss
  packages/zent/src/progress/components/AnimatedArc.tsx
  packages/zent/src/progress/components/CircleProgress.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Fix tests
  packages/zent/src/i18n/locale.ts
  packages/zent/src/progress/components/AnimatedArc.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update i18n usage
  packages/zent/assets/pagination.scss
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/copy-button/index.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/i18n/I18nReceiver.ts
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/preview-image/Image.tsx
  packages/zent/src/select/Popup.tsx
  packages/zent/src/select/trigger/BaseTrigger.tsx
  packages/zent/src/select/trigger/InputTrigger.tsx
  packages/zent/src/select/trigger/SimpleTrigger.tsx
  packages/zent/src/select/trigger/TagsTrigger.tsx
  packages/zent/src/sweetalert/ActionButton.tsx
  packages/zent/src/sweetalert/index.tsx
  packages/zent/src/table/Table.tsx
  packages/zent/src/upload/components/FileInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Fix table test
  packages/zent/__tests__/table/combine.js
Due: yarn format, eslint

Update i18n usage (#1238)
  packages/zent/__tests__/table/combine.js
  packages/zent/assets/pagination.scss
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/copy-button/index.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/i18n/I18nReceiver.ts
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/preview-image/Image.tsx
  packages/zent/src/select/Popup.tsx
  packages/zent/src/select/trigger/BaseTrigger.tsx
  packages/zent/src/select/trigger/InputTrigger.tsx
  packages/zent/src/select/trigger/SimpleTrigger.tsx
  packages/zent/src/select/trigger/TagsTrigger.tsx
  packages/zent/src/sweetalert/ActionButton.tsx
  packages/zent/src/sweetalert/index.tsx
  packages/zent/src/table/Table.tsx
  packages/zent/src/upload/components/FileInput.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

Publish
  packages/zent/package.json
Due: none

fix form field types
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/form/form-components/SwitchField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix Radio and Checkbox height
  packages/zent/assets/checkbox.scss
  packages/zent/assets/radio.scss
  packages/zent/src/radio/Radio.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

[Feature] IMEComposition: 添加输入法合成处理组件 (#1211)
  packages/zent/__tests__/ime-composition.js
  packages/zent/assets/select.scss
  packages/zent/src/ime-composition/IMEComposition.tsx
  packages/zent/src/ime-composition/README_en-US.md
  packages/zent/src/ime-composition/README_zh-CN.md
  packages/zent/src/ime-composition/context.tsx
  packages/zent/src/ime-composition/demos/basic.md
  packages/zent/src/ime-composition/hooks.ts
  packages/zent/src/ime-composition/index.ts
  packages/zent/src/ime-composition/types.ts
  packages/zent/src/index.ts
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/select/components/Search.tsx
  packages/zent/src/select/trigger/InputTrigger.tsx
  packages/zent/src/utils/isChrome.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix Radio and Checkbox height (#1239)
  packages/zent/assets/checkbox.scss
  packages/zent/assets/radio.scss
  packages/zent/src/radio/Radio.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fork fecha
  packages/zent/__tests__/utils/fecha.js
  packages/zent/jest.config.json
  packages/zent/package.json
  packages/zent/src/i18n/time-locale.ts
  packages/zent/src/utils/date/fecha.ts
  packages/zent/src/utils/date/formatDate.ts
  packages/zent/src/utils/date/parseDate.ts
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Add license
  packages/zent/__tests__/utils/fecha.js
Due: yarn format, eslint

fork fecha (#1241)
  packages/zent/__tests__/utils/fecha.js
  packages/zent/jest.config.json
  packages/zent/package.json
  packages/zent/src/i18n/time-locale.ts
  packages/zent/src/utils/date/fecha.ts
  packages/zent/src/utils/date/formatDate.ts
  packages/zent/src/utils/date/parseDate.ts
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Upgrade to date-fns@2
  packages/zent/package.json
  packages/zent/scripts/build.sh
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/date/DatePanelBody.tsx
  packages/zent/src/datetimepicker/quarter/QuarterPanelBody.tsx
  packages/zent/src/datetimepicker/utils/index.ts
  packages/zent/src/number-input/integer.ts
  packages/zent/tslint.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Upgrade to date-fns@2 (#1242)
  packages/zent/package.json
  packages/zent/scripts/build.sh
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/date/DatePanelBody.tsx
  packages/zent/src/datetimepicker/quarter/QuarterPanelBody.tsx
  packages/zent/src/datetimepicker/utils/index.ts
  packages/zent/src/number-input/integer.ts
  packages/zent/tslint.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

grid: 更新批量操作
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/batch.md
  packages/zent/src/grid/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

extra props should be partial [ci skip]
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

extra props should be partial [ci skip] (#1243)
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add last page help for pagination
  packages/zent/assets/pagination.scss
  packages/zent/src/pagination/LitePagination.tsx
  packages/zent/src/pagination/MiniPagination.tsx
  packages/zent/src/pagination/Pagination.tsx
  packages/zent/src/pagination/README_en-US.md
  packages/zent/src/pagination/README_zh-CN.md
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/pagination/components/button/PageNumberButton.tsx
  packages/zent/src/pagination/components/list/BasePageList.ts
  packages/zent/src/pagination/components/list/LitePageList.tsx
  packages/zent/src/pagination/components/list/MiniPageList.tsx
  packages/zent/src/pagination/components/list/NormalPageList.tsx
  packages/zent/src/pagination/demos/01-basic.md
  packages/zent/src/pagination/demos/02-dynamic-page-size.md
  packages/zent/src/pagination/demos/03-empty.md
  packages/zent/src/pagination/demos/04-format.md
  packages/zent/src/pagination/demos/05-last-page-help.md
  packages/zent/src/pagination/impl/AbstractPagination.tsx
  packages/zent/src/pagination/impl/BasePagination.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Reorder imports
  packages/zent/src/pagination/components/button/ArrowButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: CopyButton text prop type fix
  packages/zent/src/copy-button/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add last page help for pagination (#1244)
  packages/zent/assets/pagination.scss
  packages/zent/src/pagination/LitePagination.tsx
  packages/zent/src/pagination/MiniPagination.tsx
  packages/zent/src/pagination/Pagination.tsx
  packages/zent/src/pagination/README_en-US.md
  packages/zent/src/pagination/README_zh-CN.md
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/pagination/components/button/PageNumberButton.tsx
  packages/zent/src/pagination/components/list/BasePageList.ts
  packages/zent/src/pagination/components/list/LitePageList.tsx
  packages/zent/src/pagination/components/list/MiniPageList.tsx
  packages/zent/src/pagination/components/list/NormalPageList.tsx
  packages/zent/src/pagination/demos/01-basic.md
  packages/zent/src/pagination/demos/02-dynamic-page-size.md
  packages/zent/src/pagination/demos/03-empty.md
  packages/zent/src/pagination/demos/04-format.md
  packages/zent/src/pagination/demos/05-last-page-help.md
  packages/zent/src/pagination/impl/AbstractPagination.tsx
  packages/zent/src/pagination/impl/BasePagination.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

optimize defaultRenderError user experience [ci skip]
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

grid: 修复批量操作浮动时页面跳动
  packages/zent/assets/grid.scss
  packages/zent/src/grid/BatchComponents.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq
