Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

update tag docs
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
Due: none

[Refactor] Tag (#1081)
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/tag.js
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
  packages/zent/src/tag/Tag.tsx
  packages/zent/src/tag/demos/controlled.md
  packages/zent/src/tag/demos/custom.md
  packages/zent/src/tag/demos/on-close.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

hotfix(assets):给zent-link__disabled添加一个pointer-events阻止行为
  packages/zent/assets/button/_zent-button-link.scss
Due: yarn format, sass-lint -vq

update docs
  packages/zent/src/button/demos/directive.md
Due: none

Update button docs
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Group.tsx
  packages/zent/src/button/README_en-US.md
  packages/zent/src/button/README_zh-CN.md
  packages/zent/src/button/demos/directive.md
  packages/zent/src/button/demos/group.md
  packages/zent/src/button/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix button tests
  packages/zent/__tests__/button.js
Due: yarn format, eslint

Refactor/button (#1077)
  packages/zent/__tests__/button.js
  packages/zent/__tests__/table/combine.js
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/Group.tsx
  packages/zent/src/button/README_en-US.md
  packages/zent/src/button/README_zh-CN.md
  packages/zent/src/button/demos/directive.md
  packages/zent/src/button/demos/group.md
  packages/zent/src/button/index.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Add missing props to TabPanel, a temporary workaround, needs rewrite
  packages/zent/src/tabs/components/TabPanel.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: fix uploader width overflow when screen width is narrow (#1088)
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq

Add missing props to TabPanel, a temporary workaround, needs rewrite (#1089)
  packages/zent/src/tabs/components/TabPanel.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

Publish
  packages/babel-plugin-zent/package.json
  packages/zent/package.json
Due: none

fix table batch operation styles
  packages/zent/assets/table.scss
  packages/zent/src/table/demos/batch.md
Due: yarn format, sass-lint -vq

fix table batch operation styles (#1090)
  packages/zent/assets/table.scss
  packages/zent/src/table/demos/batch.md
Due: yarn format, sass-lint -vq

Add formatTotal to Pagination
  packages/zent/src/pagination/README_en-US.md
  packages/zent/src/pagination/README_zh-CN.md
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/pagination/components/button/PageNumberButton.tsx
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  packages/zent/src/pagination/components/list/BasePageList.ts
  packages/zent/src/pagination/demos/format.md
  packages/zent/src/pagination/impl/AbstractPagination.tsx
  packages/zent/src/pagination/impl/BasePagination.ts
  packages/zent/src/pagination/layout/getPageRange.ts
  packages/zent/tsconfig.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

revert strict to false
  packages/zent/tsconfig.json
Due: none

fix: 修复 tag 预置模式颜色不正确的bug，并更新 markdown 例子
  packages/zent/src/tag/Tag.tsx
  packages/zent/src/tag/demos/custom.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修改按钮间距
  packages/zent/assets/button/_zent-button.scss
Due: yarn format, sass-lint -vq

Wrap loading content with a div no matter loading or not
  packages/zent/src/loading/BlockLoading.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add formatTotal to Pagination (#1091)
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/pagination/README_en-US.md
  packages/zent/src/pagination/README_zh-CN.md
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/pagination/components/button/PageNumberButton.tsx
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  packages/zent/src/pagination/components/list/BasePageList.ts
  packages/zent/src/pagination/demos/format.md
  packages/zent/src/pagination/impl/AbstractPagination.tsx
  packages/zent/src/pagination/impl/BasePagination.ts
  packages/zent/src/pagination/layout/getPageRange.ts
  packages/zent/tsconfig.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 添加 tag 组件的 color 参数类型
  packages/zent/src/tag/Tag.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修改 input 组件的内边距
  packages/zent/assets/input.scss
Due: yarn format, sass-lint -vq

Wrap loading content with a div no matter loading or not (#1092)
  packages/zent/src/loading/BlockLoading.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update theme color
  packages/zent/assets/dialog.scss
  packages/zent/assets/theme/_default.scss
Due: yarn format, sass-lint -vq

Update theme color (#1094)
  packages/zent/assets/dialog.scss
  packages/zent/assets/theme/_default.scss
Due: yarn format, sass-lint -vq

fix: Tag 组件主题色参数修改
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/tag.js
  packages/zent/assets/tag.scss
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
  packages/zent/src/tag/Tag.tsx
  packages/zent/src/tag/demos/custom.md
  packages/zent/src/tag/demos/on-close.md
  packages/zent/src/tag/demos/style.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: 删除 tag readme 中的 darkgreen 备选项
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
Due: none

[bugfix] Tag: 修复 Tag 组件的样式覆盖问题和部分样式问题 (#1093)
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/tag.js
  packages/zent/assets/button/_zent-button.scss
  packages/zent/assets/input.scss
  packages/zent/assets/tag.scss
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
  packages/zent/src/tag/Tag.tsx
  packages/zent/src/tag/demos/custom.md
  packages/zent/src/tag/demos/on-close.md
  packages/zent/src/tag/demos/style.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Publish
  packages/zent/package.json
Due: none

[bug fix] Slider: slider和upload去除componentWillReceiveProps (#1068)
  packages/zent/src/slider/Points.tsx
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

upgrade to typescript 3.5
  packages/zent/package.json
  packages/zent/src/portal/Portal.tsx
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix cruiser
  packages/zent/scripts/cruiser/analyzer.ts
Due: yarn format, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json

fix cruiser
  packages/zent/scripts/cruiser/registry.ts
Due: yarn format, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json

upgrade to typescript3.5 (#1095)
  packages/zent/package.json
  packages/zent/scripts/cruiser/analyzer.ts
  packages/zent/scripts/cruiser/registry.ts
  packages/zent/src/portal/Portal.tsx
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json

Reorder primary color
  packages/zent/assets/block-header.scss
  packages/zent/assets/breadcrumb.scss
  packages/zent/assets/button/_zent-button-status.scss
  packages/zent/assets/button/_zent-button-style.scss
  packages/zent/assets/button/_zent-button-variable.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/checkbox.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/date-range-quick-picker.scss
  packages/zent/assets/datetimepicker.scss
  packages/zent/assets/form.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/input.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/menu.scss
  packages/zent/assets/mixins/_popup-menu-item.scss
  packages/zent/assets/number-input.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/progress.scss
  packages/zent/assets/radio.scss
  packages/zent/assets/select.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/split-button.scss
  packages/zent/assets/steps.scss
  packages/zent/assets/sweetalert.scss
  packages/zent/assets/swiper.scss
  packages/zent/assets/switch/_zent-switch-status.scss
  packages/zent/assets/switch/_zent-switch-variable.scss
  packages/zent/assets/table.scss
  packages/zent/assets/tabs.scss
  packages/zent/assets/tag.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/timeline.scss
  packages/zent/assets/tree.scss
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq

Reorder primary color (#1096)
  packages/zent/assets/block-header.scss
  packages/zent/assets/breadcrumb.scss
  packages/zent/assets/button/_zent-button-status.scss
  packages/zent/assets/button/_zent-button-style.scss
  packages/zent/assets/button/_zent-button-variable.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/checkbox.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/date-range-quick-picker.scss
  packages/zent/assets/datetimepicker.scss
  packages/zent/assets/form.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/input.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/menu.scss
  packages/zent/assets/mixins/_popup-menu-item.scss
  packages/zent/assets/number-input.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/progress.scss
  packages/zent/assets/radio.scss
  packages/zent/assets/select.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/split-button.scss
  packages/zent/assets/steps.scss
  packages/zent/assets/sweetalert.scss
  packages/zent/assets/swiper.scss
  packages/zent/assets/switch/_zent-switch-status.scss
  packages/zent/assets/switch/_zent-switch-variable.scss
  packages/zent/assets/table.scss
  packages/zent/assets/tabs.scss
  packages/zent/assets/tag.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/timeline.scss
  packages/zent/assets/tree.scss
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq

fix: block-header 重构
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/block-header.js
  packages/zent/assets/block-header.scss
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/block-header/README_en-US.md
  packages/zent/src/block-header/README_zh-CN.md
  packages/zent/src/block-header/demos/basic.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq
