Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

v7.4.2
  packages/zent/package.json
Due: none

[cascader]feat: 添加 disabled 属性
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/cascader/demos/disabled.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

[cascader]docs: add readme
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
Due: none

[cascader]fix: 修复禁用状态下文字的样式显示
  packages/zent/assets/cascader.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[cascader]feat: 支持 Disabled 组件
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

docs: add cascader
  packages/zent/src/disabled/demos/1.basic.md
Due: none

[cascader]fix: 调整 disabled 的位置
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: update disabled style, add readme doc
  packages/zent/assets/upload.scss
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/README_en-US.md
  packages/zent/src/upload/README_zh-CN.md
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/FileInput.tsx
  packages/zent/src/upload/components/image/Trigger.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
  packages/zent/src/upload/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: concat i18n import
  packages/zent/src/upload/ImageUpload.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: remove locale upload types import
  packages/zent/src/i18n/locale.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

grid: 添加表头吸顶
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/autoStick.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

move all inner component props to props.props
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/form-components/NumberInputField.tsx
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix form label error style
  packages/zent/assets/form.scss
  packages/zent/src/form/Error.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: update color variables
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: 修复Form组件的form属性类型
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Form field props (#1297)
  packages/zent/assets/form.scss
  packages/zent/src/form/Error.tsx
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/form-components/NumberInputField.tsx
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 修复Form组件的form属性类型 (#1300)
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix form select field 'destroyOnUnmount'
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix form select field 'destroyOnUnmount' (#1302)
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

v7.4.3
  packages/zent/package.json
Due: none

fix: 添加 autoUpload 属性，给外部手动控制上传用
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/README_en-US.md
  packages/zent/src/upload/README_zh-CN.md
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils.ts
  packages/zent/src/upload/utils/default-image-props.ts
  packages/zent/src/upload/utils/format-file-size.ts
  packages/zent/src/upload/utils/guess-support-types.ts
  packages/zent/src/upload/utils/id.ts
  packages/zent/src/upload/utils/wrap-promise.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[swiper]fix: 修复传入自定义组件显示异常的问题
  packages/zent/assets/swiper.scss
  packages/zent/src/swiper/Swiper.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

[swiper]fix: fix compile error
  packages/zent/src/swiper/Swiper.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修复 TS 定义
  packages/zent/src/copy-button/index.tsx
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/form/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

docs: modify
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
Due: none

[cascader]fix: 移除无用样式 & open 和 disabled 样式修改
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 修改IFormProps泛型
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[cascader]fix: 修正测试用例
  packages/zent/__tests__/cascader.js
Due: yarn format, eslint

[cascader]test: add
  packages/zent/__tests__/cascader.js
Due: yarn format, eslint

[cascader]fix: 样式修改 & 定义修改
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Update Design and SKU doc
  packages/zent/src/design/README_en-US.md
  packages/zent/src/design/README_zh-CN.md
  packages/zent/src/sku/README_en-US.md
  packages/zent/src/sku/README_zh-CN.md
Due: none

fix: change autoUpload props name to skipUpload, fix status display
  packages/zent/assets/upload.scss
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/README_en-US.md
  packages/zent/src/upload/README_zh-CN.md
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/constants.ts
  packages/zent/src/upload/demos/basic.md
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/default-image-props.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

update form error style
  packages/zent/assets/input.scss
  packages/zent/assets/select.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

update form error style (#1309)
  packages/zent/assets/input.scss
  packages/zent/assets/select.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Update Design and SKU doc (#1308)
  packages/zent/src/design/README_en-US.md
  packages/zent/src/design/README_zh-CN.md
  packages/zent/src/sku/README_en-US.md
  packages/zent/src/sku/README_zh-CN.md
Due: none

add style notice[ci skip]
  packages/zent/src/swiper/README_en-US.md
  packages/zent/src/swiper/README_zh-CN.md
Due: none

add style notice[ci skip] (#1310)
  packages/zent/src/swiper/README_en-US.md
  packages/zent/src/swiper/README_zh-CN.md
Due: none

fix: 修复 TS 定义 (#1306)
  packages/zent/src/copy-button/index.tsx
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/form/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

cascader 新增disabled 属性 (#1296)
  packages/zent/__tests__/cascader.js
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/demos/disabled.md
  packages/zent/src/disabled/demos/1.basic.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

update cascader style and remove prefix
  README-zh_CN.md
  README.md
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
