Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: add some props
  packages/zent/assets/sku.pcss
  packages/zent/src/sku/README_en-US.md
  packages/zent/src/sku/README_zh-CN.md
  packages/zent/src/sku/SKU.js
  packages/zent/src/sku/components/SKUButton.js
  packages/zent/src/sku/components/SKUContainer.js
  packages/zent/src/sku/components/SKUGroup.js
Due: yarn format, eslint

fix: 隐藏文件
  .eslintignore
  .eslintrc
  .stylelintrc
Due: none

fix: update sku
  packages/zent/assets/sku.pcss
  packages/zent/src/sku/README_en-US.md
  packages/zent/src/sku/README_zh-CN.md
  packages/zent/src/sku/SKU.js
  packages/zent/src/sku/components/SKUButton.js
  packages/zent/src/sku/components/SKUContainer.js
  packages/zent/src/sku/components/SKUGroup.js
  packages/zent/src/sku/demos/basic.md
  site/src/index.js
  site/webpack/loader.config.js
  site/webpack/webpack.dev.config.js
Due: yarn format, eslint

fix: webpack
  site/src/index.js
  site/webpack/loader.config.js
  site/webpack/webpack.dev.config.js
Due: yarn format, eslint

fix: update
  packages/zent/assets/sku.pcss
  packages/zent/src/i18n/en-US.js
  packages/zent/src/i18n/zh-CN.js
  packages/zent/src/sku/components/SKUContainer.js
  packages/zent/src/sku/components/SKUGroup.js
Due: yarn format, eslint

fix: i18n
  packages/zent/src/i18n/en-US.js
Due: yarn format, eslint

refactor portal
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/dialog/open.tsx
  packages/zent/src/portal/LayeredPortal.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/preview-image/Image.tsx
  packages/zent/src/preview-image/previewImage.tsx
  packages/zent/src/utils/component/WindowResizeHandler.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: add missing types for table and grid
  packages/babel-plugin-zent/README_zh-CN.md
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/modules/Foot.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[enhancement] SKU: add some sku props (#1039)
  packages/zent/assets/sku.pcss
  packages/zent/src/i18n/en-US.js
  packages/zent/src/i18n/zh-CN.js
  packages/zent/src/sku/README_en-US.md
  packages/zent/src/sku/README_zh-CN.md
  packages/zent/src/sku/SKU.js
  packages/zent/src/sku/components/SKUButton.js
  packages/zent/src/sku/components/SKUContainer.js
  packages/zent/src/sku/components/SKUGroup.js
  packages/zent/src/sku/demos/basic.md
Due: yarn format, eslint

fix: rename sku props
  packages/zent/src/sku/README_en-US.md
  packages/zent/src/sku/README_zh-CN.md
  packages/zent/src/sku/SKU.js
  packages/zent/src/sku/components/SKUContainer.js
  packages/zent/src/sku/components/SKUGroup.js
  packages/zent/src/sku/demos/basic.md
Due: yarn format, eslint

fix: rename sku prop
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/src/sku/README_en-US.md
  packages/zent/src/sku/README_zh-CN.md
  packages/zent/src/sku/SKU.js
  packages/zent/src/sku/components/SKUButton.js
Due: yarn format, eslint

Publish
  packages/zent/package.json
Due: none

fix: sku i18n
  packages/zent/src/i18n/en-US.js
Due: yarn format, eslint

refactor portal
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/dialog/Dialog.js
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/loading/props.ts
  packages/zent/src/popover/Content.tsx
  packages/zent/src/portal/ClosablePortal.tsx
  packages/zent/src/portal/LayeredPortal.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PortalContent.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/README_en-US.md
  packages/zent/src/portal/README_zh-CN.md
  packages/zent/src/portal/demos/basic.md
  packages/zent/src/portal/index.ts
  packages/zent/src/portal/withESCToClose.tsx
  packages/zent/src/portal/withNonScrollable.tsx
  packages/zent/src/preview-image/Image.tsx
  packages/zent/src/utils/component/BodyEventHandler.tsx
  packages/zent/src/utils/getScrollbarWidth.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

make withNonScrollable layered portal only
  packages/zent/__tests__/dialog/Dialog.js
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/position-function.ts
  packages/zent/src/portal/LayeredPortal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/context.ts
  packages/zent/src/portal/util.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

update Portal docs
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/portal/LayeredPortal.tsx
  packages/zent/src/portal/README_en-US.md
  packages/zent/src/portal/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix popover, preview-image
  packages/zent/__tests__/preview-image.js
  packages/zent/src/popover/Content.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: babel plugin doc
  packages/babel-plugin-zent/README_en-US.md
  packages/babel-plugin-zent/README_zh-CN.md
Due: none

fix: grid and table docs/demos
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/pagination.md
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/table/README_en-US.md
  packages/zent/src/table/README_zh-CN.md
  packages/zent/src/table/demos/basic.md
  packages/zent/src/table/demos/batch.md
  packages/zent/src/table/demos/indeterminate.md
  packages/zent/src/table/demos/pager.md
  packages/zent/src/table/demos/selection.md
Due: none

Bugfix: update Table and Grid docs & demos (#1041)
  packages/babel-plugin-zent/README_en-US.md
  packages/babel-plugin-zent/README_zh-CN.md
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/pagination.md
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/table/README_en-US.md
  packages/zent/src/table/README_zh-CN.md
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/demos/basic.md
  packages/zent/src/table/demos/batch.md
  packages/zent/src/table/demos/indeterminate.md
  packages/zent/src/table/demos/pager.md
  packages/zent/src/table/demos/selection.md
  packages/zent/src/table/modules/Foot.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Publish
  packages/babel-plugin-zent/package.json
  packages/zent/package.json
Due: none

feat: support pagination type in Table and Grid
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/demos/batch.md
  packages/zent/src/table/demos/indeterminate.md
  packages/zent/src/table/demos/selection.md
  packages/zent/src/table/modules/Foot.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: support pagination type in Table and Grid (#1042)
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/demos/batch.md
  packages/zent/src/table/demos/indeterminate.md
  packages/zent/src/table/demos/selection.md
  packages/zent/src/table/modules/Foot.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: grid & table footer margin
  packages/zent/assets/grid.scss
  packages/zent/assets/table.scss
Due: yarn format, sass-lint -vq

feat: add TextMark
  packages/zent/assets/index.scss
  packages/zent/assets/text-mark.scss
  packages/zent/src/index.ts
  packages/zent/src/text-mark/README_en-US.md
  packages/zent/src/text-mark/README_zh-CN.md
  packages/zent/src/text-mark/TextMark.tsx
  packages/zent/src/text-mark/chunk.ts
  packages/zent/src/text-mark/demos/basic.md
  packages/zent/src/text-mark/demos/class.md
  packages/zent/src/text-mark/index.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: grid & table footer margin (#1043)
  packages/zent/assets/grid.scss
  packages/zent/assets/table.scss
Due: yarn format, sass-lint -vq

doc: update README
  README-zh_CN.md
  README.md
  packages/zent/README_en-US.md
  packages/zent/README_zh-CN.md
Due: none

doc: update TextMark docs
  packages/zent/scripts/new-component.js
  packages/zent/src/text-mark/README_en-US.md
  packages/zent/src/text-mark/README_zh-CN.md
  packages/zent/src/text-mark/TextMark.tsx
  packages/zent/src/text-mark/demos/multi.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: new component bug
  packages/zent/scripts/new-component.js
Due: yarn format, eslint

fix: remove default export from template
  packages/zent/scripts/new-component.js
Due: yarn format, eslint

fix: remove text-mark.scss
  packages/zent/assets/index.scss
  packages/zent/assets/text-mark.scss
Due: yarn format, sass-lint -vq

Text mark (#1044)
  packages/zent/scripts/new-component.js
  packages/zent/src/index.ts
  packages/zent/src/text-mark/README_en-US.md
  packages/zent/src/text-mark/README_zh-CN.md
  packages/zent/src/text-mark/TextMark.tsx
  packages/zent/src/text-mark/chunk.ts
  packages/zent/src/text-mark/demos/basic.md
  packages/zent/src/text-mark/demos/class.md
  packages/zent/src/text-mark/demos/multi.md
  packages/zent/src/text-mark/index.ts
  packages/zent/tslint.json
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: form type
  packages/zent/src/form/createForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

doc: update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

fix: update warning message
  .lintstagedrc
  packages/zent/scripts/cruiser/mapping.ts
  packages/zent/scripts/cruiser/registry.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Path conditions:
  yarn format: ((any of: *.js) or (any of: *.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: *.{ts,tsx}
  sass-lint -vq: any of: *.scss
