Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

Fix sortablejs typescript definition for 1.10.0
  packages/zent/package.json
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/typings/sortablejs.ts
  packages/zent/src/upload/components/UploadPopup.tsx
  packages/zent/src/upload/utils/sortable.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix sortablejs typescript definition for 1.10.0 (#1178)
  packages/zent/package.json
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/typings/sortablejs.ts
  packages/zent/src/upload/components/UploadPopup.tsx
  packages/zent/src/upload/utils/sortable.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: changes requested
  packages/zent/assets/rate.scss
  packages/zent/src/rate/README_en-US.md
  packages/zent/src/rate/README_zh-CN.md
  packages/zent/src/rate/Rate.tsx
  packages/zent/src/rate/Star.tsx
  packages/zent/src/rate/demos/basic.md
  packages/zent/src/rate/demos/read-only.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: fix className change mistake
  packages/zent/src/rate/Rate.tsx
  packages/zent/src/rate/Star.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix slider bar click bug
  packages/zent/src/slider/Slider.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove zent-rate-star-active
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/rate/Star.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[new feature] Rate: 增加 `readonly` 支持 (#1174)
  packages/zent/RELEASE_NEXT.md
  packages/zent/assets/rate.scss
  packages/zent/src/rate/README_en-US.md
  packages/zent/src/rate/README_zh-CN.md
  packages/zent/src/rate/Rate.tsx
  packages/zent/src/rate/Star.tsx
  packages/zent/src/rate/demos/read-only.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix a bug when point is overlapped
  packages/zent/src/slider/Point.tsx
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/slider/common.ts
  packages/zent/src/slider/types.ts
  packages/zent/src/utils/withinRange.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix tests
  packages/zent/__tests__/slider.js
Due: yarn format, eslint

improve test coverage
  packages/zent/__tests__/slider.js
  packages/zent/jest.config.json
Due: yarn format, eslint

fix notice className and style not passed [ci skip]
  packages/zent/src/notice/Notice.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix notice className and style not passed [ci skip] (#1180)
  packages/zent/src/notice/Notice.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

improve user experience
  packages/zent/src/slider/Slider.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[Slider] refactor (#1159)
  packages/zent/__tests__/disabled.js
  packages/zent/__tests__/number-input.js
  packages/zent/__tests__/slider.js
  packages/zent/__tests__/utils.js
  packages/zent/assets/slider.scss
  packages/zent/jest.config.json
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/slider/Container.tsx
  packages/zent/src/slider/Dots.tsx
  packages/zent/src/slider/InputField.tsx
  packages/zent/src/slider/Marks.tsx
  packages/zent/src/slider/Point.tsx
  packages/zent/src/slider/Points.tsx
  packages/zent/src/slider/Range.tsx
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/slider/ToolTips.tsx
  packages/zent/src/slider/Track.tsx
  packages/zent/src/slider/common.ts
  packages/zent/src/slider/index.ts
  packages/zent/src/slider/normalize.ts
  packages/zent/src/slider/types.ts
  packages/zent/src/utils/component/WindowEventHandler.ts
  packages/zent/src/utils/noop.ts
  packages/zent/src/utils/withinRange.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix DateQuickRangePicker preset highlight
  packages/zent/src/form/demos/buildin-field.md
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix DateQuickRangePicker preset highlight (#1181)
  packages/zent/src/form/demos/buildin-field.md
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Publish
  packages/zent/package.json
Due: none

Update RELEASE_NEXT.md
  packages/zent/RELEASE_NEXT.md
Due: none

Revert "Fix sortablejs typescript definition for 1.10.0 (#1178)"
  packages/zent/package.json
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/typings/sortablejs.ts
  packages/zent/src/upload/components/UploadPopup.tsx
  packages/zent/src/upload/utils/sortable.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Revert "Fix sortablejs typescript definition for 1.10.0 (#1178)" (#1182)
  packages/zent/package.json
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/typings/sortablejs.ts
  packages/zent/src/upload/components/UploadPopup.tsx
  packages/zent/src/upload/utils/sortable.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

locks sortablejs version to ~1.9.0 [ci-skip]
  packages/zent/package.json
Due: none

locks sortablejs version to ~1.9.0 [ci-skip] (#1183)
  packages/zent/package.json
Due: none

update yarn lock [ci skip]
  yarn.lock
Due: none

update yarn lock [ci skip] (#1184)
  yarn.lock
Due: none

fix edge case for pagination normal layout
  packages/zent/src/pagination/demos/basic.md
  packages/zent/src/pagination/layout/normal.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix edge case for pagination normal layout (#1185)
  packages/zent/src/pagination/demos/basic.md
  packages/zent/src/pagination/layout/normal.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

style: 修改grid排序icon样式
  packages/zent/assets/grid.scss
Due: yarn format, sass-lint -vq

Add onTabChange removal notice[ci skip]
  packages/zent/RELEASE_NEXT.md
Due: none

prevent delete tags when disabled
  packages/zent/src/select/trigger/TagsTrigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

prevent delete tags when disabled (#1187)
  packages/zent/src/select/trigger/TagsTrigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: Alert 组件不传 extraContent 参数时，不渲染外层包裹的 div
  packages/zent/src/alert/Alert.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: Alert 组件不传 extraContent 参数时，不渲染外层包裹的 div (#1188)
  packages/zent/src/alert/Alert.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

extract caret style to mixin
  packages/zent/assets/grid.scss
Due: yarn format, sass-lint -vq

[bug fix] Grid: 修改grid排序icon样式 (#1186)
  packages/zent/assets/grid.scss
Due: yarn format, sass-lint -vq

fix:Upload图标替换，文案颜色和间距调整
  packages/zent/assets/upload.scss
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix:Upload图标组件替换，文案颜色和间距调整
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix:代码规范修改
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feature: add batch components in grid
  packages/zent/assets/grid.scss
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/batch-components.md
  packages/zent/src/grid/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix:upload组件行高间隔调整
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq
