Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

fix unit tests
  packages/zent/__tests__/input.js
  packages/zent/__tests__/tag.js
  packages/zent/src/icon/Icon.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

[number-input] feature: integer mode (#1137)
  packages/zent/__tests__/number-input.js
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
  packages/zent/src/number-input/demos/1.basic.md
  packages/zent/src/number-input/demos/2.decimal-point.md
  packages/zent/src/number-input/demos/3.range.md
  packages/zent/src/number-input/demos/4.disable.md
  packages/zent/src/number-input/demos/5.event-handler.md
  packages/zent/src/number-input/demos/6.integer.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

[Refactor] Icon (#1134)
  packages/zent/__tests__/input.js
  packages/zent/__tests__/tag.js
  packages/zent/src/icon/Icon.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: 样式修改
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/demos/vertical.md
Due: yarn format, sass-lint -vq

Publish
  packages/zent/package.json
Due: none

fix: alert 提供受控模式，样式颜色使用 css-variable 重写
  packages/zent/__tests__/alert.js
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/demos/close.md
  packages/zent/src/alert/types.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

feat: Pop组件支持offset属性定义位置相对偏移
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/pop/demos/offset.md
  packages/zent/src/pop/position.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 文档错别字修复
  packages/zent/docs/CONTRIBUTING_zh-CN.md
  packages/zent/src/popover/README_en-US.md
Due: none

fix: 修改迁移指南中 Alert 的说明
  packages/zent/RELEASE_NEXT.md
Due: none

feat: Pop支持offset属性定义相对位置偏移--文档调整
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/pop/demos/offset.md
Due: none

fix: change style
  packages/zent/assets/tabs.scss
Due: yarn format, sass-lint -vq

fix: onClose回调统一触发，更新测试用例
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/alert.js
  packages/zent/src/alert/Alert.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix popover ref for function component
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/utils/component/DOMRef.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove useless comment
  packages/zent/src/popover/trigger/Trigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[popover] fix ref for function component trigger (#1151)
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/utils/component/DOMRef.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[refactor] Alert (#1142)
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/alert.js
  packages/zent/assets/alert.scss
  packages/zent/package.json
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/demos/basic.md
  packages/zent/src/alert/demos/callback.md
  packages/zent/src/alert/demos/close.md
  packages/zent/src/alert/demos/content.md
  packages/zent/src/alert/demos/extra.md
  packages/zent/src/alert/demos/highlight.md
  packages/zent/src/alert/demos/loading.md
  packages/zent/src/alert/demos/outline.md
  packages/zent/src/alert/demos/round.md
  packages/zent/src/alert/demos/sizes.md
  packages/zent/src/alert/demos/styles.md
  packages/zent/src/alert/index.ts
  packages/zent/src/alert/types.ts
  packages/zent/src/utils/types.ts
  site/src/_constants.scss
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: expose cushion API on Pop component
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: fix some document typos
  packages/zent/docs/CONTRIBUTING_zh-CN.md
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/popover/README_en-US.md
Due: none

fix: QuarterPicker 修复选择某年季度后，任何年该季度都展示选中
  packages/zent/src/datetimepicker/quarter/QuarterPanelBody.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: QuarterPicker 修复选择某年季度后，任何年该季度都展示选中 (#1153)
  packages/zent/src/datetimepicker/quarter/QuarterPanelBody.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: contributing文档删除过时信息
  packages/zent/docs/CONTRIBUTING_en-US.md
  packages/zent/docs/CONTRIBUTING_zh-CN.md
Due: none

[number-input] fix a lot of bugs
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/decimal.ts
  packages/zent/src/number-input/integer.ts
  packages/zent/src/number-input/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix tests
  packages/zent/__tests__/number-input.js
Due: yarn format, eslint

[new feature] Pop: 添加 `cushion` API (#1152)
  packages/zent/docs/CONTRIBUTING_en-US.md
  packages/zent/docs/CONTRIBUTING_zh-CN.md
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/popover/README_en-US.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix checkPropsValue
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove useless comment
  packages/zent/src/number-input/integer.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[number-input] onChange null for empty input in integer mode
  packages/zent/__tests__/number-input.js
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/integer.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

[number-input] fix bugs (#1154)
  packages/zent/__tests__/number-input.js
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/decimal.ts
  packages/zent/src/number-input/integer.ts
  packages/zent/src/number-input/utils.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Fix select tag style
  packages/zent/assets/select.scss
Due: yarn format, sass-lint -vq

refactor: 增加 tabs 组件各个部件的基础 base 类，区分水平状态和竖直状态的类型
  packages/zent/assets/tabs.scss
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/tabs/components/base/BaseTab.tsx
  packages/zent/src/tabs/components/base/BaseTabs.tsx
  packages/zent/src/tabs/components/base/BaseTabsNav.tsx
  packages/zent/src/tabs/components/base/utils.ts
  packages/zent/src/tabs/components/card/TabsNav.tsx
  packages/zent/src/tabs/components/panel/TabPanel.tsx
  packages/zent/src/tabs/components/panel/VerticalTabPanel.tsx
  packages/zent/src/tabs/components/tab/CardTab.tsx
  packages/zent/src/tabs/components/tab/NormalTab.tsx
  packages/zent/src/tabs/components/tab/VerticalTab.tsx
  packages/zent/src/tabs/components/tabs-nav/button.tsx
  packages/zent/src/tabs/components/tabs-nav/card.tsx
  packages/zent/src/tabs/components/tabs-nav/common.tsx
  packages/zent/src/tabs/components/tabs-nav/normal.tsx
  packages/zent/src/tabs/components/tabs-nav/vertical.tsx
  packages/zent/src/tabs/demos/align.md
  packages/zent/src/tabs/demos/basic.md
  packages/zent/src/tabs/demos/stretch.md
  packages/zent/src/tabs/demos/types.md
  packages/zent/src/tabs/demos/vertical.md
  packages/zent/src/tabs/index.ts
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: rename tabs-nav
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/tabs/components/tabs-nav/ButtonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/CardTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/NormalTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/VerticalTabsNav.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 提取 tabs-nav 公共 render
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/tabs/components/base/BaseTabs.tsx
  packages/zent/src/tabs/components/base/BaseTabsNav.tsx
  packages/zent/src/tabs/components/tab/CardTab.tsx
  packages/zent/src/tabs/components/tabs-nav/ButtonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/CardTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/NormalTabsNav.tsx
  packages/zent/src/tabs/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix select tag style (#1155)
  packages/zent/assets/select.scss
Due: yarn format, sass-lint -vq

fix: 添加 divide 组件
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/tabs/components/TabDivide.tsx
  packages/zent/src/tabs/components/TabPanel.tsx
  packages/zent/src/tabs/components/base/BaseTabsNav.tsx
  packages/zent/src/tabs/components/panel/VerticalTabPanel.tsx
  packages/zent/src/tabs/components/tabs-nav/ButtonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/VerticalTabsNav.tsx
  packages/zent/src/tabs/demos/vertical.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修改 tabs readme 文档内容
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/tabs/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 添加 tabs 迁移指南
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/demos/add-and-del.md
  packages/zent/src/tabs/demos/vertical.md
Due: none

fix: 竖直样式调整
  packages/zent/assets/tabs.scss
  packages/zent/src/index.ts
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/tabs/components/tabs-nav/VerticalTabsNav.tsx
  packages/zent/src/tabs/demos/vertical.md
  packages/zent/src/tabs/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
