Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

save work
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/i18n/I18nReceiver.ts
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/ja-JP.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/useComponentI18n.ts
  packages/zent/src/i18n/zh-CN.tsx
Due: yarn format, eslint

fix NumberInput state change after re-render with the same props
  packages/zent/src/grid/demos/editable.md
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint

format markdown
  packages/zent/src/grid/demos/editable.md
Due: none

revert variable rename
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint

fix NumberInput state change after re-render with the same props (#1793)
  packages/zent/src/grid/demos/editable.md
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint

v9.10.1
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

add default required message to Form
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/copy-button/index.tsx
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/CombinedTimeRangePicker.tsx
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/MonthPicker.tsx
  packages/zent/src/date-picker/QuarterPicker.tsx
  packages/zent/src/date-picker/TimePicker.tsx
  packages/zent/src/date-picker/TimeRangePicker.tsx
  packages/zent/src/date-picker/WeekPicker.tsx
  packages/zent/src/date-picker/YearPicker.tsx
  packages/zent/src/form/Field.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/scrollX.md
  packages/zent/src/i18n/I18nReceiver.ts
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/useComponentI18n.ts
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  packages/zent/src/preview-image/Image.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/SingleUpload.tsx
  packages/zent/src/upload/Upload.tsx
Due: yarn format, eslint

[github_action] update caniuse-lite database
  yarn.lock
Due: none

修复onChange事件
  packages/zent/src/sortable/Sortable.tsx
Due: yarn format, eslint

移除danger/success/waring的hover/active状态
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/src/button/README_en-US.md
  packages/zent/src/button/README_zh-CN.md
  packages/zent/src/split-button/README_en-US.md
  packages/zent/src/split-button/README_zh-CN.md
  packages/zent/src/split-button/demos/basic.md
  packages/zent/src/split-button/demos/dropdown-position.md
  packages/zent/src/split-button/demos/dropdown.md
Due: yarn format, stylelint

fix Input style prop renders twice
  packages/zent/src/grid/demos/scrollX.md
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/TextArea.tsx
Due: yarn format, eslint

add onOpened and onClosed doc to Dialog
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
Due: none

feat: tree support draggable
  packages/zent/__tests__/tree.spec.jsx
  packages/zent/assets/tree.scss
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/demos/drag.md
Due: yarn format, eslint, stylelint

fix select all checkbox state in Grid
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, eslint

fix fixed grid row highlight without scroll
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/Row.tsx
  packages/zent/src/grid/Store.ts
Due: yarn format, eslint

use latest event handler from props in Sortable
  packages/zent/src/sortable/Sortable.tsx
Due: yarn format, eslint

add simplify method to meta in onChange callback in multiple mode
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/demos/14.simplify.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

add onOpened and onClosed doc to Dialog (#1799)
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
Due: none

use latest event handler from props in Sortable (#1803)
  packages/zent/src/sortable/Sortable.tsx
Due: yarn format, eslint

add simplify method to meta in onChange callback in multiple mode (#1804)
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/demos/14.simplify.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

Form required true default message (#1794)
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/copy-button/index.tsx
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/CombinedTimeRangePicker.tsx
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/MonthPicker.tsx
  packages/zent/src/date-picker/QuarterPicker.tsx
  packages/zent/src/date-picker/TimePicker.tsx
  packages/zent/src/date-picker/TimeRangePicker.tsx
  packages/zent/src/date-picker/WeekPicker.tsx
  packages/zent/src/date-picker/YearPicker.tsx
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/scrollX.md
  packages/zent/src/i18n/I18nReceiver.ts
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/ja-JP.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/useComponentI18n.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  packages/zent/src/preview-image/Image.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/SingleUpload.tsx
  packages/zent/src/upload/Upload.tsx
Due: yarn format, eslint

fix select all checkbox state in Grid (#1801)
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, eslint

fix fixed grid row highlight without scroll (#1802)
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/Row.tsx
  packages/zent/src/grid/Store.ts
Due: yarn format, eslint

add sass math.div function notes in release notes[no ci]
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

替换danger类型为primary
  packages/zent/src/pop/demos/custom-confirm.md
  packages/zent/src/sweetalert/demos/button-type.md
  packages/zent/src/upload/demos/custom-item.md
Due: none

修复拖拽事件不更新
  packages/zent/src/sortable/Sortable.tsx
Due: yarn format, eslint

还原position的demo
  packages/zent/src/split-button/demos/dropdown-position.md
Due: none

sweetalert button 选用default
  packages/zent/src/sweetalert/demos/button-type.md
Due: none

sweetalert示例使用alert,更新文档中的button api
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/sweetalert/README_en-US.md
  packages/zent/src/sweetalert/README_zh-CN.md
  packages/zent/src/sweetalert/demos/button-type.md
Due: none

移除按钮的danger/success/waring类型的hover/active状态 (#1798)
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/src/button/README_en-US.md
  packages/zent/src/button/README_zh-CN.md
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/pop/demos/custom-confirm.md
  packages/zent/src/split-button/README_en-US.md
  packages/zent/src/split-button/README_zh-CN.md
  packages/zent/src/split-button/demos/basic.md
  packages/zent/src/split-button/demos/dropdown-position.md
  packages/zent/src/split-button/demos/dropdown.md
  packages/zent/src/sweetalert/README_en-US.md
  packages/zent/src/sweetalert/README_zh-CN.md
  packages/zent/src/sweetalert/demos/button-type.md
  packages/zent/src/upload/demos/custom-item.md
Due: yarn format, stylelint

v9.11.0[no ci]
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

add filter and sort method to FieldArrayModel
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

fix: format dates value in RangeDatePicker
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
Due: yarn format, eslint
