Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

feature: 日期范围选择组件增加属性，快捷限制可选范围
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/demos/basic.md
  packages/zent/src/date-picker/hooks/useRangeDisabledDate.ts
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

修改rangepicker的disabeldDate入参类型
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

feature: 日期范围选择组件增加属性，快捷限制可选范围 (#1515)
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/demos/basic.md
  packages/zent/src/date-picker/hooks/useRangeDisabledDate.ts
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

bugfix: 修复周选择hover范围样式
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

fix: 删除不必要注释
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

v9.0.0-beta3
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

bugfix: 修复周选择hover范围样式 (#1516)
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

fix: 修复 Upload 组件上传文件时文件顺序变化的 bug
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/types.ts
  packages/zent/src/utils/promise-queue.ts
Due: yarn format, eslint

fix: 修复 Upload 组件上传文件时文件顺序变化的 bug (#1517)
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/types.ts
  packages/zent/src/utils/promise-queue.ts
Due: yarn format, eslint

[bug fix] Grid: 修复自定义Row组件的属性类型
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

add export default in utils/scroll
  packages/zent/src/utils/scroll.ts
Due: yarn format, eslint

add export default in utils/scroll (#1519)
  packages/zent/src/utils/scroll.ts
Due: yarn format, eslint

chore: 删除没有用的类型
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

v9.0.0-beta4
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

[bug fix] Grid: 修复自定义Row组件的属性类型 (#1518)
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

Support custom render for tag list
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint

Support custom render for tag list (#1520)
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint

v8.5.12
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

v9.0.0-beta5
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

DatePicker 属性 value 类型兼容null，跟canClear功能以及onChange回调保持一致
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

zenticons版本更新至3.6.3
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

zenticons 升级、DatePicker 属性 value 类型修改 (#1521)
  packages/zent/package.json
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

release v9.0.0-beta6
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

release v9.0.0-beta6 (#1522)
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

Move all Select props into props.prop in FormSelectField
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

safe guard
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

update radio right margin to 24px
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix demo warning
  packages/zent/src/form/demos/2.builtin-field.md
Due: none

support normalizeBeforeSubmit in view mode
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/demos/9.model-first.md
  packages/zent/src/form/formulr/builders/field.ts
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

update doc
  packages/zent/src/form/README_zh-CN.md
Due: none

update radio right margin to 24px (#1526)
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

update radio right margin to 24px (#1524)
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Move all Select props into props.prop in FormSelectField (#1523)
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

support normalizeBeforeSubmit in view mode (#1525)
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/demos/9.model-first.md
  packages/zent/src/form/formulr/builders/field.ts
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

v9.0.0-beta7
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

normalizeBeforeSubmit is optional
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

normalizeBeforeSubmit is optional (#1528)
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

v9.0.0-beta8
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none
