Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

delete useless code
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionRadio.tsx
Due: yarn format, eslint

fix: 类型 any 优化
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/input/Input.tsx
  packages/zent/src/radio/AbstractRadio.tsx
  packages/zent/src/radio/Radio.tsx
  packages/zent/src/radio/RadioButton.tsx
Due: yarn format, eslint

context 参数类型不可选
  packages/zent/src/popover/trigger/HoverTrigger.tsx
Due: yarn format, eslint

feat: Tooltip 支持fixTooltipOnDisabledChildren
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
  packages/zent/src/tooltip/demos/disabled.md
  packages/zent/src/tooltip/demos/trigger.md
Due: yarn format, eslint

fix the tooltip on disabled Button
  packages/zent/src/button/Button.tsx
Due: yarn format, eslint

fix the tooltip on disabled ButtonDirective
  packages/zent/src/button/Directive.tsx
  packages/zent/src/pop/demos/disabled.md
  packages/zent/src/tooltip/demos/disabled.md
Due: yarn format, eslint

add style comment
  packages/zent/assets/button.scss
  packages/zent/assets/checkbox.scss
  packages/zent/assets/input.scss
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

casual style
  packages/zent/assets/button.scss
  packages/zent/assets/checkbox.scss
  packages/zent/assets/input.scss
  packages/zent/assets/mixins/_index.scss
  packages/zent/assets/mixins/_pointer-events.scss
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

update readme
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
Due: none

fix the tooltip on disabled Button and ButtonDirective
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/utils.tsx
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  packages/zent/src/tooltip/demos/trigger.md
Due: yarn format, eslint

remove omit
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/radio/Radio.tsx
  packages/zent/src/radio/RadioButton.tsx
Due: yarn format, eslint

add keyword change source in Select
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

update onKeywordChange doc
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
Due: none

replace issue url
  packages/zent/assets/mixins/_pointer-events.scss
  packages/zent/src/button/utils.tsx
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Select keyword change meta (#1660)
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

[Bugfix]: fix the tooltip on disabled children (#1658)
  packages/zent/assets/button.scss
  packages/zent/assets/checkbox.scss
  packages/zent/assets/input.scss
  packages/zent/assets/mixins/_index.scss
  packages/zent/assets/mixins/_pointer-events.scss
  packages/zent/assets/radio.scss
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/utils.tsx
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionRadio.tsx
  packages/zent/src/input/Input.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/pop/demos/disabled.md
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  packages/zent/src/radio/AbstractRadio.tsx
  packages/zent/src/radio/Radio.tsx
  packages/zent/src/radio/RadioButton.tsx
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
  packages/zent/src/tooltip/demos/disabled.md
  packages/zent/src/tooltip/demos/trigger.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

update pop demo style
  packages/zent/src/pop/demos/disabled.md
Due: none

fix surplus wrapper
  packages/zent/src/button/Button.tsx
  packages/zent/src/pop/demos/disabled.md
Due: yarn format, eslint

set buttons margin
  packages/zent/assets/button.scss
  packages/zent/src/pop/demos/disabled.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Remove surplus disable button's wrapper (#1661)
  packages/zent/assets/button.scss
  packages/zent/src/button/Button.tsx
  packages/zent/src/pop/demos/disabled.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

rename to fixMouseEventsOnDisabledChildren
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/utils.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/pop/demos/disabled.md
  packages/zent/src/popover/README_en-US.md
  packages/zent/src/popover/README_zh-CN.md
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
  packages/zent/src/tooltip/demos/disabled.md
Due: yarn format, eslint

rename to fixMouseEventsOnDisabledChildren (#1662)
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/utils.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/pop/demos/disabled.md
  packages/zent/src/popover/README_en-US.md
  packages/zent/src/popover/README_zh-CN.md
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
  packages/zent/src/tooltip/demos/disabled.md
Due: yarn format, eslint

v9.4.0
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

export useFormChild
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/index.ts
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

upgrade prismjs
  site/package.json
  yarn.lock
Due: none

add Dialog changes to breaking change in v9 changelog
  packages/zent/RELEASE_v9.md
Due: none

upgrade prismjs (#1666)
  site/package.json
  yarn.lock
Due: none

export useFormChild (#1665)
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/index.ts
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

add Dialog changes to breaking change in v9 changelog (#1667)
  packages/zent/RELEASE_v9.md
Due: none

fix async options loading in cascader
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/demos/15.async-options.md
Due: yarn format, eslint

fix async options loading in cascader (#1669)
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/demos/15.async-options.md
Due: yarn format, eslint

back port #1406
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/__tests__/swiper.js
  packages/zent/src/swiper/Swiper.tsx
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

back port #1406 (#1670)
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/__tests__/swiper.js
  packages/zent/src/swiper/Swiper.tsx
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

v7.4.5
  packages/zent/package.json
Due: none

add v7.4.5 changelog
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

use relative link for old doc versions
  site/src/components/page-header/index.js
Due: yarn format, eslint

v9.4.1
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
  scripts/sync-gh-pages-to-gitee.sh
Due: none

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
