Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

feat: css优化
  packages/zent/assets/select.scss
  packages/zent/assets/theme/_raw-vars.scss
Due: yarn format, stylelint

feat: 样式修改
  packages/zent/assets/number-input.scss
Due: yarn format, stylelint

feat: css修改错分支
  packages/zent/assets/number-input.scss
Due: yarn format, stylelint

feat: 区分Banner,TaskStatusBar,Prompt类名&demo文案调整
  packages/zent/__tests__/alert.spec.jsx
  packages/zent/assets/alert.scss
  packages/zent/src/banner/Banner.tsx
  packages/zent/src/prompt/Prompt.tsx
  packages/zent/src/prompt/demos/1.baisc.md
  packages/zent/src/prompt/demos/2.custom-close.md
  packages/zent/src/task-status-bar/TaskStatusBar.tsx
Due: yarn format, eslint, stylelint

feat: tabs onscroll节流
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
Due: yarn format, eslint

docs: swiper文档修改
  packages/zent/src/swiper/README_en-US.md
  packages/zent/src/swiper/README_zh-CN.md
Due: none

feat: site 文档修改 checkbox 间距 56px
  packages/zent/assets/checkbox.scss
  site/src/docs.scss
Due: yarn format, stylelint

feat: 文档样式修改
  site/src/docs.scss
Due: yarn format, stylelint

feat: steps样式优化
  packages/zent/assets/steps.scss
Due: yarn format, stylelint

feat: dialog 中文名调整为`对话窗`
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/demos/content-only.md
  packages/zent/src/dialog/demos/no-header.md
  packages/zent/src/dialog/demos/open.md
Due: none

feat: TaskStatusBar rename StatusBar
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/index.ts
  packages/zent/src/prompt/README_en-US.md
  packages/zent/src/status-bar/README_en-US.md
  packages/zent/src/status-bar/README_zh-CN.md
  packages/zent/src/status-bar/StatusBar.tsx
  packages/zent/src/status-bar/demos/1.basic.md
  packages/zent/src/status-bar/demos/2.type.md
  packages/zent/src/status-bar/index.ts
  packages/zent/src/task-status-bar/index.ts
Due: yarn format, eslint

feat: Indicator英文名修改ProgressIndicator
  packages/zent/src/indicator/README_en-US.md
  packages/zent/src/indicator/README_zh-CN.md
Due: none

feat: Swiper rename Carousel
  packages/zent/src/swiper/README_en-US.md
  packages/zent/src/swiper/README_zh-CN.md
  packages/zent/src/swiper/demos/arrow-disabled.md
  packages/zent/src/swiper/demos/arrow.md
  packages/zent/src/swiper/demos/basic.md
  packages/zent/src/swiper/demos/dots-theme.md
  packages/zent/src/swiper/index.ts
Due: yarn format, eslint

feat: 样式修改
  packages/zent/assets/date-picker.scss
Due: yarn format, stylelint

feat: form空label样式修改
  packages/zent/assets/form.scss
  packages/zent/src/form/Label.tsx
Due: yarn format, eslint, stylelint

feat: select multiple下样式修改
  packages/zent/assets/select.scss
Due: yarn format, stylelint

feat: breadcrumb 内容底部对齐
  packages/zent/assets/breadcrumb.scss
Due: yarn format, stylelint

feat: breadcrumb 颜色调整,内容底部对齐
  packages/zent/assets/breadcrumb.scss
  packages/zent/src/breadcrumb/demos/fit-wdith.md
Due: yarn format, stylelint

feat: steps 非ghost状态使用数字序号
  packages/zent/src/steps/components/BreadcrumbSteps.tsx
Due: yarn format, eslint

feat: swiper 视觉
  packages/zent/assets/swiper.scss
  packages/zent/src/swiper/demos/basic.md
Due: yarn format, stylelint

feat: breadcrumb fold颜色
  packages/zent/assets/breadcrumb.scss
Due: yarn format, stylelint

doc: 分类修改
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
Due: none

doc: 分类修改
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: none

feat: card 分类调整
  packages/zent/src/card/README_en-US.md
  packages/zent/src/card/README_zh-CN.md
Due: none

feat: drawer 分类
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
Due: none

feat: dialog 分类
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
Due: none

feat: 分类修改
  packages/zent/src/button/README_en-US.md
  packages/zent/src/button/README_zh-CN.md
Due: none

feat: 分类修改
  packages/zent/src/radio/README_en-US.md
  packages/zent/src/radio/README_zh-CN.md
Due: none

feat: 分类修改
  packages/zent/src/checkbox/README_en-US.md
  packages/zent/src/checkbox/README_zh-CN.md
Due: none

feat: collapse 分类
  packages/zent/src/collapse/README_zh-CN.md
Due: none

doc: 分类修改
  packages/zent/src/link/README_en-US.md
  packages/zent/src/link/README_zh-CN.md
Due: none

doc: 分类修改
  packages/zent/src/badge/README_en-US.md
  packages/zent/src/badge/README_zh-CN.md
Due: none

feat: 分类修改
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
Due: none

feat: 分类修改
  packages/zent/src/input/README_zh-CN.md
Due: none

feat: 分类修改
  packages/zent/src/select/README_zh-CN.md
Due: none

feat: swiper 分类
  packages/zent/src/swiper/README_zh-CN.md
Due: none
