Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

Add known issues
  packages/zent/RELEASE_zh-CN.md
Due: none

remove lodash-es/capitalize
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/split-button/SplitButton.tsx
  packages/zent/src/utils/capitalize.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/forOwn
  packages/zent/src/colorpicker/helpers/reactcss/autoprefix.ts
  packages/zent/src/colorpicker/helpers/reactcss/flattenNames.ts
  packages/zent/src/colorpicker/helpers/reactcss/mergeClasses.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/indexOf
  packages/zent/src/collapse/Collapse.tsx
  packages/zent/src/grid/Store.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/some
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/every
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/includes
  packages/zent/src/collapse/Collapse.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/table/modules/Body.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/toArray
  packages/zent/src/upload/components/FileInput.tsx
  packages/zent/src/upload/utils/file-type/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/upperFirst and lodash-es/camelCase
  packages/zent/src/split-button/SplitButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/defer
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/popover/Content.tsx
  packages/zent/src/select/Popup.tsx
  packages/zent/src/utils/defer.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/take
  packages/zent/src/select/Popup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/omit
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/utils/omit.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/uniqueId
  packages/zent/src/dialog/open.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/progress/components/AnimatedArc.tsx
  packages/zent/src/utils/uniqueId.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove invalid characters from uniqueId
  packages/zent/src/utils/uniqueId.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/memoize
  packages/zent/src/pagination/components/list/BasePageList.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/pickBy
  packages/zent/src/layout/components/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/union
  packages/zent/src/tree/utils/correctMark.ts
  packages/zent/src/utils/union.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/intersection
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/helper.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/pullAll and lodash-es/pullAllBy
  packages/zent/src/table/Table.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/uniq and lodash-es/uniqBy
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/table/Table.tsx
  packages/zent/src/utils/uniq.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

use Array.from instead of array spread
  packages/zent/src/mention/SelectionChangeEventHub.ts
  packages/zent/src/upload/components/FileInput.tsx
  packages/zent/src/upload/utils/file-type/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/findIndex
  packages/zent/src/mention/SelectionChangeEventHub.ts
  packages/zent/src/mention/findMentionAtCaretPosition.ts
  packages/zent/src/upload/utils/file-type/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/findLastIndex
  packages/zent/src/checkbox/findIndex.ts
  packages/zent/src/mention/findMentionAtCaretPosition.ts
  packages/zent/src/utils/findIndex.ts
  packages/zent/src/utils/findLastIndex.ts
  packages/zent/src/utils/types.ts
  packages/zent/tsconfig.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/sample
  packages/zent/src/placeholder/shapes/TextRowDashed.tsx
  packages/zent/src/utils/sample.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/debounce
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/colorpicker/common/ColorWrap.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/preview-image/Image.tsx
  packages/zent/src/utils/debounce.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix Radio and Checkbox style, add labelStyle prop
  packages/zent/assets/checkbox.scss
  packages/zent/assets/radio.scss
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/checkbox/README_en-US.md
  packages/zent/src/checkbox/README_zh-CN.md
  packages/zent/src/checkbox/demos/multi-line.md
  packages/zent/src/radio/README_en-US.md
  packages/zent/src/radio/README_zh-CN.md
  packages/zent/src/radio/Radio.tsx
  packages/zent/src/radio/demos/multi-line.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

bump version before build
  scripts/publish.sh
Due: none

Update radio.scss
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

bump version before build (#1268)
  scripts/publish.sh
Due: none

Fix Radio and Checkbox style, add labelStyle prop (#1267)
  packages/zent/assets/checkbox.scss
  packages/zent/assets/radio.scss
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/checkbox/README_en-US.md
  packages/zent/src/checkbox/README_zh-CN.md
  packages/zent/src/checkbox/demos/multi-line.md
  packages/zent/src/radio/README_en-US.md
  packages/zent/src/radio/README_zh-CN.md
  packages/zent/src/radio/Radio.tsx
  packages/zent/src/radio/demos/multi-line.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
  scripts/publish.sh
Due: none

fix release date in doc [ci skip]
  packages/zent/RELEASE_en-US.md
Due: none
