Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

merge v8
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/assets/alert.scss
  packages/zent/assets/block-header.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/input.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/menu.scss
  packages/zent/assets/mixins/_popup-menu-item.scss
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/pop.scss
  packages/zent/assets/select-menu.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/tooltip.scss
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix theme usage
  packages/zent/assets/cascader.scss
  packages/zent/assets/date-picker.scss
  packages/zent/assets/select.scss
  packages/zent/assets/tabs.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

add missing style in loading
  packages/zent/assets/loading.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix style typo
  packages/zent/assets/cascader.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[Bug Fix] DatePicker: 添加背景色 & 修复日期范围选择组件更新 disabled 参数，样式未更新 (#1539)
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/constants/index.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Fix missing style in Loading (#1544)
  packages/zent/assets/loading.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Complete CSS var theme support (#1543)
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/assets/alert.scss
  packages/zent/assets/block-header.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/date-picker.scss
  packages/zent/assets/input.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/menu.scss
  packages/zent/assets/mixins/_popup-menu-item.scss
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/pop.scss
  packages/zent/assets/select-menu.scss
  packages/zent/assets/select.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/tabs.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/tooltip.scss
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

v9.0.0-beta12
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

fix: 修复review提到的问题
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/tsconfig.json
Due: yarn format, eslint

fix(radio): radio-button 文字居中
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix(radio): radio-button 文字居中 (#1546)
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: unwind -> dispose
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

fix rgba support in theme-color and theme-border
  packages/zent/assets/theme/_default.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: datePicker-popup层级修改
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/components/PickerPopover.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: datePicker-popup层级修改 (#1549)
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/components/PickerPopover.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[new feature] Form: set、array支持响应式value$
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/20.reactive-value.md
  packages/zent/src/form/formulr/error.ts
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

[new feature] Form: useFieldValue支持set和array类型
  packages/zent/src/form/demos/20.reactive-value.md
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

chore: 移除FieldModel上不必要的value getter
  packages/zent/src/form/formulr/models/field.ts
Due: yarn format, eslint

[new feature] Form: set/array支持value setter
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/field.ts
Due: yarn format, eslint

add theme-rgb and theme-rgba
  packages/zent/assets/theme/_default.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

add theme coding doc
  packages/zent/docs/THEME_en-US.md
  packages/zent/docs/THEME_zh-CN.md
  packages/zent/docs/Theme-Coding_en-US.md
  packages/zent/docs/Theme-Coding_zh-CN.md
  site/src/nav.static.js
Due: yarn format, eslint

replace css var usage with theme-rgb and theme-rgba
  packages/zent/assets/block-header.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/placeholder.scss
  packages/zent/assets/tabs.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[new feature] Form: 所有Model对象支持value$、valid$
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/19.reactive-valid.md
  packages/zent/src/form/demos/20.reactive-value.md
  packages/zent/src/form/formulr/error.ts
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/value-listener.tsx
  packages/zent/tsconfig.json
Due: yarn format, eslint

update doc title
  packages/zent/docs/Theme-Coding_en-US.md
  packages/zent/docs/Theme-Coding_zh-CN.md
  site/src/nav.static.js
Due: yarn format, eslint

fix rgba support in theme-color and theme-border (#1547)
  packages/zent/assets/block-header.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/placeholder.scss
  packages/zent/assets/tabs.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/docs/THEME_en-US.md
  packages/zent/docs/THEME_zh-CN.md
  packages/zent/docs/Theme-Coding_en-US.md
  packages/zent/docs/Theme-Coding_zh-CN.md
  site/src/nav.static.js
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

v9.0.0-beta13
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

replace css var with theme-rgb and theme-rgba
  packages/zent/assets/block-header.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/placeholder.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

chore: revert changes of FieldSetValue
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

v8.4.0-2
  packages/zent/package.json
Due: none

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

[v8] fix rgba support in theme-color and theme-border (#1548)
  packages/zent/assets/block-header.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/placeholder.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/docs/THEME_en-US.md
  packages/zent/docs/THEME_zh-CN.md
  packages/zent/docs/Theme-Coding_en-US.md
  packages/zent/docs/Theme-Coding_zh-CN.md
  site/src/nav.static.js
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Upgrade caniuse-db
  .browserslistrc
  packages/zent/README_en-US.md
  packages/zent/README_zh-CN.md
  yarn.lock
Due: none
