Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

fix: CopyButton text prop type fix (#1245)
  packages/zent/src/copy-button/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix checkbox vertial alignment
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

allow undefined value [ci skip]
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[Form] optimize defaultRenderError user experience [ci skip] (#1246)
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix FieldSet types [ci skip]
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix FieldSet types [ci skip] (#1247)
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: IFormSelectFieldProps['name'] should be inferred correctly
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update form doc
  packages/zent/src/form/Control.tsx
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/10.normalizer.md
  packages/zent/src/form/demos/12.interact.md
  packages/zent/src/form/demos/7.field-array.md
  packages/zent/src/form/demos/8.model-first.md
  packages/zent/src/form/shared.tsx
  packages/zent/src/table/Table.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add Error doc
  packages/zent/src/form/README_zh-CN.md
Due: none

fix: changes requested
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修复批量操作浮动时背景闪动
  packages/zent/assets/grid.scss
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: normalize和format不再被Omit
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: replace any with unkown
  packages/zent/src/form/ZentForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add TypeScript plugin for compiler constants
  packages/zent/assets/pop.scss
  packages/zent/declarations.d.ts
  packages/zent/package.json
  packages/zent/plugins/compiler-constants.d.ts
  packages/zent/plugins/compiler-constants.js
  packages/zent/plugins/ts-plugin-constants.ts
  packages/zent/src/global.d.ts
  packages/zent/tsconfig.json
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

[bug fix] FormSelectField: 修复 IFormSelectFieldProps['name'] 类型推断 (#1249)
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: add generic-type params for FormBuilder
  packages/zent/src/form/ZentForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: new upload
  packages/zent/src/i18n/locale.ts
  packages/zent/src/upload-new/ImageUpload.tsx
  packages/zent/src/upload-new/Upload.tsx
  packages/zent/src/upload-new/components/AbstractTrigger.tsx
  packages/zent/src/upload-new/components/AbstractUpload.tsx
  packages/zent/src/upload-new/components/FileInput.tsx
  packages/zent/src/upload-new/components/common/trigger.tsx
  packages/zent/src/upload-new/components/image/trigger.tsx
  packages/zent/src/upload-new/constants.ts
  packages/zent/src/upload-new/index.ts
  packages/zent/src/upload-new/types.ts
  packages/zent/src/upload-new/utils/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: change block-header help-icon size
  packages/zent/assets/block-header.scss
  packages/zent/src/block-header/BlockHeader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: fix code
  packages/zent/assets/base/variables.scss
  packages/zent/assets/pop.scss
  packages/zent/assets/tooltip.scss
  packages/zent/scripts/validate-pop-size.sh
  packages/zent/src/popover/arrow-position/base.ts
  packages/zent/src/popover/arrow-position/bottom-left-arrow-position.ts
  packages/zent/src/popover/arrow-position/bottom-right-arrow-position.ts
  packages/zent/src/popover/arrow-position/left-bottom-arrow-position.ts
  packages/zent/src/popover/arrow-position/left-top-arrow-position.ts
  packages/zent/src/popover/arrow-position/right-bottom-arrow-position.ts
  packages/zent/src/popover/arrow-position/right-top-arrow-position.ts
  packages/zent/src/popover/arrow-position/top-left-arrow-position.ts
  packages/zent/src/popover/arrow-position/top-right-arrow-position.ts
  packages/zent/src/popover/placement/createArrowPosition.ts
  packages/zent/src/popover/placement/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix typo
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Row.tsx
  packages/zent/src/grid/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

rename to stickyBatch
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/batch.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: change block-header help-icon size (#1253)
  packages/zent/assets/block-header.scss
  packages/zent/src/block-header/BlockHeader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

[new feature] Grid：添加批量操作功能 (#1218)
  packages/zent/assets/grid.scss
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/Row.tsx
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
  packages/zent/src/grid/demos/batch.md
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

add field array value demo
  packages/zent/declarations.d.ts
  packages/zent/package.json
  packages/zent/src/form/demos/11.preview.md
  packages/zent/src/form/demos/8.model-first.md
  yarn.lock
Due: none

fix useForm type [ci skip]
  packages/zent/src/form/ZentForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

revert change
  packages/zent/declarations.d.ts
Due: none

fix switch props type [ci skip]
  packages/zent/src/switch/Switch.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix switch props type [ci skip] (#1254)
  packages/zent/src/switch/Switch.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update style
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/11.preview.md
Due: none

upgrade formulr
  packages/zent/package.json
  yarn.lock
Due: none

fix demo
  packages/zent/src/form/demos/11.preview.md
Due: none

Form doc (#1250)
  packages/zent/package.json
  packages/zent/src/form/Control.tsx
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/demos/10.normalizer.md
  packages/zent/src/form/demos/11.preview.md
  packages/zent/src/form/demos/12.interact.md
  packages/zent/src/form/demos/7.field-array.md
  packages/zent/src/form/demos/8.model-first.md
  packages/zent/src/form/shared.tsx
  packages/zent/src/table/Table.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

value is optional
  packages/zent/src/datetimepicker/common/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

value is optional (#1255)
  packages/zent/src/datetimepicker/common/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none
