Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

remove gh-pages gitee support
  .github/workflows/release.yml
  packages/zent/docs/Gitee.md
  scripts/sync-gh-pages-to-gitee.sh
Due: none

remove gh-pages gitee support (#1768)
  .github/workflows/release.yml
  packages/zent/docs/Gitee.md
  scripts/sync-gh-pages-to-gitee.sh
Due: none

support url hash tag in deadlink checking
  packages/zent/package.json
  packages/zent/scripts/check-deadlink.js
  yarn.lock
Due: yarn format, eslint

add github action for dead link checking
  .github/workflows/check-deadlink.yml
  packages/zent/package.json
Due: none

Automated deadlink check (#1769)
  .github/workflows/check-deadlink.yml
  packages/zent/package.json
  packages/zent/scripts/check-deadlink.js
  yarn.lock
Due: yarn format, eslint

fix check-deadlink.js exit code
  packages/zent/scripts/check-deadlink.js
Due: yarn format, eslint

Non-zero exit code if any link is dead (#1770)
  packages/zent/scripts/check-deadlink.js
Due: yarn format, eslint

fix Pagination bugs
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  site/webpack/webpack.dev.config.js
Due: yarn format, eslint

replace ttypescript with ts-patch
  package.json
  packages/zent/jest.config.json
  packages/zent/package.json
  packages/zent/tsconfig.webpack.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

fix Pagination bugs (#1771)
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  site/webpack/webpack.dev.config.js
Due: yarn format, eslint

fix build script
  packages/zent/scripts/build-ts.sh
Due: none

replace ttypescript with ts-patch (#1772)
  package.json
  packages/zent/jest.config.json
  packages/zent/package.json
  packages/zent/scripts/build-ts.sh
  packages/zent/tsconfig.webpack.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

Add onInput doc
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
Due: none

Add onInput doc (#1773)
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
Due: none

v9.9.3
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

update configs for github actions
  .github/workflows/update-caniuse-db.yml
  packages/zent/tsconfig.base.json
  packages/zent/tsconfig.json
  packages/zent/tsconfig.webpack.json
Due: none

update configs for github actions (#1774)
  .github/workflows/update-caniuse-db.yml
  packages/zent/tsconfig.base.json
  packages/zent/tsconfig.json
  packages/zent/tsconfig.webpack.json
Due: none

disable husky in caniuse-db update action
  .github/workflows/update-caniuse-db.yml
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

fix pagination demo typo
  packages/zent/src/pagination/demos/05-last-page-help.md
Due: none

fix pagination demo typo (#1776)
  packages/zent/src/pagination/demos/05-last-page-help.md
Due: none

fix typos
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/form/README_zh-CN.md
Due: yarn format, eslint

fix typos (#1779)
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/form/README_zh-CN.md
Due: yarn format, eslint

adjust threshold to 1 in InfiniteScroller
  packages/zent/package.json
  packages/zent/scripts/check-deadlink.js
  packages/zent/src/form/demos/13.interact.md
  packages/zent/src/infinite-scroller/InfiniteScroller.tsx
  packages/zent/src/infinite-scroller/README_en-US.md
  packages/zent/src/infinite-scroller/README_zh-CN.md
  packages/zent/src/waypoint/README_en-US.md
  packages/zent/src/waypoint/README_zh-CN.md
  packages/zent/src/waypoint/Waypoint.tsx
Due: yarn format, eslint

adjust threshold to 1 in InfiniteScroller (#1780)
  packages/zent/package.json
  packages/zent/scripts/check-deadlink.js
  packages/zent/src/form/demos/13.interact.md
  packages/zent/src/infinite-scroller/InfiniteScroller.tsx
  packages/zent/src/infinite-scroller/README_en-US.md
  packages/zent/src/infinite-scroller/README_zh-CN.md
  packages/zent/src/waypoint/README_en-US.md
  packages/zent/src/waypoint/README_zh-CN.md
  packages/zent/src/waypoint/Waypoint.tsx
Due: yarn format, eslint

fix(form): prevent form event propagation
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

add auto mode for topOffset and bottomOffset in Waypoint
  packages/zent/src/waypoint/README_en-US.md
  packages/zent/src/waypoint/README_zh-CN.md
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/src/waypoint/cssom.ts
  packages/zent/src/waypoint/demos/01-basic.md
Due: yarn format, eslint

hide select all checkbox in batch operation area if batchRender returns null
  packages/zent/src/grid/BatchComponents.tsx
Due: yarn format, eslint

fix(form): prevent form event propagation (#1782)
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

simplify code structure
  packages/zent/src/grid/BatchComponents.tsx
Due: yarn format, eslint

add auto mode for topOffset and bottomOffset in Waypoint (#1783)
  packages/zent/src/waypoint/README_en-US.md
  packages/zent/src/waypoint/README_zh-CN.md
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/src/waypoint/cssom.ts
  packages/zent/src/waypoint/demos/01-basic.md
Due: yarn format, eslint

hide select all checkbox in batch operation area if batchRender retur… (#1784)
  packages/zent/src/grid/BatchComponents.tsx
Due: yarn format, eslint

replace caret-down with down in Select and Cascader
  packages/zent/assets/cascader.scss
  packages/zent/assets/select.scss
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint, stylelint

auto focus to input in multiple select mode
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/trigger/Search.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint

replace caret-down with down in Select and Cascader (#1786)
  packages/zent/assets/cascader.scss
  packages/zent/assets/select.scss
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint, stylelint

auto focus to input in multiple select mode (#1788)
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/trigger/Search.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint

update dead link checking workflow name[no ci]
  .github/workflows/check-deadlink.yml
Due: none

v9.10.0
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
