Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

fix: format
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_raw-vars.scss
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/assets/theme/semantic/_helper.scss
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.specific.md
  packages/zent/src/theme/demos/3.dynamic.md
  site/src/components/theme-switcher/index.js
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat: 调整全局操作样式
  site/src/components/page-header/style.scss
  site/src/components/theme-switcher/index.js
  site/src/components/theme-switcher/style.scss
Due: yarn format, eslint, sass-lint -vq

fix: rename
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_raw-vars.scss
  packages/zent/assets/theme/semantic/_helper.scss
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.specific.md
  packages/zent/src/theme/demos/3.dynamic.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: rename
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/semantic/_color.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: 去除js语法
  packages/zent/plugins/postcss-generate-css-var-ref.js
Due: yarn format, eslint

[bugfix]: 修复DatePicker组件中'当前时间'快捷按钮的禁用逻辑 (#1715)
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/context/PanelContext.ts
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeFooter.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 命名修改+root变量覆盖
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_css-var-ref.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/semantic/_helper.scss
  packages/zent/assets/theme/semantic/_text.scss
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/scripts/build-theme.sh
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.specific.md
  packages/zent/src/theme/demos/3.dynamic.md
  packages/zent/src/theme/sdk.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 增加注释
  packages/zent/assets/theme/_css-var-ref.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_raw-vars.scss
  packages/zent/assets/theme/semantic/_text.scss
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/src/theme/css-var-ref.ts
  site/src/components/page-header/style.scss
  site/src/components/theme-switcher/style.scss
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 增加获取语义值
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_raw-vars.scss
  packages/zent/assets/theme/semantic/_helper.scss
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.generate.md
  packages/zent/src/theme/demos/2.specific.md
  packages/zent/src/theme/demos/3.dynamic.md
  packages/zent/src/theme/sdk.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

add dependency to pacakge.json[no ci]
  package.json
Due: none

fix: 修改文档排列
  packages/zent/assets/theme/_css-var-ref.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/2.generate.md
  site/src/components/page-header/index.js
  site/src/components/page-header/style.scss
  site/src/components/theme-switcher/style.scss
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

add action to update caniuse-lite db
  .github/workflows/update-caniuse-db.yml
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

fix demos missing in DatePicker English doc[no ci]
  packages/zent/src/date-picker/README_en-US.md
Due: none

v9.7.2
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

fix: 增加变量列表
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/css-var-info.ts
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.generate.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 描述调整
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.generate.md
Due: none

fix: 对外暴露 Upload 组件中文件项的 id 和 file 属性
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/SingleUpload.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractList.tsx
  packages/zent/src/upload/components/AbstractMultiUpload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/upload/components/image/List.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/List.tsx
  packages/zent/src/upload/components/single/Item.tsx
  packages/zent/src/upload/demos/manual.md
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/id.ts
Due: yarn format, eslint

fix: Upload 组件，文件项对象保留原有属性兼容
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/SingleUpload.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/create-new-upload-file-item.ts
Due: yarn format, eslint

fix：调整文档
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/css-var-info.ts
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/1.basic.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: compat _id on patchUploadItemId function
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/id.ts
Due: yarn format, eslint

fix: rgb色值修复
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/sdk.ts
  packages/zent/src/theme/utils.ts
Due: yarn format, eslint

replace useMAppend with useMulti in Form demo[no ci]
  packages/zent/src/form/demos/13.interact.md
Due: none

replace useMAppend with useMulti in Form demo[no ci] (#1718)
  packages/zent/src/form/demos/13.interact.md
Due: none

upgrade typescript to 4.3
  packages/zent/package.json
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/form/form-components/SingleUploadField.tsx
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  site/package.json
  yarn.lock
Due: yarn format, eslint

9.8.0-beta.1
  packages/zent/package.json
Due: none

upgrade typescript to 4.3 (#1719)
  packages/zent/package.json
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/form/form-components/SingleUploadField.tsx
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  site/package.json
  yarn.lock
Due: yarn format, eslint

feat: 公开 Upload 组件文件项的 id 和 file 属性 (#1717)
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/SingleUpload.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractList.tsx
  packages/zent/src/upload/components/AbstractMultiUpload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/upload/components/image/List.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/List.tsx
  packages/zent/src/upload/components/single/Item.tsx
  packages/zent/src/upload/demos/manual.md
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/create-new-upload-file-item.ts
  packages/zent/src/upload/utils/id.ts
Due: yarn format, eslint

upgrade markdown pkgs
  packages/zent/package.json
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

fix: Grid组件未传入selection时取消多选列
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

use sass:math for division
  packages/zent/assets/layout.scss
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

upgrade packages
  yarn.lock
Due: none

fix bootstrap script
  packages/zent/docs/CONTRIBUTING_en-US.md
  packages/zent/docs/CONTRIBUTING_zh-CN.md
  packages/zent/scripts/postcss-lint.sh
  scripts/bootstrap.sh
Due: none

upgrade core-js, fuse.js, transliteration and big.js to latest version
  packages/zent/package.json
  site/package.json
  site/src/components/search-box/search.js
  yarn.lock
Due: yarn format, eslint

upgrade rxjs to 7
  packages/zent/package.json
  yarn.lock
Due: none

upgrade sortablejs to 1.13.0
  packages/zent/package.json
  yarn.lock
Due: none

upgrade jest to 27
  packages/babel-plugin-zent/package.json
  packages/zent/__tests__/input.js
  packages/zent/__tests__/notify.js
  packages/zent/__tests__/tree.js
  packages/zent/__tests__/utils/event-handler/index.js
  packages/zent/__tests__/utils/event-handler/supports-passive.js
  packages/zent/jest.config.json
  packages/zent/package.json
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  yarn.lock
Due: yarn format, eslint

upgrade enzyme-adapter-react-17
  packages/zent/package.json
  yarn.lock
Due: none
