Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

v10.0.0-rc.2
  packages/zent/RELEASE_v10.md
  packages/zent/package.json
Due: none

doc: card分类修改
  packages/zent/src/card/README_zh-CN.md
Due: none

doc: 优化文档导航
  site/src/components/Layout.tsx
  site/src/components/ScrollToTop.tsx
  site/src/components/footer-nav/style.scss
  site/src/docs.scss
  site/src/react-docs.scss
Due: yarn format, eslint, stylelint

chore: releaes config recover
  .github/workflows/release.yml
Due: none

doc: break change 补充
  packages/zent/RELEASE_v10.md
Due: none

feat: Tabs 多标签滚动模式下隐藏项tab弹框宽度限制,超出显示省略号
  packages/zent/assets/tabs.scss
Due: yarn format, stylelint

feat: Steps 文档调整,无用参数删除
  packages/zent/src/steps/README_en-US.md
  packages/zent/src/steps/README_zh-CN.md
Due: none

[Icon]更新warning icon
  packages/zent/assets/error-boundary.scss
  packages/zent/assets/sweetalert.scss
  packages/zent/package.json
  packages/zent/scripts/generate-icon-grid.js
  packages/zent/src/error-boundary/Fallback.tsx
  packages/zent/src/icon/demos/all.md
  packages/zent/src/notice/Notice.tsx
  packages/zent/src/notify/NotifyContent.tsx
  packages/zent/src/sweetalert/constants.ts
  yarn.lock
Due: yarn format, eslint, stylelint

doc: Steps 文档调整,无用参数删除 (#1911)
  packages/zent/src/steps/README_en-US.md
  packages/zent/src/steps/README_zh-CN.md
Due: none

[Icon]更新warning icon (#1912)
  packages/zent/assets/error-boundary.scss
  packages/zent/assets/sweetalert.scss
  packages/zent/package.json
  packages/zent/scripts/generate-icon-grid.js
  packages/zent/src/error-boundary/Fallback.tsx
  packages/zent/src/icon/demos/all.md
  packages/zent/src/notice/Notice.tsx
  packages/zent/src/notify/NotifyContent.tsx
  packages/zent/src/sweetalert/constants.ts
  yarn.lock
Due: yarn format, eslint, stylelint

fix: Tabs 多标签滚动模式下隐藏项tab弹框宽度限制,超出显示省略号 (#1910)
  packages/zent/assets/tabs.scss
Due: yarn format, stylelint

doc: [Steps][Indicator]文档调整
  packages/zent/src/indicator/README_en-US.md
  packages/zent/src/indicator/README_zh-CN.md
  packages/zent/src/steps/README_en-US.md
  packages/zent/src/steps/README_zh-CN.md
Due: none

doc: [Steps][Indicator] 文档优化 (#1913)
  packages/zent/src/indicator/README_en-US.md
  packages/zent/src/indicator/README_zh-CN.md
  packages/zent/src/steps/README_en-US.md
  packages/zent/src/steps/README_zh-CN.md
Due: none

v10.0.0-rc.3
  packages/zent/RELEASE_v10.md
  packages/zent/package.json
Due: none

feat: [breadcrumb]高度&行高调整
  packages/zent/assets/breadcrumb.scss
Due: yarn format, stylelint

[github_action] update caniuse-lite database
  yarn.lock
Due: none

feat: breadcrumb样式代码优化
  packages/zent/assets/breadcrumb.scss
Due: yarn format, stylelint

feat: [Breadcrumb]元素高度&行高样式调整 (#1914)
  packages/zent/assets/breadcrumb.scss
Due: yarn format, stylelint

fix: 修复select非creatable时，去获取key的逻辑
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix: 修复.toString() undefined的问题
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix: 修复创建条目时，没有显示option
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: 字符串使用常量
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: 避免undefined
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix: [Select]修复代码可能报错的问题，优化部分逻辑 (#1917)
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

v10.0.0-rc.4
  packages/zent/RELEASE_v10.md
  packages/zent/package.json
Due: none

feat: 补全IGridColumn接口定义
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

feat: 新增 tableLayout 配置
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/README_zh-CN.md
Due: yarn format, eslint, stylelint

fix: 修复Select使用文本高亮时正则特殊字符报错问题
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/6.custom-search.md
Due: yarn format, eslint

doc: 更新英文文档
  packages/zent/src/grid/README_en-US.md
Due: none

fix: 优化grid ts定义
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, eslint

fix: 修复遗漏配置
  packages/zent/src/grid/BatchComponents.tsx
Due: yarn format, eslint

fix: 修复遗漏配置
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

doc: 更新文档
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: none

fix: 遗漏修改;更新nohoist配置
  package.json
  packages/zent/src/cascader/MenuCascader.tsx
Due: yarn format, eslint

chore: 更新nohoist配置
  package.json
Due: none

doc: 更新 Collapse 文档
  packages/zent/src/collapse/README_en-US.md
  packages/zent/src/collapse/README_zh-CN.md
  packages/zent/src/collapse/demos/basic.md
  packages/zent/src/collapse/demos/no-arrow.md
  packages/zent/src/collapse/demos/no-border.md
Due: none

fix: [Select][Cascader]修复使用文本高亮时正则特殊字符报错问题 [Collapse]优化文档 (#1922)
  package.json
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/collapse/README_en-US.md
  packages/zent/src/collapse/README_zh-CN.md
  packages/zent/src/collapse/demos/basic.md
  packages/zent/src/collapse/demos/no-arrow.md
  packages/zent/src/collapse/demos/no-border.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/6.custom-search.md
Due: yarn format, eslint

fix: [Grid]优化selection ts定义 (#1923)
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, eslint

v9.12.6
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

v10.0.0-rc.5
  packages/zent/RELEASE_v10.md
  packages/zent/package.json
Due: none
