Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

add filter and sort method to FieldArrayModel (#1814)
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

fix: format dates value in RangeDatePicker (#1815)
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
Due: yarn format, eslint

replace useValue$ with observable-hooks
  packages/zent/package.json
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/formulr/field-array.tsx
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/field.tsx
  packages/zent/src/form/formulr/hooks.ts
  packages/zent/src/form/formulr/index.ts
  packages/zent/src/form/formulr/listeners/array.ts
  yarn.lock
Due: yarn format, eslint

replace useValue$ with observable-hooks (#1816)
  packages/zent/package.json
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/formulr/field-array.tsx
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/field.tsx
  packages/zent/src/form/formulr/hooks.ts
  packages/zent/src/form/formulr/index.ts
  packages/zent/src/form/formulr/listeners/array.ts
  yarn.lock
Due: yarn format, eslint

add useObservableBatchedEagerState
  .eslintrc.js
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/23.batched-updates.md
  packages/zent/src/form/formulr/index.ts
  packages/zent/src/form/formulr/use-observable-batched-state.ts
  packages/zent/src/form/index.ts
Due: yarn format, eslint

add useObservableBatchedEagerState (#1817)
  .eslintrc.js
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/23.batched-updates.md
  packages/zent/src/form/formulr/index.ts
  packages/zent/src/form/formulr/use-observable-batched-state.ts
  packages/zent/src/form/index.ts
Due: yarn format, eslint

fix Notice.push not working if ReactDOM.render is async
  packages/zent/src/notice/Container.tsx
  packages/zent/src/notice/Notice.tsx
  packages/zent/src/notice/README_en-US.md
  packages/zent/src/notice/README_zh-CN.md
  packages/zent/src/notice/Wrap.tsx
Due: yarn format, eslint

[github_action] update caniuse-lite database
  yarn.lock
Due: none

fix Notice.push not working if ReactDOM.render is async (#1818)
  packages/zent/src/notice/Container.tsx
  packages/zent/src/notice/Notice.tsx
  packages/zent/src/notice/README_en-US.md
  packages/zent/src/notice/README_zh-CN.md
  packages/zent/src/notice/Wrap.tsx
Due: yarn format, eslint

support async callback in useObservableBatchedEagerState
  packages/zent/src/form/demos/23.batched-updates.md
  packages/zent/src/form/formulr/index.ts
  packages/zent/src/form/formulr/use-observable-batched-eager-state.ts
Due: yarn format, eslint

format demo
  packages/zent/src/form/demos/23.batched-updates.md
Due: none

support async callback in useObservableBatchedEagerState (#1820)
  packages/zent/src/form/demos/23.batched-updates.md
  packages/zent/src/form/formulr/index.ts
  packages/zent/src/form/formulr/use-observable-batched-eager-state.ts
Due: yarn format, eslint

update caret down/up icons
  packages/zent/assets/grid.scss
  packages/zent/assets/split-button.scss
  packages/zent/package.json
  packages/zent/src/split-button/SplitButton.tsx
  yarn.lock
Due: yarn format, eslint, stylelint

update caret down/up icons (#1821)
  packages/zent/assets/grid.scss
  packages/zent/assets/split-button.scss
  packages/zent/package.json
  packages/zent/src/split-button/SplitButton.tsx
  yarn.lock
Due: yarn format, eslint, stylelint

v9.12.0
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

feat: radio在hover时新增样式
  packages/zent/assets/radio.scss
Due: yarn format, stylelint

feat: checkbox hover时候边框变色
  packages/zent/assets/checkbox.scss
Due: yarn format, stylelint

feat: 修改pop圆角和padding
  packages/zent/assets/pop.scss
Due: yarn format, stylelint

feat: 按钮样式修改，增加icon和text的type和样式
  packages/zent/assets/button.scss
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/demos/only-icon.md
  packages/zent/src/button/demos/text.md
Due: yarn format, eslint, stylelint

feat: md更新
  packages/zent/src/button/demos/only-icon.md
Due: none

warn instead of error on `require` in babel-plugin-zent
  .eslintrc.js
  packages/babel-plugin-zent/.babelrc
  packages/babel-plugin-zent/__tests__/index.spec.js
  packages/babel-plugin-zent/package.json
  packages/babel-plugin-zent/src/index.js
  yarn.lock
Due: yarn format, eslint

fix tests
  packages/babel-plugin-zent/__tests__/index.spec.js
Due: yarn format, eslint

warn instead of error on `require` in babel-plugin-zent (#1824)
  .eslintrc.js
  packages/babel-plugin-zent/.babelrc
  packages/babel-plugin-zent/__tests__/index.spec.js
  packages/babel-plugin-zent/package.json
  packages/babel-plugin-zent/src/index.js
  yarn.lock
Due: yarn format, eslint

v3.0.0
  packages/babel-plugin-zent/package.json
Due: none

improve warning message
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

feat: input新增password类型
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/demos/password.md
  packages/zent/src/input/password.tsx
Due: yarn format, eslint

Babel plugin zent error msg (#1826)
  packages/babel-plugin-zent/__tests__/index.spec.js
  packages/babel-plugin-zent/package.json
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

v3.0.1
  packages/babel-plugin-zent/package.json
Due: none

feat: demo修改
  packages/zent/src/input/demos/password.md
Due: none

feat: select部分样式修改
  packages/zent/assets/select.scss
Due: yarn format, stylelint

feat: button语义化修改; 新增文字按钮、图片按钮语义化定义
  packages/zent/assets/button.scss
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/assets/theme/semantic/_helper.scss
Due: yarn format, stylelint

feat: 步进器功能修改
  packages/zent/assets/number-input.scss
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/ja-JP.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
  packages/zent/src/number-input/decimal.ts
  packages/zent/src/number-input/demos/7.tooltip.md
  packages/zent/src/number-input/integer.ts
Due: yarn format, eslint, stylelint

feat: 单元测试修改
  packages/zent/__tests__/number-input.spec.jsx
  packages/zent/assets/number-input.scss
Due: yarn format, eslint, stylelint

feat: 单元测试修改
  packages/zent/__tests__/number-input.spec.jsx
Due: yarn format, eslint

feat: 修改链接样式; 增加弱文字链接
  packages/zent/__tests__/link.spec.jsx
  packages/zent/assets/button.scss
  packages/zent/assets/link.scss
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/src/link/Link.tsx
  packages/zent/src/link/demos/1.basic.md
  packages/zent/src/link/demos/2.weak-link.md
Due: yarn format, eslint, stylelint

fix: 修复样式,完善文档
  packages/zent/assets/link.scss
  packages/zent/src/link/README_en-US.md
  packages/zent/src/link/README_zh-CN.md
Due: yarn format, stylelint
