Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

fix: date-panel调整 && scss优化
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/MonthPicker.tsx
  packages/zent/src/date-picker/QuarterPicker.tsx
  packages/zent/src/date-picker/WeekPicker.tsx
  packages/zent/src/date-picker/YearPicker.tsx
  packages/zent/src/date-picker/components/WithCombinedPicker.tsx
  packages/zent/src/date-picker/components/WithSinglePicker.tsx
  packages/zent/src/date-picker/hooks/useCellsData.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/panels/month-panel/MonthBody.tsx
  packages/zent/src/date-picker/panels/month-panel/index.tsx
  packages/zent/src/date-picker/panels/quarter-panel/QuarterBody.tsx
  packages/zent/src/date-picker/panels/quarter-panel/index.tsx
  packages/zent/src/date-picker/panels/year-panel/YearBody.tsx
  packages/zent/src/date-picker/panels/year-panel/index.tsx
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[bug fix] FormSelectField: 增加onDelete处理
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

fix: 修复了Swiper组件的一些问题
  packages/zent/__tests__/swiper.js
  packages/zent/src/swiper/Swiper.tsx
Due: yarn format, eslint

fix: 修复scrollAlert渲染被重置&& AlertItem为类组件
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

fix: merge onChange and onDelete
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/utils/isString.ts
Due: yarn format, eslint

chore: remove some any
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

fix: remove isString
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/utils/isString.ts
Due: yarn format, eslint

[bug fix] FormSelectField: 增加onDelete处理 (#1405)
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix: 修复了Swiper组件的一些问题 (#1406)
  packages/zent/__tests__/swiper.js
  packages/zent/src/swiper/Swiper.tsx
Due: yarn format, eslint

export Validator types
  packages/zent/src/form/index.ts
Due: yarn format, eslint

export Validator types (#1409)
  packages/zent/src/form/index.ts
Due: yarn format, eslint

Update formulr to 0.3.4
  packages/zent/package.json
  yarn.lock
Due: none

fix: scrollAlert不支持动态渲染
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

fix: 修复scrollAlert渲染被重置&& AlertItem为类组件 (#1407)
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

update formulr to 0.3.5
  packages/zent/package.json
  yarn.lock
Due: none

Update formulr to 0.3.5 (#1410)
  packages/zent/package.json
  yarn.lock
Due: none

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.5.2
  packages/zent/package.json
Due: none

disable webpack loader cache
  site/webpack/webpack.config.js
Due: yarn format, eslint

属性功能完善
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/PickerTrigger.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/demos/default-value.md
  packages/zent/src/date-picker/demos/visible-control.md
  packages/zent/src/date-picker/hooks/useMergedProps.ts
  packages/zent/src/date-picker/hooks/usePanelVisible.ts
  packages/zent/src/date-picker/hooks/useRangeDisabledDate.ts
  packages/zent/src/date-picker/hooks/useRangeMergedProps.ts
Due: yarn format, eslint

fix: 沙箱统一改名 sandbox，添加压缩版本打包，部分 pr 问题修复
  packages/zent/.gitignore
  packages/zent/package.json
  packages/zent/scripts/build-sandbox.sh
  packages/zent/scripts/build-umd.sh
  packages/zent/src/index.common.ts
  packages/zent/src/index.sandbox.ts
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/utils/dom/getComputedStyle.ts
  packages/zent/webpack.sandbox.config.js
  yarn.lock
Due: yarn format, eslint

[Table]: 修复 batchComponents 为空数组时页面渲染出一个 0
  packages/zent/src/table/Table.tsx
Due: yarn format, eslint

fix: clamplines默认非CJK连续字符超长时可词内折行
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/clamp-lines/demos/non-cjk.md
Due: yarn format, eslint

DatePicker 支持Form表单项、Disabled组件
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/MonthPicker.tsx
  packages/zent/src/date-picker/QuarterPicker.tsx
  packages/zent/src/date-picker/TimePicker.tsx
  packages/zent/src/date-picker/WeekPicker.tsx
  packages/zent/src/date-picker/YearPicker.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/context/PickerContext.ts
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/hooks/useMergedProps.ts
  packages/zent/src/date-picker/hooks/useRangeMergedProps.ts
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/getValueInRangePicker.ts
  packages/zent/src/date-picker/utils/getValueInSinglePicker.ts
  packages/zent/src/date-picker/utils/index.ts
  packages/zent/src/form/form-components/DatePickerField.tsx
  packages/zent/src/form/form-components/DateRangePickerField.tsx
  packages/zent/src/form/form-components/MonthPickerField.tsx
  packages/zent/src/form/form-components/QuarterPickerField.tsx
  packages/zent/src/form/form-components/TimePickerField.tsx
  packages/zent/src/form/form-components/WeekPickerField.tsx
  packages/zent/src/form/form-components/YearPickerField.tsx
  packages/zent/src/form/shared.tsx
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

CombinedTimeRange组件
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/CombinedTimeRangePicker.tsx
  packages/zent/src/date-picker/components/CombinedTimePicker.tsx
  packages/zent/src/date-picker/components/PickerTrigger.tsx
  packages/zent/src/date-picker/demos/basic.md
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/hooks/useRangeMergedProps.ts
  packages/zent/src/date-picker/hooks/useTimeValue.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/combined-time-range-panel/CombinedTimeFooter.tsx
  packages/zent/src/date-picker/panels/combined-time-range-panel/index.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeUnitColumn.tsx
  packages/zent/src/date-picker/panels/time-panel/index.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/form/form-components/TimePickerField.tsx
  packages/zent/src/form/form-components/TimeRangePickerField.tsx
  packages/zent/src/form/shared.tsx
  packages/zent/src/index.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

quickPicker修改
  packages/zent/src/date-picker/components/PickerTrigger.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/getValueInRangePicker.ts
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

DatePicker公用常量 和 部分单测
  packages/zent/__tests__/date-picker/DatePicker.js
  packages/zent/__tests__/date-picker/index.js
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/CombinedTimeRangePicker.tsx
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/MonthPicker.tsx
  packages/zent/src/date-picker/QuarterPicker.tsx
  packages/zent/src/date-picker/TimePicker.tsx
  packages/zent/src/date-picker/WeekPicker.tsx
  packages/zent/src/date-picker/YearPicker.tsx
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/CombinedTimePicker.tsx
  packages/zent/src/date-picker/components/PanelHeader.tsx
  packages/zent/src/date-picker/components/PickerPopover.tsx
  packages/zent/src/date-picker/components/PickerTrigger.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/constants/index.ts
  packages/zent/src/date-picker/demos/basic.md
  packages/zent/src/date-picker/demos/disabled.md
  packages/zent/src/date-picker/demos/show-time.md
  packages/zent/src/date-picker/hooks/useShowTimeOption.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeFooter.tsx
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

fix: add line-height
  packages/zent/assets/select.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[Table]: 修复 batchComponents 为空数组时页面渲染出一个 0 (#1412)
  packages/zent/src/table/Table.tsx
Due: yarn format, eslint

fix: clamplines计算和展示使用统一断行规则
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/clamp-lines/demos/non-cjk.md
Due: yarn format, eslint

fix: add sandbox entry generate script
  packages/zent/.gitignore
  packages/zent/package.json
  packages/zent/scripts/build-sandbox.sh
  packages/zent/scripts/generate-sandbox-entry.js
  packages/zent/src/index.common.ts
  packages/zent/src/index.sandbox.ts
  packages/zent/webpack.sandbox.config.js
  yarn.lock
Due: yarn format, eslint

fix: rename umd to sandbox
  packages/zent/scripts/build-sandbox.sh
  packages/zent/tsconfig.json
Due: none

readMe 英文版
  packages/zent/__tests__/date-picker/DatePicker.js
  packages/zent/__tests__/date-picker/DateRangePicker.js
  packages/zent/__tests__/date-picker/index.js
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/demos/disabled-time.md
Due: yarn format, eslint

fix: update yarn.lock
  yarn.lock
Due: none

优化useSinglePopoverVisible、增加禁用按钮提示
  packages/zent/__tests__/date-picker/DatePicker.js
  packages/zent/__tests__/date-picker/TimePicker.js
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/CombinedTimePicker.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/demos/show-time.md
  packages/zent/src/date-picker/demos/visible-control.md
  packages/zent/src/date-picker/hooks/useSinglePopoverVisible.ts
  packages/zent/src/date-picker/hooks/useTimeValue.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/combined-time-range-panel/CombinedTimeFooter.tsx
  packages/zent/src/date-picker/panels/combined-time-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
Due: yarn format, eslint
