Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

upgrade to typescript 3.6 (#1201)
  packages/zent/package.json
  yarn.lock
Due: none

fix typescript version in docs [ci skip]
  site/package.json
  yarn.lock
Due: none

fix typescript version in docs [ci skip] (#1202)
  site/package.json
  yarn.lock
Due: none

fix input background when disabled [ci skip]
  packages/zent/assets/input.scss
  packages/zent/src/input/demos/disabled.md
Due: yarn format, sass-lint -vq

fix input background when disabled [ci skip] (#1203)
  packages/zent/assets/input.scss
  packages/zent/src/input/demos/disabled.md
Due: yarn format, sass-lint -vq

fix Notice.close not working
  packages/zent/src/notice/Container.tsx
  packages/zent/src/notice/Wrap.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix Notice.close not working (#1204)
  packages/zent/src/notice/Container.tsx
  packages/zent/src/notice/Wrap.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Publish
  packages/zent/package.json
Due: none

Update RELEASE_NEXT.md
  packages/zent/RELEASE_NEXT.md
Due: none

feat: 添加 IMEComposition 输入合成组件
  packages/zent/src/ime-composition/IMEComposition.tsx
  packages/zent/src/ime-composition/README_en-US.md
  packages/zent/src/ime-composition/README_zh-CN.md
  packages/zent/src/ime-composition/context.tsx
  packages/zent/src/ime-composition/demos/basic.md
  packages/zent/src/ime-composition/hooks.ts
  packages/zent/src/ime-composition/index.ts
  packages/zent/src/ime-composition/types.ts
  packages/zent/src/index.ts
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/utils/isChrome.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 补充 IMEComposition 测试用例
  packages/zent/__tests__/ime-composition.js
  packages/zent/jest.config.json
Due: yarn format, eslint

typedoc
  packages/zent/package.json
  site/package.json
  yarn.lock
Due: none

typedoc (#1205)
  packages/zent/package.json
  site/package.json
  yarn.lock
Due: none

update circleci config
  .circleci/config.yml
Due: none

remove utils/readme.md
  packages/zent/src/utils/README.md
Due: none

Upgrade react to 16.10
  packages/zent/package.json
  site/package.json
  yarn.lock
Due: none

api document link [ci skip]
  site/src/components/side-nav/index.js
  site/src/nav.static.js
Due: yarn format, eslint

fix [ci skip]
  site/src/components/side-nav/index.js
  site/src/nav.static.js
Due: yarn format, eslint

Upgrade react (#1206)
  packages/zent/package.json
  site/package.json
  yarn.lock
Due: none

Fix dev server contentbase
  site/scripts/dev.js
  site/webpack/webpack.config.js
Due: yarn format, eslint

api document link [ci skip] (#1207)
  site/scripts/dev.js
  site/src/components/side-nav/index.js
  site/src/nav.static.js
  site/webpack/webpack.config.js
Due: yarn format, eslint

fix sweetalert callback type [ci skip]
  packages/zent/src/sweetalert/ActionButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix sweetalert callback type [ci skip] (#1208)
  packages/zent/src/sweetalert/ActionButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix typo [ci skip]
  packages/zent/RELEASE_NEXT.md
Due: none

refactor Popover, PopoverContent, position function
  packages/zent/scheduler.d.ts
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/PopoverContext.tsx
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/placement/prefix.ts
  packages/zent/src/popover/position-function.ts
  packages/zent/src/popover/position-updated.ts
  packages/zent/src/utils/dom/findPositionedParent.ts
  packages/zent/src/utils/isPromise.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor focus and click trigger
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/PopoverContext.tsx
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/FocusTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor hover trigger
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor withPopover
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix auto position exports
  packages/zent/src/popover/placement/auto-bottom-center.ts
  packages/zent/src/popover/placement/auto-bottom-left.ts
  packages/zent/src/popover/placement/auto-bottom-right.ts
  packages/zent/src/popover/placement/auto-top-center.ts
  packages/zent/src/popover/placement/auto-top-left.ts
  packages/zent/src/popover/placement/auto-top-right.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor positions
  packages/zent/src/popover/placement/auto-bottom-center.ts
  packages/zent/src/popover/placement/auto-bottom-left.ts
  packages/zent/src/popover/placement/auto-bottom-right.ts
  packages/zent/src/popover/placement/auto-top-center.ts
  packages/zent/src/popover/placement/auto-top-left.ts
  packages/zent/src/popover/placement/auto-top-right.ts
  packages/zent/src/popover/placement/bottom-center.ts
  packages/zent/src/popover/placement/bottom-left.ts
  packages/zent/src/popover/placement/bottom-right.ts
  packages/zent/src/popover/placement/create.ts
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/placement/isEqual.ts
  packages/zent/src/popover/placement/left-bottom.ts
  packages/zent/src/popover/placement/left-center.ts
  packages/zent/src/popover/placement/left-top.ts
  packages/zent/src/popover/placement/right-bottom.ts
  packages/zent/src/popover/placement/right-center.ts
  packages/zent/src/popover/placement/right-top.ts
  packages/zent/src/popover/placement/top-center.ts
  packages/zent/src/popover/placement/top-left.ts
  packages/zent/src/popover/placement/top-right.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix types
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/error-boundary/Fallback.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix types
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/colorpicker/PopoverClickTrigger.ts
  packages/zent/src/colorpicker/index.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/pop/Action.tsx
  packages/zent/src/pop/NoneTrigger.ts
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/FocusTrigger.ts
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/split-button/SplitButton.tsx
  packages/zent/src/timeline/Item.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix pop positions
  packages/zent/assets/pop.scss
  packages/zent/src/pop/Action.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/index.ts
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/PopoverContext.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix pop
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix popover
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/tsconfig.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix popover hover trigger
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix adjust position
  packages/zent/src/popover/Content.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix types
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/trigger/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: add default controlled input value
  packages/zent/src/ime-composition/hooks.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor popover
  packages/zent/scheduler.d.ts
  packages/zent/src/popover/Anchor.tsx
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Context.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/index.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/ClickTrigger.tsx
  packages/zent/src/popover/trigger/FocusTrigger.ts
  packages/zent/src/popover/trigger/FocusTrigger.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/popover/withPopover.tsx
  packages/zent/src/utils/useAnimationFramed.ts
  packages/zent/src/utils/useLazy.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
