Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

允许textarea输入超出maxLength，增加报错提示
  packages/zent/assets/input.scss
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/input/demos/textarea-with-count.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix(transfer): type bug (#1464)
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint

增加onIconClick属性文档
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
  packages/zent/src/input/demos/event-handler.md
Due: none

cleanup state
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

fix(drawer): init
  packages/zent/__tests__/drawer.js
  packages/zent/assets/drawer.scss
  packages/zent/assets/index.scss
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/drawer/components/DrawerBackdrop.tsx
  packages/zent/src/drawer/components/DrawerContent.tsx
  packages/zent/src/drawer/constants.ts
  packages/zent/src/drawer/demos/basic.mdx
  packages/zent/src/drawer/demos/noMask.mdx
  packages/zent/src/drawer/hooks/useDrawerExiting.ts
  packages/zent/src/drawer/index.ts
  packages/zent/src/drawer/types.ts
  packages/zent/src/index.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix(drawer): css修改
  packages/zent/__tests__/drawer.js
  packages/zent/assets/drawer.scss
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/components/DrawerContent.tsx
  packages/zent/src/drawer/demos/basic.mdx
  packages/zent/src/drawer/demos/noMask.mdx
  packages/zent/src/drawer/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix(drawer): 文档修改
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/drawer/components/DrawerContent.tsx
  packages/zent/src/drawer/demos/basic.mdx
  packages/zent/src/drawer/demos/noMask.mdx
  packages/zent/src/drawer/types.ts
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
Due: yarn format, eslint

fix(drawer): support width、height、placement
  packages/zent/assets/drawer.scss
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/drawer/components/DrawerContent.tsx
  packages/zent/src/drawer/constants.ts
  packages/zent/src/drawer/demos/basic.mdx
  packages/zent/src/drawer/demos/noMask.mdx
  packages/zent/src/drawer/demos/placement.mdx
  packages/zent/src/drawer/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix(drawer): demo
  packages/zent/src/drawer/demos/basic.mdx
  packages/zent/src/drawer/demos/noMask.mdx
  packages/zent/src/drawer/demos/placement.mdx
Due: none

fix(drawer): 文档修改
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/transfer/README_en-US.md
Due: none

修改error样式 && 增加新属性maxCharacterCount
  packages/zent/assets/input.scss
  packages/zent/src/form/demos/4.validate.md
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/input/demos/textarea-with-count.md
  packages/zent/src/input/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix(drawer): 新增closeBtn
  packages/zent/assets/drawer.scss
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/drawer/components/DrawerContent.tsx
  packages/zent/src/drawer/demos/basic.mdx
  packages/zent/src/drawer/demos/noMask.mdx
  packages/zent/src/drawer/demos/placement.mdx
  packages/zent/src/drawer/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[bug fix] Button: ButtonDirective透传disabled属性给子组件
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

[new feature] Form: 增加对initialValue的支持以及reset事件，并补充文档
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/formulr/field.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

fix: remove unused code
  packages/zent/src/form/formulr/field.tsx
Due: yarn format, eslint

fix(drawer): bgc修改
  packages/zent/assets/drawer.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: 修复Loading Button用例中的disabled判断
  packages/zent/__tests__/button.js
Due: yarn format, eslint

docs: use reset button instead of input
  packages/zent/src/form/demos/1.basic.md
Due: none

[bug fix] Form: 仅在FormModel引用变更时才重新创建ZentForm，避免表单提交等状态变更引起不必要的引用变换
  packages/zent/src/form/ZentForm.tsx
Due: yarn format, eslint

save tabs
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/demos/10.tabs-loading.md
  packages/zent/src/cascader/demos/helpers.js
  packages/zent/src/cascader/forest.ts
  packages/zent/src/cascader/types.ts
  packages/zent/src/cascader/utils.ts
Due: yarn format, eslint

[bug fix] Form: 优化类型定义，提升API使用体验
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/formulr/builders/array.ts
  packages/zent/src/form/formulr/builders/basic.ts
  packages/zent/src/form/formulr/builders/form.ts
  packages/zent/src/form/formulr/builders/index.ts
  packages/zent/src/form/formulr/builders/set.ts
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/form.tsx
  packages/zent/src/form/formulr/index.ts
  packages/zent/src/form/formulr/models/base.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/form.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/utils.ts
  packages/zent/src/form/formulr/validate.ts
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

fix(drawer): useEffect改为onDrawerExited
  packages/zent/src/drawer/Drawer.tsx
Due: yarn format, eslint

fix(drawer): 文档补充，组件exit处理
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/drawer/components/DrawerContent.tsx
  packages/zent/src/drawer/types.ts
Due: yarn format, eslint

all features are working
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/demos/2.loading.md
  packages/zent/src/cascader/demos/6.scrollable.md
  packages/zent/src/cascader/demos/7.async-searchable.md
  packages/zent/src/cascader/demos/helpers.js
  packages/zent/src/cascader/forest.ts
  packages/zent/src/cascader/types.ts
  packages/zent/src/cascader/utils.ts
Due: yarn format, eslint

remaining type and function cleanups
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/demos/1.menu.md
  packages/zent/src/cascader/demos/10.tabs-loading.md
  packages/zent/src/cascader/demos/2.loading.md
  packages/zent/src/cascader/demos/6.scrollable.md
  packages/zent/src/cascader/demos/7.async-searchable.md
  packages/zent/src/cascader/demos/helpers.js
  packages/zent/src/cascader/forest.ts
  packages/zent/src/cascader/index.ts
  packages/zent/src/cascader/node-fns.ts
  packages/zent/src/cascader/path-fns.ts
  packages/zent/src/cascader/public-options-fns.ts
  packages/zent/src/cascader/trigger/SingleTrigger.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/types.ts
  packages/zent/src/index.ts
Due: yarn format, eslint

bug fixes
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/demos/6.scrollable.md
  packages/zent/src/cascader/public-options-fns.ts
Due: yarn format, eslint

fix bug in async search
  packages/zent/src/cascader/demos/7.async-searchable.md
  packages/zent/src/cascader/forest.ts
Due: yarn format, eslint

ignore disabled node in selection
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/forest.ts
Due: yarn format, eslint

调整buttons间隔
  packages/zent/assets/button.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix tests
  packages/zent/__tests__/cascader.js
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/forest.ts
Due: yarn format, eslint

pop、dialog的buttons间隔保持8像素
  packages/zent/assets/dialog.scss
  packages/zent/assets/pop.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

调整buttons间隔 (#1474)
  packages/zent/assets/button.scss
  packages/zent/assets/dialog.scss
  packages/zent/assets/pop.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

remove level
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/forest.ts
  packages/zent/src/cascader/node-fns.ts
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

[bug fix] Form: 仅在FormModel引用变更时才重新创建ZentForm，避免表单提交等状态变更引起不必要的引用变换 (#1469)
  packages/zent/src/form/ZentForm.tsx
Due: yarn format, eslint

fix lint
  packages/zent/src/cascader/TabsCascader.tsx
Due: yarn format, eslint

rename item => node, items => path
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/forest.ts
  packages/zent/src/cascader/trigger/Tag.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

textarea 字数提示样式调整
  packages/zent/assets/input.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: 开严格模式修复类型问题
  packages/zent/src/form/formulr/builders/array.ts
  packages/zent/src/form/formulr/builders/basic.ts
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/models/base.ts
  packages/zent/src/form/formulr/models/form.ts
  packages/zent/src/form/formulr/utils.ts
  packages/zent/src/form/formulr/validate.ts
  packages/zent/src/form/formulr/value-listener.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

fix(formulr): 修复BasicBuilder的默认值类型，牺牲少数场景的类型安全来简化用法
  packages/zent/src/form/formulr/builders/basic.ts
Due: yarn format, eslint

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
