Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

docs: prompt 定义
  packages/zent/src/prompt/README_en-US.md
  packages/zent/src/prompt/README_zh-CN.md
Due: none

fix: notify相关类型补充
  packages/zent/src/notify/Notify.tsx
Due: yarn format, eslint

doc: 更新中文名和定义
  packages/zent/src/pagination/README_zh-CN.md
Due: none

feat: 修改md
  packages/zent/src/split-button/README_zh-CN.md
  packages/zent/src/split-button/demos/basic.md
Due: none

feat: 修改md
  packages/zent/src/pop/demos/positions.md
Due: none

feat: 修改md
  packages/zent/src/checkbox/README_zh-CN.md
Due: none

feat: 修改md
  packages/zent/src/button/README_zh-CN.md
Due: none

feat: 修改md
  packages/zent/src/input/README_zh-CN.md
Due: none

feat: md修改
  packages/zent/src/radio/README_zh-CN.md
Due: none

fix: notify ts 相关类型完善 (#1891)
  packages/zent/src/notify/Notify.tsx
Due: yarn format, eslint

feat: 名称修改
  packages/zent/src/number-input/README_zh-CN.md
Due: none

feat: md修改
  packages/zent/src/split-button/README_zh-CN.md
Due: none

feat: 验收修改
  packages/zent/assets/date-picker.scss
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/src/date-picker/demos/basic.md
Due: none

feat: 验收修改
  packages/zent/src/pop/demos/controlled.md
Due: none

fix: 修复左固定列阴影
  packages/zent/assets/grid.scss
Due: yarn format, stylelint

doc: 更新定义
  packages/zent/src/pagination/README_en-US.md
  packages/zent/src/pagination/README_zh-CN.md
Due: none

feat: md修改
  packages/zent/src/pop/demos/positions.md
Due: none

feat: indicator 文档调整
  packages/zent/src/indicator/README_en-US.md
  packages/zent/src/indicator/README_zh-CN.md
Due: none

feat: clear默认值改回false
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/2.controlled.md
  packages/zent/src/select/demos/3.group.md
  packages/zent/src/select/demos/4.multiple.md
  packages/zent/src/select/demos/5.filter.md
  packages/zent/src/select/demos/6.custom-search.md
  packages/zent/src/select/demos/7.virtual-scroll.md
  packages/zent/src/select/demos/8.scrollable.md
  packages/zent/src/select/demos/9.custom-display.md
Due: yarn format, eslint

feat: clearable默认值改为false
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/demos/1.menu.md
  packages/zent/src/cascader/demos/2.loading.md
  packages/zent/src/cascader/demos/4.multiple.md
  packages/zent/src/cascader/demos/6.scrollable.md
Due: yarn format, eslint

feat: 验收bug修复
  packages/zent/src/dropdown-nav/demos/01-basic.md
Due: none

docs: tabs 文档修改
  packages/zent/src/tabs/README_zh-CN.md
Due: none

feat: disabled button样式修复
  packages/zent/assets/date-picker.scss
Due: yarn format, stylelint

[github_action] update caniuse-lite database
  yarn.lock
Due: none

v10.0.0-beta.1
  packages/zent/package.json
Due: none

feat: 文本修改
  packages/zent/src/cascader/components/MenuContent.tsx
Due: yarn format, eslint

feat: [Grid]支持是否显示可展开图标
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/expand.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

doc: 更新组件说明
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
Due: none

feat: 次级按钮修改
  packages/zent/assets/button.scss
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/README_en-US.md
  packages/zent/src/button/README_zh-CN.md
  packages/zent/src/button/demos/basic.md
  packages/zent/src/button/demos/disabled.md
  packages/zent/src/button/demos/no-border.md
Due: yarn format, eslint, stylelint

feat: css层级修改
  packages/zent/assets/input.scss
  packages/zent/src/input/Input.tsx
Due: yarn format, eslint, stylelint

feat: number-input样式修改
  packages/zent/assets/number-input.scss
Due: yarn format, stylelint

feat: 按钮修改
  packages/zent/assets/button.scss
  packages/zent/src/button/demos/basic.md
  packages/zent/src/button/demos/disabled.md
  packages/zent/src/button/demos/icon.md
  packages/zent/src/button/demos/loading.md
  packages/zent/src/button/demos/only-icon.md
  packages/zent/src/button/demos/size.md
  packages/zent/src/button/demos/status.md
  packages/zent/src/button/demos/style.md
  packages/zent/src/button/demos/text.md
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/assets/split-button.scss
Due: yarn format, stylelint

feat: 删除group-button，后续迭代需要开发
  packages/zent/src/button/README_en-US.md
  packages/zent/src/button/README_zh-CN.md
  packages/zent/src/button/demos/directive.md
  packages/zent/src/button/demos/group.md
Due: none

feat: group-button css更改
  packages/zent/assets/button.scss
Due: yarn format, stylelint

feat: alert closable默认恢复false,banner/prompt/statusBar closable默认为true
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/banner/Banner.tsx
  packages/zent/src/banner/README_en-US.md
  packages/zent/src/banner/README_zh-CN.md
  packages/zent/src/prompt/Prompt.tsx
  packages/zent/src/prompt/README_en-US.md
  packages/zent/src/prompt/README_zh-CN.md
  packages/zent/src/status-bar/README_en-US.md
  packages/zent/src/status-bar/README_zh-CN.md
  packages/zent/src/status-bar/StatusBar.tsx
Due: yarn format, eslint

feat: 验收样式
  packages/zent/assets/cascader.scss
Due: yarn format, stylelint

feat: 验收样式修改
  packages/zent/assets/select.scss
Due: yarn format, stylelint
