Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

update packages
  yarn.lock
Due: none

update packages (#1335)
  yarn.lock
Due: none

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.0.0
  packages/zent/package.json
Due: none

update yarn.lock
  yarn.lock
Due: none

grid: 表头吸顶交互优化
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: upload 组件 classname 前缀修改
  packages/zent/assets/upload.scss
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/FileInput.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/List.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 修复删除上传项时 maxPage 计算错误的 bug
  packages/zent/src/upload/components/normal/List.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[Bugfix] Upload: 修复class冲突和翻页错误 (#1336)
  packages/zent/assets/upload.scss
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/FileInput.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/List.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

v8.0.1
  packages/zent/package.json
Due: none

Add no-console lint rule
  eslintrc.react.js.base.js
  packages/zent/eslintrc.base.js
Due: yarn format, eslint

remove console.log
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[new feature]Grid: 添加表头吸顶表格、checkbox禁用时支持鼠标hover展示原因 (#1321)
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/demos/autoStick.md
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix lint
  packages/zent/__tests__/dialog/Dialog.js
  packages/zent/plugins/.eslintrc.js
  packages/zent/scripts/cruiser/.eslintrc.js
Due: yarn format, eslint

[bug fix] Form: 泛型参数使用字面量空对象作为约束 (#1307)
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[new feature] Cascader: onChange接收原始的option数组作为参数 (#1328)
  packages/zent/__tests__/cascader.js
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

lint: ingore unused args starts with _
  packages/zent/eslintrc.base.js
Due: yarn format, eslint

Dropdown (#1333)
  packages/zent/assets/dropdown.scss
  packages/zent/assets/index.scss
  packages/zent/src/button/Directive.tsx
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/dropdown/Dropdown.tsx
  packages/zent/src/dropdown/DropdownButton.tsx
  packages/zent/src/dropdown/DropdownContext.ts
  packages/zent/src/dropdown/README_en-US.md
  packages/zent/src/dropdown/README_zh-CN.md
  packages/zent/src/dropdown/demos/01-click.md
  packages/zent/src/dropdown/demos/02-hover.md
  packages/zent/src/dropdown/demos/03-close.md
  packages/zent/src/dropdown/demos/click.md
  packages/zent/src/dropdown/index.ts
  packages/zent/src/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 星星icon替换，避免icon边距影响相对百分比显示 (#1329)
  packages/zent/assets/rate.scss
  packages/zent/src/rate/Rate.tsx
  packages/zent/src/rate/star-icon.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix pagination default color and font size (#1332)
  packages/zent/assets/pagination.scss
  packages/zent/src/pagination/demos/02-dynamic-page-size.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Waypoint (#1324)
  packages/zent/__tests__/affix.js
  packages/zent/__tests__/infinite-scroller.js
  packages/zent/jest.config.json
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/affix/README_en-US.md
  packages/zent/src/affix/README_zh-CN.md
  packages/zent/src/affix/demos/both.md
  packages/zent/src/affix/demos/callback.md
  packages/zent/src/affix/demos/offset-bottom.md
  packages/zent/src/index.ts
  packages/zent/src/infinite-scroller/InfiniteScroller.tsx
  packages/zent/src/infinite-scroller/README_en-US.md
  packages/zent/src/infinite-scroller/README_zh-CN.md
  packages/zent/src/infinite-scroller/demos/basic.md
  packages/zent/src/utils/hooks/useCallbackRef.ts
  packages/zent/src/utils/isDOMElement.ts
  packages/zent/src/utils/isEqual.ts
  packages/zent/src/waypoint/LICENSE
  packages/zent/src/waypoint/README_en-US.md
  packages/zent/src/waypoint/README_zh-CN.md
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/src/waypoint/demos/01-basic.md
  packages/zent/src/waypoint/demos/02-reveal.md
  packages/zent/src/waypoint/index.ts
  packages/zent/src/waypoint/offset.ts
  packages/zent/src/waypoint/position.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix lint errors
  package.json
  packages/zent/src/avatar/Avatar.tsx
  packages/zent/src/copy-button/CopyToClipboard.ts
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/MonthPicker.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/YearPicker.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/table/Table.tsx
  packages/zent/src/tabs/components/TabDivide.tsx
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/utils/component/WindowResizeHandler.tsx
  packages/zent/src/utils/shallowEqual.ts
  packages/zent/src/utils/warning.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] Form: layout属性改为可选 (#1331)
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

support default preset in quick-date-range-picker (#1334)
  packages/zent/__tests__/date-range-quick-picker.js
  packages/zent/jest.config.json
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/date-range-quick-picker/constants.ts
  packages/zent/src/date-range-quick-picker/demos/basic.md
  packages/zent/src/date-range-quick-picker/demos/preset.md
  packages/zent/src/date-range-quick-picker/helper.ts
  packages/zent/src/date-range-quick-picker/index.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/tsconfig.test.json
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix(Select): rename traverseData to findSelected and return selected instead of invoking setState
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

chore: resolve conflicts
  yarn.lock
Due: none

Update RELEASE
  packages/zent/RELEASE_zh-CN.md
Due: none

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
