Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

docs: 简单的自定义表单组件文档
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/18.custom-field.md
Due: none

feat(transfer): fix codereview questions
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/ArrowButton.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/constants.ts
  packages/zent/src/transfer/demos/basic.md
  packages/zent/src/transfer/demos/grid.md
  packages/zent/src/transfer/demos/renderProps.md
  packages/zent/src/transfer/demos/search.md
  packages/zent/src/transfer/types.ts
  packages/zent/src/transfer/utils.ts
Due: yarn format, eslint

fix: 类型命名调整
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/PickerTrigger.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/context/PickerContext.ts
  packages/zent/src/date-picker/hooks/useHoverRange.ts
  packages/zent/src/date-picker/hooks/useRangeDisabledDate.ts
  packages/zent/src/date-picker/hooks/useRangeDisabledTime.ts
  packages/zent/src/date-picker/hooks/useRangeMergedProps.ts
  packages/zent/src/date-picker/hooks/useShowTimeOption.ts
  packages/zent/src/date-picker/hooks/useTimeValue.ts
  packages/zent/src/date-picker/hooks/useWeekRange.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/formatInputText.ts
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
  packages/zent/src/date-picker/utils/getValueInRangePicker.ts
  packages/zent/src/date-picker/utils/getValueInSinglePicker.ts
  packages/zent/src/date-picker/utils/index.ts
Due: yarn format, eslint

feat(transfer): useTransfer
  packages/zent/assets/transfer.scss
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/ArrowButton.tsx
  packages/zent/src/transfer/demos/hook.md
  packages/zent/src/transfer/hooks.ts
  packages/zent/src/transfer/index.ts
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat(transfer): useTransfer
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/demos/hook.md
  packages/zent/src/transfer/hooks.ts
Due: yarn format, eslint

fix disabled checkbox label font color
  packages/zent/assets/checkbox.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

docs: 简单的自定义表单组件文档 (#1437)
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/18.custom-field.md
Due: none

Update TypeScript and tslib
  packages/zent/package.json
  packages/zent/src/number-input/NumberInput.tsx
  site/package.json
  yarn.lock
Due: yarn format, eslint

Update TypeScript and tslib (#1440)
  packages/zent/package.json
  packages/zent/src/number-input/NumberInput.tsx
  site/package.json
  yarn.lock
Due: yarn format, eslint

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.5.4
  packages/zent/package.json
Due: none

feat(transfer): hook demo
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/demos/hook.md
Due: yarn format, eslint

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

Update github workflows
  .github/workflows/check-git-hooks.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  package.json
  scripts/test.sh
Due: none

fix yml
  .github/workflows/check-git-hooks.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Remove CircleCI
  .circleci/config.yml
  .github/workflows/check-git-hooks.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

fix yml syntax
  .github/workflows/check-git-hooks.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Cache yarn install
  .github/workflows/check-git-hooks.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

feat(transfer): modify en doc
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/demos/renderProps.md
Due: none

feat(transfer): replace pick function
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/ArrowButton.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/hooks/useTransfer.ts
  packages/zent/src/transfer/index.ts
  packages/zent/src/transfer/types.ts
  packages/zent/src/transfer/utils.ts
Due: yarn format, eslint

feat(transfer): remove ...
  packages/zent/src/transfer/Transfer.tsx
Due: yarn format, eslint

Add publish and deploy action
  .github/workflows/deploy-doc.yml
  .github/workflows/npm-release.yml
Due: none

fix Table renderBody type
  packages/zent/src/table/Table.tsx
Due: yarn format, eslint

fix Table renderBody type (#1443)
  packages/zent/src/table/Table.tsx
Due: yarn format, eslint

fix Table renderBody type (#1444)
  packages/zent/src/table/Table.tsx
Due: yarn format, eslint

feat(transfer): remove prefix，rename gird to list
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/constants.ts
  packages/zent/src/transfer/demos/basic.md
  packages/zent/src/transfer/demos/grid.md
  packages/zent/src/transfer/demos/renderProps.md
  packages/zent/src/transfer/demos/search.md
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint

feat(transfer): doc url
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
Due: none

Merge workflows
  .github/workflows/check-git-hooks.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-doc.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none
