Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

fix: reset prepush hooks
  .husky/pre-push
Due: none

fix(alert): 图标样式写法调整,与v9保证一致
  packages/zent/assets/alert.scss
Due: yarn format, stylelint

fix(alert): 图标样式写法调整,与v9保证一致 (#1937)
  packages/zent/assets/alert.scss
Due: yarn format, stylelint

feat(Grid): 新增 tableLayout 配置 (#1921)
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: yarn format, eslint, stylelint

v9.12.7
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

v10.0.0-rc.8
  packages/zent/RELEASE_v10.md
  packages/zent/package.json
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

fix: input 代码丢失
  packages/zent/src/input/InputCore.tsx
Due: yarn format, eslint

fix: input 代码丢失 (#1940)
  packages/zent/src/input/InputCore.tsx
Due: yarn format, eslint

v10.0.0-rc.9
  packages/zent/RELEASE_v10.md
  packages/zent/package.json
Due: none

v10.0.0
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

feat: 给numberInput组件增加dynamicDecimal属性，支持用户保留完整的小数位数
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
  packages/zent/src/number-input/decimal.ts
Due: yarn format, eslint

feat: 改成让 decimal 属性支持 -1来实现动态小数位；在NumberInput中增加demo
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
  packages/zent/src/number-input/decimal.ts
  packages/zent/src/number-input/demos/8.dynamic-decimal.md
Due: yarn format, eslint

feat: 删除dynamicDecimal字段的文档说明
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
Due: none

feat: 优化demo位置；增加单测
  packages/zent/__tests__/number-input.spec.jsx
  packages/zent/src/number-input/demos/2.decimal-point.md
  packages/zent/src/number-input/demos/8.dynamic-decimal.md
Due: yarn format, eslint

feat: 调整为dynamicDecimal字段表示小数点位自适应
  packages/zent/__tests__/number-input.spec.jsx
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
  packages/zent/src/number-input/decimal.ts
  packages/zent/src/number-input/demos/2.decimal-point.md
Due: yarn format, eslint

feat: 调整文案
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
Due: none

feat(cascader):
  packages/zent/RELEASE_zh-CN.md
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
Due: yarn format, eslint

feat(cascader): (#1951)
  packages/zent/RELEASE_zh-CN.md
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
Due: yarn format, eslint

feat: up doc
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

feat: up version
  packages/zent/package.json
Due: none

feat: up doc
  packages/zent/RELEASE_zh-CN.md
Due: none

feat(cascader):
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
Due: yarn format, eslint

feat(cascader): (#1952)
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
Due: yarn format, eslint

feat: update doc
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

fix:[AnimateHeight]修复当设置appear为true，height为auto的时候没有动画的问题
  packages/zent/src/utils/component/AnimateHeight.tsx
Due: yarn format, eslint
