Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

Publish
  packages/zent/package.json
Due: none

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

Add postcss constants plugin
  packages/zent/.gitignore
  packages/zent/assets/pop.scss
  packages/zent/package.json
  packages/zent/plugins/css-compiler-constants.d.ts
  packages/zent/plugins/css-compiler-constants.js
  packages/zent/plugins/postcss-plugin-constants.js
  packages/zent/plugins/ts-plugin-constants.ts
  packages/zent/scripts/build.sh
  packages/zent/scripts/compile-style.js
  packages/zent/src/pop/position.ts
  postcss.config.js
  site/package.json
  site/postcss.config.js
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

cleanup build scripts
  packages/zent/scripts/build-theme.sh
  packages/zent/scripts/build-ts.sh
  packages/zent/scripts/build.sh
  packages/zent/scripts/update-jest-module-mapper.js
  packages/zent/scripts/validate-pop-size.sh
Due: yarn format, eslint

fix jest config
  packages/zent/jest.config.json
Due: none

Add missing ts definition
  packages/zent/plugins/css-compiler-constants.d.ts
Due: none

Add TypeScript and PostCSS plugin for compiler constants (#1251)
  packages/zent/.gitignore
  packages/zent/assets/pop.scss
  packages/zent/declarations.d.ts
  packages/zent/jest.config.json
  packages/zent/package.json
  packages/zent/plugins/css-compiler-constants.d.ts
  packages/zent/plugins/css-compiler-constants.js
  packages/zent/plugins/postcss-plugin-constants.js
  packages/zent/plugins/ts-plugin-constants.ts
  packages/zent/scripts/build-theme.sh
  packages/zent/scripts/build-ts.sh
  packages/zent/scripts/build.sh
  packages/zent/scripts/compile-style.js
  packages/zent/scripts/update-jest-module-mapper.js
  packages/zent/scripts/validate-pop-size.sh
  packages/zent/src/global.d.ts
  packages/zent/src/pop/position.ts
  packages/zent/tsconfig.json
  postcss.config.js
  site/package.json
  site/postcss.config.js
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix(block-header): remove help-icon font-size, use pop class font-size
  packages/zent/assets/block-header.scss
Due: yarn format, sass-lint -vq

grid: 修复grid滚动模式下批量操作导致grid展示异常
  packages/zent/assets/grid.scss
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: 调整 block-header 的 icon 颜色
  packages/zent/assets/block-header.scss
Due: yarn format, sass-lint -vq

[bugfix]BlockHeader: 修改组件内部 help-icon 的颜色 (#1257)
  packages/zent/assets/block-header.scss
Due: yarn format, sass-lint -vq

isolate styles from different versions
  packages/zent/.gitignore
  packages/zent/package.json
  packages/zent/plugins/postcss-plugin-version-attribute.js
  packages/zent/plugins/ts-plugin-constants.ts
  packages/zent/plugins/ts-plugin-version-attribute.ts
  packages/zent/scripts/build-theme.sh
  packages/zent/scripts/build-ts.sh
  packages/zent/src/colorpicker/helpers/checkboard.ts
  packages/zent/src/copy-button/CopyToClipboard.ts
  packages/zent/src/dialog/open.tsx
  packages/zent/src/global.d.ts
  packages/zent/src/notice/Container.tsx
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/util.ts
  packages/zent/src/preview-image/previewImage.tsx
  packages/zent/src/test.tsx
  packages/zent/src/utils/dom/createElement.ts
  packages/zent/src/utils/dom/getCaretCoordinates.ts
  packages/zent/src/utils/dom/index.ts
  packages/zent/src/utils/dom/measureScrollbar.ts
  packages/zent/src/utils/getScrollbarWidth.ts
  packages/zent/tsconfig.json
  packages/zent/tslint.json
  site/postcss.config.js
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Remove test file
  packages/zent/src/test.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix tests
  packages/zent/__tests__/alert.js
  packages/zent/__tests__/breadcrumb.js
  packages/zent/__tests__/progress.js
  packages/zent/__tests__/radio.js
  packages/zent/__tests__/tag.js
Due: yarn format, eslint

isolate @ rules
  packages/zent/assets/animation/_zoom.scss
  packages/zent/assets/button.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/icon.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/placeholder.scss
  packages/zent/assets/progress.scss
  packages/zent/assets/switch.scss
  packages/zent/assets/tree.scss
  packages/zent/package.json
  packages/zent/plugins/constants.js
  packages/zent/plugins/postcss-plugin-lint.js
  packages/zent/plugins/postcss-plugin-version-attribute.js
  packages/zent/scripts/build-theme.sh
  packages/zent/scripts/postcss-lint.sh
  site/postcss.config.js
  yarn.lock
Due: yarn format, eslint, sass-lint -vq

grid: 优化batch浮动处理，避免滚动时候卡顿
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Move raw color value check to postcss plugin
  packages/zent/assets/placeholder.scss
  packages/zent/package.json
  packages/zent/plugins/postcss-plugin-lint.js
  packages/zent/plugins/postcss-plugin-version-attribute.js
  packages/zent/scripts/build-theme.sh
  packages/zent/scripts/build-ts.sh
  packages/zent/scripts/check-style-colors.sh
  packages/zent/scripts/postcss-lint.sh
Due: yarn format, eslint, sass-lint -vq

update lint scripts
  .lintstagedrc
  package.json
  packages/zent/assets/tree.scss
  packages/zent/plugins/postcss-plugin-lint.js
  packages/zent/scripts/postcss-lint.sh
Due: yarn format, eslint, sass-lint -vq

remove lerna
  .circleci/config.yml
  lerna
  lerna.json
  package.json
  scripts/bootstrap.sh
  scripts/publish.sh
  yarn.lock
Due: none

grid: 更新batch demo
  packages/zent/src/grid/demos/batch.md
Due: none

remove lodash-es/assign
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Store.ts
  packages/zent/src/ime-composition/hooks.ts
  packages/zent/src/select/Select.tsx
  packages/zent/src/table/modules/Body.tsx
  packages/zent/src/text-mark/TextMark.tsx
  packages/zent/src/tree/utils/common.ts
  packages/zent/src/tree/utils/createStateByProps.ts
  packages/zent/src/tree/utils/getJudgeInfo.ts
  packages/zent/src/upload/utils/file-type/index.ts
  packages/zent/src/utils/getScrollbarWidth.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/noop
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/copy-button/toggleSelection.ts
  packages/zent/src/dialog/open.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Row.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/menu/Menu.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/select/Popup.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/trigger/TagsTrigger.tsx
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/identity
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/form/Field.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/utils/id.ts
  packages/zent/src/utils/identity.ts
  packages/zent/src/utils/index.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/isBoolean
  packages/zent/src/popover/Popover.tsx
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/isFunction
  packages/zent/src/error-boundary/ErrorBoundary.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Row.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/upload/components/UploadLocal.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/isNumber
  packages/zent/src/avatar/Avatar.tsx
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/input/Input.tsx
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/mention/utils.ts
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/select-menu/MenuList.tsx
  packages/zent/src/select-menu/MenuListItem.tsx
  packages/zent/src/select-menu/SelectMenu.tsx
  packages/zent/src/utils/getWidth.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/isString
  packages/zent/src/collapse/Collapse.tsx
  packages/zent/src/colorpicker/helpers/reactcss/flattenNames.ts
  packages/zent/src/datetimepicker/DateRangePicker.tsx
  packages/zent/src/datetimepicker/TimeRangePicker.tsx
  packages/zent/src/mention/utils.ts
  packages/zent/src/select-menu/MenuListItem.tsx
  packages/zent/src/select-menu/SelectMenu.tsx
  packages/zent/src/timeline/Timeline.tsx
  packages/zent/src/utils/getWidth.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/isNil
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/card/Card.tsx
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/table/modules/Foot.tsx
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/utils/isNil.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/isEmpty
  packages/zent/src/mention/SelectionChangeEventHub.ts
  packages/zent/src/mention/utils.ts
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/isDate
  packages/zent/src/datetimepicker/DateRangePicker.tsx
  packages/zent/src/datetimepicker/TimeRangePicker.tsx
  packages/zent/src/utils/isDate.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/isPlainObject
  packages/zent/src/colorpicker/helpers/reactcss/flattenNames.ts
  packages/zent/src/utils/isObject.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix]grid: 修复grid滚动模式下批量操作导致grid展示异常 (#1256)
  packages/zent/assets/grid.scss
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/batch.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq
