Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

feat: 分类修改
  packages/zent/assets/split-button.scss
  packages/zent/src/split-button/README_en-US.md
  packages/zent/src/split-button/README_zh-CN.md
  packages/zent/src/split-button/SplitButton.tsx
Due: yarn format, eslint, stylelint

feat: 验收修改
  packages/zent/src/radio/demos/multi-line.md
Due: none

feat: 验收修改
  packages/zent/assets/input.scss
  packages/zent/src/input/Password.tsx
  packages/zent/src/input/demos/password.md
Due: yarn format, eslint, stylelint

feat: select修改
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: 验收修改
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: 验收修改
  packages/zent/assets/date-picker.scss
Due: yarn format, stylelint

feat: steps 颜色调整
  packages/zent/assets/steps.scss
Due: yarn format, stylelint

feat: card demo 调整
  packages/zent/src/card/demos/with-title.md
Due: none

fix: 增加排序hover背景 & 阴影样式修复
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Header.tsx
Due: yarn format, eslint, stylelint

feat: 验收修改
  packages/zent/src/checkbox/demos/multi-line.md
Due: none

feat: steps 分类调整
  packages/zent/src/steps/README_en-US.md
  packages/zent/src/steps/README_zh-CN.md
Due: none

feat: tabs 分类调整
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
Due: none

fix: selectedRowKeys support number
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

feat: elevator 也是调整
  packages/zent/assets/elevator.scss
Due: yarn format, stylelint

feat: tree 结构调整
  packages/zent/assets/tree.scss
  packages/zent/src/tree/Tree.tsx
Due: yarn format, eslint, stylelint

feat: review修改
  packages/zent/__tests__/popover.spec.jsx
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/demos/4.multiple.md
  packages/zent/src/cascader/demos/6.scrollable.md
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/cascader/trigger/Tag.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/ja-JP.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/popover/placement/cascader-auto-bottom-left.ts
  packages/zent/src/popover/placement/index.ts
Due: yarn format, eslint, stylelint

feat: 单元测试覆盖率
  packages/zent/__tests__/cascader.spec.jsx
  packages/zent/__tests__/popover.spec.jsx
Due: yarn format, eslint

feat: 单元测试修改
  packages/zent/__tests__/popover.spec.jsx
Due: yarn format, eslint

fix: selectedRowKeys support number type (#1890)
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

feat: review修改
  packages/zent/src/dropdown-nav/index.ts
Due: yarn format, eslint

feat: review修改
  packages/zent/src/dropdown-nav/index.tsx
Due: yarn format, eslint

v9.12.4
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

feat: review修改
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint, stylelint

feat: tabs 固钉支持受控
  packages/zent/__tests__/tabs.spec.jsx
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/base/BaseTab.tsx
  packages/zent/src/tabs/components/tabs-nav/CardTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, eslint

feat: alert 进度使用Progress组件&对应单测补充
  packages/zent/__tests__/alert.spec.jsx
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
Due: yarn format, eslint, stylelint

feat: 验收修改
  packages/zent/assets/input.scss
  packages/zent/src/input/InputCore.tsx
Due: yarn format, eslint, stylelint

feat: elevator 支持受控模式
  packages/zent/src/elevator/Elevator.tsx
  packages/zent/src/elevator/README_en-US.md
  packages/zent/src/elevator/README_zh-CN.md
  packages/zent/src/elevator/demos/container-window.md
  packages/zent/src/elevator/demos/controlled.md
  packages/zent/src/elevator/demos/custom-offset.md
  packages/zent/src/utils/scroll.ts
Due: yarn format, eslint

feat: tree 单测完善
  packages/zent/__tests__/tree.spec.jsx
Due: yarn format, eslint

feat: 修改单元测试
  packages/zent/__tests__/input.spec.jsx
Due: yarn format, eslint

feat: alert 单测完善
  packages/zent/__tests__/alert.spec.jsx
Due: yarn format, eslint

feat: card 单测补充
  packages/zent/__tests__/card.spec.jsx
Due: yarn format, eslint

feat: swiper 单测
  packages/zent/__tests__/swiper.spec.jsx
Due: yarn format, eslint

docs: tree 定义
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
Due: none

docs: dialog 定义
  packages/zent/src/dialog/README_zh-CN.md
Due: none

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
