Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

fix(grid): fix the key of cell in grid component to rerender correctly (#2068)
  packages/zent/src/grid/Row.tsx
Due: yarn format, eslint

fix: 修复tooltip的children类型定义报错
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, eslint

docs: release 9.12.18
  packages/zent/RELEASE_zh-CN.md
Due: none

docs: release 10.0.14
  packages/zent/RELEASE_zh-CN.md
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

fix: 修复DateRangeQuickPicker的min和max对时间不生效问题
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/hooks/useNormalizeDisabledTime.ts
  packages/zent/src/date-picker/utils/unifiedDisabledTimeFromProps.ts
Due: yarn format, eslint

feat: 补充单测
  packages/zent/__tests__/date-range-quick-picker.spec.jsx
Due: yarn format, eslint

fix(date-range-quick-picker): support the time disabled of props (min, max) (#2070)
  packages/zent/__tests__/date-range-quick-picker.spec.jsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/hooks/useNormalizeDisabledTime.ts
  packages/zent/src/date-picker/utils/unifiedDisabledTimeFromProps.ts
Due: yarn format, eslint

fix(Grid): fix hover color in grid row
  packages/zent/assets/grid.scss
Due: yarn format, stylelint

fix(date-picker): change lunar npm package
  packages/zent/package.json
  packages/zent/src/date-picker/demos/lunar.md
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
  yarn.lock
Due: yarn format, eslint

fix(Cascader): 兼容不存在option导致的组件报错
  packages/zent/src/cascader/components/MenuContent.tsx
Due: yarn format, eslint

fix(date-picker): change lunar npm package (#2073)
  packages/zent/package.json
  packages/zent/src/date-picker/demos/lunar.md
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
  yarn.lock
Due: yarn format, eslint

fix(Cascader): 兼容不存在option导致的组件报错 (#2074)
  packages/zent/src/cascader/components/MenuContent.tsx
Due: yarn format, eslint

fix(Grid): fix hover color in grid row (#2071)
  packages/zent/assets/grid.scss
Due: yarn format, stylelint

docs: release 10.0.15
  packages/zent/RELEASE_zh-CN.md
Due: none

Revert "fix(date-range-quick-picker): support the time disabled of props (min…"
  packages/zent/__tests__/date-range-quick-picker.spec.jsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/hooks/useNormalizeDisabledTime.ts
  packages/zent/src/date-picker/utils/unifiedDisabledTimeFromProps.ts
Due: yarn format, eslint

Revert "fix(date-range-quick-picker): support the time disabled of props (min…" (#2075)
  packages/zent/__tests__/date-range-quick-picker.spec.jsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/hooks/useNormalizeDisabledTime.ts
  packages/zent/src/date-picker/utils/unifiedDisabledTimeFromProps.ts
Due: yarn format, eslint

feat: update icons
  packages/zent/package.json
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: none

feat: update icons (#2076)
  packages/zent/package.json
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: none

Revert "feat: Grid的左侧多选框支持indeterminate属性 (#2060)"
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

feat: Grid的左侧多选框支持indeterminate属性 (#2060) (#2077)
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

docs: release 10.0.17
  packages/zent/package.json
Due: none

docs: release 10.0.17
  packages/zent/RELEASE_zh-CN.md
Due: none
