Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

add default export to Disabled
  packages/zent/src/disabled/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

test module has default export
  packages/zent/scripts/cruiser/analyzer.ts
  packages/zent/scripts/cruiser/registry.ts
Due: yarn format, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json

test module has default export (#1327)
  packages/zent/scripts/cruiser/analyzer.ts
  packages/zent/scripts/cruiser/registry.ts
Due: yarn format, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json

add reveal demo
  packages/zent/src/waypoint/demos/01-basic.md
  packages/zent/src/waypoint/demos/02-reveal.md
Due: none

feat: Cascader pass raw option when onChange emitted
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

test: add test suite for Cascader
  packages/zent/__tests__/cascader.js
Due: yarn format, eslint

chore: sync to master
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

rewrite Affix using Waypoint
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/affix/README_en-US.md
  packages/zent/src/affix/README_zh-CN.md
  packages/zent/src/affix/demos/both.md
  packages/zent/src/affix/demos/callback.md
  packages/zent/src/affix/demos/offset-bottom.md
  packages/zent/src/utils/hooks/useCallbackRef.ts
  packages/zent/src/waypoint/Waypoint.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove affix test
  packages/zent/__tests__/affix.js
  packages/zent/jest.config.json
Due: yarn format, eslint

chore: add default generic type for Cascader
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[new feature] Cascader: onChange接收原始的option数组作为参数 (#1328)
  packages/zent/__tests__/cascader.js
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] Form: 泛型参数使用字面量空对象作为约束 (#1307)
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

rewrite InfiniteLoading with Waypoint
  packages/zent/__tests__/infinite-scroller.js
  packages/zent/jest.config.json
  packages/zent/src/infinite-scroller/InfiniteScroller.tsx
  packages/zent/src/infinite-scroller/README_en-US.md
  packages/zent/src/infinite-scroller/README_zh-CN.md
  packages/zent/src/infinite-scroller/demos/basic.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fire onLeave on mount in Waypoint
  packages/zent/assets/index.scss
  packages/zent/assets/waypoint.scss
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/affix/README_en-US.md
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/src/waypoint/position.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Waypoint (#1324)
  packages/zent/__tests__/affix.js
  packages/zent/__tests__/infinite-scroller.js
  packages/zent/jest.config.json
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/affix/README_en-US.md
  packages/zent/src/affix/README_zh-CN.md
  packages/zent/src/affix/demos/both.md
  packages/zent/src/affix/demos/callback.md
  packages/zent/src/affix/demos/offset-bottom.md
  packages/zent/src/index.ts
  packages/zent/src/infinite-scroller/InfiniteScroller.tsx
  packages/zent/src/infinite-scroller/README_en-US.md
  packages/zent/src/infinite-scroller/README_zh-CN.md
  packages/zent/src/infinite-scroller/demos/basic.md
  packages/zent/src/utils/hooks/useCallbackRef.ts
  packages/zent/src/utils/isDOMElement.ts
  packages/zent/src/utils/isEqual.ts
  packages/zent/src/waypoint/LICENSE
  packages/zent/src/waypoint/README_en-US.md
  packages/zent/src/waypoint/README_zh-CN.md
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/src/waypoint/demos/01-basic.md
  packages/zent/src/waypoint/demos/02-reveal.md
  packages/zent/src/waypoint/index.ts
  packages/zent/src/waypoint/offset.ts
  packages/zent/src/waypoint/position.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

wrap text in span in Button
  packages/zent/src/button/Directive.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

grid: 优化grid表头吸顶
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/demos/autoStick.md
  packages/zent/src/grid/demos/selection.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 星星icon替换，避免icon边距影响相对百分比显示
  packages/zent/assets/rate.scss
  packages/zent/src/rate/Rate.tsx
  packages/zent/src/rate/star-icon.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

grid: 更新表头吸顶示例
  packages/zent/src/grid/demos/autoStick.md
Due: none

fix: Form组件的layout属性改为可选属性
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

save
  packages/zent/assets/dropdown.scss
  packages/zent/assets/index.scss
  packages/zent/src/dropdown/DropdownButton.tsx
  packages/zent/src/dropdown/demos/04-button.md
  packages/zent/src/dropdown/index.ts
  packages/zent/src/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix pagination default color and font size
  packages/zent/assets/pagination.scss
  packages/zent/src/pagination/demos/02-dynamic-page-size.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

add Dropdown
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/dropdown/Dropdown.tsx
  packages/zent/src/dropdown/DropdownButton.tsx
  packages/zent/src/dropdown/DropdownContext.ts
  packages/zent/src/dropdown/README_en-US.md
  packages/zent/src/dropdown/README_zh-CN.md
  packages/zent/src/dropdown/demos/01-click.md
  packages/zent/src/dropdown/demos/02-hover.md
  packages/zent/src/dropdown/demos/03-close.md
  packages/zent/src/dropdown/demos/04-button.md
  packages/zent/src/dropdown/demos/click.md
  packages/zent/src/dropdown/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] Form: layout属性改为可选 (#1331)
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix pagination default color and font size (#1332)
  packages/zent/assets/pagination.scss
  packages/zent/src/pagination/demos/02-dynamic-page-size.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix crash if no children is passed to button
  packages/zent/src/button/Directive.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Dropdown (#1333)
  packages/zent/assets/dropdown.scss
  packages/zent/assets/index.scss
  packages/zent/src/button/Directive.tsx
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/dropdown/Dropdown.tsx
  packages/zent/src/dropdown/DropdownButton.tsx
  packages/zent/src/dropdown/DropdownContext.ts
  packages/zent/src/dropdown/README_en-US.md
  packages/zent/src/dropdown/README_zh-CN.md
  packages/zent/src/dropdown/demos/01-click.md
  packages/zent/src/dropdown/demos/02-hover.md
  packages/zent/src/dropdown/demos/03-close.md
  packages/zent/src/dropdown/demos/click.md
  packages/zent/src/dropdown/index.ts
  packages/zent/src/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 星星icon替换，避免icon边距影响相对百分比显示 (#1329)
  packages/zent/assets/rate.scss
  packages/zent/src/rate/Rate.tsx
  packages/zent/src/rate/star-icon.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

lint: ingore unused args starts with _
  packages/zent/eslintrc.base.js
Due: yarn format, eslint

fix lint errors
  package.json
  packages/zent/src/avatar/Avatar.tsx
  packages/zent/src/copy-button/CopyToClipboard.ts
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/MonthPicker.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/YearPicker.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/table/Table.tsx
  packages/zent/src/tabs/components/TabDivide.tsx
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/utils/component/WindowResizeHandler.tsx
  packages/zent/src/utils/shallowEqual.ts
  packages/zent/src/utils/warning.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

support default preset in quick-date-range-picker
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/date-range-quick-picker/constants.ts
  packages/zent/src/date-range-quick-picker/demos/basic.md
  packages/zent/src/date-range-quick-picker/demos/preset.md
  packages/zent/src/date-range-quick-picker/helper.ts
  packages/zent/src/date-range-quick-picker/index.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

check type
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove prefix and fix types
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix tests
  packages/zent/__tests__/date-range-quick-picker.js
Due: yarn format, eslint

add tests
  packages/zent/__tests__/date-range-quick-picker.js
  packages/zent/jest.config.json
  packages/zent/tsconfig.test.json
Due: yarn format, eslint

support default preset in quick-date-range-picker (#1334)
  packages/zent/__tests__/date-range-quick-picker.js
  packages/zent/jest.config.json
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/date-range-quick-picker/constants.ts
  packages/zent/src/date-range-quick-picker/demos/basic.md
  packages/zent/src/date-range-quick-picker/demos/preset.md
  packages/zent/src/date-range-quick-picker/helper.ts
  packages/zent/src/date-range-quick-picker/index.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/tsconfig.test.json
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

grid: 优化ref绑定
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

grid: 默认值修改为undefined
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json
