Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[bug fix] Form: 修复value$的bug (#1585)
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

v9.0.0-beta21
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

Cleanup react-jsx config
  packages/zent/src/checkbox/Checkbox.tsx
  site/tsconfig-prod.json
Due: yarn format, eslint

Cleanup react-jsx config (#1586)
  packages/zent/src/checkbox/Checkbox.tsx
  site/tsconfig-prod.json
Due: yarn format, eslint

fix unicode support
  packages/zent/src/clamp-lines/ClampLines.tsx
Due: yarn format, eslint

fix emoji support
  packages/zent/package.json
  packages/zent/scripts/build-ts.sh
  packages/zent/scripts/generate-unicode-regexp.js
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/clamp-lines/demos/emoji.md
  packages/zent/src/utils/dom/getLineHeight.ts
  packages/zent/src/utils/unicode/isCJK.ts
  packages/zent/src/utils/unicode/isEmoji.ts
Due: yarn format, eslint

修复二分算法；新增一个确保正确性的算法；修复 Safari 下长英文样式问题；兼容 FF 下 ResizeObserver 不符合标准的回调参数
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/clamp-lines/README_en-US.md
  packages/zent/src/clamp-lines/README_zh-CN.md
  packages/zent/src/clamp-lines/demos/hide-pop.md
  packages/zent/src/clamp-lines/demos/multi-lines.md
  packages/zent/src/select/Option.tsx
Due: yarn format, eslint

fix test coverage
  packages/zent/__tests__/clamp-lines.js
Due: yarn format, eslint

remove unicode regexp generation from build script
  packages/zent/scripts/build-ts.sh
Due: none

fix: RangePicker的disabledTime参数取值修改，补充完整时间校验的demo
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/hooks/useRangeDisabledTime.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
Due: yarn format, eslint

fix: 修复range端点可视范围样式
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

fix: export IDisabledTime
  packages/zent/src/date-picker/index.ts
Due: yarn format, eslint

fix typo in comments
  packages/zent/scripts/generate-unicode-regexp.js
  packages/zent/src/clamp-lines/ClampLines.tsx
Due: yarn format, eslint

lots of ClampLines bug fixes (#1588)
  packages/zent/__tests__/clamp-lines.js
  packages/zent/package.json
  packages/zent/scripts/generate-unicode-regexp.js
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/clamp-lines/README_en-US.md
  packages/zent/src/clamp-lines/README_zh-CN.md
  packages/zent/src/clamp-lines/demos/emoji.md
  packages/zent/src/clamp-lines/demos/hide-pop.md
  packages/zent/src/clamp-lines/demos/multi-lines.md
  packages/zent/src/select/Option.tsx
  packages/zent/src/utils/dom/getLineHeight.ts
  packages/zent/src/utils/unicode/isCJK.ts
  packages/zent/src/utils/unicode/isEmoji.ts
Due: yarn format, eslint

fix: 增加、 工具函数
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/disabledTimeFns.ts
Due: yarn format, eslint

fix: 内部属性名更改（不影响外部使用）
  packages/zent/src/date-picker/components/CombinedTimePicker.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/hooks/useConfirmStatus.ts
  packages/zent/src/date-picker/hooks/useRangeDisabledTime.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/combined-time-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeBody.tsx
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

feat: 使用文档增加函数说明
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
Due: none

bugfix: #1590
  packages/zent/assets/cascader.scss
  packages/zent/assets/select.scss
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

bugfix: #1590 (#1591)
  packages/zent/assets/cascader.scss
  packages/zent/assets/select.scss
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

add comments in nextFrame
  packages/zent/src/utils/nextFrame.ts
Due: yarn format, eslint

feat: 增加 方法
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/disabledTimeFns.ts
Due: yarn format, eslint

fix: DatePicker、WeekPicker类型定义增加
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/WeekPicker.tsx
Due: yarn format, eslint

Auto adjust Dialog height/width and content will be scrollable if it overflows
  packages/zent/assets/dialog.scss
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/dialog/demos/content-only.md
  packages/zent/src/dialog/demos/context.md
  packages/zent/src/dialog/demos/no-header.md
  packages/zent/src/dialog/demos/open.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: DatePicker 暗文本提示色值更改
  packages/zent/assets/date-picker.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

feat: Grid支持配置loading节点
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: yarn format, eslint

Update Dialog style (#1592)
  packages/zent/assets/dialog.scss
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/dialog/demos/content-only.md
  packages/zent/src/dialog/demos/context.md
  packages/zent/src/dialog/demos/no-header.md
  packages/zent/src/dialog/demos/open.md
  packages/zent/src/utils/nextFrame.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Update steps styles; prefix css class name with zent-steps
  packages/zent/assets/steps.scss
  packages/zent/src/steps/components/BreadcrumbSteps.tsx
  packages/zent/src/steps/components/Step.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

bugifx: 修复overflow类型的操作不正常显示问题，调整内部节点的计算逻辑
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
Due: yarn format, eslint

remove useless mixins
  packages/zent/assets/steps.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix tests
  packages/zent/__tests__/steps.js
Due: yarn format, eslint

Update steps styles (#1593)
  packages/zent/__tests__/steps.js
  packages/zent/assets/steps.scss
  packages/zent/src/steps/components/BreadcrumbSteps.tsx
  packages/zent/src/steps/components/Step.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat: Select增加disableSearch属性 禁用搜索
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: add GridProvider and isValueEmpty
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Context.ts
  packages/zent/src/grid/Provider.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/index.ts
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

update Select style
  packages/zent/assets/select.scss
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

update Select and Cascader style
  packages/zent/assets/cascader.scss
  packages/zent/assets/select.scss
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

update input style
  packages/zent/assets/input.scss
  packages/zent/src/input/demos/basic.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

update input style (#1599)
  packages/zent/assets/input.scss
  packages/zent/src/input/demos/basic.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Update Select cascader style (#1598)
  packages/zent/assets/cascader.scss
  packages/zent/assets/select.scss
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

style: set default color as stroke-1
  packages/zent/assets/base/normalize.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/checkbox.scss
  packages/zent/assets/date-picker.scss
  packages/zent/assets/form.scss
  packages/zent/assets/radio.scss
  packages/zent/assets/select.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/swiper.scss
  packages/zent/assets/timeline.scss
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
