Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

v8.5.0-3
  packages/zent/package.json
Due: none

fix page jump for values out of range
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
Due: yarn format, eslint

Update package.json
  packages/zent/package.json
Due: none

Fix Pagination jump edge case (#1389)
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
Due: yarn format, eslint

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.5.0
  packages/zent/package.json
Due: none

[bug fix] NumberInput: onChange时调用setState避免被上层函数组件bailout
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint

[bug fix] NumberInput: onChange时调用setState避免被上层函数组件bailout (#1390)
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint

v7.4.4
  packages/zent/package.json
Due: none

Update RELEASE(v7.4.4)
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

feat: 补齐 select 加载状态、api文档、单测
  packages/zent/__tests__/text-mark.js
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/10.creatable.md
  packages/zent/src/select/demos/2.controlled.md
  packages/zent/src/select/demos/4.multiple.md
  packages/zent/src/select/demos/6.custom-search.md
  packages/zent/src/select/demos/8.scrollable.md
  packages/zent/src/select/demos/9.custom-display.md
  packages/zent/src/text-mark/TextMark.tsx
  packages/zent/src/text-mark/index.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 添加 rollup 的 umd 打包配置
  packages/zent/.gitignore
  packages/zent/package.json
  packages/zent/rollup.config.js
  packages/zent/tsconfig.json
  yarn.lock
Due: yarn format, eslint

fix: select 支持元素创建
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/8.scrollable.md
  packages/zent/src/select/demos/9.custom-display.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[new feature] Tooltip: 透传popover组件的display属性
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, eslint

[bug fix] Dialog: prefix, style改为可选属性
  packages/zent/src/dialog/Dialog.tsx
Due: yarn format, eslint

[bug fix] Dialog: prefix, style改为可选属性 (#1392)
  packages/zent/src/dialog/Dialog.tsx
Due: yarn format, eslint

[new feature] Tooltip: 透传popover组件的display属性 (#1393)
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, eslint

feat: upgrade formulr
  packages/zent/package.json
  yarn.lock
Due: none

feat: upgrade formulr (#1394)
  packages/zent/package.json
  yarn.lock
Due: none

fix: change build script
  packages/zent/assets/upload.scss
  packages/zent/package.json
  packages/zent/rollup.config.js
  packages/zent/scripts/build-umd.sh
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 组件适配沙箱环境
  packages/zent/src/global.d.ts
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/util.ts
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/sortable/sortablejs.ts
  packages/zent/src/utils/alcatraz/index.ts
  packages/zent/src/utils/component/event-handler/index.ts
  packages/zent/src/utils/dom/createElement.ts
  packages/zent/src/utils/dom/findPositionedParent.ts
  packages/zent/src/utils/dom/getCaretCoordinates.ts
  packages/zent/src/utils/dom/getComputedStyle.ts
  packages/zent/src/utils/dom/getLineHeight.ts
  packages/zent/src/utils/dom/isSameNode.ts
  packages/zent/src/waypoint/Waypoint.tsx
Due: yarn format, eslint

add new icon: drag
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

add new icon: drag (#1397)
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

fix: use webpack replace rollup build
  packages/zent/package.json
  packages/zent/rollup.config.js
  packages/zent/scripts/build-umd.sh
  packages/zent/src/index.umd.ts
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/util.ts
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/sortable/sortablejs.ts
  packages/zent/src/utils/component/AnimateHeight.tsx
  packages/zent/webpack.umd.config.js
  yarn.lock
Due: yarn format, eslint

docs: Form文档补充
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/16.validate-option.md
Due: none

docs: Form文档补充 (#1398)
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/16.validate-option.md
Due: none

[bug fix] NumberInput: 类型修复
  packages/zent/src/form/form-components/NumberInputField.tsx
  packages/zent/src/input/types.ts
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint

[bug fix] NumberInput: 类型修复 (#1399)
  packages/zent/src/form/form-components/NumberInputField.tsx
  packages/zent/src/input/types.ts
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint

fix: 添加代理原生事件和原生 DOM 的代理方法，使用 contains 工具方法代替 node.contains 方法
  packages/zent/src/global.d.ts
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/util.ts
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/utils/alcatraz/index.ts
  packages/zent/src/utils/component/event-handler/index.ts
  packages/zent/src/utils/dom/contains.ts
  packages/zent/src/utils/dom/getComputedStyle.ts
  packages/zent/src/utils/dom/isSameNode.ts
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/webpack.umd.config.js
Due: yarn format, eslint

Update formulr to 0.3.3
  packages/zent/package.json
  yarn.lock
Due: none

v8.5.1
  packages/zent/package.json
Due: none

Update packages
  packages/zent/src/sortable/Sortable.tsx
  yarn.lock
Due: yarn format, eslint

Update formulr to 0.3.3 (#1400)
  packages/zent/package.json
  yarn.lock
Due: none

Update packages (#1401)
  packages/zent/src/sortable/Sortable.tsx
  yarn.lock
Due: yarn format, eslint
