Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

Publish
  packages/zent/package.json
Due: none

fix(tabs): 类型补齐
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/Nav.tsx
  packages/zent/src/tabs/components/Tab.tsx
  packages/zent/src/tabs/components/TabPanel.tsx
  packages/zent/src/tabs/components/navUtil.ts
  packages/zent/src/tabs/demos/add-and-del.md
  packages/zent/src/tabs/demos/basic.md
  packages/zent/src/tabs/demos/card.md
  packages/zent/src/tabs/demos/nav-extra-content.md
  packages/zent/src/tabs/demos/no-tab-panel.md
  packages/zent/src/tabs/demos/slider.md
  packages/zent/src/tabs/index.ts
  packages/zent/src/tabs/index.tsx
  packages/zent/src/tabs/tabUtil.ts
  packages/zent/src/tabs/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 去除upload popup的getDerivedStateFromProps
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 去除upload popup的getDerivedStateFromProps (#1131)
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix cascader/form styles
  packages/zent/assets/cascader.scss
  packages/zent/assets/form.scss
Due: yarn format, sass-lint -vq

remove useless deps
  packages/zent/package.json
Due: none

[styles] cascader, form (#1132)
  packages/zent/assets/cascader.scss
  packages/zent/assets/form.scss
  packages/zent/package.json
Due: yarn format, sass-lint -vq

fix: grid 组件的 paginationType 添加 mini 类型支持
  packages/zent/assets/pagination.scss
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/types.ts
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix(table): 添加 paginationType 的 mini 支持
  packages/zent/src/table/README_en-US.md
  packages/zent/src/table/README_zh-CN.md
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/modules/Foot.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: tabs 边框颜色更新
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/components/Nav.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

number-input interger mode
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/demos/1.basic.md
  packages/zent/src/number-input/demos/2.decimal-point.md
  packages/zent/src/number-input/demos/3.range.md
  packages/zent/src/number-input/demos/4.disable.md
  packages/zent/src/number-input/demos/5.event-handler.md
  packages/zent/src/number-input/demos/6.integer.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

improve number input types
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

number input unit tests
  packages/zent/__tests__/number-input.js
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

refactor: Alert base mode refactor
  packages/zent/RELEASE_NEXT.md
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/demos/basic.md
  packages/zent/src/alert/demos/callback.md
  packages/zent/src/alert/demos/close.md
  packages/zent/src/alert/demos/content.md
  packages/zent/src/alert/demos/extra.md
  packages/zent/src/alert/demos/loading.md
  packages/zent/src/alert/demos/round.md
  packages/zent/src/alert/demos/sizes.md
  packages/zent/src/alert/demos/styles.md
  packages/zent/src/alert/types.ts
  site/src/_constants.scss
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

feat: 添加 title 和 description 两个 props 用于简化内容
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/demos/basic.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

feat(Alert): 添加 outline 样式模式
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/demos/loading.md
  packages/zent/src/alert/demos/outline.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

feat(Alert): 添加 Alert 高亮 className 属性
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/demos/close.md
  packages/zent/src/alert/demos/extra.md
  packages/zent/src/alert/demos/highlight.md
  packages/zent/src/alert/demos/outline.md
  packages/zent/src/alert/index.ts
  packages/zent/src/alert/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

doc(Alert): update readme
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
Due: none

fix(alert): remove rounded prop
  packages/zent/RELEASE_NEXT.md
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix(alert): update Alert tests
  packages/zent/__tests__/alert.js
  packages/zent/package.json
  yarn.lock
Due: yarn format, eslint

fix number-input onChange strategy
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

seperate Object.is and polyfill
  packages/zent/src/checkbox/Group.tsx
  packages/zent/src/radio/Group.tsx
  packages/zent/src/utils/is.ts
  packages/zent/src/utils/memorize-one.ts
  packages/zent/src/utils/shallowEqual.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

prevent input 'inline' passed to dom
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/TextArea.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor(tabs): 重构tabs，完成三类水平模式
  packages/zent/assets/tabs.scss
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/Nav.tsx
  packages/zent/src/tabs/components/TabPanel.tsx
  packages/zent/src/tabs/components/button/TabsNav.tsx
  packages/zent/src/tabs/components/card/Tab.tsx
  packages/zent/src/tabs/components/card/TabsNav.tsx
  packages/zent/src/tabs/components/normal/Tab.tsx
  packages/zent/src/tabs/components/normal/TabsNav.tsx
  packages/zent/src/tabs/demos/basic.md
  packages/zent/src/tabs/demos/card.md
  packages/zent/src/tabs/demos/nav-extra-content.md
  packages/zent/src/tabs/demos/no-tab-panel.md
  packages/zent/src/tabs/demos/slider.md
  packages/zent/src/tabs/demos/types.md
  packages/zent/src/tabs/impl/BaseTabsNav.tsx
  packages/zent/src/tabs/tabUtil.ts
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

refactor radio
  packages/zent/src/radio/AbstractRadio.tsx
  packages/zent/src/radio/Group.tsx
  packages/zent/src/radio/GroupContext.tsx
  packages/zent/src/radio/Radio.tsx
  packages/zent/src/radio/RadioButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix radio group context
  packages/zent/src/radio/AbstractRadio.tsx
  packages/zent/src/radio/GroupContext.tsx
  packages/zent/src/radio/RadioButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix radio tests
  packages/zent/__tests__/radio.js
Due: yarn format, eslint

fix form control group style
  packages/zent/assets/form.scss
Due: yarn format, sass-lint -vq

prevent input 'inline' passed to dom (#1139)
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/TextArea.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[style] form control group (#1141)
  packages/zent/assets/form.scss
Due: yarn format, sass-lint -vq

rename context shortcut cx -> ctx
  packages/zent/src/radio/AbstractRadio.tsx
  packages/zent/src/radio/Group.tsx
  packages/zent/src/radio/Radio.tsx
  packages/zent/src/radio/RadioButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[refactor] radio (#1140)
  packages/zent/__tests__/radio.js
  packages/zent/src/radio/AbstractRadio.tsx
  packages/zent/src/radio/Group.tsx
  packages/zent/src/radio/GroupContext.tsx
  packages/zent/src/radio/Radio.tsx
  packages/zent/src/radio/RadioButton.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

update docs
  packages/zent/RELEASE_NEXT.md
Due: none

update docs (#1143)
  packages/zent/RELEASE_NEXT.md
Due: none

fix radio types
  packages/zent/src/radio/Radio.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix bugs
  packages/zent/src/radio/Radio.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[radio] workaround for a typescript bug (#1144)
  packages/zent/src/radio/Radio.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json
