Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

split button support disabled
  packages/zent/src/split-button/SplitButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

input support disabled
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/input/Input.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

number input support disabled
  packages/zent/assets/input.scss
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

radio support disable
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/demos/directive.md
  packages/zent/src/radio/AbstractRadio.ts
  packages/zent/src/radio/AbstractRadio.tsx
  packages/zent/src/radio/Group.tsx
  packages/zent/src/radio/GroupContext.tsx
  packages/zent/src/radio/Radio.tsx
  packages/zent/src/radio/RadioButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: Grid 组件类型补完
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/ColGroup.tsx
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/Row.tsx
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
  packages/zent/src/grid/Store.ts
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: remove unused type
  packages/zent/src/grid/Body.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

rate support disable
  packages/zent/src/disabled/README_en-US.md
  packages/zent/src/disabled/README_zh-CN.md
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/rate/Rate.tsx
  packages/zent/src/rate/Star.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

update weapp url
  site/src/components/page-footer/index.js
Due: yarn format, eslint

select support disabled
  packages/zent/src/disabled/README_en-US.md
  packages/zent/src/disabled/README_zh-CN.md
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

disabled support for slider
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/slider/Slider.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

disabled support for auto complete
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/disabled/demos/1.basic.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

unit test for Disabled
  packages/zent/__tests__/disabled.js
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/radio/AbstractRadio.tsx
  packages/zent/src/radio/Group.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix missed out tests and demo
  packages/zent/__tests__/disabled.js
  packages/zent/assets/disabled.scss
  packages/zent/assets/index.scss
  packages/zent/src/collapse/Panel.tsx
  packages/zent/src/disabled/demos/1.basic.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: 修复 input icon 部分没有白色背景的问题
  packages/zent/assets/input.scss
Due: yarn format, sass-lint -vq

update weapp url (#1116)
  site/src/components/page-footer/index.js
Due: yarn format, eslint

fix: alert info 背景和边框颜色修改
  packages/zent/assets/alert.scss
Due: yarn format, sass-lint -vq

fix tests
  packages/zent/__tests__/checkbox-group.js
  packages/zent/__tests__/radio.js
  packages/zent/src/checkbox/Checkbox.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

add some coverage ignore
  packages/zent/jest.config.json
Due: none

fix: 修改td,hd边距
  packages/zent/assets/grid.scss
Due: yarn format, sass-lint -vq

Add baidu tongji script
  site/src/index.html
Due: none

[bugfix] Input、Alert: 样式修改 (#1118)
  packages/zent/assets/alert.scss
  packages/zent/assets/input.scss
Due: yarn format, sass-lint -vq

Revert "[bugfix] Input、Alert: 样式修改 (#1118)"
  packages/zent/assets/alert.scss
  packages/zent/assets/input.scss
Due: yarn format, sass-lint -vq

Revert "[bugfix] Input、Alert: 样式修改 (#1118)" (#1121)
  packages/zent/assets/alert.scss
  packages/zent/assets/input.scss
Due: yarn format, sass-lint -vq

Fix input color
  packages/zent/assets/input.scss
Due: yarn format, sass-lint -vq

Always show sort icons
  packages/zent/assets/table.scss
Due: yarn format, sass-lint -vq

Fix style
  packages/zent/assets/table.scss
Due: yarn format, sass-lint -vq

[Table] Always show sort icons (#1122)
  packages/zent/assets/table.scss
Due: yarn format, sass-lint -vq

[bug fix] Grid: 组件类型补完 (#1115)
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/ColGroup.tsx
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/Row.tsx
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
  packages/zent/src/grid/Store.ts
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: firstSortType改为defaultSortType
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: table 排序规则与grid同步
  packages/zent/assets/table.scss
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/table/README_en-US.md
  packages/zent/src/table/README_zh-CN.md
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/modules/Head.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Upgrade deps
  packages/babel-plugin-zent/README_zh-CN.md
  packages/zent/assets/icon.scss
  packages/zent/package.json
  packages/zent/scripts/build.sh
  packages/zent/scripts/compile-style.js
  packages/zent/src/datetimepicker/constants/index.ts
  packages/zent/src/dialog/open.tsx
  packages/zent/src/form/FieldArray.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/src/form/form-components/RadioGroupField.tsx
  packages/zent/src/popover/index.ts
  packages/zent/src/preview-image/previewImage.tsx
  site/.gitignore
  site/babel.config.js
  site/package.json
  site/src/index.js
  site/webpack/happypack-thread-pool.js
  site/webpack/loader.config.js
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Remove unused code
  packages/zent/scripts/build.sh
  packages/zent/scripts/compile-style.js
Due: yarn format, eslint

Prettify
  packages/zent/src/colorpicker/common/Alpha.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/tabs/components/Tab.tsx
  packages/zent/src/utils/memorize-one.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix tslint error
  packages/zent/src/cascader/components/TabsContent.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add thread-loader for loading markdown files
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

Increase thread-loader worker count
  site/webpack/webpack.config.js
Due: yarn format, eslint

[new feature] Grid: 扩大表格排序热区,添加firstSortType参数控制第一次点击时排序规则 (#1113)
  packages/zent/assets/grid.scss
  packages/zent/assets/table.scss
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/table/README_en-US.md
  packages/zent/src/table/README_zh-CN.md
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/modules/Head.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Upgrade deps (#1123)
  packages/babel-plugin-zent/README_zh-CN.md
  packages/zent/assets/icon.scss
  packages/zent/package.json
  packages/zent/scripts/build.sh
  packages/zent/scripts/compile-style.js
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/colorpicker/common/Alpha.tsx
  packages/zent/src/datetimepicker/constants/index.ts
  packages/zent/src/dialog/open.tsx
  packages/zent/src/form/FieldArray.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/src/form/form-components/RadioGroupField.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/popover/index.ts
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/preview-image/previewImage.tsx
  packages/zent/src/tabs/components/Tab.tsx
  packages/zent/src/utils/memorize-one.ts
  site/.gitignore
  site/babel.config.js
  site/package.json
  site/src/index.js
  site/webpack/happypack-thread-pool.js
  site/webpack/loader.config.js
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq
