Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

fix types
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/copy-button/index.tsx
  packages/zent/src/error-boundary/Fallback.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix pop positions
  packages/zent/assets/pop.scss
  packages/zent/package.json
  packages/zent/src/pop/Action.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/index.ts
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/PopoverContext.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix types
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/colorpicker/PopoverClickTrigger.ts
  packages/zent/src/colorpicker/index.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/pop/Action.tsx
  packages/zent/src/pop/NoneTrigger.ts
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/FocusTrigger.ts
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/split-button/SplitButton.tsx
  packages/zent/src/timeline/Item.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix pop
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix popover hover trigger
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix popover
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/tsconfig.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

disable arrow button if there's no data'
  packages/zent/src/pagination/demos/empty.md
  packages/zent/src/pagination/layout/lite.ts
  packages/zent/src/pagination/layout/mini.ts
  packages/zent/src/pagination/layout/normal.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

upgrade to typescript 3.4
  packages/zent/package.json
  packages/zent/src/copy-button/index.tsx
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix dialog patch scroll
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor patch process to seperate functions
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix tests
  packages/zent/src/slider/Points.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix adjust position
  packages/zent/src/popover/Content.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

select barebone
  packages/zent/assets/select.scss
  packages/zent/src/select/Empty.tsx
  packages/zent/src/select/Group.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Popup.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Trigger.tsx
  packages/zent/src/select/context.ts
  packages/zent/src/select/trigger/BaseTrigger.tsx
  packages/zent/src/select/trigger/InputTrigger.tsx
  packages/zent/src/select/trigger/SimpleTrigger.tsx
  packages/zent/src/select/trigger/TagsTrigger.tsx
  packages/zent/src/select/trigger/index.tsx
  packages/zent/src/select/type.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

refactor select
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/select.scss
  packages/zent/package.json
  packages/zent/src/select/Empty.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Trigger.tsx
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/2.controlled.md
  packages/zent/src/select/demos/3.tag.md
  packages/zent/src/select/demos/4.filter.md
  packages/zent/src/select/demos/5.disable.md
  packages/zent/src/select/demos/6.auto-width.md
  packages/zent/src/select/demos/7.empty.md
  packages/zent/src/select/demos/array.md
  packages/zent/src/select/demos/async-filter.md
  packages/zent/src/select/demos/auto-width.md
  packages/zent/src/select/demos/callback.md
  packages/zent/src/select/demos/controlled.md
  packages/zent/src/select/demos/custom-text.md
  packages/zent/src/select/demos/custom.md
  packages/zent/src/select/demos/disable.md
  packages/zent/src/select/demos/dynamic.md
  packages/zent/src/select/demos/empty-text.md
  packages/zent/src/select/demos/filter.md
  packages/zent/src/select/demos/object-array.md
  packages/zent/src/select/demos/tag.md
  packages/zent/src/select/index.ts
  packages/zent/src/select/type.ts
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

implement single value
  packages/zent/assets/select.scss
  packages/zent/src/select/Empty.tsx
  packages/zent/src/select/Group.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Trigger.tsx
  packages/zent/src/select/components/Option.tsx
  packages/zent/src/select/components/Search.tsx
  packages/zent/src/select/components/Tag.tsx
  packages/zent/src/select/context.ts
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/6.auto-width.md
  packages/zent/src/select/demos/7.empty.md
  packages/zent/src/select/shared.ts
  packages/zent/src/select/symbol.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

auto align width
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Trigger.tsx
  packages/zent/src/select/demos/6.auto-width.md
  packages/zent/src/select/shared.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

implement tags select
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Trigger.tsx
  packages/zent/src/select/demos/3.tag.md
  packages/zent/src/select/shared.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix types
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/trigger/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove componentWillReceiveProps in Pagination
  .eslintignore
  packages/zent/src/pagination/MiniPagination.tsx
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  packages/zent/src/pagination/impl/AbstractPagination.tsx
  packages/zent/src/pagination/impl/BasePagination.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix number input increase/decrease
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix number input
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix error
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: checkProps(props)放入render
  packages/zent/src/slider/Slider.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix number input tests
  packages/zent/__tests__/number-input.js
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

NaN and Infinity is not valid for number input
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove redundent code
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

add onClick for CopyButton
  packages/zent/src/copy-button/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bugfix] NumberInput (#1084)
  packages/zent/__tests__/number-input.js
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

[bugfix] 连续开关dialog时body滚动问题 (#1082)
  packages/zent/package.json
  packages/zent/src/copy-button/index.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/slider/Points.tsx
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Publish
  packages/zent/package.json
Due: none

Update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

Extract constants from components
  packages/zent/src/placeholder/presets/TextBlock.tsx
  packages/zent/src/placeholder/shapes/TextRowDashed.tsx
  packages/zent/src/placeholder/shapes/consts.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix babel-plugin-zent for non default exports
  packages/babel-plugin-zent/__tests__/index.js
  packages/babel-plugin-zent/src/index.js
  packages/zent/scripts/cruiser/analyzer.ts
  packages/zent/scripts/cruiser/mapping.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json

Handle non default export in babel-plugin-zent (#1086)
  packages/babel-plugin-zent/__tests__/index.js
  packages/babel-plugin-zent/src/index.js
  packages/zent/scripts/cruiser/analyzer.ts
  packages/zent/scripts/cruiser/mapping.ts
  packages/zent/src/placeholder/presets/TextBlock.tsx
  packages/zent/src/placeholder/shapes/TextRowDashed.tsx
  packages/zent/src/placeholder/shapes/consts.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json

Pagination 优化 (#1083)
  .eslintignore
  packages/zent/src/pagination/MiniPagination.tsx
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  packages/zent/src/pagination/demos/empty.md
  packages/zent/src/pagination/impl/AbstractPagination.tsx
  packages/zent/src/pagination/impl/BasePagination.ts
  packages/zent/src/pagination/layout/lite.ts
  packages/zent/src/pagination/layout/mini.ts
  packages/zent/src/pagination/layout/normal.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor animation height (#1073)
  packages/zent/src/utils/component/AnimateHeight.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

add visible for tag
  packages/zent/src/tag/Tag.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: fix uploader width overflow when screen width is narrow
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq

update docs
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
  packages/zent/src/tag/demos/custom.md
  packages/zent/src/tag/demos/on-close.md
Due: none

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
