Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

fix portal
  packages/zent/src/portal/MountElement.ts
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix portal
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/util.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix lint
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix nested popover
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/demos/nested.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix portal (#1107)
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/demos/nested.md
  packages/zent/src/portal/MountElement.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/util.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

Ensure content is within viewport when onPositionReady is called
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/README_en-US.md
  packages/zent/src/popover/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Popover ready fix (#1108)
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/README_en-US.md
  packages/zent/src/popover/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Publish
  packages/zent/package.json
Due: none

Fix change log
  packages/zent/RELEASE_NEXT.md
Due: none

fix typo
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

Fix bug in form validation
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/src/form/createForm.js
Due: yarn format, eslint

修复 Form 最后一个 Field 设置 validateOnBlur 为 false 时表单校验结果没有更新的问题
  packages/zent/src/form/createForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix tests
  packages/babel-plugin-zent/__tests__/index.js
Due: yarn format, eslint

fix: 修复分页组件 double 属性的 warning
  packages/zent/src/pagination/components/button/ArrowButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix edge case for partal
  packages/zent/src/portal/MountElement.ts
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修复分页组件 double 属性的 warning (#1109)
  packages/zent/src/pagination/components/button/ArrowButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix edge case for partal (#1110)
  packages/zent/src/portal/MountElement.ts
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

优化文档
  packages/zent/RELEASE_NEXT.md
Due: none

fix date picker picker input color
  packages/zent/assets/datetimepicker.scss
Due: yarn format, sass-lint -vq

fix date picker picker input color (#1111)
  packages/zent/assets/datetimepicker.scss
Due: yarn format, sass-lint -vq

prevent number input from unnecessary change event
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

prevent number input from unnecessary change event (#1112)
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修改表格排序热区,添加firstSortType参数控制第一次点击时排序规则
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

prevent default for pageination enter keyboard
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

use number input for pagination
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

export IInputChangeEvent
  packages/zent/src/input/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix withPopoverType
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

add onInput for number input
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix pagination
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix pagination input triggers form submit (#1114)
  packages/zent/src/input/types.ts
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Publish
  packages/babel-plugin-zent/package.json
  packages/zent/package.json
Due: none

new component disabled
  packages/zent/assets/disabled.scss
  packages/zent/assets/index.scss
  packages/zent/src/button/Directive.tsx
  packages/zent/src/disabled/Disabled.tsx
  packages/zent/src/disabled/README_en-US.md
  packages/zent/src/disabled/README_zh-CN.md
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/disabled/demos/2.priority.md
  packages/zent/src/disabled/index.ts
  packages/zent/src/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix button directive types
  packages/zent/src/button/Directive.tsx
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/checkbox/Group.tsx
  packages/zent/src/checkbox/GroupContext.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

disabled support for checkbox
  packages/zent/src/checkbox/demos/checkbox-group.md
  packages/zent/src/disabled/Disabled.tsx
  packages/zent/src/disabled/demos/1.basic.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

collapse support disabled
  packages/zent/src/collapse/Panel.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

switch support disabled
  packages/zent/src/switch/Switch.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
