Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

fix(date-picker): SingleCalendarDatePanelPicker export props
  packages/zent/src/date-picker/index.ts
Due: yarn format, eslint

feature: export SingleCalendarDatePanelPicker from DatePicker
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/demos/calendar.md
  packages/zent/src/date-picker/demos/date-panel-picker.md
  packages/zent/src/date-picker/index.ts
Due: yarn format, eslint

fix(date-picker): fix CombinedPanelRangePicker onChange type
  packages/zent/src/date-picker/CombinedPanelRangePicker.tsx
Due: yarn format, eslint

fix: add CombinedPanelRangePicker test case
  packages/zent/__tests__/date-picker/CombinedPanelRangePicker.spec.jsx
  packages/zent/src/date-picker/demos/date-panel-picker.md
Due: yarn format, eslint

fix(date-picker): fix demo format props
  packages/zent/src/date-picker/demos/date-panel-picker.md
Due: none

feature: export CombinedPanelRangePicker from DatePicker
  packages/zent/src/date-picker/CombinedPanelRangePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/demos/date-panel-picker.md
  packages/zent/src/date-picker/index.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
Due: yarn format, eslint

feature(date-picker): datePicker export CombinedPanelRangePicker and SingleCalendarDatePanelPicker (#2021)
  packages/zent/__tests__/date-picker/CombinedPanelRangePicker.spec.jsx
  packages/zent/src/date-picker/CombinedPanelRangePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/demos/calendar.md
  packages/zent/src/date-picker/index.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
Due: yarn format, eslint

v10.0.9
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

feature(date-picker): 日期选择组件支持农历
  packages/zent/assets/date-picker.scss
  packages/zent/package.json
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/LunarDatePicker.tsx
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/demos/lunar.md
  packages/zent/src/date-picker/index.ts
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
  yarn.lock
Due: yarn format, eslint, stylelint

feature(date-picker): 日期选择组件支持农历-title月份优化
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

feature(date-picker): 日期选择组件支持农历-农历日期回填展示优化
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
Due: yarn format, eslint

feature(date-picker): 日期选择组件支持农历-API 整理
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/LunarDatePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/demos/lunar.md
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

feature(date-picker): 日期选择组件支持农历-删除测试组件
  packages/zent/src/date-picker/LunarDatePicker.tsx
  packages/zent/src/date-picker/index.ts
Due: yarn format, eslint

feature(date-picker): 日期选择组件支持农历-demo内容优化
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/demos/lunar.md
Due: yarn format, eslint

feature(date-picker): 日期选择组件支持农历 (#2036)
  packages/zent/assets/date-picker.scss
  packages/zent/package.json
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/demos/lunar.md
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
  yarn.lock
Due: yarn format, eslint, stylelint

feature(date-picker): 日期选择组件支持农历 (#2038)
  packages/zent/assets/date-picker.scss
  packages/zent/package.json
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/demos/lunar.md
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
  yarn.lock
Due: yarn format, eslint, stylelint

v10.0.10
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

feat(Sweetalert): 支持透传 mask
  packages/zent/src/sweetalert/README_zh-CN.md
  packages/zent/src/sweetalert/index.tsx
Due: yarn format, eslint

hotfix: 修复因observable-hooks@4.3.2下的打包报错问题
  packages/zent/package.json
  yarn.lock
Due: none

fix: 调整yarn.lock里的observable-hooks安装源
  yarn.lock
Due: none

feat: Notify组件支持getContainer配置--修改渲染挂载节点
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/global-duration.md
Due: yarn format, eslint

feat: Notify组件的getContainer调整为containerSelector
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/global-duration.md
Due: yarn format, eslint

feat: Notify组件containerSelector配置修改注释和示例
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/demos/global-duration.md
Due: yarn format, eslint

feat: Notify组件单次调用增加containerSelector和className入参
  packages/zent/__tests__/notify.spec.jsx
  packages/zent/assets/notify.scss
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/custom-container-selector.md
  packages/zent/src/notify/demos/global-container-selector.md
  packages/zent/src/notify/demos/global-duration.md
Due: yarn format, eslint, stylelint

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
