Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

revert: 恢复button的改动，单开pr处理
  packages/zent/__tests__/button.js
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

fix(Form): FieldSet移除initialValue属性的类型，FormSelectField支持initialValue
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

校验方式调整
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/TextArea.tsx
Due: yarn format, eslint

docs(Form): 补充英文文档
  packages/zent/src/form/README_en-US.md
Due: none

[fix]: input增加onIconClick事件属性，textArea增加属性maxCharacterCount用于超限制提示 (#1465)
  packages/zent/assets/input.scss
  packages/zent/src/form/demos/4.validate.md
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/input/demos/event-handler.md
  packages/zent/src/input/demos/textarea-with-count.md
  packages/zent/src/input/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Update README_en-US.md
  packages/zent/src/form/README_en-US.md
Due: none

rename zent-cascader => zent-cascader-v2
  packages/zent/__tests__/cascader.js
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/cascader/trigger/Search.tsx
  packages/zent/src/cascader/trigger/Tag.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

rename zent-select => zent-select-v2
  packages/zent/__tests__/disabled.js
  packages/zent/__tests__/select.js
  packages/zent/assets/auto-complete.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

rename zent-cascader => zent-cascader-v2 (#1477)
  packages/zent/__tests__/cascader.js
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/cascader/trigger/Search.tsx
  packages/zent/src/cascader/trigger/Tag.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[new feature] Form: 为Field组件实现初始值逻辑，内置reset事件处理 (#1468)
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/form/formulr/field.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

rename zent-select => zent-select-v2 (#1478)
  packages/zent/__tests__/disabled.js
  packages/zent/__tests__/select.js
  packages/zent/assets/auto-complete.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[fix] select类名更改（#1430）
  packages/zent/__tests__/disabled.js
  packages/zent/__tests__/select.js
  packages/zent/assets/auto-complete.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[fix] select类名更改（#1430） (#1479)
  packages/zent/assets/auto-complete.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

version 8.5.8
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

[bug fix] Button: disabled在表单上下文中表现异常
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

fix: 删除不必要的loading透传
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

fix: 调整render props类型
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

[bug fix] Form: 优化类型定义，提升API使用体验 (#1470)
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/formulr/builders/array.ts
  packages/zent/src/form/formulr/builders/basic.ts
  packages/zent/src/form/formulr/builders/form.ts
  packages/zent/src/form/formulr/builders/index.ts
  packages/zent/src/form/formulr/builders/set.ts
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/form.tsx
  packages/zent/src/form/formulr/index.ts
  packages/zent/src/form/formulr/models/base.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/form.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/utils.ts
  packages/zent/src/form/formulr/validate.ts
  packages/zent/src/form/formulr/value-listener.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

[bug fix] Form: FormModel.prototype.owner改为只读属性而不是getter
  packages/zent/src/form/formulr/models/form.ts
Due: yarn format, eslint

fix(Button): clone子组件时增加disabled属性
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

fix: button disabled 传布尔值
  packages/zent/src/button/Button.tsx
Due: yarn format, eslint

fix: 给子组件传disabled前判断是否render props
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

feat(ButtonDirective): disabled或loading时阻止浏览器默认行为
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

fix: 使用a标签时默认href为空串
  packages/zent/src/button/Button.tsx
Due: yarn format, eslint

tests: 结合新的disabled行为修改Button测试用例
  packages/zent/__tests__/button.js
Due: yarn format, eslint

fix: disabled与loading共同判断后再传给子组件
  packages/zent/__tests__/button.js
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

[bug fix] Form: FormModel.prototype.owner改为只读属性而不是getter (#1481)
  packages/zent/src/form/formulr/models/form.ts
Due: yarn format, eslint

[bug fix] Button: 调整disabled逻辑，透传给Directive处理 (#1480)
  packages/zent/__tests__/button.js
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

export compiler constants
  packages/zent/src/constants.ts
Due: yarn format, eslint

export FormNotice
  packages/zent/src/form/index.ts
Due: yarn format, eslint

export compiler constants (#1482)
  packages/zent/src/constants.ts
Due: yarn format, eslint

export FormNotice (#1484)
  packages/zent/src/form/index.ts
Due: yarn format, eslint

Add v9 release notes
  packages/zent/RELEASE_v9.md
Due: none

add previewImage and doc notes
  packages/zent/RELEASE_v9.md
Due: none

Add v9 changelog in doc
  site/src/nav.static.js
Due: yarn format, eslint

bump version to v9.0.0-beta1
  packages/zent/package.json
Due: none

prepare v9.0.0-beta1 (#1488)
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
  site/src/nav.static.js
Due: yarn format, eslint
