Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style"]
}

upgrade husky/lintstaged and other misc packages
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .huskyrc
  .lintstagedrc
  package.json
  packages/zent/package.json
  packages/zent/scripts/cruiser/registry.ts
  site/package.json
  site/scripts/gather.js
  yarn.lock
Due: yarn format, eslint

fix webpack dev and typedoc command
  packages/zent/package.json
  site/webpack/webpack.config.js
Due: yarn format, eslint

upgrade building deps
  package.json
  packages/zent/package.json
  packages/zent/plugins/postcss-plugin-constants.js
  packages/zent/plugins/postcss-plugin-lint.js
  packages/zent/plugins/postcss-plugin-version-attribute.js
  site/.babelrc.js
  site/package.json
  site/scripts/dev.js
  site/src/index.js
  site/webpack/webpack.config.js
  site/webpack/webpack.dev.config.js
  site/webpack/webpack.prd.config.js
  yarn.lock
Due: yarn format, eslint

add react-refresh for HMR
  site/package.json
  site/react-template.jstpl
  site/src/App.js
  site/src/index.js
  site/webpack/webpack.config.js
  site/webpack/webpack.dev.config.js
  yarn.lock
Due: yarn format, eslint

merge packages in yarn.lock
  yarn.lock
Due: none

upgrade react-router to 5
  site/package.json
  yarn.lock
Due: none

upgrade husky and @types/react
  packages/zent/package.json
  yarn.lock
Due: none

upgrade husky to 6
  .husky/_/husky.sh
  scripts/check-git-hooks.sh
  yarn.lock
Due: none

ingore .eslintrc in tests
  packages/zent/jest.config.json
Due: none

ignore husky in git hooks check
  scripts/check-git-hooks.sh
Due: none

remove jest-wrap
  packages/zent/__tests__/utils/event-handler/supports-passive.js
  packages/zent/package.json
  yarn.lock
Due: yarn format, eslint

feat: 移除theme方法到sdk
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_hsv-hsl.scss
  packages/zent/package.json
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/scripts/compile-style.js
  packages/zent/src/index.ts
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/css-var-info.ts
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.generate.md
  packages/zent/src/theme/demos/3.dynamic.md
  packages/zent/src/theme/generator.ts
  packages/zent/src/theme/index.ts
  packages/zent/src/theme/sdk.ts
  packages/zent/src/theme/utils.ts
  packages/zent/theme-css-var-refs.json
  site/src/components/theme-switcher/index.js
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 匹配模式调整
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/src/theme/css-var-info.ts
Due: yarn format, eslint

remove rambda
  site/package.json
  site/scripts/gather.js
  yarn.lock
Due: yarn format, eslint

fix react-router context error
  site/src/components/page-header/index.js
  site/src/components/router-context-type.js
  site/src/components/side-nav/index.js
Due: yarn format, eslint

remove unused code
  packages/zent/plugins/postcss-plugin-version-attribute.js
Due: yarn format, eslint

v9.7.3[no ci]
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

数据导出,字段调整
  packages/zent/assets/theme/_hsv-hsl.scss
  packages/zent/package.json
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/src/index.ts
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.generate.md
  packages/zent/src/theme/demos/3.dynamic.md
  packages/zent/src/theme/index.ts
  packages/zent/theme-css-vars.json
  site/package.json
  site/src/components/theme-switcher/index.js
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 注释调整
  packages/zent/assets/theme/_hsv-hsl.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: 当select初始化样式display为none，再显示时triggerWidth为0
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

use @zent/theme-sdk
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.generate.md
  packages/zent/src/theme/demos/3.dynamic.md
  site/package.json
  site/src/components/theme-switcher/index.js
  yarn.lock
Due: yarn format, eslint

rename css json
  packages/zent/package.json
Due: none

Feature: theme-sdk 独立提供 (#1723)
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_hsv-hsl.scss
  packages/zent/package.json
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/scripts/compile-style.js
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.generate.md
  packages/zent/src/theme/demos/3.dynamic.md
  packages/zent/src/theme/generator.ts
  packages/zent/src/theme/index.ts
  packages/zent/src/theme/sdk.ts
  packages/zent/src/theme/utils.ts
  packages/zent/theme-css-vars.json
  site/package.json
  site/src/components/theme-switcher/index.js
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

replace / with math.div in scss files
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_hsv-hsl.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

update postcss plugin to use v8 syntax
  packages/zent/plugins/postcss-generate-css-var-ref.js
Due: yarn format, eslint

remove postcss import
  packages/zent/plugins/postcss-generate-css-var-ref.js
Due: yarn format, eslint

fix: 设置select宽度为字符串时，不传递给triggerWidth而是设置为Select的默认宽度
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix: 移除不小心添加的代码
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: 只用json数据来源
  packages/zent/.gitignore
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/src/index.ts
  packages/zent/src/theme/css-var-info.ts
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.generate.md
  packages/zent/src/theme/demos/3.dynamic.md
  packages/zent/src/theme/index.ts
  packages/zent/theme-css-vars.json
  site/package.json
  site/src/components/theme-switcher/index.js
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

rename css var file
  packages/zent/package.json
  packages/zent/plugins/postcss-generate-theme-css-vars.js
  packages/zent/scripts/build-theme.sh
  packages/zent/scripts/generate-theme-css-vars.sh
  packages/zent/src/theme/demos/1.basic.md
  site/package.json
Due: yarn format, eslint

extract trigger default width to a constant
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

use Object.assign
  packages/zent/plugins/postcss-generate-theme-css-vars.js
Due: yarn format, eslint

Fix: 仅保留theme json的数据 (#1728)
  packages/zent/.gitignore
  packages/zent/package.json
  packages/zent/plugins/postcss-generate-theme-css-vars.js
  packages/zent/scripts/build-theme.sh
  packages/zent/scripts/generate-theme-css-vars.sh
  packages/zent/src/index.ts
  packages/zent/src/theme/css-var-info.ts
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.generate.md
  packages/zent/src/theme/demos/3.dynamic.md
  packages/zent/src/theme/index.ts
  packages/zent/theme-css-vars.json
  site/package.json
  site/src/components/theme-switcher/index.js
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

fix: 当select初始化样式display为none，再显示时triggerWidth为0 (#1727)
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

v9.8.0-beta.2
  packages/zent/package.json
Due: none

fix: 支持selection传入undefined隐藏选择框
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/selection.md
Due: yarn format, eslint
