Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Upgrade zenticons to 3.6.1 (#1423)
  packages/zent/package.json
  yarn.lock
Due: none

fix Form warning
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

fix Icon doc style
  packages/zent/src/icon/demos/all.md
  packages/zent/src/icon/demos/component.md
  packages/zent/src/icon/demos/spin.md
Due: none

fix Icon doc style (#1424)
  packages/zent/src/icon/demos/all.md
  packages/zent/src/icon/demos/component.md
  packages/zent/src/icon/demos/spin.md
Due: none

fix Form warning (#1425)
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

fix: expose FormContext
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/Label.tsx
  packages/zent/src/form/context.tsx
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/index.ts
Due: yarn format, eslint

fix: use asapScheduler
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/17.test.md
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

bug fixes
  packages/zent/src/auto-complete/README_en-US.md
  packages/zent/src/auto-complete/README_zh-CN.md
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/popover/Context.tsx
  packages/zent/src/popover/README_en-US.md
  packages/zent/src/popover/README_zh-CN.md
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/timeline/Item.tsx
  packages/zent/src/upload/components/normal/Item.tsx
Due: yarn format, eslint

docs: 补充FormContext文档
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/17.form-context.md
Due: none

feat(transfer): codereview问题，api文档补全
  packages/zent/assets/transfer.scss
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/ArrowButton.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/demos/grid.md
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: ModelRef增加id属性
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/formulr/models/ref.ts
Due: yarn format, eslint

feat(transfer): 适配grid入参
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/demos/basic.md
  packages/zent/src/transfer/demos/grid.md
  packages/zent/src/transfer/demos/search.md
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint

feat(transfer): title文案
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
Due: yarn format, eslint

fix: select 字段重命名
  packages/zent/assets/select.scss
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/demos/4.multiple.md
  packages/zent/src/select/demos/6.customer-search.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[new feature] Form: expose FormContext (#1429)
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/Label.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/context.tsx
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/17.form-context.md
  packages/zent/src/form/index.ts
Due: yarn format, eslint

fix: ModelRef增加id属性 (#1433)
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/formulr/models/ref.ts
Due: yarn format, eslint

revert #1404
  packages/zent/.gitignore
  packages/zent/package.json
  packages/zent/scripts/build-sandbox.sh
  packages/zent/scripts/generate-sandbox-entry.js
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/util.ts
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/utils/alcatraz/index.ts
  packages/zent/src/utils/component/event-handler/index.ts
  packages/zent/src/utils/dom/contains.ts
  packages/zent/src/utils/dom/createElement.ts
  packages/zent/src/utils/dom/findPositionedParent.ts
  packages/zent/src/utils/dom/getCaretCoordinates.ts
  packages/zent/src/utils/dom/getComputedStyle.ts
  packages/zent/src/utils/dom/getLineHeight.ts
  packages/zent/src/utils/dom/isSameNode.ts
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/tsconfig.json
  packages/zent/webpack.sandbox.config.js
  yarn.lock
Due: yarn format, eslint

revert #1404 (#1435)
  packages/zent/.gitignore
  packages/zent/package.json
  packages/zent/scripts/build-sandbox.sh
  packages/zent/scripts/generate-sandbox-entry.js
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/util.ts
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/utils/alcatraz/index.ts
  packages/zent/src/utils/component/event-handler/index.ts
  packages/zent/src/utils/dom/contains.ts
  packages/zent/src/utils/dom/createElement.ts
  packages/zent/src/utils/dom/findPositionedParent.ts
  packages/zent/src/utils/dom/getCaretCoordinates.ts
  packages/zent/src/utils/dom/getComputedStyle.ts
  packages/zent/src/utils/dom/getLineHeight.ts
  packages/zent/src/utils/dom/isSameNode.ts
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/tsconfig.json
  packages/zent/webpack.sandbox.config.js
  yarn.lock
Due: yarn format, eslint

Remove sandbox support in master (#1436)
  packages/zent/.gitignore
  packages/zent/package.json
  packages/zent/scripts/build-sandbox.sh
  packages/zent/scripts/generate-sandbox-entry.js
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/Label.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/context.tsx
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/17.form-context.md
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/formulr/models/ref.ts
  packages/zent/src/form/index.ts
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/util.ts
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/utils/alcatraz/index.ts
  packages/zent/src/utils/component/event-handler/index.ts
  packages/zent/src/utils/dom/contains.ts
  packages/zent/src/utils/dom/createElement.ts
  packages/zent/src/utils/dom/findPositionedParent.ts
  packages/zent/src/utils/dom/getCaretCoordinates.ts
  packages/zent/src/utils/dom/getComputedStyle.ts
  packages/zent/src/utils/dom/getLineHeight.ts
  packages/zent/src/utils/dom/isSameNode.ts
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/tsconfig.json
  packages/zent/webpack.sandbox.config.js
  yarn.lock
Due: yarn format, eslint

update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.5.3
  packages/zent/package.json
Due: none

fix: select 高亮放至沉浸函数中
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/10.creatable.md
  packages/zent/src/select/demos/6.custom-search.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: select 国际化文案
  packages/zent/assets/select.scss
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/demos/3.multi-value.md
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/10.creatable.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat(transfer): render props
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/demos/grid.md
  packages/zent/src/transfer/demos/renderProps.md
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint

fix: select 聚焦输入框
  packages/zent/src/select/Search.tsx
Due: yarn format, eslint

feat: cascader demo 重命名
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/common/utils.ts
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/demos/1.menu.md
  packages/zent/src/cascader/demos/10.tabs-loading.md
  packages/zent/src/cascader/demos/2.loading.md
  packages/zent/src/cascader/demos/3.searchable.md
  packages/zent/src/cascader/demos/4.multiple.md
  packages/zent/src/cascader/demos/5.multiple-searchable.md
  packages/zent/src/cascader/demos/6.scrollable.md
  packages/zent/src/cascader/demos/7.async-searchable.md
  packages/zent/src/cascader/demos/8.disabled.md
  packages/zent/src/cascader/demos/9.tabs.md
  packages/zent/src/cascader/trigger/index.tsx
Due: yarn format, eslint

feat(transfer): pick grid prop
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/constants.ts
  packages/zent/src/transfer/utils.ts
Due: yarn format, eslint

feat(transfer): grid key type
  packages/zent/src/transfer/constants.ts
  packages/zent/src/transfer/utils.ts
Due: yarn format, eslint

fix: 命名优化
  packages/zent/__tests__/date-picker/utils.js
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/MonthPicker.tsx
  packages/zent/src/date-picker/QuarterPicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/WeekPicker.tsx
  packages/zent/src/date-picker/YearPicker.tsx
  packages/zent/src/date-picker/hooks/useRangeDisabledDate.ts
  packages/zent/src/date-picker/hooks/useWeekRange.ts
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/month-panel/MonthBody.tsx
  packages/zent/src/date-picker/panels/quarter-panel/QuarterBody.tsx
  packages/zent/src/date-picker/panels/year-panel/YearBody.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/dateUtils.ts
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
  packages/zent/src/date-picker/utils/getValueInSinglePicker.ts
  packages/zent/src/date-picker/utils/unifiedDisabledDateFromProps.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: disabled优先级、常量等处理
  packages/zent/__tests__/date-picker/utils.js
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/CombinedTimeRangePicker.tsx
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/MonthPicker.tsx
  packages/zent/src/date-picker/QuarterPicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/TimePicker.tsx
  packages/zent/src/date-picker/WeekPicker.tsx
  packages/zent/src/date-picker/YearPicker.tsx
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/components/PickerTrigger.tsx
  packages/zent/src/date-picker/constants/index.ts
  packages/zent/src/date-picker/demos/basic.md
  packages/zent/src/date-picker/demos/disabled-date.md
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/demos/disabled.md
  packages/zent/src/date-picker/demos/show-time.md
  packages/zent/src/date-picker/demos/value-type.md
  packages/zent/src/date-picker/demos/visible-control.md
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/combined-time-range-panel/CombinedTimeFooter.tsx
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeUnitColumn.tsx
  packages/zent/src/date-picker/panels/year-panel/YearBody.tsx
  packages/zent/src/date-picker/panels/year-panel/index.tsx
  packages/zent/src/date-picker/utils/handler.ts
  packages/zent/src/date-picker/utils/index.ts
Due: yarn format, eslint

fix: disabled优先级、常量等处理
  packages/zent/src/date-picker/constants/index.ts
  packages/zent/src/date-picker/hooks/useConfirmStatus.ts
  packages/zent/src/date-picker/hooks/useHoverRange.ts
  packages/zent/src/date-picker/hooks/usePanelVisible.ts
  packages/zent/src/date-picker/panels/date-panel/PanelSubHeader.tsx
  packages/zent/src/date-picker/panels/year-panel/index.tsx
Due: yarn format, eslint

fix: 部分类型定义修改
  packages/zent/src/date-picker/CombinedTimeRangePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/TimePicker.tsx
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/CombinedTimePicker.tsx
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/hooks/useMergedProps.ts
  packages/zent/src/date-picker/hooks/useRangeMergedProps.ts
  packages/zent/src/date-picker/hooks/useSinglePopoverVisible.ts
  packages/zent/src/date-picker/types.ts
  packages/zent/src/form/form-components/CombinedDateRangePickerField.tsx
  packages/zent/src/form/form-components/index.ts
Due: yarn format, eslint

fix: 更新 select 文档
  packages/zent/assets/select.scss
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/demos/3.multi-value.md
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/4.multiple.md
  packages/zent/src/select/demos/8.scrollable.md
  packages/zent/src/text-mark/TextMark.tsx
  packages/zent/src/text-mark/index.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 动态输入框的宽度换成 css 实现
  packages/zent/assets/select.scss
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/10.creatable.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: TimeRangePickerField、单测修改
  packages/zent/__tests__/date-picker/CombinedRangePicker.js
  packages/zent/__tests__/date-picker/RangePicker.js
  packages/zent/__tests__/date-picker/SinglePicker.js
  packages/zent/__tests__/date-picker/index.js
  packages/zent/__tests__/date-picker/utils.js
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/hooks/useRangeDisabledTime.ts
  packages/zent/src/date-picker/utils/getValueInRangePicker.ts
  packages/zent/src/date-picker/utils/getValueInSinglePicker.ts
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/form-components/CombinedTimeRangePickerField.tsx
  packages/zent/src/form/form-components/TimeRangePickerField.tsx
  packages/zent/src/form/form-components/index.ts
Due: yarn format, eslint

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
