Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

remove lodash-es/keys
  packages/zent/src/grid/Store.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/size
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/forEach
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/Row.tsx
  packages/zent/src/grid/Store.ts
  packages/zent/src/swiper/Swiper.tsx
  packages/zent/src/upload/components/FileInput.tsx
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 允许defaultValue为非undefined的falsy值
  packages/zent/src/form/form-components/RadioGroupField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash/get
  package.json
  packages/zent/package.json
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Store.ts
  packages/zent/tslint.json
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/has
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Store.ts
  packages/zent/src/layout/components/screen-breakpoints.tsx
  packages/zent/src/loading/BlockLoading.tsx
  packages/zent/src/pagination/impl/BasePagination.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/each
  packages/zent/src/colorpicker/helpers/color.ts
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/map
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/utils.ts
  packages/zent/tsconfig.json
  packages/zent/tslint.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix missing data-zv in zent-grid-tr
  packages/zent/src/grid/Row.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: use operator
  packages/zent/src/form/form-components/RadioGroupField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix missing data-zv in zent-grid-tr (#1261)
  packages/zent/src/grid/Row.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

chore: remove unused vars
  packages/zent/src/form/form-components/RadioGroupField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] FormRadioGroupField: 修改defaultValue判断方式 (#1260)
  packages/zent/src/form/form-components/RadioGroupField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix bugs in style isolation
  .sass-lint.yml
  packages/zent/assets/pagination.scss
  packages/zent/assets/tree.scss
  packages/zent/plugins/postcss-plugin-version-attribute.js
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix checkbox disabled lable color
  packages/zent/assets/checkbox.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

format code
  packages/zent/__tests__/color-picker.js
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/form/Description.tsx
  packages/zent/src/form/form-components/ColorPickerField.tsx
  packages/zent/src/form/form-components/DatePickerField.tsx
  packages/zent/src/form/form-components/DateRangePickerField.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/src/form/form-components/InputField.tsx
  packages/zent/src/form/form-components/MonthPickerField.tsx
  packages/zent/src/form/form-components/NumberInputField.tsx
  packages/zent/src/form/form-components/QuarterPickerField.tsx
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/form/form-components/SwitchField.tsx
  packages/zent/src/form/form-components/TimePickerField.tsx
  packages/zent/src/form/form-components/TimeRangePickerField.tsx
  packages/zent/src/form/form-components/WeekPickerField.tsx
  packages/zent/src/form/form-components/YearPickerField.tsx
  packages/zent/src/form/shared.tsx
  packages/zent/src/form/utils.ts
  packages/zent/src/select-menu/MenuList.tsx
  site/scripts/gather.js
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix datetimepicker separator color
  packages/zent/assets/datetimepicker.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix bugs in style isolation (#1262)
  .sass-lint.yml
  packages/zent/assets/checkbox.scss
  packages/zent/assets/datetimepicker.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/tree.scss
  packages/zent/plugins/postcss-plugin-version-attribute.js
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Remove contacts
  README-zh_CN.md
  README.md
Due: none

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v7.3.0
  packages/zent/package.json
Due: none

Remove Icon css only demo
  packages/zent/src/icon/demos/css.md
Due: none

Update breaking change notice
  packages/zent/RELEASE_zh-CN.md
Due: none

fix button directive style
  packages/zent/src/button/Directive.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add Link component
  packages/zent/assets/button.scss
  packages/zent/src/button/Link.tsx
  packages/zent/src/button/demos/link.md
  packages/zent/src/button/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix button directive style (#1264)
  packages/zent/src/button/Directive.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add Link component (#1265)
  packages/zent/assets/button.scss
  packages/zent/src/button/Link.tsx
  packages/zent/src/button/demos/link.md
  packages/zent/src/button/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
