Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

update Grid doc (#1693)
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: none

[bugfix]: Input within IMEComposition onchange event doesn't trigger in some brower
  packages/zent/src/ime-composition/hooks.ts
Due: yarn format, eslint

test: remove automatic change
  packages/zent/__tests__/ime-composition.js
Due: yarn format, eslint

suppress form performance warnings in internal code path
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/19.reactive-valid.md
  packages/zent/src/form/demos/20.reactive-value.md
  packages/zent/src/form/formulr/field.tsx
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/form.ts
  packages/zent/src/form/formulr/models/index.ts
  packages/zent/src/form/formulr/models/is.ts
  packages/zent/src/form/formulr/models/ref.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/warnings.ts
  packages/zent/src/utils/warning.ts
  packages/zent/src/utils/warningOnce.ts
Due: yarn format, eslint

support customize form scroll element and position
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
Due: yarn format, eslint

skip field position calculation when using custom scroll position
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

add Form.getChildren method
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/index.ts
Due: yarn format, eslint

change warning logic
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

add doc on subscription performance
  packages/zent/src/form/README_zh-CN.md
Due: none

support custom form scroll element and position (#1696)
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/index.ts
Due: yarn format, eslint

suppress form performance warnings in internal code path (#1695)
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/19.reactive-valid.md
  packages/zent/src/form/demos/20.reactive-value.md
  packages/zent/src/form/formulr/field.tsx
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/form.ts
  packages/zent/src/form/formulr/models/index.ts
  packages/zent/src/form/formulr/models/is.ts
  packages/zent/src/form/formulr/models/ref.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/warnings.ts
  packages/zent/src/utils/warning.ts
  packages/zent/src/utils/warningOnce.ts
Due: yarn format, eslint

fix: set compositionValue
  packages/zent/src/ime-composition/hooks.ts
Due: yarn format, eslint

simplify custom scroll usage
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
Due: yarn format, eslint

[bugfix]: Input inside IMEComposition onchange event doesn't trigger in some brower (#1694)
  packages/zent/__tests__/ime-composition.js
  packages/zent/src/ime-composition/hooks.ts
Due: yarn format, eslint

simplify custom scroll usage (#1697)
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
Due: yarn format, eslint

v9.5.0[no ci]
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

set select popup width to trigger width if popupWidth is not present
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

update API docs
  packages/zent/src/select/README_zh-CN.md
Due: none

fix doc
  packages/zent/src/select/README_zh-CN.md
Due: none

feat: variable replace
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_font.scss
  packages/zent/assets/theme/_old-default.scss
  packages/zent/assets/theme/variables/_box.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/assets/theme/variables/_names.scss
  packages/zent/assets/theme/variables/_text.scss
  packages/zent/package.json
  packages/zent/src/color/index.ts
  packages/zent/src/index.ts
  site/package.json
  site/src/nav.static.js
  site/src/pages/theme/THEME_en-US.md
  site/src/pages/theme/THEME_zh-CN.md
  site/src/pages/theme/en-US.js
  site/src/pages/theme/generator.js
  site/src/pages/theme/zh-CN.js
  site/src/react-docs.scss
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

set select popup width to trigger width if popupWidth is not present (#1700)
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: rename variables, add modify funcs
  packages/zent/assets/button.scss
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_old-default.scss
  packages/zent/assets/theme/_tiny-color.scss
  packages/zent/assets/theme/variables/_box.scss
  packages/zent/assets/theme/variables/_color-names.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/assets/theme/variables/_names.scss
  packages/zent/assets/theme/variables/_size-names.scss
  packages/zent/assets/theme/variables/_text.scss
  packages/zent/package.json
  packages/zent/plugins/postcss-plugin-vars.js
  packages/zent/scripts/postcss-vars.sh
  packages/zent/src/button/demos/loading.md
  packages/zent/src/button/demos/style.md
  packages/zent/src/color/generator.ts
  packages/zent/src/color/index.ts
  packages/zent/src/color/sdk.ts
  packages/zent/src/color/theme-ref.ts
  site/src/pages/theme/generator.js
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

update Collapse props typings and docs
  packages/zent/src/collapse/Collapse.tsx
  packages/zent/src/collapse/README_en-US.md
  packages/zent/src/collapse/README_zh-CN.md
Due: yarn format, eslint

feat: separate variables
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_old-default.scss
  packages/zent/assets/theme/variables/_box.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/assets/theme/variables/_raw-vars.scss
  packages/zent/assets/theme/variables/_size-names.scss
  packages/zent/assets/theme/variables/_text.scss
  packages/zent/src/color/sdk.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat: modify semantic names
  packages/zent/assets/button.scss
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_old-default.scss
  packages/zent/assets/theme/_tiny-color.scss
  packages/zent/assets/theme/variables/_color-names.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/assets/theme/variables/_raw-vars.scss
  packages/zent/package.json
  packages/zent/plugins/postcss-plugin-vars.js
  packages/zent/src/color/sdk.ts
  packages/zent/src/color/theme-ref.ts
  site/src/pages/theme/en-US.js
  site/src/pages/theme/generator.js
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

add controlled mode for inline menu
  packages/zent/src/menu/Menu.tsx
  packages/zent/src/menu/README_en-US.md
  packages/zent/src/menu/README_zh-CN.md
  packages/zent/src/menu/SubMenu.tsx
  packages/zent/src/menu/demos/inline-selected.md
Due: yarn format, eslint

add controlled mode for inline menu (#1703)
  packages/zent/src/menu/Menu.tsx
  packages/zent/src/menu/README_en-US.md
  packages/zent/src/menu/README_zh-CN.md
  packages/zent/src/menu/SubMenu.tsx
  packages/zent/src/menu/demos/inline-selected.md
Due: yarn format, eslint

update Collapse props typings and docs (#1702)
  packages/zent/src/collapse/Collapse.tsx
  packages/zent/src/collapse/README_en-US.md
  packages/zent/src/collapse/README_zh-CN.md
Due: yarn format, eslint

feat: rename, add color calc rule
  packages/zent/assets/button.scss
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_old-default.scss
  packages/zent/assets/theme/variables/_color-names.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/assets/theme/variables/_raw-vars.scss
  packages/zent/plugins/postcss-plugin-vars.js
  packages/zent/src/color/generator.ts
  packages/zent/src/color/sdk.ts
  packages/zent/src/color/theme-ref.ts
  site/src/pages/theme/en-US.js
  site/src/pages/theme/generator.js
  site/src/pages/theme/zh-CN.js
  site/src/react-docs.scss
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

add builder to models
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/22.dynamic-model.md
  packages/zent/src/form/formulr/builders/array.ts
  packages/zent/src/form/formulr/builders/field.ts
  packages/zent/src/form/formulr/builders/form.ts
  packages/zent/src/form/formulr/builders/set.ts
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/form.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

suppport custom inline style in Checkbox
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/checkbox/README_en-US.md
  packages/zent/src/checkbox/README_zh-CN.md
Due: yarn format, eslint

add threshold prop to InfiniteScroller
  packages/zent/src/infinite-scroller/InfiniteScroller.tsx
  packages/zent/src/infinite-scroller/README_en-US.md
  packages/zent/src/infinite-scroller/README_zh-CN.md
Due: yarn format, eslint

suppport custom inline style in Checkbox (#1705)
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/checkbox/README_en-US.md
  packages/zent/src/checkbox/README_zh-CN.md
Due: yarn format, eslint

add threshold prop to InfiniteScroller (#1706)
  packages/zent/src/infinite-scroller/InfiniteScroller.tsx
  packages/zent/src/infinite-scroller/README_en-US.md
  packages/zent/src/infinite-scroller/README_zh-CN.md
Due: yarn format, eslint

loose context check in Form hooks
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/formulr/context.ts
  packages/zent/src/form/formulr/error.ts
  packages/zent/src/form/formulr/field-array.tsx
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/field.tsx
  packages/zent/src/form/formulr/listeners/array.ts
  packages/zent/src/form/formulr/listeners/field.tsx
  packages/zent/src/form/formulr/listeners/use-model.ts
  packages/zent/src/form/formulr/listeners/utils.ts
  packages/zent/src/form/formulr/models/is.ts
  packages/zent/src/form/formulr/utils.ts
Due: yarn format, eslint

fix eslint error
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

update hooks docs
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/21.subscribe-model.md
  packages/zent/src/form/formulr/field-array.tsx
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/field.tsx
  packages/zent/src/form/formulr/listeners/field.tsx
Due: yarn format, eslint

add useNamedChildModel and update docs
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/22.dynamic-model.md
  packages/zent/src/form/formulr/field-set.tsx
Due: yarn format, eslint

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
