Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

快捷选择日期今日结束时间统一为当前时间 (#1622)
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
Due: yarn format, eslint

Grid: batchRender添加渲染位置参数
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

Grid: batchRender添加渲染位置相关参数
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

fix: 修复类型错误
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

Grid: 修复浮动列在表头分组场景下高度问题 (#1617)
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

Grid: 修复表头分组场景下浮动列表头高度问题 (#1625)
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

fix: 更新文档
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: none

feat: batchRender添加渲染位置参数 (#1624)
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

feat: batchRender添加渲染位置相关参数 master (#1626)
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

release v8.6.1
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

release 9.0.1
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

allow custom arrow
  packages/zent/src/swiper/README_en-US.md
  packages/zent/src/swiper/README_zh-CN.md
  packages/zent/src/swiper/Swiper.tsx
Due: yarn format, eslint

allow custom arrow (#1627)
  packages/zent/src/swiper/README_en-US.md
  packages/zent/src/swiper/README_zh-CN.md
  packages/zent/src/swiper/Swiper.tsx
Due: yarn format, eslint

v9.0.2
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

fix: button bordered:false not work when disabled
  packages/zent/assets/button.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Support custom step in NumberInput
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
  packages/zent/src/number-input/decimal.ts
  packages/zent/src/number-input/demos/2.decimal-point.md
  packages/zent/src/number-input/integer.ts
Due: yarn format, eslint

Use Number.isFinite instead of isNil
  packages/zent/src/number-input/decimal.ts
Due: yarn format, eslint

remove unused import
  packages/zent/src/number-input/decimal.ts
Due: yarn format, eslint

fix test converage
  packages/zent/__tests__/number-input.js
  packages/zent/__tests__/utils/isDOMElement.js
  packages/zent/jest.config.json
Due: yarn format, eslint

Support custom step in NumberInput (#1628)
  packages/zent/__tests__/number-input.js
  packages/zent/__tests__/utils/isDOMElement.js
  packages/zent/jest.config.json
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
  packages/zent/src/number-input/decimal.ts
  packages/zent/src/number-input/demos/2.decimal-point.md
  packages/zent/src/number-input/integer.ts
Due: yarn format, eslint

fix: remove &-border-transparent, &#{&}-border-transparent always match to &-border-transparent
  packages/zent/assets/button.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: button bordered:false not work when disabled (#1629)
  packages/zent/assets/button.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix(upload): 删除 normal 模式下的 loading 展示
  packages/zent/src/upload/components/normal/Item.tsx
Due: yarn format, eslint

fix: add select key generic type
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/TagList.tsx
  packages/zent/src/select/reviver.ts
Due: yarn format, eslint

fix: select form type
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

[bugfix]: Select 组件泛型类型修改 (#1630)
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/TagList.tsx
  packages/zent/src/select/reviver.ts
Due: yarn format, eslint

[Feature]: Upload 支持单文件上传 (#1616)
  packages/zent/assets/form.scss
  packages/zent/assets/upload.scss
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/demos/4.validate.md
  packages/zent/src/form/form-components/ImageUploadField.tsx
  packages/zent/src/form/form-components/SingleUploadField.tsx
  packages/zent/src/form/form-components/UploadField.tsx
  packages/zent/src/form/form-components/index.ts
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/README_en-US.md
  packages/zent/src/upload/README_zh-CN.md
  packages/zent/src/upload/SingleUpload.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractMultiUpload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
  packages/zent/src/upload/components/single/Item.tsx
  packages/zent/src/upload/components/single/Trigger.tsx
  packages/zent/src/upload/demos/manual.md
  packages/zent/src/upload/demos/single.md
  packages/zent/src/upload/index.ts
  packages/zent/src/upload/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

v9.1.0-beta.1
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

v9.1.0
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

update form-control style(margin-bottom: 24)
  packages/zent/assets/form.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

support custom scroll offset in Form
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

update form-control style(margin-bottom: 24) (#1631)
  packages/zent/assets/form.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

support custom scroll offset in Form (#1632)
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

Update zenticons to 3.6.4
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
