Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

[bugfix]: 修复 Grid 跨页全选后反选导致 selectedRowKeys 被清空问题 (#1353)
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

fix: 修复input-field校验时机为onChange时首次输入不校验问题
  packages/zent/src/form/demos/4.validate.md
  packages/zent/src/form/form-components/InputField.tsx
Due: yarn format, eslint

Grid: review优化
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Row.tsx
Due: yarn format, eslint

Grid: 修改事件名称
  packages/zent/src/grid/Row.tsx
Due: yarn format, eslint

Grid: 代码优化
  packages/zent/src/grid/Row.tsx
Due: yarn format, eslint

Grid: 提供新的取消禁用hover高亮demo
  packages/zent/src/grid/Row.tsx
  packages/zent/src/grid/demos/disable-hover-highlight.md
Due: yarn format, eslint

Grid: 移除未使用到的变量
  packages/zent/src/grid/Row.tsx
Due: yarn format, eslint

fix react warnings
  packages/zent/__tests__/table/comp/batch-components.js
  packages/zent/__tests__/table/comp/loading.js
  packages/zent/package.json
  packages/zent/src/form/index.ts
  site/package.json
  site/src/components/CNWrapper.js
  site/src/components/USWrapper.js
  site/src/components/footer-nav/index.js
  yarn.lock
Due: yarn format, eslint

[new feature]Grid: 支持是否禁用鼠标高亮效果 (#1358)
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/Row.tsx
  packages/zent/src/grid/demos/disable-hover-highlight.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

update doc
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
Due: none

fix react warnings (#1361)
  packages/zent/__tests__/table/comp/batch-components.js
  packages/zent/__tests__/table/comp/loading.js
  packages/zent/package.json
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/index.ts
  site/package.json
  site/src/components/CNWrapper.js
  site/src/components/USWrapper.js
  site/src/components/footer-nav/index.js
  yarn.lock
Due: yarn format, eslint

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.3.0
  packages/zent/package.json
Due: none

Grid: 修复窗口宽度变化时fixed的列阴影样式未更新
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

Grid: 修复禁用hover时的背景色
  packages/zent/assets/grid.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Grid: 修复getCheckboxProps 定义
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

[bugfix] Grid: 修复窗口尺寸变化时fixed的列阴影样式未更新 (#1364)
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

[bugfix]Grid: 修复禁用hover是背景颜色、修复getCheckboxProps 定义 (#1365)
  packages/zent/assets/grid.scss
  packages/zent/src/grid/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 修复日期组件value为对象变量时，内部直接引用赋值的问题
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/utils/index.ts
  packages/zent/src/utils/date/parseDate.ts
Due: yarn format, eslint

ix: 单测date对象检验
  packages/zent/__tests__/utils/date.js
Due: yarn format, eslint

[new feature] Form: 导出BasicModel
  packages/zent/src/form/index.ts
Due: yarn format, eslint

FormField导出onChange, onBlur, onCompositionStart, onCompositionEnd
  packages/zent/package.json
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/shared.tsx
  yarn.lock
Due: yarn format, eslint

modelRef for FieldSet
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, eslint

[new feature] Form: 导出BasicModel (#1367)
  packages/zent/src/form/index.ts
Due: yarn format, eslint

[bug fix] Form: 默认加入的required校验函数的message强转成string保证类型正确
  packages/zent/src/form/Field.tsx
Due: yarn format, eslint

[bug fix] Form: 默认加入的required校验函数required属性为boolean时改为空串message
  packages/zent/src/form/Field.tsx
Due: yarn format, eslint

[bug fix] Form: 默认加入的required校验函数required属性为boolean时改为空串message (#1368)
  packages/zent/src/form/Field.tsx
Due: yarn format, eslint

fix: 方法名修改
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/utils/index.ts
Due: yarn format, eslint

Hotfix/date picker (#1366)
  packages/zent/__tests__/utils/date.js
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/utils/index.ts
  packages/zent/src/utils/date/parseDate.ts
Due: yarn format, eslint

fix: Upload 组件支持自定义 item 展示项
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractList.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/image/List.tsx
  packages/zent/src/upload/components/normal/List.tsx
  packages/zent/src/upload/types.ts
Due: yarn format, eslint

fix: Upload 组件添加自定义展示项 demo
  packages/zent/src/upload/demos/custom-item.md
  packages/zent/src/upload/types.ts
Due: yarn format, eslint

fix: 补充 readme
  packages/zent/src/upload/README_en-US.md
  packages/zent/src/upload/README_zh-CN.md
Due: none

validate propagation
  packages/zent/package.json
  yarn.lock
Due: none

fix type errors
  packages/zent/package.json
  packages/zent/src/form/CombineErrors.tsx
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/shared.tsx
  yarn.lock
Due: yarn format, eslint

fix tests
  packages/zent/__tests__/block-header.js
  packages/zent/__tests__/cascader.js
  packages/zent/__tests__/disabled.js
  packages/zent/__tests__/pop.js
  packages/zent/__tests__/popover.js
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/pop/demos/center-arrow.md
  packages/zent/src/popover/Anchor.tsx
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  packages/zent/src/utils/useAnimationFramed.ts
Due: yarn format, eslint

upgrade formulr
  packages/zent/package.json
  packages/zent/src/form/CombineErrors.tsx
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/shared.tsx
  yarn.lock
Due: yarn format, eslint

fix windows development [ci skip]
  packages/zent/package.json
  packages/zent/tsconfig.plugins.json
  site/package.json
  yarn.lock
Due: none

style(tabs): tabs 删除icon居中 大小改为14px button类型样式修改
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/components/tab/ButtonTab.tsx
  packages/zent/src/tabs/components/tabs-nav/ButtonTabsNav.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: tabs buttonTab测试用例修改
  packages/zent/__tests__/tabs.js
Due: yarn format, eslint
