Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

fix: 修复css variable名字匹配问题,老版颜色可覆盖,删除无用前缀 (#1883)
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/assets/theme/semantic/_helper.scss
  packages/zent/plugins/postcss-plugin-theme-css-vars.js
Due: yarn format, eslint, stylelint

feat: 级联选择器验收修改
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/demos/1.menu.md
  packages/zent/src/cascader/demos/4.multiple.md
  packages/zent/src/cascader/demos/6.scrollable.md
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint, stylelint

feat: alert 调整
  packages/zent/__tests__/alert.spec.jsx
  packages/zent/assets/alert.scss
  packages/zent/src/alert/demos/prompt.md
  packages/zent/src/alert/index.ts
  packages/zent/src/banner/Banner.tsx
  packages/zent/src/banner/README_en-US.md
  packages/zent/src/banner/README_zh-CN.md
  packages/zent/src/banner/demos/1.basic.md
  packages/zent/src/banner/index.ts
  packages/zent/src/index.ts
  packages/zent/src/prompt/Prompt.tsx
  packages/zent/src/prompt/README_en-US.md
  packages/zent/src/prompt/README_zh-CN.md
  packages/zent/src/prompt/demos/1.baisc.md
  packages/zent/src/prompt/demos/2.custom-close.md
  packages/zent/src/prompt/index.ts
  packages/zent/src/task-status-bar/README_en-US.md
  packages/zent/src/task-status-bar/README_zh-CN.md
  packages/zent/src/task-status-bar/TaskStatusBar.tsx
  packages/zent/src/task-status-bar/demos/1.basic.md
  packages/zent/src/task-status-bar/index.ts
Due: yarn format, eslint, stylelint

feat: loading demo 完善
  packages/zent/assets/loading.scss
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/loading/InlineLoading.tsx
  packages/zent/src/loading/README_en-US.md
  packages/zent/src/loading/README_zh-CN.md
  packages/zent/src/loading/components/icons/Circle.tsx
  packages/zent/src/loading/components/icons/IconProps.ts
  packages/zent/src/loading/components/icons/Youzan.tsx
  packages/zent/src/loading/demos/global-mode.md
  packages/zent/src/loading/demos/inline.md
  packages/zent/src/loading/demos/text.md
  packages/zent/src/loading/props.ts
Due: yarn format, eslint, stylelint

feat: 拆分 Prompt/Banner/TaskStatus/Bar 组件
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/demos/scroll.md
  packages/zent/src/banner/README_en-US.md
  packages/zent/src/banner/README_zh-CN.md
  packages/zent/src/loading/demos/global-mode-with-background.md
  packages/zent/src/prompt/README_en-US.md
  packages/zent/src/prompt/README_zh-CN.md
  packages/zent/src/task-status-bar/README_en-US.md
  packages/zent/src/task-status-bar/README_zh-CN.md
  packages/zent/src/task-status-bar/TaskStatusBar.tsx
  packages/zent/src/task-status-bar/demos/1.basic.md
  packages/zent/src/task-status-bar/demos/2.type.md
Due: yarn format, eslint

feat: loading document
  packages/zent/src/loading/README_en-US.md
  packages/zent/src/loading/README_zh-CN.md
Due: none

fix: grid排序按钮替换为iconfont,并修复字体不同可能导致的按钮错位问题
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Header.tsx
Due: yarn format, eslint, stylelint

feat: dialog document
  packages/zent/assets/dialog.scss
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/demos/basic.md
  packages/zent/src/dialog/demos/context.md
  packages/zent/src/dialog/demos/open.md
Due: yarn format, stylelint

feat: drawer document
  packages/zent/assets/drawer.scss
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/drawer/demos/basic.md
  packages/zent/src/drawer/demos/custom-width.md
Due: yarn format, stylelint

fix: grid排序按钮替换为iconfont,并修复字体不同可能导致的按钮错位问题 (#1884)
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Header.tsx
Due: yarn format, eslint, stylelint

feat: 验收修改
  packages/zent/assets/select.scss
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/8.scrollable.md
Due: none

feat: 验收修改
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint, stylelint

feat: 验收修改
  packages/zent/src/number-input/demos/1.basic.md
  packages/zent/src/number-input/demos/2.decimal-point.md
  packages/zent/src/number-input/demos/3.range.md
  packages/zent/src/number-input/demos/4.disable.md
  packages/zent/src/number-input/demos/6.integer.md
Due: none

feat: 验收修改
  packages/zent/assets/slider.scss
  packages/zent/src/slider/README_en-US.md
  packages/zent/src/slider/README_zh-CN.md
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/slider/demos/disable.md
  packages/zent/src/slider/demos/single-label.md
Due: yarn format, eslint, stylelint

feat: 验收修改
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint, stylelint

feat: 验收修改
  packages/zent/assets/pop.scss
  packages/zent/src/pop/README_zh-CN.md
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/assets/checkbox.scss
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/src/radio/demos/multi-line.md
  site/src/docs.scss
Due: yarn format, stylelint

feat: 拆分Indicator组件&steps数字icon&steps document
  packages/zent/assets/steps.scss
  packages/zent/src/index.ts
  packages/zent/src/indicator/Indicator.tsx
  packages/zent/src/indicator/README_en-US.md
  packages/zent/src/indicator/README_zh-CN.md
  packages/zent/src/indicator/demos/1.basic.md
  packages/zent/src/indicator/demos/2.fail-step.md
  packages/zent/src/indicator/demos/3.custom-icon.md
  packages/zent/src/indicator/demos/4.vertical-step.md
  packages/zent/src/indicator/index.ts
  packages/zent/src/steps/README_en-US.md
  packages/zent/src/steps/README_zh-CN.md
  packages/zent/src/steps/components/BreadcrumbSteps.tsx
  packages/zent/src/steps/demos/breadcrumb-step-custom-icon.md
  packages/zent/src/steps/demos/breadcrumb-step-disabled.md
  packages/zent/src/steps/demos/card-step.md
  packages/zent/src/steps/demos/tabs-step.md
Due: yarn format, eslint, stylelint

feat: 验收样式修改
  packages/zent/assets/tooltip.scss
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/demos/positions.md
Due: yarn format, stylelint

feat: 手势调整
  packages/zent/assets/slider.scss
Due: yarn format, stylelint

feat: sortable style&sortable document
  packages/zent/assets/sortable.scss
  packages/zent/src/sortable/README_en-US.md
  packages/zent/src/sortable/README_zh-CN.md
  packages/zent/src/sortable/demos/basic.md
  packages/zent/src/sortable/demos/disabled.md
Due: yarn format, stylelint

feat: tree loading 使用 loading 组件&loading document
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/components/Loading.tsx
  packages/zent/src/tree/demos/async.md
Due: yarn format, eslint

feat: tree en document
  packages/zent/src/tree/README_en-US.md
Due: none

feat: tree document
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
Due: none

feat: tree document
  packages/zent/src/tree/demos/disabled-data.md
Due: none

feat: 修改hover背景色,排序支持tooltip提示
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Header.tsx
Due: yarn format, eslint, stylelint

feat: collapse content bg & document
  packages/zent/assets/collapse.scss
  packages/zent/src/collapse/Collapse.tsx
  packages/zent/src/collapse/Panel.tsx
  packages/zent/src/collapse/README_en-US.md
  packages/zent/src/collapse/README_zh-CN.md
  packages/zent/src/collapse/demos/accordion.md
  packages/zent/src/collapse/demos/no-border.md
  packages/zent/src/collapse/demos/show-content-bg.md
Due: yarn format, eslint, stylelint

fix: tooltip位置调整
  packages/zent/src/grid/Header.tsx
Due: yarn format, eslint

fix: tree test
  packages/zent/__tests__/tree.spec.jsx
Due: yarn format, eslint

feat: swiper dotsTheme & document
  packages/zent/assets/swiper.scss
  packages/zent/src/swiper/README_en-US.md
  packages/zent/src/swiper/README_zh-CN.md
  packages/zent/src/swiper/Swiper.tsx
  packages/zent/src/swiper/SwiperDots.tsx
  packages/zent/src/swiper/demos/arrow-disabled.md
  packages/zent/src/swiper/demos/arrow.md
  packages/zent/src/swiper/demos/dots-theme.md
Due: yarn format, eslint, stylelint

feat: button验收
  packages/zent/src/button/demos/directive.md
  packages/zent/src/button/demos/disabled.md
  packages/zent/src/button/demos/group.md
  packages/zent/src/button/demos/icon.md
  packages/zent/src/button/demos/link.md
  packages/zent/src/button/demos/loading.md
  packages/zent/src/button/demos/no-border.md
  packages/zent/src/button/demos/only-icon.md
  packages/zent/src/button/demos/size.md
  packages/zent/src/button/demos/style.md
  packages/zent/src/button/demos/text.md
Due: none

feat: 验收修改
  packages/zent/assets/dropdown.scss
  packages/zent/assets/split-button.scss
  packages/zent/src/split-button/demos/basic.md
  packages/zent/src/split-button/demos/status.md
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/demos/basic.md
Due: yarn format, stylelint

feat: button验收
  packages/zent/assets/button.scss
Due: yarn format, stylelint

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
