Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

fix: [input]去掉widthSize默认值
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
Due: yarn format, eslint

fix: 修改select默认size为空，不影响原有业务
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix: 不改变dom结构情况下支持button disabled情况下显示cursor
  packages/zent/assets/button.scss
Due: yarn format, stylelint

fix: 遗漏改动
  packages/zent/assets/button.scss
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint, stylelint

fix: number-input宽度调整
  packages/zent/assets/number-input.scss
Due: yarn format, stylelint

refactor: 重命名api,减少歧义
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/utils.tsx
Due: yarn format, eslint

fix: [input]去掉widthSize默认值 (#1924)
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
Due: yarn format, eslint

fix: select文档设置宽度
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
Due: none

fix: 更新测试用例
  packages/zent/__tests__/disabled.spec.jsx
Due: yarn format, eslint

fix: 不改变dom结构情况下支持button disabled情况下显示cursor (#1925)
  packages/zent/__tests__/disabled.spec.jsx
  packages/zent/assets/button.scss
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/utils.tsx
Due: yarn format, eslint, stylelint

fix: 级联选择器simplify修改
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/demos/14.simplify.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

feat: number-input width还原
  packages/zent/assets/number-input.scss
Due: yarn format, stylelint

fix: [select]去掉size默认值 (#1926)
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

v10.0.0-rc.6
  packages/zent/RELEASE_v10.md
  packages/zent/package.json
Due: none

feat: tree调整,selectable为false不阻塞onSelect触发
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
Due: yarn format, eslint

fix: 修改默认值
  packages/zent/src/cascader/MenuCascader.tsx
Due: yarn format, eslint

feat: 修改cascader
  packages/zent/src/cascader/demos/14.simplify.md
Due: none

fix: 样式调整
  packages/zent/assets/card.scss
  packages/zent/assets/mixins/_scroll-bar.scss
Due: yarn format, stylelint

doc: card文档修改
  packages/zent/src/card/demos/basic.md
Due: none

feat: select保持默认值240px
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: select保持默认值240px (#1929)
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

v10.0.0-rc.7
  packages/zent/RELEASE_v10.md
  packages/zent/package.json
Due: none

fix: 修复sortable拖拽偶先empty元素
  packages/zent/src/sortable/Sortable.tsx
Due: yarn format, eslint

[github_action] update caniuse-lite database
  yarn.lock
Due: none

feat: [tree]selectable默认为true,修复不同尺寸下的节点相对位置偏移
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/demos/array-data.md
  packages/zent/src/tree/demos/async.md
  packages/zent/src/tree/demos/basic.md
  packages/zent/src/tree/demos/custom-node.md
  packages/zent/src/tree/demos/custom-operate.md
  packages/zent/src/tree/demos/disable-select.md
  packages/zent/src/tree/demos/one-line.md
  packages/zent/src/tree/demos/option.md
  packages/zent/src/tree/demos/size.md
Due: yarn format, eslint

feat: 优化修复代码，使memorizeOne起效果
  packages/zent/src/cascader/MenuCascader.tsx
Due: yarn format, eslint

fix: 修复vertical变更导致的demo样式布局错位
  packages/zent/src/form/demos/9.model-first.md
Due: none

fix: button outline 模式 hover 背景色保持白色
  packages/zent/assets/button.scss
  packages/zent/src/button/demos/style.md
Due: yarn format, stylelint

feat: [tree]selectable默认值修改为true (#1927)
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/demos/array-data.md
  packages/zent/src/tree/demos/async.md
  packages/zent/src/tree/demos/basic.md
  packages/zent/src/tree/demos/custom-node.md
  packages/zent/src/tree/demos/custom-operate.md
  packages/zent/src/tree/demos/disable-select.md
  packages/zent/src/tree/demos/one-line.md
  packages/zent/src/tree/demos/option.md
  packages/zent/src/tree/demos/size.md
Due: yarn format, eslint

fix: 级联选择器选中option文字没有加粗
  packages/zent/src/cascader/components/MenuContent.tsx
Due: yarn format, eslint

fix: 级联选择器simplify修改 (#1928)
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/demos/14.simplify.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

fix: 修复拖拽后有时数据会变为 empty 的问题 (#1930)
  packages/zent/src/sortable/Sortable.tsx
Due: yarn format, eslint

fix: [Notice][Placeholder]Notice样式调整&Placeholder类型修复
  packages/zent/assets/notice.scss
  packages/zent/src/placeholder/presets/RichTextBlock.tsx
Due: yarn format, eslint, stylelint

fix(notice,placeholder): notice样式调整&placeholder类型补全 (#1935)
  packages/zent/assets/notice.scss
  packages/zent/src/placeholder/presets/RichTextBlock.tsx
Due: yarn format, eslint, stylelint

fix(button): outline 模式下修复 hover 背景色为 #fff (#1933)
  packages/zent/assets/button.scss
  packages/zent/src/button/demos/style.md
Due: yarn format, stylelint

fix(casacder): 修复级联选择器选中option文字没有加粗 (#1934)
  packages/zent/src/cascader/components/MenuContent.tsx
Due: yarn format, eslint

fix(form): 修复vertical变更导致的demo样式布局错位 (#1932)
  packages/zent/src/form/demos/9.model-first.md
Due: none

feat(Grid): 支持是否显示可展开图标 (#1905)
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/expand.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

fix: 修改一些判断条件
  .husky/pre-push
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
Due: yarn format, eslint

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
