Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

update docs [ci skip]
  packages/zent/src/notice/README_en-US.md
  packages/zent/src/notice/README_zh-CN.md
Due: none

Publish
  packages/zent/RELEASE_NEXT.md
  packages/zent/package.json
Due: none

Update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

hotfix:change upload color
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq

hotfix:change upload color and border-width
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq

hotfix:change upload color (#1166)
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq

fix ITableColumn types
  packages/zent/src/table/Table.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: fix the content overflow style
  packages/zent/assets/notify.scss
Due: yarn format, sass-lint -vq

fix ITableColumn types (#1168)
  packages/zent/src/table/Table.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: fix the content overflow style (#1169)
  packages/zent/assets/notify.scss
Due: yarn format, sass-lint -vq

use standard font size
  packages/zent/assets/notice.scss
Due: yarn format, sass-lint -vq

update docs
  packages/zent/src/notice/README_zh-CN.md
  packages/zent/src/notify/README_zh-CN.md
Due: none

update test config
  packages/zent/jest.config.json
Due: none

update test config [ci skip]
  packages/zent/jest.config.json
Due: none

update docs [ci skip]
  packages/zent/src/notice/README_zh-CN.md
  packages/zent/src/notify/README_zh-CN.md
Due: none

[notice] new component Notice (#1165)
  packages/zent/assets/index.scss
  packages/zent/assets/notice.scss
  packages/zent/jest.config.json
  packages/zent/src/index.ts
  packages/zent/src/notice/Container.tsx
  packages/zent/src/notice/Notice.tsx
  packages/zent/src/notice/README_en-US.md
  packages/zent/src/notice/README_zh-CN.md
  packages/zent/src/notice/Wrap.tsx
  packages/zent/src/notice/demos/basic.md
  packages/zent/src/notice/demos/style.md
  packages/zent/src/notice/index.ts
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/utils/component/AnimateHeight.tsx
  packages/zent/src/utils/nextFrame.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

remove useless files
  packages/zent/assets/button/_zent-button-bordered.scss
  packages/zent/assets/button/_zent-button-group.scss
  packages/zent/assets/button/_zent-button-icon.scss
  packages/zent/assets/button/_zent-button-link.scss
  packages/zent/assets/button/_zent-button-size.scss
  packages/zent/assets/button/_zent-button-status.scss
  packages/zent/assets/button/_zent-button-style.scss
  packages/zent/assets/button/_zent-button-variable.scss
  packages/zent/assets/button/_zent-button.scss
Due: yarn format, sass-lint -vq

add warning button type
  packages/zent/assets/button.scss
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/demos/loading.md
  packages/zent/src/button/demos/style.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

add warning colors
  packages/zent/assets/alert.scss
  packages/zent/assets/form.scss
  packages/zent/assets/notify.scss
  packages/zent/assets/sweetalert.scss
  packages/zent/assets/tag.scss
  packages/zent/assets/theme/_default.scss
Due: yarn format, sass-lint -vq

migrate notice color
  packages/zent/assets/notice.scss
Due: yarn format, sass-lint -vq

[button] warning type (#1163)
  packages/zent/assets/alert.scss
  packages/zent/assets/button.scss
  packages/zent/assets/button/_zent-button-bordered.scss
  packages/zent/assets/button/_zent-button-group.scss
  packages/zent/assets/button/_zent-button-icon.scss
  packages/zent/assets/button/_zent-button-link.scss
  packages/zent/assets/button/_zent-button-size.scss
  packages/zent/assets/button/_zent-button-status.scss
  packages/zent/assets/button/_zent-button-style.scss
  packages/zent/assets/button/_zent-button-variable.scss
  packages/zent/assets/button/_zent-button.scss
  packages/zent/assets/form.scss
  packages/zent/assets/notice.scss
  packages/zent/assets/notify.scss
  packages/zent/assets/sweetalert.scss
  packages/zent/assets/tag.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/demos/loading.md
  packages/zent/src/button/demos/style.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix select style [ci skip]
  packages/zent/assets/select.scss
Due: yarn format, sass-lint -vq

fix select style [ci skip] (#1170)
  packages/zent/assets/select.scss
Due: yarn format, sass-lint -vq

feat: Rate support readonly
  packages/zent/assets/rate.scss
  packages/zent/src/rate/Rate.tsx
  packages/zent/src/rate/Star.tsx
  packages/zent/src/rate/demos/basic.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: 添加 tab isElement 判断 child 是否为 react 元素
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修改 line 类型 Progress 的默认宽度
  packages/zent/RELEASE_NEXT.md
  packages/zent/assets/progress.scss
  packages/zent/src/progress/components/CircleProgress.tsx
  packages/zent/src/progress/components/LineProgress.tsx
  packages/zent/src/progress/constants.ts
  packages/zent/src/progress/demos/info.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

feat: Rate support readonly-style and docs
  packages/zent/assets/rate.scss
  packages/zent/src/rate/README_en-US.md
  packages/zent/src/rate/README_zh-CN.md
  packages/zent/src/rate/Rate.tsx
  packages/zent/src/rate/Star.tsx
  packages/zent/src/rate/demos/readonly.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Publish
  packages/zent/package.json
Due: none

Update RELEASE_NEXT.md
  packages/zent/RELEASE_NEXT.md
Due: none

fix: alert warning 颜色修改
  packages/zent/assets/alert.scss
Due: yarn format, sass-lint -vq

fix loading delay default value
  packages/zent/src/loading/hooks/useDelayed.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix loading delay default value (#1176)
  packages/zent/src/loading/hooks/useDelayed.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: alert warning 颜色修改 (#1175)
  packages/zent/assets/alert.scss
Due: yarn format, sass-lint -vq

Use capture phase for scroll event on window
  packages/zent/src/popover/Content.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Use capture phase for scroll event on window (#1177)
  packages/zent/src/popover/Content.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[refactor] Progress (#1172)
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/progress.js
  packages/zent/assets/progress.scss
  packages/zent/src/progress/Progress.tsx
  packages/zent/src/progress/README_en-US.md
  packages/zent/src/progress/README_zh-CN.md
  packages/zent/src/progress/components/AnimatedArc.tsx
  packages/zent/src/progress/components/CircleProgress.tsx
  packages/zent/src/progress/components/LineProgress.tsx
  packages/zent/src/progress/components/ProgressInfo.tsx
  packages/zent/src/progress/constants.ts
  packages/zent/src/progress/demos/basic.md
  packages/zent/src/progress/demos/custom-color.md
  packages/zent/src/progress/demos/custom-text.md
  packages/zent/src/progress/demos/different-size.md
  packages/zent/src/progress/demos/different-status.md
  packages/zent/src/progress/demos/dynamic.md
  packages/zent/src/progress/demos/format.md
  packages/zent/src/progress/demos/info.md
  packages/zent/src/progress/demos/size.md
  packages/zent/src/progress/demos/status.md
  packages/zent/src/progress/index.ts
  packages/zent/src/progress/types.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

[refactor] Tabs (#1160)
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/cascader.js
  packages/zent/__tests__/tabs.js
  packages/zent/assets/cascader.scss
  packages/zent/assets/tabs.scss
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/index.ts
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/tabs/components/Nav.tsx
  packages/zent/src/tabs/components/Tab.tsx
  packages/zent/src/tabs/components/TabDivide.tsx
  packages/zent/src/tabs/components/TabPanel.tsx
  packages/zent/src/tabs/components/base/BaseTab.tsx
  packages/zent/src/tabs/components/base/BaseTabs.tsx
  packages/zent/src/tabs/components/base/BaseTabsNav.tsx
  packages/zent/src/tabs/components/navUtil.ts
  packages/zent/src/tabs/components/tab/CardTab.tsx
  packages/zent/src/tabs/components/tab/NormalTab.tsx
  packages/zent/src/tabs/components/tab/VerticalTab.tsx
  packages/zent/src/tabs/components/tabs-nav/ButtonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/CardTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/NormalTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/VerticalTabsNav.tsx
  packages/zent/src/tabs/demos/basic.md
  packages/zent/src/tabs/demos/card.md
  packages/zent/src/tabs/demos/nav-extra-content.md
  packages/zent/src/tabs/demos/no-tab-panel.md
  packages/zent/src/tabs/demos/slider.md
  packages/zent/src/tabs/demos/stretch.md
  packages/zent/src/tabs/demos/types.md
  packages/zent/src/tabs/demos/vertical.md
  packages/zent/src/tabs/index.ts
  packages/zent/src/tabs/index.tsx
  packages/zent/src/tabs/tabUtil.ts
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
