Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

fix(icon): fix zenticons error version (#2053)
  packages/zent/package.json
  yarn.lock
Due: none

docs: release 9.12.16
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

hotfix(dep): 修复因 observable-hooks 自动升级 4.3.2 下的打包报错问题 (#2045)
  packages/zent/package.json
  yarn.lock
Due: none

fix: 修复Indicator组件类型引用错误 (#2054)
  packages/zent/src/indicator/Indicator.tsx
Due: yarn format, eslint

feat(notify): Notify组件支持containerSelector和className配置 (#2055)
  packages/zent/__tests__/notify.spec.jsx
  packages/zent/assets/notify.scss
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/custom-container-selector.md
  packages/zent/src/notify/demos/global-container-selector.md
Due: yarn format, eslint, stylelint

chore: update prepublish-npm workflow
  .github/workflows/release.yml
Due: none

feat(Dialog): Dialog组件支持自定义弹窗打开/关闭动画原点
  packages/zent/__tests__/dialog/Dialog.spec.jsx
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/position.ts
Due: yarn format, eslint

feat(Dialog): Dialog组件支持自定义弹窗打开/关闭动画原点 (#2056)
  packages/zent/__tests__/dialog/Dialog.spec.jsx
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/position.ts
Due: yarn format, eslint

chore: update publish npm workflow
  .github/workflows/release.yml
Due: none

feat(icon): update zenticons version to 3.7.6
  .npmrc
  packages/zent/.npmrc
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

chore: update publish npm workflow (#2057)
  .github/workflows/release.yml
Due: none

feat(icon): update zenticons version to 3.7.6 (#2058)
  .npmrc
  packages/zent/.npmrc
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

docs: release 10.0.11
  packages/zent/RELEASE_zh-CN.md
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

feat: Grid的左侧多选框支持indeterminate属性
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

feat: Grid的左侧多选框支持indeterminate属性 (#2060)
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

feat(utils): calculate scrollbar width only when needed
  packages/zent/src/popover/placement/bottom-left-in-viewport.ts
  packages/zent/src/popover/placement/top-left-in-viewport.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/utils/dom/measureScrollbar.ts
  packages/zent/src/utils/getScrollbarWidth.ts
Due: yarn format, eslint

feat(utils): calculate when requestAnimateFrame
  packages/zent/src/utils/dom/measureScrollbar.ts
Due: yarn format, eslint

chore: optimize calculating scrollbar width (#2061)
  packages/zent/src/popover/placement/bottom-left-in-viewport.ts
  packages/zent/src/popover/placement/top-left-in-viewport.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/utils/dom/measureScrollbar.ts
  packages/zent/src/utils/getScrollbarWidth.ts
Due: yarn format, eslint

docs: release 9.12.17
  packages/zent/RELEASE_zh-CN.md
Due: none

chore: add release.yml npm version change
  .github/workflows/release.yml
Due: none

chore: optimize calculating scrollbar width (#2063)
  packages/zent/src/popover/placement/bottom-left-in-viewport.ts
  packages/zent/src/popover/placement/top-left-in-viewport.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/utils/dom/measureScrollbar.ts
  packages/zent/src/utils/getScrollbarWidth.ts
Due: yarn format, eslint

docs: release v10.0.12
  packages/zent/RELEASE_zh-CN.md
Due: none

fix: 修复Grid组件在渲染Selection和Expand时可能会出现的重复项问题
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

fix: 修复Grid组件在渲染Selection和Expand时可能会出现的重复项问题 (#2064)
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

docs: release 10.0.13
  packages/zent/RELEASE_zh-CN.md
Due: none

fix: 修复form表单的required样式丢失
  packages/zent/assets/form.scss
Due: yarn format, stylelint

fix(form): required style of form item was invalid (#2066)
  packages/zent/assets/form.scss
Due: yarn format, stylelint

fix(grid): fix the key of cell in grid component to rerender correctly
  packages/zent/src/grid/Row.tsx
Due: yarn format, eslint

fix(grid): fix the key of cell in grid component to rerender correctly (#2067)
  packages/zent/src/grid/Row.tsx
Due: yarn format, eslint
