Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: add missing type exports
  packages/zent/src/text-mark/chunk.ts
  packages/zent/src/text-mark/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor: clean up SelectMenu
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/select-menu/MenuList.tsx
  packages/zent/src/select-menu/MenuListItem.tsx
  packages/zent/src/select-menu/SelectMenu.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: use React.createRef
  .lintstagedrc
  packages/zent/src/auto-complete/AutoComplete.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

getScrollbarWidth add SSR support
  packages/zent/src/utils/getScrollbarWidth.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

revert unnecessary changes
  packages/zent/src/utils/component/WindowResizeHandler.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

move withEscToClose to LayeredPortal
  packages/zent/src/portal/LayeredPortal.tsx
  packages/zent/src/portal/PurePortal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

modify defaultProps for LayeredPortal
  packages/zent/src/portal/LayeredPortal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix FullScreenLoading
  packages/zent/src/loading/FullScreenLoading.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix select
  packages/zent/src/popover/Content.tsx
  packages/zent/src/portal/LayeredPortal.tsx
  packages/zent/src/select/Popup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: remove componentWillReceiveProps
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/select-menu/SelectMenu.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor: clean up SelectMenu (#1049)
  .lintstagedrc
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/select-menu/MenuList.tsx
  packages/zent/src/select-menu/MenuListItem.tsx
  packages/zent/src/select-menu/SelectMenu.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

rewrite portal
  package.json
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/portal/LayeredPortal.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/demos/basic.md
  packages/zent/src/portal/index.ts
  packages/zent/src/portal/util.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove useless code
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/util.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix withNonScrollable
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove unnecessary type assert
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove unnecessary hook dependency
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

polish onClickAway handler
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

doc: update Portal docs
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/portal/PurePortal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: fix bugs
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/README_en-US.md
  packages/zent/src/portal/README_zh-CN.md
  packages/zent/src/portal/demos/basic.md
  packages/zent/src/portal/util.ts
  packages/zent/src/preview-image/Image.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: fix scrollbar existence check
  packages/zent/src/portal/util.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: remove unused code
  packages/zent/src/portal/util.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: portal tests(not used for now)
  packages/zent/__tests__/portal/blockPageScroll.js
  packages/zent/__tests__/portal/closeOnESC.js
Due: yarn format, eslint

refactor portal (#1040)
  package.json
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/portal/blockPageScroll.js
  packages/zent/__tests__/portal/closeOnESC.js
  packages/zent/__tests__/preview-image.js
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/dialog/open.tsx
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/loading/props.ts
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/position-function.ts
  packages/zent/src/portal/ClosablePortal.tsx
  packages/zent/src/portal/LayeredPortal.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PortalContent.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/README_en-US.md
  packages/zent/src/portal/README_zh-CN.md
  packages/zent/src/portal/context.ts
  packages/zent/src/portal/demos/basic.md
  packages/zent/src/portal/index.ts
  packages/zent/src/portal/util.ts
  packages/zent/src/portal/withESCToClose.tsx
  packages/zent/src/portal/withNonScrollable.tsx
  packages/zent/src/preview-image/Image.tsx
  packages/zent/src/preview-image/previewImage.tsx
  packages/zent/src/select/Popup.tsx
  packages/zent/src/utils/component/BodyEventHandler.tsx
  packages/zent/src/utils/component/WindowResizeHandler.tsx
  packages/zent/src/utils/getScrollbarWidth.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: grid 文档添加排序效果
  packages/zent/src/grid/demos/sort.md
Due: none

doc: fix typo
  packages/zent/src/progress/AnimatedArc.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix radio types
  packages/zent/src/radio/AbstractRadio.ts
  packages/zent/src/radio/Group.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

NumberInput组件应该默认关闭autoComplete
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix radio types (#1055)
  packages/zent/src/radio/AbstractRadio.ts
  packages/zent/src/radio/Group.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

NumberInput默认关闭autoComplete (#1056)
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: form props
  packages/zent/package.json
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/createForm.tsx
  packages/zent/src/form/getControlGroup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: missing form props
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/form-components/FormComponentField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: form definitions
  packages/zent/src/form/FormContext.tsx
  packages/zent/src/form/createForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: update font size
  packages/zent/assets/alert.scss
  packages/zent/assets/avatar.scss
  packages/zent/assets/block-header.scss
  packages/zent/assets/breadcrumb.scss
  packages/zent/assets/card.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/date-range-quick-picker.scss
  packages/zent/assets/error-boundary.scss
  packages/zent/assets/form.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/input.scss
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/notify.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/preview-image.scss
  packages/zent/assets/progress.scss
  packages/zent/assets/rate.scss
  packages/zent/assets/search-input.scss
  packages/zent/assets/select.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/steps.scss
  packages/zent/assets/table.scss
  packages/zent/assets/tabs.scss
  packages/zent/assets/tag.scss
  packages/zent/assets/timeline.scss
  packages/zent/assets/tree.scss
  packages/zent/assets/upload.scss
  packages/zent/src/form/createForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Update Typescript definitions and font size (#1057)
  packages/zent/assets/alert.scss
  packages/zent/assets/avatar.scss
  packages/zent/assets/block-header.scss
  packages/zent/assets/breadcrumb.scss
  packages/zent/assets/card.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/date-range-quick-picker.scss
  packages/zent/assets/error-boundary.scss
  packages/zent/assets/form.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/input.scss
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/notify.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/preview-image.scss
  packages/zent/assets/progress.scss
  packages/zent/assets/rate.scss
  packages/zent/assets/search-input.scss
  packages/zent/assets/select.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/steps.scss
  packages/zent/assets/table.scss
  packages/zent/assets/tabs.scss
  packages/zent/assets/tag.scss
  packages/zent/assets/timeline.scss
  packages/zent/assets/tree.scss
  packages/zent/assets/upload.scss
  packages/zent/package.json
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/FormContext.tsx
  packages/zent/src/form/createForm.tsx
  packages/zent/src/form/form-components/FormComponentField.tsx
  packages/zent/src/form/getControlGroup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: slider & grid font-size
  packages/zent/assets/grid.scss
  packages/zent/assets/slider.scss
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: grid 文档添加排序效果 (#1051)
  packages/zent/src/grid/demos/sort.md
Due: none

fix: slider & grid font-size (#1058)
  packages/zent/assets/grid.scss
  packages/zent/assets/slider.scss
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

doc: update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

Publish
  packages/zent/package.json
Due: none

doc: remove colors page
  site/src/nav.static.js
Due: yarn format, eslint

Path conditions:
  yarn format: ((any of: *.js) or (any of: *.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: *.{ts,tsx}
  sass-lint -vq: any of: *.scss
