Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

link for apidoc
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  site/src/App.js
Due: yarn format, eslint

remove "text-rendering: optimizeLegibility;" [ci skip]
  packages/zent/assets/base/normalize.scss
  site/src/docs.scss
Due: yarn format, sass-lint -vq

remove duplicate css [ci skip]
  site/src/docs.scss
Due: yarn format, sass-lint -vq

remove "text-rendering: optimizeLegibility;" (#1221)
  packages/zent/assets/base/normalize.scss
  site/src/docs.scss
Due: yarn format, sass-lint -vq

fix: remove arbitrary colors
  packages/zent/assets/grid.scss
Due: yarn format, sass-lint -vq

fix missing exports
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update Form doc
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/1.basic.md
Due: none

update docs [ci skip]
  packages/zent/package.json
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/shared.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

update docs
  packages/zent/src/form/CombineErrors.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

upgrade formulr
  packages/zent/package.json
  yarn.lock
Due: none

fix
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: add component tooptip
  packages/zent/assets/index.scss
  packages/zent/assets/tooltip.scss
  packages/zent/scripts/validate-pop-size.sh
  packages/zent/src/index.ts
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/arrow-position/base.ts
  packages/zent/src/popover/arrow-position/bottom-center-arrow-position.ts
  packages/zent/src/popover/arrow-position/bottom-left-arrow-position.ts
  packages/zent/src/popover/arrow-position/bottom-right-arrow-position.ts
  packages/zent/src/popover/arrow-position/index.ts
  packages/zent/src/popover/arrow-position/left-bottom-arrow-position.ts
  packages/zent/src/popover/arrow-position/left-center-arrow-position.ts
  packages/zent/src/popover/arrow-position/left-top-arrow-position.ts
  packages/zent/src/popover/arrow-position/right-bottom-arrow-position.ts
  packages/zent/src/popover/arrow-position/right-center-arrow-position.ts
  packages/zent/src/popover/arrow-position/right-top-arrow-position.ts
  packages/zent/src/popover/arrow-position/top-center-arrow-position.ts
  packages/zent/src/popover/arrow-position/top-left-arrow-position.ts
  packages/zent/src/popover/arrow-position/top-right-arrow-position.ts
  packages/zent/src/tooltip/NoneTrigger.ts
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
  packages/zent/src/tooltip/demos/center-arrow.md
  packages/zent/src/tooltip/demos/controlled.md
  packages/zent/src/tooltip/demos/positions.md
  packages/zent/src/tooltip/demos/trigger.md
  packages/zent/src/tooltip/index.ts
  packages/zent/src/tooltip/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

feat: remove useless file + add readme.md
  packages/zent/scripts/validate-pop-size.sh
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/position.ts
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
  packages/zent/src/utils/getArrowPosition.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: fix match problem
  packages/zent/src/popover/arrow-position/base.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: remove useless file
  packages/zent/src/popover/arrow-position/bottom-center-arrow-position.ts
  packages/zent/src/popover/arrow-position/index.ts
  packages/zent/src/popover/arrow-position/left-center-arrow-position.ts
  packages/zent/src/popover/arrow-position/right-center-arrow-position.ts
  packages/zent/src/popover/arrow-position/top-center-arrow-position.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: export inner types from cascader
  packages/zent/src/cascader/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

update comments [ci skip]
  packages/zent/src/form/CombineErrors.tsx
  packages/zent/src/form/Control.tsx
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update FieldSet.tsx
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update CombineErrors.tsx
  packages/zent/src/form/CombineErrors.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update shared.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 代码优化和添加国际化
  packages/zent/assets/grid.scss
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/batch-components.md
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
  packages/zent/src/i18n/en-US.ts
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: remove console.log
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 优化batch comps fixed 判断
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix exports [ci skip]
  packages/zent/package.json
  packages/zent/src/form/index.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix exports [ci skip] (#1225)
  packages/zent/package.json
  packages/zent/src/form/index.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update docs
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_v7.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  site/src/nav.static.js
Due: yarn format, eslint

Publish
  packages/zent/package.json
Due: none

Fix docs
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  site/package.json
Due: none

Add Form default export
  packages/zent/scripts/cruiser/analyzer.ts
  packages/zent/src/form/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json

Reorder import
  packages/zent/src/form/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

built-in form component defaultValue should be optional [ci skip]
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix [ci skip]
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

built-in form component defaultValue should be optional [ci skip] (#1226)
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 仅resetOption启用时，重置selectedItem
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json
