Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 优化isSingleSelection判断逻辑
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

fix: 修复Grid组件切换selection传值显示bug (#1724)
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/selection.md
Due: yarn format, eslint

Update zenticons to 3.7.1
  packages/zent/package.json
  packages/zent/scripts/generate-icon-grid.js
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/README_en-US.md
  packages/zent/src/icon/README_zh-CN.md
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

version 3.7.1
  packages/zent/package.json
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: none

Update README_zh-CN.md
  packages/zent/src/icon/README_zh-CN.md
Due: none

增加提示
  packages/zent/src/icon/demos/all.md
Due: none

调整样式
  packages/zent/src/icon/demos/all.md
Due: none

Update zenticons to 3.7.1 (#1733)
  packages/zent/package.json
  packages/zent/scripts/generate-icon-grid.js
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/README_en-US.md
  packages/zent/src/icon/README_zh-CN.md
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

fix lint on CI
  packages/zent/scripts/invalidate-ts-build-cache.sh
  site/package.json
  site/scripts/gather.js
Due: yarn format, eslint

fix tests
  packages/babel-plugin-zent/src/index.js
  packages/zent/__tests__/select.spec.jsx
  packages/zent/jest.config.json
Due: yarn format, eslint

cleanup unused packages
  packages/zent/.babelrc.js
  packages/zent/package.json
  site/package.json
  site/src/constants.ts
  site/src/index.tsx
  yarn.lock
Due: yarn format, eslint

remove prop-types from test code
  packages/zent/__tests__/portal/context.spec.jsx
  packages/zent/__tests__/portal/state.spec.jsx
  packages/zent/package.json
Due: none

v9.8.0
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

fix caniuse-db scheduled task
  .github/workflows/update-caniuse-db.yml
Due: none

fix caniuse-db scheduled task (#1736)
  .github/workflows/update-caniuse-db.yml
Due: none

fix NumberInput demo
  packages/zent/src/number-input/demos/5.event-handler.md
Due: none

only update state.value with props in controlled mode
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint

add close dialog demo using return value of openDialog
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/demos/open.md
Due: none

ban useLayoutEffect due to warnings in SSR
  .eslintrc.js
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/cascader/trigger/Search.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeUnitColumn.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/portal/MountElement.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/select/Search.tsx
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/utils/hooks/useHover.ts
  packages/zent/src/utils/hooks/useIsomorphicLayoutEffect.ts
  packages/zent/src/utils/hooks/useResizeObserver.ts
Due: yarn format, eslint

rename useFieldArrayValue to useFieldArrayChildModels
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/demos/12.preview.md
  packages/zent/src/form/formulr/listeners/array.ts
Due: yarn format, eslint

add scatter option to form markdowns
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  site/scripts/gather.js
Due: yarn format, eslint

add scatter option to form markdowns (#1742)
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  site/scripts/gather.js
Due: yarn format, eslint

fix NumberInput demo (#1737)
  packages/zent/src/number-input/demos/5.event-handler.md
Due: none

add close dialog demo using return value of openDialog (#1739)
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/demos/open.md
Due: none

update doc
  packages/zent/src/form/README_zh-CN.md
Due: none

fix: 修复缩小或放大浏览器时，图片没有设置no-repeat造成有小白点漏出
  packages/zent/assets/checkbox.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[github_action] update caniuse-lite database
  yarn.lock
Due: none

ban useLayoutEffect due to warnings in SSR (#1740)
  .eslintrc.js
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/cascader/trigger/Search.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeUnitColumn.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/portal/MountElement.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/select/Search.tsx
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/utils/hooks/useHover.ts
  packages/zent/src/utils/hooks/useIsomorphicLayoutEffect.ts
  packages/zent/src/utils/hooks/useResizeObserver.ts
Due: yarn format, eslint

rename useFieldArrayValue to useFieldArrayChildModels (#1741)
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/12.preview.md
  packages/zent/src/form/formulr/listeners/array.ts
Due: yarn format, eslint

only update state.value with props in controlled mode (#1738)
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint

feature/i18n-ja
  packages/zent/src/i18n/index.ts
  packages/zent/src/i18n/ja.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/time-locale.ts
Due: yarn format, eslint

replace sass-lint with stylelint
  .lintstagedrc
  .stylelintrc
  package.json
  packages/zent/assets/base/normalize.scss
  packages/zent/assets/block-header.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/dialog.scss
  packages/zent/assets/disabled.scss
  packages/zent/assets/drawer.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/number-input.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/placeholder.scss
  packages/zent/assets/preview-image.scss
  packages/zent/assets/progress.scss
  packages/zent/assets/rate.scss
  packages/zent/assets/tabs.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/timeline.scss
  packages/zent/assets/tree.scss
  packages/zent/assets/upload.scss
  packages/zent/package.json
  packages/zent/plugins/postcss-plugin-lint.js
  packages/zent/scripts/build-theme.sh
  packages/zent/scripts/postcss-lint.sh
  site/.stylelintrc
  site/package.json
  site/src/_constants.scss
  site/src/components/search-box/style.scss
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix pre-commit hook script
  .lintstagedrc
Due: none

fix: yarn prettify
  packages/zent/src/i18n/ja.tsx
Due: yarn format, eslint

Sasslint to stylelint (#1747)
  .lintstagedrc
  .stylelintrc
  package.json
  packages/zent/assets/base/normalize.scss
  packages/zent/assets/block-header.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/dialog.scss
  packages/zent/assets/disabled.scss
  packages/zent/assets/drawer.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/number-input.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/placeholder.scss
  packages/zent/assets/preview-image.scss
  packages/zent/assets/progress.scss
  packages/zent/assets/rate.scss
  packages/zent/assets/tabs.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/timeline.scss
  packages/zent/assets/tree.scss
  packages/zent/assets/upload.scss
  packages/zent/package.json
  packages/zent/plugins/postcss-plugin-lint.js
  packages/zent/scripts/build-theme.sh
  packages/zent/scripts/postcss-lint.sh
  site/.stylelintrc
  site/package.json
  site/src/_constants.scss
  site/src/components/search-box/style.scss
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

prefix all css classnames
  packages/zent/assets/tree.scss
  packages/zent/src/tree/Tree.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

update previewImage doc
  packages/zent/src/preview-image/README_en-US.md
  packages/zent/src/preview-image/README_zh-CN.md
Due: none

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
