Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 修复 skipUpload 模式下数据更新有误的问题
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/demos/basic.md
  packages/zent/src/upload/demos/controlled.md
  packages/zent/src/upload/demos/skip.md
  packages/zent/src/upload/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

update styles
  packages/zent/assets/select.scss
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/components/Tag.tsx
  packages/zent/src/select/demos/auto-width.md
  packages/zent/src/select/trigger/BaseTrigger.tsx
  packages/zent/src/select/trigger/InputTrigger.tsx
  packages/zent/src/select/trigger/SimpleTrigger.tsx
  packages/zent/src/select/trigger/TagsTrigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix test
  packages/zent/__tests__/cascader.js
Due: yarn format, eslint

fix test
  packages/zent/__tests__/disabled.js
  packages/zent/__tests__/select.js
Due: yarn format, eslint

cushion 4
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

update styles (#1312)
  packages/zent/__tests__/disabled.js
  packages/zent/__tests__/select.js
  packages/zent/assets/select.scss
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/components/Tag.tsx
  packages/zent/src/select/demos/auto-width.md
  packages/zent/src/select/trigger/BaseTrigger.tsx
  packages/zent/src/select/trigger/InputTrigger.tsx
  packages/zent/src/select/trigger/SimpleTrigger.tsx
  packages/zent/src/select/trigger/TagsTrigger.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

update cascader style and remove prefix (#1311)
  README-zh_CN.md
  README.md
  packages/zent/__tests__/cascader.js
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

save
  packages/zent/assets/index.scss
  packages/zent/assets/waypoint.scss
  packages/zent/src/index.ts
  packages/zent/src/utils/isEqual.ts
  packages/zent/src/waypoint/README_en-US.md
  packages/zent/src/waypoint/README_zh-CN.md
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/src/waypoint/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 根据新设计规范进行样式调整
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/upload.scss
  packages/zent/src/i18n/I18nReceiver.ts
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/README_en-US.md
  packages/zent/src/upload/README_zh-CN.md
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/icons/Audio.tsx
  packages/zent/src/upload/components/icons/File.tsx
  packages/zent/src/upload/components/icons/Video.tsx
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/upload/components/image/List.tsx
  packages/zent/src/upload/components/image/Trigger.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
  packages/zent/src/upload/demos/image.md
  packages/zent/src/upload/demos/manual.md
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/format-file-size.ts
  packages/zent/src/upload/utils/get-tips-content.ts
  packages/zent/src/upload/utils/guess-support-types.ts
  packages/zent/src/upload/utils/wrap-promise.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 二次验收样式调整
  packages/zent/assets/upload.scss
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/utils/format-file-size.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 更新 DEMO 中上传错误时的展示文案
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/demos/basic.md
  packages/zent/src/upload/demos/controlled.md
  packages/zent/src/upload/demos/default-file-list.md
  packages/zent/src/upload/demos/image.md
  packages/zent/src/upload/demos/manual.md
  packages/zent/src/upload/demos/pagination.md
  packages/zent/src/upload/demos/sortable.md
  packages/zent/src/upload/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

grid: 修复grid表头吸顶在垂直方向不滚动是异常
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修改部分 className
  packages/zent/assets/upload.scss
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

[refactor] Upload: 上传组件重写 (#1298)
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/upload.scss
  packages/zent/src/i18n/I18nReceiver.ts
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/README_en-US.md
  packages/zent/src/upload/README_zh-CN.md
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/icons/Audio.tsx
  packages/zent/src/upload/components/icons/File.tsx
  packages/zent/src/upload/components/icons/Video.tsx
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/upload/components/image/List.tsx
  packages/zent/src/upload/components/image/Trigger.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
  packages/zent/src/upload/constants.ts
  packages/zent/src/upload/demos/basic.md
  packages/zent/src/upload/demos/controlled.md
  packages/zent/src/upload/demos/default-file-list.md
  packages/zent/src/upload/demos/image.md
  packages/zent/src/upload/demos/manual.md
  packages/zent/src/upload/demos/pagination.md
  packages/zent/src/upload/demos/sortable.md
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/default-image-props.ts
  packages/zent/src/upload/utils/format-file-size.ts
  packages/zent/src/upload/utils/get-tips-content.ts
  packages/zent/src/upload/utils/guess-support-types.ts
  packages/zent/src/upload/utils/wrap-promise.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

grid: grid组件checkbox 禁用添加pop展示禁用原因
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

add tests for event-handler
  packages/zent/__tests__/utils/event-handler/TargetEventHandlers.js
  packages/zent/__tests__/utils/event-handler/event-option-key.js
  packages/zent/__tests__/utils/event-handler/index.js
  packages/zent/__tests__/utils/event-handler/normalize-event-options.js
  packages/zent/__tests__/utils/event-handler/supports-passive.js
  packages/zent/package.json
  packages/zent/src/utils/component/event-handler/TargetEventHandlers.ts
  packages/zent/src/utils/component/event-handler/index.ts
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix bugs
  packages/zent/__tests__/clamp-lines.js
  packages/zent/__tests__/utils/WindowResizeHandler.js
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/infinite-scroller/InfiniteScroller.tsx
  packages/zent/src/popover/Content.tsx
  packages/zent/src/swiper/Swiper.tsx
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/modules/Head.tsx
  packages/zent/src/utils/component/WindowResizeHandler.tsx
  packages/zent/src/utils/component/WindowScrollHandler.tsx
  packages/zent/src/utils/dom/getDocumentClientSize.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

update dialog close button style
  packages/zent/assets/dialog.scss
  packages/zent/src/dialog/DialogEl.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

update dialog close button style (#1317)
  packages/zent/assets/dialog.scss
  packages/zent/src/dialog/DialogEl.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Update icons to 3.3.0
  packages/zent/package.json
  packages/zent/scripts/update-iconfont.sh
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update icons to 3.3.0 (#1318)
  packages/zent/package.json
  packages/zent/scripts/update-iconfont.sh
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

getSubmitValue for ZentForm
  packages/zent/package.json
  packages/zent/src/form/ZentForm.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

export useFieldValue
  packages/zent/src/form/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

move useFieldValue to Form property
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

grid: 补充文档
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: none

rename files
  .eslintrc.js
  eslintrc.react.js.base.js
  packages/zent/.eslintrc.js
  packages/zent/__tests__/.eslintrc
  packages/zent/__tests__/.eslintrc.js
  packages/zent/eslintrc.base.js
  packages/zent/plugins/.eslintrc.js
  packages/zent/scripts/cruiser/.eslintrc.js
  site/.eslintrc
  site/.eslintrc.js
Due: yarn format, eslint

fix react-hooks lint errors
  eslintrc.react.js.base.js
  packages/zent/.eslintrc.js
  packages/zent/__tests__/.eslintrc
  packages/zent/__tests__/.eslintrc.js
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/form-components/CheckboxField.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/src/form/form-components/InputField.tsx
  packages/zent/src/form/form-components/RadioGroupField.tsx
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/form/shared.tsx
  packages/zent/src/ime-composition/hooks.ts
  packages/zent/src/loading/hooks/useDelayed.ts
  packages/zent/src/portal/MountElement.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/upload/hooks/item-handler.ts
  packages/zent/src/utils/component/event-handler/index.ts
  packages/zent/src/utils/hooks/useEventCallbackRef.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

remove duplicate rules
  packages/zent/.eslintrc.js
Due: yarn format, eslint

[Form] export useFieldValue, getSubmitValue for ZentForm (#1319)
  packages/zent/package.json
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/ZentForm.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: change OmitKeys default generic type
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: use IFormFieldPropsBase for intellisense
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Due: none

new component Waypoint
  packages/zent/jest.config.json
  packages/zent/src/utils/isDOMElement.ts
  packages/zent/src/waypoint/README_en-US.md
  packages/zent/src/waypoint/README_zh-CN.md
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/src/waypoint/demos/01-basic.md
  packages/zent/src/waypoint/index.ts
  packages/zent/src/waypoint/offset.ts
  packages/zent/src/waypoint/position.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

add license
  packages/zent/src/waypoint/LICENSE
  packages/zent/src/waypoint/Waypoint.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
