Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Update README_zh-CN.md
  packages/zent/src/transfer/README_zh-CN.md
Due: none

Update README_en-US.md
  packages/zent/src/transfer/README_en-US.md
Due: none

[new component]: Transfer (#1420)
  packages/zent/assets/index.scss
  packages/zent/assets/transfer.scss
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/index.ts
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/ArrowButton.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/constants.ts
  packages/zent/src/transfer/demos/basic.md
  packages/zent/src/transfer/demos/grid.md
  packages/zent/src/transfer/demos/hook.md
  packages/zent/src/transfer/demos/renderProps.md
  packages/zent/src/transfer/demos/search.md
  packages/zent/src/transfer/hooks/useTransfer.ts
  packages/zent/src/transfer/index.ts
  packages/zent/src/transfer/types.ts
  packages/zent/src/transfer/utils.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Update CI badge
  README.md
Due: none

fix: select create loading
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: colorpicker支持disabled && 组件样式调整
  packages/zent/assets/colorpicker.scss
  packages/zent/src/colorpicker/README_en-US.md
  packages/zent/src/colorpicker/README_zh-CN.md
  packages/zent/src/colorpicker/demos/disabled.md
  packages/zent/src/colorpicker/index.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

border-radius使用统一规范像素
  packages/zent/assets/colorpicker.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[bug fix] Form: 修复scrollToError无法滚动至首个错误字段的问题
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

去除colorpicker的prefix属性
  packages/zent/__tests__/color-picker.js
  packages/zent/assets/colorpicker.scss
  packages/zent/src/colorpicker/ColorBoard.tsx
  packages/zent/src/colorpicker/README_en-US.md
  packages/zent/src/colorpicker/README_zh-CN.md
  packages/zent/src/colorpicker/SketchFields.tsx
  packages/zent/src/colorpicker/SketchPresetColors.tsx
  packages/zent/src/colorpicker/common/EditableInput.tsx
  packages/zent/src/colorpicker/index.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: fix getScrollPosition and use getScrollPosition
  packages/zent/src/form/Form.tsx
  packages/zent/src/utils/dom/getScollPosition.ts
Due: yarn format, eslint

fix: 使用位置信息判断首个错误字段
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

fix: 调整判断表单内首个字段的逻辑
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

feat(transfer): bug fix, support pagination
  packages/zent/assets/transfer.scss
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/constants.ts
  packages/zent/src/transfer/demos/grid.md
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat(transfer): useTransfer add resetSelectedKeys,resetTargetKeys
  packages/zent/src/transfer/demos/hook.md
  packages/zent/src/transfer/hooks/useTransfer.ts
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint

feat(transfer): support grid props: loading、className、rowClassName
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/constants.ts
  packages/zent/src/transfer/demos/grid.md
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint

feat(transfer): disabled
  packages/zent/src/transfer/Transfer.tsx
Due: yarn format, eslint

feat(transfer): disabled
  packages/zent/assets/transfer.scss
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/demos/basic.md
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat(transfer): modify doc
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
Due: none

feat(transfer): modify doc、type
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint

Ensure npm cache is valid before running CI jobs
  .github/workflows/ci.yml
Due: none

fix: 使用最小值替代数组
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

fix: 计算滚动位置的逻辑放到滚动开始之前，从循环体移出
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

fix: remove unused code
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

chore: remove some comments
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

fix: 修改坐标的默认值
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

fix: 修改坐标的默认值为正无穷
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

fix: 删除没用的代码
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

[bug fix] Form: 修复scrollToError无法滚动至首个错误字段的问题 (#1447)
  packages/zent/src/form/Form.tsx
  packages/zent/src/utils/dom/getScollPosition.ts
Due: yarn format, eslint

Use barebone @actions/cache@v2
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat(transfer): cr problem
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/constants.ts
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint

remove formulr
  packages/zent/package.json
  yarn.lock
Due: none

feat(transfer): cr problem
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
Due: none

remove formulr dependency (#1450)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/zent/package.json
  yarn.lock
Due: none

feat(transfer): cr problem
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/demos/basic.md
  packages/zent/src/transfer/demos/search.md
Due: yarn format, eslint

feat(transfer): cr problem
  packages/zent/src/transfer/README_zh-CN.md
Due: none

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
