Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: replace name and type
  packages/zent/src/pop/position.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

class replace
  packages/zent/__tests__/pop.js
  packages/zent/assets/pop.scss
  packages/zent/assets/tooltip.scss
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 修改测试判断
  packages/zent/__tests__/pop.js
Due: yarn format, eslint

fix: replace some func and clear code
  packages/zent/assets/pop.scss
  packages/zent/assets/tooltip.scss
  packages/zent/src/popover/arrow-position/arrow-bottom-left-position.ts
  packages/zent/src/popover/arrow-position/arrow-bottom-right-position.ts
  packages/zent/src/popover/arrow-position/arrow-left-bottom-position.ts
  packages/zent/src/popover/arrow-position/arrow-left-top-position.ts
  packages/zent/src/popover/arrow-position/arrow-right-bottom-position.ts
  packages/zent/src/popover/arrow-position/arrow-right-top-position.ts
  packages/zent/src/popover/arrow-position/arrow-top-left-position.ts
  packages/zent/src/popover/arrow-position/arrow-top-right-position.ts
  packages/zent/src/popover/arrow-position/create.ts
  packages/zent/src/popover/arrow-position/index.ts
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix padding
  packages/zent/assets/tooltip.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

remove prefix
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[new feature] Tooptip: 新增Tooptip组件 (#1222)
  packages/zent/__tests__/pop.js
  packages/zent/assets/index.scss
  packages/zent/assets/mixins/_pop-arrow.scss
  packages/zent/assets/tooltip.scss
  packages/zent/src/index.ts
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/arrow-position/arrow-bottom-left-position.ts
  packages/zent/src/popover/arrow-position/arrow-bottom-right-position.ts
  packages/zent/src/popover/arrow-position/arrow-left-bottom-position.ts
  packages/zent/src/popover/arrow-position/arrow-left-top-position.ts
  packages/zent/src/popover/arrow-position/arrow-right-bottom-position.ts
  packages/zent/src/popover/arrow-position/arrow-right-top-position.ts
  packages/zent/src/popover/arrow-position/arrow-top-left-position.ts
  packages/zent/src/popover/arrow-position/arrow-top-right-position.ts
  packages/zent/src/popover/arrow-position/create.ts
  packages/zent/src/popover/arrow-position/index.ts
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/tooltip/NoneTrigger.ts
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
  packages/zent/src/tooltip/demos/center-arrow.md
  packages/zent/src/tooltip/demos/controlled.md
  packages/zent/src/tooltip/demos/positions.md
  packages/zent/src/tooltip/demos/trigger.md
  packages/zent/src/tooltip/index.ts
  packages/zent/src/utils/getArrowPosition.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Fix typo in datetimepicker
  packages/zent/__tests__/datetimepicker/DatePicker.js
  packages/zent/__tests__/datetimepicker/DateRangePicker.js
  packages/zent/__tests__/datetimepicker/MonthPicker.js
  packages/zent/src/datetimepicker/MonthPicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/TimeRangePicker.tsx
  packages/zent/src/datetimepicker/YearPicker.tsx
  packages/zent/src/datetimepicker/constants/index.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Fix typo in datetimepicker (#1277)
  packages/zent/__tests__/datetimepicker/DatePicker.js
  packages/zent/__tests__/datetimepicker/DateRangePicker.js
  packages/zent/__tests__/datetimepicker/MonthPicker.js
  packages/zent/src/datetimepicker/MonthPicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/TimeRangePicker.tsx
  packages/zent/src/datetimepicker/YearPicker.tsx
  packages/zent/src/datetimepicker/constants/index.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: 通用文件上传组件基础功能完成
  packages/zent/assets/upload.scss
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractList.tsx
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/FileInput.tsx
  packages/zent/src/upload/components/icons/Audio.tsx
  packages/zent/src/upload/components/icons/File.tsx
  packages/zent/src/upload/components/icons/Video.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/List.tsx
  packages/zent/src/upload/demos/controlled.md
  packages/zent/src/upload/demos/image.md
  packages/zent/src/upload/demos/pagination.md
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v7.4.0
  packages/zent/package.json
Due: none

fix: 通用文件上传组件分页状态内部维护，文件名后缀常显示
  packages/zent/assets/upload.scss
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/List.tsx
  packages/zent/src/upload/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: wrap upload item name
  packages/zent/assets/upload.scss
  packages/zent/src/upload/components/normal/Item.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

replace tinycolor2 with a slim ts version
  packages/zent/package.json
  packages/zent/src/colorpicker/helpers/color.ts
  packages/zent/src/layout/components/BreakPointHub.tsx
  packages/zent/src/utils/date/formatDate.ts
  packages/zent/src/utils/date/helpers.ts
  packages/zent/src/utils/date/makeDateStr.ts
  packages/zent/src/utils/date/makeDateTimeStr.ts
  packages/zent/src/utils/date/parseDate.ts
  packages/zent/src/utils/tinycolor/conversion.ts
  packages/zent/src/utils/tinycolor/css-color-names.ts
  packages/zent/src/utils/tinycolor/format-input.ts
  packages/zent/src/utils/tinycolor/index.ts
  packages/zent/src/utils/tinycolor/interfaces.ts
  packages/zent/src/utils/tinycolor/tinycolor.ts
  packages/zent/src/utils/tinycolor/util.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

supports nested object path in Grid colomn name(legacy)
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/utils/getFromPath.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

add tests
  packages/zent/__tests__/utils/getFromPath.js
  packages/zent/src/datetimepicker/demos/value-type.md
Due: yarn format, eslint

fix: pop delay, list true page current fix
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/List.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修复 Sortable 组件重复 init 的 bug
  packages/zent/src/sortable/Sortable.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

revert demo
  packages/zent/src/datetimepicker/demos/value-type.md
Due: none

fix: 添加文件拖拽上传功能
  packages/zent/assets/upload.scss
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
  packages/zent/src/upload/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 处理已有上传项初始化时的 _id 属性赋值
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

add tinycolor tests
  packages/zent/__tests__/utils/tinycolor.js
  packages/zent/src/utils/tinycolor/conversion.ts
  packages/zent/src/utils/tinycolor/tinycolor.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

revert toRGBString
  packages/zent/__tests__/utils/tinycolor.js
  packages/zent/src/utils/tinycolor/tinycolor.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: Upload 统一使用 Infinity 表示无限制
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/upload/components/image/Trigger.tsx
  packages/zent/src/upload/constants.ts
  packages/zent/src/upload/demos/pagination.md
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 图片上传组件完成
  packages/zent/assets/upload.scss
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/components/AbstractList.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/upload/components/image/List.tsx
  packages/zent/src/upload/components/image/Trigger.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/upload/components/normal/List.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
  packages/zent/src/upload/demos/image.md
  packages/zent/src/upload/hooks/item-handler.ts
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils.ts
  packages/zent/src/utils/hooks/use-hover.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
