Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

fix:upload组件行高调整
  packages/zent/assets/upload.scss
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/demos/basic.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix:demo中的upload组件与img的居中样式调整
  packages/zent/assets/upload.scss
  packages/zent/src/upload/demos/basic.md
Due: yarn format, sass-lint -vq

fix:upload-demo样式
  packages/zent/src/upload/demos/basic.md
  site/src/react-docs.scss
Due: yarn format, sass-lint -vq

onClose callback for sweetalert
  packages/zent/src/sweetalert/constants.ts
  packages/zent/src/sweetalert/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix types
  packages/zent/src/sweetalert/ActionButton.tsx
  packages/zent/src/sweetalert/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix:upload组件md文件样式
  packages/zent/src/upload/demos/basic.md
  site/src/react-docs.scss
Due: yarn format, sass-lint -vq

fix:dialog图与上传组件高度一致
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq

fix:Upload图标替换，文案颜色和间距调整 (#1189)
  packages/zent/assets/upload.scss
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/UploadPopup.tsx
  packages/zent/src/upload/demos/basic.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix:修改了单选和多选的禁用选项文字颜色
  packages/zent/assets/checkbox.scss
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq

fix:修改了单选和多选的禁用选项文字颜色 (#1191)
  packages/zent/assets/checkbox.scss
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq

onClose
  packages/zent/src/sweetalert/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

export container from portal
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 纠正tree的 refer 修改、以及部分小修复
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/split-button/SplitButton.tsx
  packages/zent/src/tree/utils/createStateByProps.ts
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: 添加类型
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/batch-components.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

export container from portal (#1193)
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

typo
  packages/zent/src/sweetalert/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[Sweetalert] onClose callback (#1190)
  packages/zent/src/sweetalert/ActionButton.tsx
  packages/zent/src/sweetalert/constants.ts
  packages/zent/src/sweetalert/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: hot-loader alias rm to dev.config
  site/webpack/webpack.config.js
  site/webpack/webpack.dev.config.js
Due: yarn format, eslint

[bug fix]Tree: 移除plain模式对数据源的修改 以及 其他组件微小调整 (#1194)
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/split-button/SplitButton.tsx
  packages/zent/src/tree/utils/createStateByProps.ts
  site/package.json
  site/webpack/webpack.dev.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: 添加 tabs 组件匹配不到 types 时默认展示的组件类型，并删除 normal 类型下的 min-width 限制
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/Tabs.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: 添加 tabs 旧类型的兼容性检测用例
  packages/zent/__tests__/tabs.js
Due: yarn format, eslint

fix: add types assert
  packages/zent/src/tabs/Tabs.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] Tabs: 添加类型不匹配时的默认展示行为 (#1195)
  packages/zent/__tests__/tabs.js
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/Tabs.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Publish
  packages/zent/package.json
Due: none

Update RELEASE_NEXT.md
  packages/zent/RELEASE_NEXT.md
Due: none

fix select option
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix select option (#1197)
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] TimePicker: 修复 resetTime 的问题
  packages/zent/src/datetimepicker/TimePicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] TimePicker: 修复 resetTime 的问题 (#1198)
  packages/zent/src/datetimepicker/TimePicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix timepicker warning when value is missing
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix timepicker warning when value is missing (#1199)
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

typedoc [ci skip]
  packages/zent/package.json
  yarn.lock
Due: none

upgrade to typescript 3.6
  packages/zent/package.json
  yarn.lock
Due: none
