Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

Update zenticons to 3.6.4 (#1633)
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

v9.1.1
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

Update Grid.tsx
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

Update Tree.tsx
  packages/zent/src/tree/Tree.tsx
Due: yarn format, eslint

[bugfix]: Grid 纠正selection.getCheckboxProps处理逻辑 (#1635)
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

fix InputField demo
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/10.combine-errors.md
  packages/zent/src/form/demos/7.layout.md
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/demos/9.model-first.md
Due: none

Update Tree.tsx (#1639)
  packages/zent/src/tree/Tree.tsx
Due: yarn format, eslint

fix InputField demo (#1640)
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/10.combine-errors.md
  packages/zent/src/form/demos/7.layout.md
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/demos/9.model-first.md
Due: none

v9.1.2
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

[bugfix]: Tree expandAll受控逻辑调整 (#1638)
  packages/zent/src/tree/Tree.tsx
Due: yarn format, eslint

v8.6.2
  .github/workflows/release.yml
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

[bugfix] 修复禁用日期的当前年、月不可选问题
  packages/zent/src/date-picker/demos/disabled-date.md
  packages/zent/src/date-picker/panels/month-panel/MonthBody.tsx
  packages/zent/src/date-picker/panels/quarter-panel/QuarterBody.tsx
  packages/zent/src/date-picker/panels/year-panel/YearBody.tsx
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

[style] combined 面板切换年月交互调整
  packages/zent/src/date-picker/components/PanelHeader.tsx
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
Due: yarn format, eslint

[bugfix] combined 禁用处理方法修改
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/hooks/useCombinedDisabledDate.ts
Due: yarn format, eslint

[bugfix] 修改 disable 单元格逻辑
  packages/zent/src/date-picker/panels/month-panel/MonthBody.tsx
  packages/zent/src/date-picker/panels/quarter-panel/QuarterBody.tsx
  packages/zent/src/date-picker/panels/year-panel/YearBody.tsx
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

fix: 月选择切换年场景面板值不变的问题
  packages/zent/src/date-picker/panels/date-panel/index.tsx
Due: yarn format, eslint

删除 useRangeDisabledDate 方法中兼容 combined 的部分
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/hooks/useCombinedDisabledDate.ts
  packages/zent/src/date-picker/hooks/useRangeDisabledDate.ts
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/dateUtils.ts
Due: yarn format, eslint

Fixes #1636 修复不正确的年月份禁用逻辑 (#1641)
  packages/zent/src/date-picker/demos/disabled-date.md
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

仅展示当月内的端点
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

监听props变化
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
Due: yarn format, eslint

引用路径修改
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
Due: yarn format, eslint

公用方法
  packages/zent/src/date-picker/panels/date-panel/index.tsx
Due: yarn format, eslint

方法名修改
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/hooks/useCombinedDisabledDate.ts
Due: yarn format, eslint

[style] combined类型组件面板的交互优化 (#1642)
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/PanelHeader.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/hooks/useCombinedDisabledDate.ts
  packages/zent/src/date-picker/hooks/useRangeDisabledDate.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/dateUtils.ts
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

Update disabled and canClear type definition in DateRangePicker
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/demos/basic.md
  packages/zent/src/date-picker/demos/disabled.md
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

[fix]: current time update to callback's time
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
Due: yarn format, eslint

add test
  packages/zent/__tests__/date-picker/RangePicker.js
Due: yarn format, eslint

add test
  packages/zent/__tests__/date-picker/CombinedRangePicker.js
  packages/zent/__tests__/date-picker/RangePicker.js
Due: yarn format, eslint

feat: Grid 添加单选支持 selection.isSingleSelection
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionRadio.tsx
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

feat: Grid 添加单选 demo
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionRadio.tsx
  packages/zent/src/grid/demos/autoStick.md
  packages/zent/src/grid/demos/columnProvider.md
  packages/zent/src/grid/demos/disable-hover-highlight.md
  packages/zent/src/grid/demos/drop.md
  packages/zent/src/grid/demos/empty.md
  packages/zent/src/grid/demos/expand.md
  packages/zent/src/grid/demos/headerGroup.md
  packages/zent/src/grid/demos/scrollX.md
  packages/zent/src/grid/demos/scrollXY.md
  packages/zent/src/grid/demos/scrollY.md
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/demos/singleSelection.md
  packages/zent/src/grid/demos/sort.md
  packages/zent/src/grid/demos/span.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

DateRangePicker 属性 `disabled`、`canClear` 类型更新为`boolean | boolean[]` (#1644)
  packages/zent/__tests__/date-picker/CombinedRangePicker.js
  packages/zent/__tests__/date-picker/RangePicker.js
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/demos/basic.md
  packages/zent/src/date-picker/demos/disabled.md
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

use caret-down for Select and Cascader icon
  packages/zent/assets/cascader.scss
  packages/zent/assets/select.scss
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/select/Select.tsx
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

use caret-down for Select and Cascader icon (#1646)
  packages/zent/assets/cascader.scss
  packages/zent/assets/select.scss
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/select/Select.tsx
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 解构 Form.props.willScrollToError
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint
