Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 解构 Form.props.willScrollToError (#1647)
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

fix: fix code review conversations
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionRadio.tsx
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/demos/singleSelection.md
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

fix Select defaultProps typings
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix Select defaultProps typings (#1648)
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix defaultProps typings in Switch and CheckboxGroup
  packages/zent/src/checkbox/Group.tsx
  packages/zent/src/switch/Switch.tsx
Due: yarn format, eslint

fix defaultProps typings in Switch and CheckboxGroup (#1649)
  packages/zent/src/checkbox/Group.tsx
  packages/zent/src/switch/Switch.tsx
Due: yarn format, eslint

fix: 统一 getSelection 逻辑
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, eslint

[bugfix] 修复DateRangeQuickPicker min、max不生效问题
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
Due: yarn format, eslint

fix: remove SelectionRadio componentWillReceiveProps hook
  packages/zent/src/grid/SelectionRadio.tsx
Due: yarn format, eslint

fix: remove SelectionRadio static method getCheckState
  packages/zent/src/grid/SelectionRadio.tsx
Due: yarn format, eslint

Grid select support singleSelect (#1645)
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionRadio.tsx
  packages/zent/src/grid/demos/autoStick.md
  packages/zent/src/grid/demos/columnProvider.md
  packages/zent/src/grid/demos/disable-hover-highlight.md
  packages/zent/src/grid/demos/drop.md
  packages/zent/src/grid/demos/empty.md
  packages/zent/src/grid/demos/expand.md
  packages/zent/src/grid/demos/headerGroup.md
  packages/zent/src/grid/demos/scrollX.md
  packages/zent/src/grid/demos/scrollXY.md
  packages/zent/src/grid/demos/scrollY.md
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/demos/singleSelection.md
  packages/zent/src/grid/demos/sort.md
  packages/zent/src/grid/demos/span.md
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, eslint

[bugfix] 修复DateRangeQuickPicker min、max不生效问题 (#1650)
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
Due: yarn format, eslint

v9.2.0
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

support selection simplify in MenuCascader
  packages/zent/__tests__/cascader.js
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

add missing files
  packages/zent/src/cascader/demos/14.simplify.md
  packages/zent/src/cascader/simplify.ts
Due: yarn format, eslint

picker props instead of omit
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint

support selection simplify in MenuCascader (#1651)
  packages/zent/__tests__/cascader.js
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/demos/14.simplify.md
  packages/zent/src/cascader/simplify.ts
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

[new feature] Form: 增加clearError
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/base.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/ref.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

extract children
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

chore: 提取length
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

[new feature] Form: useModelValue, useModelValid
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/formulr/listeners/field.tsx
Due: yarn format, eslint

docs: 补充useModelValue的文档
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/21.subscribe-model.md
Due: none

add missing change log for Table
  packages/zent/RELEASE_v9.md
Due: none

add missing change log for Table (#1654)
  packages/zent/RELEASE_v9.md
Due: none

[new feature] Form: 增加clearError (#1652)
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/base.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/ref.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

docs: 补充了下文档
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/21.subscribe-model.md
Due: none

[new feature] Form: useModelValue, useModelValid (#1653)
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/21.subscribe-model.md
  packages/zent/src/form/formulr/listeners/field.tsx
Due: yarn format, eslint

v9.3.0
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

bugfix: fix mouse-events don't fire on disabled element
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionRadio.tsx
  packages/zent/src/popover/trigger/HoverTrigger.tsx
Due: yarn format, eslint

fix: change event method on hover trigger
  packages/zent/__tests__/popover.js
Due: yarn format, eslint

feat(select): Select 组件 search 输入框支持输入法合成处理
  packages/zent/src/select/Search.tsx
Due: yarn format, eslint

save
  packages/zent/src/pop/demos/disabled.md
  packages/zent/src/radio/Radio.tsx
Due: yarn format, eslint

feat(select): Select 组件 search 输入框支持输入法合成处理 (#1656)
  packages/zent/src/select/Search.tsx
Due: yarn format, eslint

extract select search input keyboard handler
  packages/zent/src/select/Search.tsx
Due: yarn format, eslint

extract select search input keyboard handler (#1657)
  packages/zent/src/select/Search.tsx
Due: yarn format, eslint

feature: tree单选支持选中节点高亮
  packages/zent/assets/tree.scss
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/demos/basic.md
  packages/zent/src/tree/utils/createStateByProps.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: color
  packages/zent/assets/tree.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[Bugfix]: fix the tooltip on disabled children
  packages/zent/assets/button.scss
  packages/zent/assets/checkbox.scss
  packages/zent/assets/input.scss
  packages/zent/assets/radio.scss
  packages/zent/src/button/Button.tsx
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/input/Input.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/pop/demos/disabled.md
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  packages/zent/src/radio/RadioButton.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
