Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

feat: 补单元测试
  packages/zent/__tests__/date-picker/SinglePicker.spec.jsx
Due: yarn format, eslint

feat: card test 完善
  packages/zent/__tests__/card.spec.jsx
Due: yarn format, eslint

feat: import timing-function
  packages/zent/assets/card.scss
Due: yarn format, stylelint

feat: alert test
  packages/zent/__tests__/alert.spec.jsx
Due: yarn format, eslint

feat: breadcrumb test
  packages/zent/__tests__/breadcrumb.spec.jsx
  packages/zent/src/breadcrumb/Breadcrumb.tsx
  packages/zent/src/breadcrumb/demos/fit-wdith.md
Due: yarn format, eslint

feat: tabs test
  packages/zent/__tests__/tabs.spec.jsx
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
Due: yarn format, eslint

feat: swiper test
  packages/zent/__tests__/swiper.spec.jsx
Due: yarn format, eslint

feat: prpgress test
  packages/zent/__tests__/progress.spec.jsx
  packages/zent/src/progress/types.ts
Due: yarn format, eslint

feat: steps test
  packages/zent/__tests__/steps.spec.jsx
Due: yarn format, eslint

feat: breadcrumb demo 完善
  packages/zent/src/breadcrumb/Breadcrumb.tsx
  packages/zent/src/breadcrumb/demos/fit-wdith.md
Due: yarn format, eslint

feat: switch 删除无用注释
  packages/zent/assets/switch.scss
Due: yarn format, stylelint

feat: tooltip样式修改
  packages/zent/assets/tooltip.scss
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, eslint, stylelint

feat: splitbutton 开发
  packages/zent/assets/button.scss
  packages/zent/assets/split-button.scss
  packages/zent/src/split-button/README_en-US.md
  packages/zent/src/split-button/README_zh-CN.md
  packages/zent/src/split-button/SplitButton.tsx
  packages/zent/src/split-button/demos/basic.md
Due: yarn format, eslint, stylelint

feat: v10 drawer
  packages/zent/assets/drawer.scss
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/drawer/demos/custom-width.md
  packages/zent/src/drawer/demos/noMask.md
  packages/zent/src/drawer/types.ts
Due: yarn format, eslint, stylelint

feat: 在只有一行的时候，后面表示数字的tag不分行
  packages/zent/assets/select.scss
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint, stylelint

[github_action] update caniuse-lite database
  yarn.lock
Due: none

feat: form修改
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/demos/18.custom-field.md
Due: yarn format, eslint

feat: select传入值修改
  packages/zent/src/select/KeySelect.tsx
  packages/zent/src/select/demos/2.controlled.md
  packages/zent/src/select/index.ts
Due: yarn format, eslint

feat: 新增 Elevator 组件
  packages/zent/assets/elevator.scss
  packages/zent/assets/index.scss
  packages/zent/src/elevator/Elevator.tsx
  packages/zent/src/elevator/ElevatorAnchor.tsx
  packages/zent/src/elevator/ElevatorLinks.tsx
  packages/zent/src/elevator/README_en-US.md
  packages/zent/src/elevator/README_zh-CN.md
  packages/zent/src/elevator/context.ts
  packages/zent/src/elevator/demos/basic.md
  packages/zent/src/elevator/demos/container-window.md
  packages/zent/src/elevator/demos/custom-offset.md
  packages/zent/src/elevator/demos/custom-targetOffset.md
  packages/zent/src/elevator/index.ts
  packages/zent/src/index.ts
Due: yarn format, eslint, stylelint

feat: v10-animation
  packages/zent/assets/theme/_timing-functions.scss
  packages/zent/src/utils/timingFunctions.ts
Due: yarn format, eslint, stylelint

feat: css修改
  packages/zent/assets/date-picker.scss
Due: yarn format, stylelint

feat: sortable 优化
  packages/zent/assets/index.scss
  packages/zent/assets/sortable.scss
  packages/zent/src/sortable/README_en-US.md
  packages/zent/src/sortable/README_zh-CN.md
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/sortable/demos/editable-list.md
  packages/zent/src/sortable/demos/sortable-grid.md
  packages/zent/src/sortable/demos/sortable-handle.md
Due: yarn format, eslint, stylelint

feat: 在timepicker弹出时，将datepicker的confirm按钮设为disabled
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

hotfix: 增加usecallback，回退type的更改
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

hotfix: 去掉boolean
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
Due: yarn format, eslint

日期选择器选择具体时间时，确认按钮置为disabled (#1865)
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
Due: yarn format, eslint

v9.12.3
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

feat: 修改页面边界不足时，menu的位置
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
Due: yarn format, eslint

feat: v10 tree
  packages/zent/__tests__/tree.spec.jsx
  packages/zent/assets/tree.scss
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/demos/basic.md
  packages/zent/src/tree/demos/disable-select.md
Due: yarn format, eslint, stylelint

feat: import timing-functions
  packages/zent/assets/tree.scss
Due: yarn format, stylelint

feat: drawer 默认宽度改回45%
  packages/zent/src/drawer/Drawer.tsx
Due: yarn format, eslint

feat: elevator 代码优化&demo文件格式化
  packages/zent/src/elevator/Elevator.tsx
  packages/zent/src/elevator/ElevatorAnchor.tsx
  packages/zent/src/elevator/ElevatorLinks.tsx
  packages/zent/src/elevator/context.ts
  packages/zent/src/elevator/demos/basic.md
  packages/zent/src/elevator/demos/container-window.md
  packages/zent/src/elevator/demos/custom-offset.md
  packages/zent/src/elevator/demos/custom-targetOffset.md
  packages/zent/src/tree/demos/disabled-data.md
Due: yarn format, eslint

feat: 代码优化
  packages/zent/assets/tree.scss
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/utils/common.ts
  packages/zent/src/tree/utils/correctMark.ts
  packages/zent/src/tree/utils/getJudgeInfo.ts
Due: yarn format, eslint, stylelint

feat: tree disableSelectedStrictly 类型定义
  packages/zent/src/tree/Tree.tsx
Due: yarn format, eslint

feat: sortable代码优化&demo完善
  packages/zent/assets/sortable.scss
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/sortable/demos/sortable-grid.md
Due: yarn format, eslint, stylelint

feat: label,提示 间距修改
  packages/zent/assets/form.scss
Due: yarn format, stylelint

feat: 级联选择器value的多种展现方式
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/demos/4.multiple.md
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint, stylelint

feat: 新增dropdown-nav组件
  packages/zent/assets/dropdown-nav.scss
  packages/zent/assets/index.scss
  packages/zent/src/dropdown-nav/DropdownNav.tsx
  packages/zent/src/dropdown-nav/README_en-US.md
  packages/zent/src/dropdown-nav/README_zh-CN.md
  packages/zent/src/dropdown-nav/demos/01-basic.md
  packages/zent/src/dropdown-nav/index.tsx
  packages/zent/src/index.ts
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/placement/bottom-same-width.ts
  packages/zent/src/popover/placement/index.ts
  site/src/docs.scss
Due: yarn format, eslint, stylelint

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
