Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

feat: 验收样式修改
  packages/zent/assets/input.scss
Due: yarn format, stylelint

feat: tabs tabPanel 支持candel,canFixed
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/demos/fixed.md
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, eslint

fix: 代码优化
  packages/zent/src/tabs/utils.ts
Due: yarn format, eslint

remove wechat bot
  .github/workflows/release.yml
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

remove wechat bot (#1898)
  .github/workflows/release.yml
Due: none

v10.0.0-beta.2
  packages/zent/package.json
Due: none

feat: 单元测试修改
  packages/zent/__tests__/button.spec.jsx
Due: yarn format, eslint

feat: disabled单元测试修改
  packages/zent/__tests__/disabled.spec.jsx
Due: yarn format, eslint

feat: button样式修改
  packages/zent/assets/button.scss
Due: yarn format, stylelint

feat: 按钮样式修改
  packages/zent/assets/split-button.scss
Due: yarn format, stylelint

feat: 边框修改回滚
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

v10.0.0-beta.3
  packages/zent/package.json
Due: none

feat: 去除重复背景色
  packages/zent/assets/button.scss
Due: yarn format, stylelint

fix: 恢复button修改导致的样式覆盖
  packages/zent/assets/pagination.scss
  packages/zent/src/pagination/demos/01-basic.md
Due: yarn format, stylelint

V10 pop (#1880)
  packages/zent/assets/pop.scss
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/pop/demos/controlled.md
  packages/zent/src/pop/demos/positions.md
Due: yarn format, stylelint

V10 tag (#1876)
  packages/zent/__tests__/tag.spec.jsx
  packages/zent/assets/tag.scss
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/tag/LinkTag.tsx
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
  packages/zent/src/tag/SelectTag.tsx
  packages/zent/src/tag/Tag.tsx
  packages/zent/src/tag/demos/basic.md
  packages/zent/src/tag/demos/custom.md
  packages/zent/src/tag/demos/on-close.md
  packages/zent/src/tag/demos/select-tag.md
  packages/zent/src/tag/demos/size.md
  packages/zent/src/tag/demos/style.md
  packages/zent/src/tag/index.ts
Due: yarn format, eslint, stylelint

V10 button (#1834)
  packages/zent/__tests__/button.spec.jsx
  packages/zent/__tests__/disabled.spec.jsx
  packages/zent/assets/button.scss
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/README_en-US.md
  packages/zent/src/button/README_zh-CN.md
  packages/zent/src/button/demos/directive.md
  packages/zent/src/button/demos/disabled.md
  packages/zent/src/button/demos/group.md
  packages/zent/src/button/demos/icon.md
  packages/zent/src/button/demos/link.md
  packages/zent/src/button/demos/loading.md
  packages/zent/src/button/demos/no-border.md
  packages/zent/src/button/demos/size.md
  packages/zent/src/button/demos/status.md
  packages/zent/src/button/demos/style.md
Due: yarn format, eslint, stylelint

V10 form (#1872)
  packages/zent/assets/form.scss
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/Label.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/10.combine-errors.md
  packages/zent/src/form/demos/11.normalizer.md
  packages/zent/src/form/demos/12.preview.md
  packages/zent/src/form/demos/13.interact.md
  packages/zent/src/form/demos/16.validate-option.md
  packages/zent/src/form/demos/18.custom-field.md
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/demos/20.reactive-value.md
  packages/zent/src/form/demos/3.multi-value.md
  packages/zent/src/form/demos/4.validate.md
  packages/zent/src/form/demos/5.async-validate.md
  packages/zent/src/form/demos/6.validator-middleware.md
  packages/zent/src/form/demos/7.layout.md
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/demos/9.model-first.md
Due: yarn format, eslint, stylelint

V10 tooltip (#1870)
  packages/zent/assets/tooltip.scss
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
  packages/zent/src/tooltip/demos/positions.md
Due: yarn format, eslint, stylelint

V10 sortable (#1869)
  packages/zent/assets/index.scss
  packages/zent/assets/sortable.scss
  packages/zent/assets/theme/_timing-functions.scss
  packages/zent/src/sortable/README_en-US.md
  packages/zent/src/sortable/README_zh-CN.md
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/sortable/demos/basic.md
  packages/zent/src/sortable/demos/disabled.md
  packages/zent/src/sortable/demos/editable-list.md
  packages/zent/src/sortable/demos/sortable-grid.md
  packages/zent/src/sortable/demos/sortable-handle.md
  packages/zent/src/utils/timingFunctions.ts
Due: yarn format, eslint, stylelint

feat: utils scroll step 问题修复
  packages/zent/src/utils/scroll.ts
Due: yarn format, eslint

feat: drawer 相关文档完善
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
Due: none

V10 alert (#1863)
  packages/zent/__tests__/alert.spec.jsx
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/components/AlertItem.tsx
  packages/zent/src/alert/demos/close.md
  packages/zent/src/alert/demos/loading.md
  packages/zent/src/alert/demos/outline.md
  packages/zent/src/alert/demos/scroll.md
  packages/zent/src/banner/Banner.tsx
  packages/zent/src/banner/README_en-US.md
  packages/zent/src/banner/README_zh-CN.md
  packages/zent/src/banner/demos/1.basic.md
  packages/zent/src/banner/index.ts
  packages/zent/src/index.ts
  packages/zent/src/loading/demos/global-mode-with-background.md
  packages/zent/src/prompt/Prompt.tsx
  packages/zent/src/prompt/README_en-US.md
  packages/zent/src/prompt/README_zh-CN.md
  packages/zent/src/prompt/demos/1.baisc.md
  packages/zent/src/prompt/demos/2.custom-close.md
  packages/zent/src/prompt/index.ts
  packages/zent/src/status-bar/README_en-US.md
  packages/zent/src/status-bar/README_zh-CN.md
  packages/zent/src/status-bar/StatusBar.tsx
  packages/zent/src/status-bar/demos/1.basic.md
  packages/zent/src/status-bar/demos/2.type.md
  packages/zent/src/status-bar/index.ts
Due: yarn format, eslint, stylelint

V10 dropdown nav (#1874)
  packages/zent/assets/dropdown-nav.scss
  packages/zent/assets/index.scss
  packages/zent/src/dropdown-nav/DropdownNav.tsx
  packages/zent/src/dropdown-nav/README_en-US.md
  packages/zent/src/dropdown-nav/README_zh-CN.md
  packages/zent/src/dropdown-nav/demos/01-basic.md
  packages/zent/src/dropdown-nav/index.ts
  packages/zent/src/index.ts
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/placement/bottom-same-width.ts
  packages/zent/src/popover/placement/index.ts
  site/src/docs.scss
Due: yarn format, eslint, stylelint

V10 split button (#1871)
  packages/zent/assets/dropdown.scss
  packages/zent/assets/split-button.scss
  packages/zent/src/split-button/README_en-US.md
  packages/zent/src/split-button/README_zh-CN.md
  packages/zent/src/split-button/SplitButton.tsx
  packages/zent/src/split-button/demos/button.md
  packages/zent/src/split-button/demos/dropdown-position.md
  packages/zent/src/split-button/demos/status.md
Due: yarn format, eslint, stylelint

V10 tree (#1868)
  packages/zent/__tests__/tree.spec.jsx
  packages/zent/assets/tree.scss
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/TreeContent.tsx
  packages/zent/src/tree/components/Loading.tsx
  packages/zent/src/tree/demos/array-data.md
  packages/zent/src/tree/demos/async.md
  packages/zent/src/tree/demos/basic.md
  packages/zent/src/tree/demos/custom-operate.md
  packages/zent/src/tree/demos/disable-select.md
  packages/zent/src/tree/demos/one-line.md
  packages/zent/src/tree/demos/option.md
  packages/zent/src/tree/demos/size.md
  packages/zent/src/tree/utils/common.ts
  packages/zent/src/tree/utils/correctMark.ts
  packages/zent/src/tree/utils/getJudgeInfo.ts
Due: yarn format, eslint, stylelint

V10 elevator (#1867)
  packages/zent/assets/elevator.scss
  packages/zent/assets/index.scss
  packages/zent/src/elevator/Elevator.tsx
  packages/zent/src/elevator/ElevatorAnchor.tsx
  packages/zent/src/elevator/ElevatorLinks.tsx
  packages/zent/src/elevator/README_en-US.md
  packages/zent/src/elevator/README_zh-CN.md
  packages/zent/src/elevator/context.ts
  packages/zent/src/elevator/demos/basic.md
  packages/zent/src/elevator/demos/container-window.md
  packages/zent/src/elevator/demos/controlled.md
  packages/zent/src/elevator/demos/custom-offset.md
  packages/zent/src/elevator/demos/custom-targetOffset.md
  packages/zent/src/elevator/index.ts
  packages/zent/src/index.ts
  packages/zent/src/tree/demos/disabled-data.md
  packages/zent/src/utils/scroll.ts
Due: yarn format, eslint, stylelint

V10 drawer (#1866)
  packages/zent/assets/drawer.scss
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/drawer/demos/basic.md
  packages/zent/src/drawer/demos/custom-width.md
  packages/zent/src/drawer/demos/noMask.md
  packages/zent/src/drawer/types.ts
Due: yarn format, eslint, stylelint

feat: tabs 代码优化
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/types.ts
Due: yarn format, eslint, stylelint

feat: custome-scroll-bar
  packages/zent/assets/mixins/_scroll-bar.scss
Due: yarn format, stylelint

V10 tabs (#1862)
  packages/zent/__tests__/tabs.spec.jsx
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/base/BaseTab.tsx
  packages/zent/src/tabs/components/operation/AnchorOperation.tsx
  packages/zent/src/tabs/components/tabs-nav/CardTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
  packages/zent/src/tabs/demos/custom-tab-bar.md
  packages/zent/src/tabs/demos/fixed.md
  packages/zent/src/tabs/demos/nav-extra-content.md
  packages/zent/src/tabs/demos/no-tab-panel.md
  packages/zent/src/tabs/demos/overflow-mode.md
  packages/zent/src/tabs/demos/stretch.md
  packages/zent/src/tabs/demos/type-button.md
  packages/zent/src/tabs/demos/types.md
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, eslint, stylelint

V10 swiper (#1860)
  packages/zent/__tests__/swiper.spec.jsx
  packages/zent/assets/swiper.scss
  packages/zent/src/swiper/README_en-US.md
  packages/zent/src/swiper/README_zh-CN.md
  packages/zent/src/swiper/Swiper.tsx
  packages/zent/src/swiper/SwiperDots.tsx
  packages/zent/src/swiper/demos/arrow-disabled.md
  packages/zent/src/swiper/demos/arrow.md
  packages/zent/src/swiper/demos/basic.md
  packages/zent/src/swiper/demos/dots-theme.md
  packages/zent/src/swiper/demos/dynamic-add-child.md
  packages/zent/src/swiper/demos/method.md
  packages/zent/src/swiper/index.ts
Due: yarn format, eslint, stylelint

V10 breadcrumb (#1859)
  packages/zent/__tests__/breadcrumb.spec.jsx
  packages/zent/assets/breadcrumb.scss
  packages/zent/src/breadcrumb/Breadcrumb.tsx
  packages/zent/src/breadcrumb/Item.tsx
  packages/zent/src/breadcrumb/README_en-US.md
  packages/zent/src/breadcrumb/README_zh-CN.md
  packages/zent/src/breadcrumb/demos/custom-item.md
  packages/zent/src/breadcrumb/demos/fit-wdith.md
  packages/zent/src/breadcrumb/demos/fold.md
Due: yarn format, eslint, stylelint

V10 progress (#1858)
  packages/zent/__tests__/progress.spec.jsx
  packages/zent/assets/progress.scss
  packages/zent/src/progress/Progress.tsx
  packages/zent/src/progress/README_en-US.md
  packages/zent/src/progress/README_zh-CN.md
  packages/zent/src/progress/components/CircleProgress.tsx
  packages/zent/src/progress/components/LineProgress.tsx
  packages/zent/src/progress/components/ProgressInfo.tsx
  packages/zent/src/progress/demos/circle.md
  packages/zent/src/progress/demos/custom-color.md
  packages/zent/src/progress/demos/dynamic.md
  packages/zent/src/progress/demos/format.md
  packages/zent/src/progress/demos/info.md
  packages/zent/src/progress/demos/line-cap.md
  packages/zent/src/progress/demos/size.md
  packages/zent/src/progress/demos/status.md
  packages/zent/src/progress/types.ts
Due: yarn format, eslint, stylelint

V10 switch (#1857)
  packages/zent/assets/switch.scss
  packages/zent/src/switch/README_en-US.md
  packages/zent/src/switch/README_zh-CN.md
Due: yarn format, stylelint

V10 password (#1848)
  packages/zent/__tests__/input.spec.jsx
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/Password.tsx
  packages/zent/src/input/demos/password.md
  packages/zent/src/input/index.tsx
Due: yarn format, eslint

feat: 去除注释
  packages/zent/assets/slider.scss
Due: yarn format, stylelint

V10 casacder (#1853)
  packages/zent/__tests__/cascader.spec.jsx
  packages/zent/__tests__/popover.spec.jsx
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/demos/1.menu.md
  packages/zent/src/cascader/demos/2.loading.md
  packages/zent/src/cascader/demos/4.multiple.md
  packages/zent/src/cascader/demos/6.scrollable.md
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/cascader/trigger/Tag.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/ja-JP.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/popover/placement/cascader-auto-bottom-left.ts
  packages/zent/src/popover/placement/index.ts
Due: yarn format, eslint, stylelint
