Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: delete useless code
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
Due: yarn format, eslint

[bugfix]: DatePicker disabled失效 (#1563)
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/CombinedTimePicker.tsx
  packages/zent/src/date-picker/components/PickerTrigger.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix defaultValue in SelectField
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

fix defaultValue in SelectField (#1566)
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

补全disableLazyMount相关文档
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/types.ts
Due: yarn format, eslint

[bugfix]: 修复FormDatePickerField 属性`defaultValue`不生效、修复类型校验异常 (#1562)
  packages/zent/src/date-picker/index.ts
  packages/zent/src/form/form-components/CombinedDateRangePickerField.tsx
  packages/zent/src/form/form-components/CombinedTimeRangePickerField.tsx
  packages/zent/src/form/form-components/DatePickerField.tsx
  packages/zent/src/form/form-components/DateRangePickerField.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/src/form/form-components/MonthPickerField.tsx
  packages/zent/src/form/form-components/QuarterPickerField.tsx
  packages/zent/src/form/form-components/TimePickerField.tsx
  packages/zent/src/form/form-components/TimeRangePickerField.tsx
  packages/zent/src/form/form-components/WeekPickerField.tsx
  packages/zent/src/form/form-components/YearPickerField.tsx
Due: yarn format, eslint

capitalize the first letter
  packages/zent/src/tabs/README_en-US.md
Due: none

[feature]: tabs组件 禁用`tabPanel` lazyMount (#1564)
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/types.ts
Due: yarn format, eslint

fix a typo in form value-listener
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

fix a typo in form value-listener (#1568)
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

feat: 增加useFormValue
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/demos/19.reactive-valid.md
  packages/zent/src/form/demos/20.reactive-value.md
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

chore: strict改回false
  packages/zent/tsconfig.json
Due: none

fix alert loading style in nested loading
  packages/zent/assets/loading.scss
  packages/zent/src/alert/demos/loading.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

remove generic constraint on getFormValue
  packages/zent/src/form/formulr/validate.ts
Due: yarn format, eslint

fix alert loading style in nested loading (#1570)
  packages/zent/assets/loading.scss
  packages/zent/src/alert/demos/loading.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

remove generic constraint on getFormValue (#1571)
  packages/zent/src/form/formulr/validate.ts
Due: yarn format, eslint

chore: 拆分value-listener
  packages/zent/src/form/formulr/index.ts
  packages/zent/src/form/formulr/listeners/array.ts
  packages/zent/src/form/formulr/listeners/field.tsx
  packages/zent/src/form/formulr/listeners/index.ts
  packages/zent/src/form/formulr/listeners/set.tsx
  packages/zent/src/form/formulr/listeners/utils.ts
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

feat: children$的订阅懒加载
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

fix: valid$初始值改为isNil(this.error)
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

fix: 收拢FieldSetModel在children数量变更时的值更新
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

v9.0.0-beta17
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

feat: 增加valid相关hook以及组件
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/demos/19.reactive-valid.md
  packages/zent/src/form/formulr/listeners/field.tsx
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/utils.ts
Due: yarn format, eslint

fix return type of openDialog
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/open.tsx
Due: yarn format, eslint

fix return type of openDialog (#1572)
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/open.tsx
Due: yarn format, eslint

style: 用新规则lint代码
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/date-picker/panels/combined-time-range-panel/CombinedTimeFooter.tsx
  packages/zent/src/date-picker/panels/quarter-panel/index.tsx
  packages/zent/src/date-picker/panels/week-panel/index.tsx
  packages/zent/src/date-picker/panels/year-panel/index.tsx
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/formulr/builders/array.ts
  packages/zent/src/form/utils.ts
  packages/zent/src/ime-composition/context.tsx
  packages/zent/src/pagination/impl/AbstractPagination.tsx
  packages/zent/src/placeholder/presets/RichTextBlock.tsx
  packages/zent/src/placeholder/presets/TextBlock.tsx
  packages/zent/src/placeholder/shapes/Rectangle.tsx
  packages/zent/src/tabs/components/tabs-nav/ButtonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/CardTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/NormalTabsNav.tsx
  packages/zent/src/tooltip/NoneTrigger.ts
  packages/zent/src/upload/components/normal/Trigger.tsx
  packages/zent/src/waypoint/Waypoint.tsx
Due: yarn format, eslint

style: 用新规则lint代码
  packages/zent/__tests__/utils/enquire/MediaQuery.js
Due: yarn format, eslint

fix: affix监听外部resize，保持宽度适应
  packages/zent/package.json
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/utils/hooks/use-resize-observer.ts
  yarn.lock
Due: yarn format, eslint

fix: 代码优化
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/utils/hooks/use-resize-observer.ts
Due: yarn format, eslint

fix: 忽略检查
  packages/zent/jest.config.json
Due: none

fix: affix监听resize，固定时保持宽度适应
  packages/zent/jest.config.json
  packages/zent/package.json
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/utils/hooks/use-resize-observer.ts
  yarn.lock
Due: yarn format, eslint

fix yarn.lock
  yarn.lock
Due: none

[bugfix]: 修复 disabledDate 的 、时间未生效问题
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/hooks/useRangeDisabledDate.ts
  packages/zent/src/date-picker/utils/unifiedDisabledDateFromProps.ts
Due: yarn format, eslint

bugfix: 修复select搜索场景使用键盘翻页定位异常问题
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

chore: 重命名listeners/utils
  packages/zent/src/form/formulr/listeners/use-model.ts
Due: yarn format, eslint

fix: 使用isModel判断是否是Model实例
  packages/zent/src/form/formulr/listeners/field.tsx
Due: yarn format, eslint

docs: 补充form相关文档
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/demos/19.reactive-valid.md
  packages/zent/src/form/formulr/listeners/array.ts
  packages/zent/src/form/formulr/listeners/set.tsx
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

bugfix: range组件disableTime操作所需属性透传
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/context/PickerContext.ts
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
Due: yarn format, eslint

fix: 通用filter方法
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix: 添加单文件上传组件，调整非表单场景下的部分样式
  packages/zent/assets/upload.scss
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/SingleUpload.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractMultiUpload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
  packages/zent/src/upload/components/single/Item.tsx
  packages/zent/src/upload/components/single/Trigger.tsx
  packages/zent/src/upload/demos/single.md
  packages/zent/src/upload/index.ts
  packages/zent/src/upload/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: useResizeObserver代码逻辑优化
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/utils/hooks/use-resize-observer.ts
Due: yarn format, eslint

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
