Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Support different path length in Cascader
  packages/zent/src/cascader/demos/4.multiple.md
  packages/zent/src/cascader/forest.ts
Due: yarn format, eslint

[new feature] Form: 响应式的校验状态（valid$）
  README.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/19.reactive-valid.md
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/tsconfig.json
Due: yarn format, eslint

chore: ts lib改为es2018，不需要flat
  README.md
  packages/zent/tsconfig.json
Due: none

chore: 恢复readme的改动
  README.md
Due: none

Support different path length in Cascader (#1529)
  packages/zent/src/cascader/demos/4.multiple.md
  packages/zent/src/cascader/forest.ts
Due: yarn format, eslint

v9.0.0-beta9
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

bugfix: Pop组件IPopActionCallback类型定义修改，按钮样式优化
  packages/zent/assets/pop.scss
  packages/zent/src/pop/Action.tsx
  packages/zent/src/pop/Pop.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

bugfix: 修复范围组件hover和selected样式
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat: 导出类型
  packages/zent/src/date-picker/index.ts
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

bugfix: FormNumberInputField类型修改
  packages/zent/src/form/form-components/NumberInputField.tsx
Due: yarn format, eslint

bugfix: FormNumberInputField类型修改 (#1533)
  packages/zent/src/form/form-components/NumberInputField.tsx
Due: yarn format, eslint

rename
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

fix: 保留'header'相关类
  packages/zent/src/pop/Pop.tsx
Due: yarn format, eslint

bugfix: Pop组件IPopActionCallback类型定义修改，按钮样式优化 (#1531)
  packages/zent/assets/pop.scss
  packages/zent/src/pop/Action.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

DatePicker 样式修改 && 增加类型导出 (#1532)
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/index.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

release v9.0.0-beta10
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

release v9.0.0-beta10 (#1535)
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

Support open/close Cascader from outside
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/demos/11.controlled.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

revert i18n text change
  packages/zent/src/cascader/demos/11.controlled.md
  packages/zent/src/cascader/demos/4.multiple.md
Due: none

fix tests
  packages/zent/src/cascader/MenuCascader.tsx
Due: yarn format, eslint

Support open/close Cascader from outside (#1536)
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/demos/11.controlled.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

Support custom item content and tooltip
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/demos/12.render-item.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

Support custom renderer for item list
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/demos/13.render-list.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

Support custom item content, tooltip and item list in cascader (#1537)
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/demos/12.render-item.md
  packages/zent/src/cascader/demos/13.render-list.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

v9.0.0-beta11
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
  packages/zent/src/form/demos/2.builtin-field.md
Due: none

doc:update renderValue in Cascader doc
  packages/zent/src/cascader/README_zh-CN.md
Due: none

[bug fix] DatePicker: 修复更新 disabled 参数后组件样式没有更新问题
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/constants/index.ts
Due: yarn format, eslint

[bug fix] DatePicker: 修复组件没有设定背景色的问题
  packages/zent/assets/date-picker.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[bug fix] DatePicker: 调整memo依赖项
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
Due: yarn format, eslint

fix: 🐛 fieldSetValue支持传入model
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

fix: 尽量不对原先的代码做过多的改动，保留ref
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
Due: yarn format, eslint

support opacity in theme-color add themed border shorthand mixin
  packages/zent/assets/theme/_default.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix missing css var support when using theme color
  packages/zent/assets/alert.scss
  packages/zent/assets/block-header.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/datetimepicker.scss
  packages/zent/assets/input.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/menu.scss
  packages/zent/assets/mixins/_popup-menu-item.scss
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/pop.scss
  packages/zent/assets/select-menu.scss
  packages/zent/assets/select.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/table.scss
  packages/zent/assets/tooltip.scss
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix pop menu background-color
  packages/zent/assets/mixins/_popup-menu-item.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

release v8.4.0-1
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

merge v8.4.0-theme
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/assets/alert.scss
  packages/zent/assets/block-header.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/datetimepicker.scss
  packages/zent/assets/input.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/menu.scss
  packages/zent/assets/mixins/_popup-menu-item.scss
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/pop.scss
  packages/zent/assets/select-menu.scss
  packages/zent/assets/select.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/table.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/tooltip.scss
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix alert theme color
  packages/zent/assets/alert.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix merge issue
  packages/zent/assets/alert.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: 🐛 fieldSetValue支持传入model (#1540)
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

CSS variable theme support for v8 (#1542)
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/assets/alert.scss
  packages/zent/assets/block-header.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/datetimepicker.scss
  packages/zent/assets/input.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/menu.scss
  packages/zent/assets/mixins/_popup-menu-item.scss
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/pop.scss
  packages/zent/assets/select-menu.scss
  packages/zent/assets/select.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/table.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/tooltip.scss
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
