Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

cleanup dependency
  packages/babel-plugin-zent/package.json
Due: none

v2.0.0
  packages/babel-plugin-zent/package.json
Due: none

v2.0.1
  packages/babel-plugin-zent/package.json
Due: none

input icon right
  packages/zent/assets/input.scss
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/demos/show-clear.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: color picker delete componentWillReceiveProps
  packages/zent/src/colorpicker/SketchFields.tsx
  packages/zent/src/colorpicker/common/ColorWrap.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: kill color picker componentWillReceiveProps
  packages/zent/src/colorpicker/common/EditableInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: delete value
  packages/zent/src/colorpicker/common/EditableInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: colorPicker test
  packages/zent/__tests__/color-picker.js
Due: yarn format, eslint

refactor slider
  packages/zent/assets/slider.scss
  packages/zent/src/slider/Container.tsx
  packages/zent/src/slider/Dots.tsx
  packages/zent/src/slider/InputField.tsx
  packages/zent/src/slider/Marks.tsx
  packages/zent/src/slider/Point.tsx
  packages/zent/src/slider/Points.tsx
  packages/zent/src/slider/Range.tsx
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/slider/ToolTips.tsx
  packages/zent/src/slider/Track.tsx
  packages/zent/src/slider/common.ts
  packages/zent/src/slider/index.ts
  packages/zent/src/slider/types.ts
  packages/zent/src/utils/component/WindowEventHandler.ts
  packages/zent/src/utils/withinRange.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

refactor dots
  packages/zent/assets/slider.scss
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/slider/Dots.tsx
  packages/zent/src/slider/Marks.tsx
  packages/zent/src/slider/Point.tsx
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/slider/common.ts
  packages/zent/src/utils/noop.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

refactor dots
  packages/zent/assets/slider.scss
  packages/zent/src/slider/Dots.tsx
  packages/zent/src/slider/Marks.tsx
  packages/zent/src/slider/Point.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

refactor dot value
  packages/zent/assets/slider.scss
  packages/zent/src/slider/Dots.tsx
  packages/zent/src/slider/Marks.tsx
  packages/zent/src/slider/Point.tsx
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/slider/common.ts
  packages/zent/src/slider/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

improve user experience
  packages/zent/src/slider/Slider.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

improve styles
  packages/zent/assets/slider.scss
  packages/zent/src/slider/Dots.tsx
  packages/zent/src/slider/Slider.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

style: Notify, style update
  packages/zent/assets/notify.scss
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/NotifyContent.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/basic.md
  packages/zent/src/notify/demos/global-duration.md
  packages/zent/src/notify/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

update tests
  packages/zent/__tests__/disabled.js
  packages/zent/__tests__/slider.js
  packages/zent/__tests__/utils.js
  packages/zent/src/slider/Dots.tsx
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/slider/normalize.ts
  packages/zent/src/utils/withinRange.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

improve number-input test coverage
  packages/zent/__tests__/number-input.js
Due: yarn format, eslint

fix: 补充 tabs 测试用例
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/cascader.js
  packages/zent/__tests__/tabs.js
  packages/zent/assets/cascader.scss
  packages/zent/src/tabs/components/TabPanel.tsx
  packages/zent/src/tabs/components/base/BaseTabs.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix(tabs): update readme
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
Due: none

move inline to css
  packages/zent/assets/input.scss
  packages/zent/src/input/Input.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

move inline to css (#1161)
  packages/zent/assets/input.scss
  packages/zent/src/input/Input.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix disabled context in button
  packages/zent/src/button/Directive.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix disabled context in button (#1162)
  packages/zent/src/button/Directive.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor(progress): 组件拆分到多个文件中
  packages/zent/src/progress/Progress.tsx
  packages/zent/src/progress/components/AnimatedArc.tsx
  packages/zent/src/progress/components/CircleProgress.tsx
  packages/zent/src/progress/components/LineProgress.tsx
  packages/zent/src/progress/components/ProgressInfo.tsx
  packages/zent/src/progress/constants.ts
  packages/zent/src/progress/index.ts
  packages/zent/src/progress/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

add component notice
  packages/zent/assets/index.scss
  packages/zent/assets/notice.scss
  packages/zent/src/index.ts
  packages/zent/src/notice/Container.tsx
  packages/zent/src/notice/Notice.tsx
  packages/zent/src/notice/README_en-US.md
  packages/zent/src/notice/README_zh-CN.md
  packages/zent/src/notice/Wrap.tsx
  packages/zent/src/notice/demos/basic.md
  packages/zent/src/notice/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

input onIconClick
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[input] place icon at right side (#1156)
  packages/zent/assets/input.scss
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/demos/show-clear.md
  packages/zent/src/input/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: add 'warn' API to document
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
Due: none

fix: setState是需要缓存一下props作比较
  packages/zent/src/colorpicker/SketchFields.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: color picker componentDidUpdate
  packages/zent/src/colorpicker/common/EditableInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: add 注释
  packages/zent/src/colorpicker/SketchFields.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] Notify: update style (#1158)
  packages/zent/assets/notify.scss
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/NotifyContent.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/basic.md
  packages/zent/src/notify/demos/global-duration.md
  packages/zent/src/notify/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

ColorPicker 删除 componentWillReceiveProps (#1157)
  packages/zent/__tests__/color-picker.js
  packages/zent/src/colorpicker/SketchFields.tsx
  packages/zent/src/colorpicker/common/ColorWrap.tsx
  packages/zent/src/colorpicker/common/EditableInput.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修改 progress 的状态计算逻辑，提高外部 prop 优先级
  packages/zent/assets/progress.scss
  packages/zent/src/progress/Progress.tsx
  packages/zent/src/progress/README_en-US.md
  packages/zent/src/progress/README_zh-CN.md
  packages/zent/src/progress/components/CircleProgress.tsx
  packages/zent/src/progress/components/LineProgress.tsx
  packages/zent/src/progress/components/ProgressInfo.tsx
  packages/zent/src/progress/constants.ts
  packages/zent/src/progress/demos/basic.md
  packages/zent/src/progress/demos/custom-color.md
  packages/zent/src/progress/demos/custom-text.md
  packages/zent/src/progress/demos/different-size.md
  packages/zent/src/progress/demos/different-status.md
  packages/zent/src/progress/demos/dynamic.md
  packages/zent/src/progress/demos/info.md
  packages/zent/src/progress/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: Table sort
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/table/Table.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: Table sort test
  packages/zent/__tests__/table/combine.js
Due: yarn format, eslint

[bug fix] Table: 排序错误，第二次没有取消 (#1164)
  packages/zent/__tests__/table/combine.js
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/table/Table.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: update progress tests
  packages/zent/__tests__/progress.js
Due: yarn format, eslint

docs: update progress readme
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/progress/README_en-US.md
  packages/zent/src/progress/README_zh-CN.md
  packages/zent/src/progress/demos/format.md
  packages/zent/src/progress/demos/size.md
  packages/zent/src/progress/demos/status.md
Due: none

notice animations
  packages/zent/assets/notice.scss
  packages/zent/src/notice/Container.tsx
  packages/zent/src/notice/Notice.tsx
  packages/zent/src/notice/Wrap.tsx
  packages/zent/src/notice/demos/basic.md
  packages/zent/src/notice/demos/style.md
  packages/zent/src/utils/component/AnimateHeight.tsx
  packages/zent/src/utils/nextFrame.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
