Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

refactor box shadow to mixin
  packages/zent/assets/cascader.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/datetimepicker.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/input.scss
  packages/zent/assets/loading.scss
  packages/zent/assets/menu.scss
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/pop.scss
  packages/zent/assets/select.scss
  packages/zent/assets/theme/_default.scss
Due: yarn format, sass-lint -vq

doc: update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

refactor: willReceiveProps in DatePicker
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/MonthPicker.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/YearPicker.tsx
  packages/zent/src/datetimepicker/constants/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: TimePicker value
  packages/zent/src/datetimepicker/TimePicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: TimePicker reset
  packages/zent/src/datetimepicker/TimePicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: remove useless code
  packages/zent/src/datetimepicker/TimePicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[new feature] Grid: bodyRender 渲染复杂组件，当存在固定列时，可获取所在的固定位置。
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/Row.js
Due: yarn format, eslint

[new feature] DateRangeQuickPicker: chooseDays 和 preset 支持指定开始时间和结束时间。
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.js
  packages/zent/src/date-range-quick-picker/helper.js
Due: yarn format, eslint

[new feature] Grid: Typescript 类型定义
  packages/zent/typings/libs/Grid.d.ts
Due: none

[new feature] DateRangeQuickPicker: Typescript 类型定义
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.js
  packages/zent/typings/libs/DateRangeQuickPicker.d.ts
Due: yarn format, eslint

Expected property shorthand
  packages/zent/src/grid/Row.js
Due: yarn format, eslint

文档更新
  package.json
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
Due: none

误删恢复
  package.json
Due: none

[new feature] DateRangeQuickPicker: chooseDays 和 preset 支持指定开始时间和结束时间。
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.js
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/date-range-quick-picker/helper.js
  packages/zent/typings/libs/DateRangeQuickPicker.d.ts
Due: yarn format, eslint

fix: add types
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/MonthPicker.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/YearPicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 补全丢失的类型定义
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.js
  packages/zent/typings/libs/DateRangeQuickPicker.d.ts
Due: yarn format, eslint

feat: 深度类型检测chooseDays
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.js
  packages/zent/src/date-range-quick-picker/helper.js
Due: yarn format, eslint

feat: 增加快速选择时间范围demo
  packages/zent/src/date-range-quick-picker/demos/preset.md
Due: none

fix: 使用 JSON.stringify 简化比较
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.js
Due: yarn format, eslint

fix: 使用 lodash.isEqual 判定
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.js
Due: yarn format, eslint

fix: 保证 valueType === 'number' 的确定性
  packages/zent/src/date-range-quick-picker/helper.js
Due: yarn format, eslint

fix: 类型定义更新
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/typings/libs/Grid.d.ts
Due: none

[new feature] Grid: bodyRender 可获取到当前所在列的固定状态。 (#1063)
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/Row.js
  packages/zent/typings/libs/Grid.d.ts
Due: yarn format, eslint

fix: 1. chooseDays 改名为 choosedItem 2. valueType 增加 data 类型 3. 先统一类型为 string 再进一步处理后返回
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/date-range-quick-picker/helper.js
  packages/zent/typings/libs/DateRangeQuickPicker.d.ts
Due: yarn format, eslint

[new feature] DateRangeQuickPicker: 支持选择任意时间范围 (#1065)
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.js
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/date-range-quick-picker/demos/preset.md
  packages/zent/src/date-range-quick-picker/helper.js
  packages/zent/typings/libs/DateRangeQuickPicker.d.ts
Due: yarn format, eslint

fix、: 修复精度丢失
  packages/zent/src/date-range-quick-picker/helper.js
Due: yarn format, eslint

fix: cleanup code
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/date-range-quick-picker/helper.js
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: yarn format, eslint

refact: slider和upload去除componentWillReceiveProps
  packages/zent/src/slider/Points.tsx
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

make portal accept React.CSSProperties racher than CSSStyleDeclaration
  packages/zent/package.json
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/position-function.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/utils/style/CSSProperty.ts
  packages/zent/src/utils/style/CSSPropertyOperations.ts
  packages/zent/src/utils/style/CSSShorthandProperty.ts
  packages/zent/src/utils/style/README.md
  packages/zent/src/utils/style/dangerousStyleValue.ts
  packages/zent/src/utils/style/hyphenateStyleName.ts
  packages/zent/src/utils/style/warnValidStyle.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

add test converage ignore
  packages/zent/jest.config.json
Due: none

add popup
  packages/zent/assets/index.scss
  packages/zent/assets/popup.scss
  packages/zent/src/index.ts
  packages/zent/src/popup/Popup.tsx
  packages/zent/src/popup/README_en-US.md
  packages/zent/src/popup/README_zh-CN.md
  packages/zent/src/popup/index.ts
  packages/zent/src/popup/position.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

initial popup
  packages/zent/assets/base/popup.scss
  packages/zent/assets/index.scss
  packages/zent/assets/popup.scss
  packages/zent/src/index.ts
  packages/zent/src/popup/Popup.tsx
  packages/zent/src/popup/README_zh-CN.md
  packages/zent/src/popup/click.ts
  packages/zent/src/popup/demos/1.basic.md
  packages/zent/src/popup/hover.ts
  packages/zent/src/popup/index.ts
  packages/zent/src/popup/position.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: preserve date precision in DateRangeQuickPicker
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/src/date-range-quick-picker/constants.js
  packages/zent/src/date-range-quick-picker/helper.js
Due: yarn format, eslint

Publish
  packages/zent/package.json
Due: none

Portal accepts React.CSSProperties rather than CSSStyleDeclaration (#1069)
  packages/zent/jest.config.json
  packages/zent/package.json
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/position-function.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/utils/style/CSSProperty.ts
  packages/zent/src/utils/style/CSSPropertyOperations.ts
  packages/zent/src/utils/style/CSSShorthandProperty.ts
  packages/zent/src/utils/style/README.md
  packages/zent/src/utils/style/dangerousStyleValue.ts
  packages/zent/src/utils/style/hyphenateStyleName.ts
  packages/zent/src/utils/style/warnValidStyle.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

popup initla position implemention
  packages/zent/assets/base/popup.scss
  packages/zent/src/popup/Popup.tsx
  packages/zent/src/popup/position.ts
  packages/zent/src/popup/utils.ts
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: TimePicker Error
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/TimeRangePicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

initial hover logic
  packages/zent/src/popup/demos/1.basic.md
  packages/zent/src/popup/hover.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix hover logic
  packages/zent/src/popup/hover.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json
