Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

feat: 验收修改
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, eslint

feat: tabs支持renderTabBar&文档完善
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/demos/custom-tab-bar.md
  packages/zent/src/tabs/demos/fixed.md
  packages/zent/src/tabs/demos/overflow-mode.md
  packages/zent/src/tabs/demos/type-button.md
  packages/zent/src/tabs/types.ts
Due: yarn format, eslint, stylelint

feat: tab定义及使用建议修改
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
Due: none

fix: 文档修改
  .husky/pre-push
  packages/zent/src/tag/LinkTag.tsx
  packages/zent/src/tag/README_zh-CN.md
  packages/zent/src/tag/SelectTag.tsx
Due: yarn format, eslint

feat: breadcrumb 文档完善
  packages/zent/src/breadcrumb/README_en-US.md
  packages/zent/src/breadcrumb/README_zh-CN.md
  packages/zent/src/breadcrumb/demos/custom-item.md
Due: none

fix: link tag样式修改
  .husky/pre-push
  packages/zent/assets/tag.scss
  packages/zent/src/tag/LinkTag.tsx
  packages/zent/src/tag/SelectTag.tsx
Due: yarn format, eslint, stylelint

feat: progress 样式调整&文档完善
  packages/zent/assets/progress.scss
  packages/zent/src/progress/README_en-US.md
  packages/zent/src/progress/README_zh-CN.md
  packages/zent/src/progress/demos/circle.md
  packages/zent/src/progress/demos/custom-color.md
  packages/zent/src/progress/demos/dynamic.md
  packages/zent/src/progress/demos/format.md
  packages/zent/src/progress/demos/info.md
  packages/zent/src/progress/demos/size.md
  packages/zent/src/progress/demos/status.md
Due: yarn format, stylelint

fix: 调整demo,修复样式问题
  packages/zent/assets/badge.scss
  packages/zent/src/badge/Badge.tsx
  packages/zent/src/badge/README_en-US.md
  packages/zent/src/badge/README_zh-CN.md
  packages/zent/src/badge/demos/basic.md
  packages/zent/src/badge/demos/dot.md
  packages/zent/src/badge/demos/max-num.md
  packages/zent/src/badge/demos/offset.md
  packages/zent/src/badge/demos/show-zero.md
  packages/zent/src/badge/demos/single-badge.md
Due: yarn format, eslint, stylelint

feat: notify 样式
  packages/zent/assets/notify.scss
  packages/zent/src/notify/demos/basic.md
  packages/zent/src/notify/demos/custom-show-time.md
Due: yarn format, stylelint

doc: 英文文档更新
  packages/zent/src/tag/README_en-US.md
Due: none

fix: loading demos
  packages/zent/src/loading/demos/global-mode-with-background.md
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

feat: 验收修改
  packages/zent/assets/date-picker.scss
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/assets/form.scss
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/12.preview.md
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/demos/3.multi-value.md
  packages/zent/src/form/demos/4.validate.md
  packages/zent/src/form/demos/5.async-validate.md
  packages/zent/src/form/demos/7.layout.md
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/demos/9.model-first.md
Due: yarn format, stylelint

feat: elevator demos
  packages/zent/assets/elevator.scss
  packages/zent/src/elevator/demos/basic.md
  packages/zent/src/elevator/demos/container-window.md
  packages/zent/src/elevator/demos/custom-offset.md
  packages/zent/src/elevator/demos/custom-targetOffset.md
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/18.custom-field.md
Due: none

feat: 恢复误操作
  packages/zent/assets/button.scss
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/assets/button.scss
  packages/zent/src/button/demos/text.md
Due: yarn format, stylelint

feat: swiper dotsColor not required
  packages/zent/src/swiper/Swiper.tsx
Due: yarn format, eslint

fix: size属性改为非必选
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

feat: collapse showContentBackground not required
  packages/zent/src/collapse/Collapse.tsx
Due: yarn format, eslint

feat: tree selectable
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/demos/array-data.md
  packages/zent/src/tree/demos/async.md
  packages/zent/src/tree/demos/basic.md
  packages/zent/src/tree/demos/custom-node.md
  packages/zent/src/tree/demos/custom-operate.md
  packages/zent/src/tree/demos/disable-select.md
  packages/zent/src/tree/demos/option.md
  packages/zent/src/tree/demos/size.md
Due: yarn format, eslint

feat: pre-push hooks
  .husky/pre-push
Due: none

fix: 恢复原有mixin
  packages/zent/assets/link.scss
Due: yarn format, stylelint

feat: breadcrumb 移动判断条件
  packages/zent/src/breadcrumb/Breadcrumb.tsx
Due: yarn format, eslint

feat: card 样式&demo
  packages/zent/assets/card.scss
  packages/zent/src/card/README_en-US.md
  packages/zent/src/card/README_zh-CN.md
  packages/zent/src/card/demos/basic.md
  packages/zent/src/card/demos/size.md
Due: yarn format, stylelint

feat: 文档修改
  packages/zent/src/pop/README_en-US.md
Due: none

feat: 文档修改
  packages/zent/src/select/README_en-US.md
Due: none

feat: tree 支持超出hover显示pop&tree test补充
  packages/zent/__tests__/tree.spec.jsx
  packages/zent/assets/tree.scss
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/TreeContent.tsx
  packages/zent/src/tree/demos/one-line.md
Due: yarn format, eslint, stylelint

docs: tree document
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
Due: none

feat: 验收修改
  packages/zent/assets/input.scss
  packages/zent/assets/number-input.scss
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/Password.tsx
  packages/zent/src/input/README_zh-CN.md
  packages/zent/src/input/demos/basic.md
  packages/zent/src/input/types.ts
Due: yarn format, eslint, stylelint

feat: 验收修改
  packages/zent/src/number-input/demos/1.basic.md
Due: none

feat: 验收修改
  packages/zent/assets/form.scss
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/assets/select.scss
Due: yarn format, stylelint

feat: 验收修改
  packages/zent/src/tooltip/demos/positions.md
Due: none

feat: css优化
  packages/zent/assets/input.scss
  packages/zent/assets/theme/_raw-vars.scss
Due: yarn format, stylelint

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
