Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat: add grid-provider demo
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Context.ts
  packages/zent/src/grid/Provider.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/provider.md
  packages/zent/src/grid/index.ts
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

fix: rename GridProvider to GridColumnProvider
  packages/zent/src/grid/Provider.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/columnProvider.md
Due: yarn format, eslint

fix: set context/provider prefix by column
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/ColumnContext.ts
  packages/zent/src/grid/ColumnProvider.tsx
  packages/zent/src/grid/Context.ts
  packages/zent/src/grid/Provider.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/index.ts
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

fix: update grid docs
  packages/zent/src/grid/README_en-US.md
Due: none

feat: add GridProvider and isValueEmpty (#1597)
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/ColumnContext.ts
  packages/zent/src/grid/ColumnProvider.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/columnProvider.md
  packages/zent/src/grid/index.ts
  packages/zent/src/grid/types.ts
Due: yarn format, eslint

fix: disableSearch渲染
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix: loadingProps类型使用说明修改
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: none

fix: 增加工具函数getRangeDisabledProps
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/disabledHelpers.ts
Due: yarn format, eslint

Update close button color
  packages/zent/assets/input.scss
  packages/zent/assets/select.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Update close button color (#1600)
  packages/zent/assets/input.scss
  packages/zent/assets/select.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

feature: Grid支持配置loading样式 (#1596)
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
Due: yarn format, eslint

feat: Select增加disableSearch属性 禁用搜索 (#1595)
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

bugifx: 修复overflow类型的操作不正常显示问题，调整内部节点的计算逻辑 (#1594)
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
Due: yarn format, eslint

fix: 修改函数名
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/disabledHelpers.ts
Due: yarn format, eslint

Use backward compatible theme color format
  packages/zent/assets/theme/_default.scss
  packages/zent/docs/THEME_en-US.md
  packages/zent/docs/THEME_zh-CN.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Use backward compatible theme color format (#1601)
  packages/zent/assets/theme/_default.scss
  packages/zent/docs/THEME_en-US.md
  packages/zent/docs/THEME_zh-CN.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Add default font color
  packages/zent/assets/base/normalize.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

disallow loadingProps to override loading in Grid
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

v9.0.0-beta.22
  packages/zent/RELEASE_v9.md
  packages/zent/assets/base/normalize.scss
  packages/zent/package.json
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

v8.4.0-4
  packages/zent/package.json
Due: none

fix docs webpack config
  site/webpack/webpack.config.js
Due: yarn format, eslint

Add missing ResizeObserver types
  packages/zent/package.json
Due: none

Resize observer missing types (#1602)
  packages/zent/package.json
  site/webpack/webpack.config.js
Due: yarn format, eslint

v9.0.0-beta.23
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

v9.0.0-beta.24
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
  packages/zent/plugins/postcss-plugin-constants.js
Due: yarn format, eslint

feature: 扩展日期组件showTime时的defaultTime类型
  packages/zent/__tests__/date-picker/RangePicker.js
  packages/zent/__tests__/date-picker/SinglePicker.js
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/hooks/useShowTimeOption.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

rename
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/disabledHelpers.ts
Due: yarn format, eslint

fix: 全局颜色修改为 stroke-1 && 拆分nnormalize 为 normalize 与 global
  packages/zent/assets/base.scss
  packages/zent/assets/base/global.scss
  packages/zent/assets/base/normalize.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: pagination 分页select添加 条 文案
  packages/zent/src/pagination/components/PageSizeChanger.tsx
Due: yarn format, eslint

[bugfix]: DateRangePicker 禁用时间处理修改，并导出类型 `IDisabledTime` (#1589)
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/WeekPicker.tsx
  packages/zent/src/date-picker/components/CombinedTimePicker.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/disabledHelpers.ts
  packages/zent/src/date-picker/hooks/useConfirmStatus.ts
  packages/zent/src/date-picker/hooks/useRangeDisabledTime.ts
  packages/zent/src/date-picker/index.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/combined-time-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeBody.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

fix: pset default color as stroke-1
  packages/zent/assets/date-picker.scss
  packages/zent/assets/form.scss
  packages/zent/assets/radio.scss
  packages/zent/assets/select.scss
  packages/zent/assets/slider.scss
  packages/zent/assets/timeline.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: pagination 分页select添加 条 w文案
  packages/zent/src/pagination/components/PageSizeChanger.tsx
Due: yarn format, eslint

feature: 扩展日期组件showTime时的defaultTime类型 (#1603)
  packages/zent/__tests__/date-picker/RangePicker.js
  packages/zent/__tests__/date-picker/SinglePicker.js
  packages/zent/src/date-picker/CombinedDateRangePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/hooks/useShowTimeOption.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

fix: DatePicker 暗文本提示色值更改 (#1605)
  packages/zent/assets/date-picker.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: pagination 分页select添加 条 w文案 (#1606)
  packages/zent/src/pagination/components/PageSizeChanger.tsx
Due: yarn format, eslint

rename zent-date-range-picker to zent-date-range-quick-picker
  packages/zent/assets/date-range-quick-picker.scss
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

rename zent-pop to zent-pop-v2
  packages/zent/assets/pop.scss
  packages/zent/src/pop/Action.tsx
  packages/zent/src/pop/Pop.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

rename zent-tooltip to zent-tooltip-v2
  packages/zent/assets/tooltip.scss
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

rename zent-popover to zent-popover-v2
  packages/zent/assets/pop.scss
  packages/zent/assets/tooltip.scss
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/placement/prefix.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
