Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

remove lodash-es/throttle
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/colorpicker/common/Saturation.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/swiper/Swiper.tsx
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/modules/Head.tsx
  packages/zent/src/utils/debounce.ts
  packages/zent/src/utils/throttle.ts
  packages/zent/src/utils/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/cloneDeep
  packages/zent/src/colorpicker/helpers/reactcss/mergeClasses.ts
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: add progress
  packages/zent/assets/upload.scss
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractList.tsx
  packages/zent/src/upload/components/AbstractTrigger.tsx
  packages/zent/src/upload/components/FileInput.tsx
  packages/zent/src/upload/components/normal/List.tsx
  packages/zent/src/upload/demos/basic.md
  packages/zent/src/upload/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: set progress in local file
  packages/zent/src/upload/components/UploadPopup.tsx
  packages/zent/src/upload/demos/basic.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove lodash-es/isEqual
  packages/zent/__tests__/utils/isEqual.js
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/popover/placement/isEqual.ts
  packages/zent/src/select/Select.tsx
  packages/zent/src/utils/isEqual.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

remove missed lodash-es/uniqBy usage
  packages/zent/src/grid/BatchComponents.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

remove unused packages and add polyfill notes
  .browserslistrc
  README-zh_CN.md
  README.md
  packages/zent/README_en-US.md
  packages/zent/README_zh-CN.md
  packages/zent/package.json
  packages/zent/tslint.json
  yarn.lock
Due: none

fix Affix tests
  .browserslistrc
  packages/zent/__tests__/affix.js
  packages/zent/src/affix/Affix.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix Tabs tests
  packages/zent/__tests__/tabs.js
Due: yarn format, eslint

Add utiltiy function tests
  packages/zent/__tests__/button.js
  packages/zent/__tests__/utils/debounce.js
  packages/zent/__tests__/utils/defer.js
  packages/zent/__tests__/utils/isDate.js
  packages/zent/__tests__/utils/sample.js
  packages/zent/__tests__/utils/throttle.js
  packages/zent/__tests__/utils/uniqueId.js
  packages/zent/src/utils/defer.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

cache static function in isEqual
  packages/zent/src/utils/isEqual.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

update comment
  packages/zent/src/utils/isEqual.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Move link to separate folder
  packages/zent/assets/index.scss
  packages/zent/assets/link.scss
  packages/zent/src/button/demos/link.md
  packages/zent/src/button/index.ts
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/index.ts
  packages/zent/src/link/Link.tsx
  packages/zent/src/link/README_en-US.md
  packages/zent/src/link/README_zh-CN.md
  packages/zent/src/link/demos/1-basic.md
  packages/zent/src/link/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

Move link to separate folder (#1272)
  packages/zent/assets/index.scss
  packages/zent/assets/link.scss
  packages/zent/src/button/demos/link.md
  packages/zent/src/button/index.ts
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/index.ts
  packages/zent/src/link/Link.tsx
  packages/zent/src/link/README_en-US.md
  packages/zent/src/link/README_zh-CN.md
  packages/zent/src/link/demos/1-basic.md
  packages/zent/src/link/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

v7.3.2
  packages/zent/package.json
Due: none

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

don't reassign UID after dnd'
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

use builtins
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/upload/components/FileInput.tsx
  packages/zent/src/utils/getScrollbarWidth.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

move Link tests to separate file
  packages/zent/__tests__/button.js
  packages/zent/__tests__/link.js
Due: yarn format, eslint

don't reassign UID after dnd' (#1273)
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: use constant enum
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: set progress in local file (#1271)
  packages/zent/src/upload/components/UploadPopup.tsx
  packages/zent/src/upload/demos/basic.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add some randomness to uniqueId
  packages/zent/src/utils/uniqueId.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix missing selected item after filter applied
  packages/zent/src/select/Popup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 传入类型名字
  packages/zent/assets/mixins/_pop-arrow.scss
  packages/zent/assets/pop.scss
  packages/zent/assets/tooltip.scss
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

uniqueId starts with letter
  packages/zent/src/utils/uniqueId.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix missing selected item after filter applied (#1274)
  packages/zent/src/select/Popup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add some randomness to uniqueId (#1275)
  packages/zent/src/utils/uniqueId.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: replace name and type
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/arrow-position/arrow-bottom-left-position.ts
  packages/zent/src/popover/arrow-position/arrow-bottom-right-position.ts
  packages/zent/src/popover/arrow-position/arrow-left-bottom-position.ts
  packages/zent/src/popover/arrow-position/arrow-left-top-position.ts
  packages/zent/src/popover/arrow-position/arrow-right-bottom-position.ts
  packages/zent/src/popover/arrow-position/arrow-right-top-position.ts
  packages/zent/src/popover/arrow-position/arrow-top-left-position.ts
  packages/zent/src/popover/arrow-position/arrow-top-right-position.ts
  packages/zent/src/popover/arrow-position/index.ts
  packages/zent/src/popover/placement/createArrowPosition.ts
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/tooltip/Tooltip.tsx
  packages/zent/src/utils/getArrowPosition.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
