Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

V10 badge (#1833)
  packages/zent/assets/badge.scss
  packages/zent/src/badge/Badge.tsx
  packages/zent/src/badge/README_en-US.md
  packages/zent/src/badge/README_zh-CN.md
  packages/zent/src/badge/demos/basic.md
  packages/zent/src/badge/demos/dot.md
  packages/zent/src/badge/demos/max-num.md
  packages/zent/src/badge/demos/offset.md
  packages/zent/src/badge/demos/show-zero.md
  packages/zent/src/badge/demos/single-badge.md
Due: yarn format, eslint, stylelint

V10 steps (#1836)
  packages/zent/__tests__/steps.spec.jsx
  packages/zent/assets/steps.scss
  packages/zent/src/index.ts
  packages/zent/src/indicator/Indicator.tsx
  packages/zent/src/indicator/README_en-US.md
  packages/zent/src/indicator/README_zh-CN.md
  packages/zent/src/indicator/demos/1.basic.md
  packages/zent/src/indicator/demos/2.fail-step.md
  packages/zent/src/indicator/demos/3.custom-icon.md
  packages/zent/src/indicator/demos/4.vertical-step.md
  packages/zent/src/indicator/index.ts
  packages/zent/src/steps/README_en-US.md
  packages/zent/src/steps/README_zh-CN.md
  packages/zent/src/steps/Steps.tsx
  packages/zent/src/steps/components/BreadcrumbSteps.tsx
  packages/zent/src/steps/components/Step.tsx
  packages/zent/src/steps/demos/breadcrumb-step-custom-icon.md
  packages/zent/src/steps/demos/breadcrumb-step-disabled.md
  packages/zent/src/steps/demos/card-step.md
  packages/zent/src/steps/demos/tabs-step.md
Due: yarn format, eslint, stylelint

V10 notify (#1838)
  packages/zent/assets/notify.scss
  packages/zent/src/notify/NotifyContent.tsx
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/basic.md
  packages/zent/src/notify/demos/custom-show-time.md
Due: yarn format, eslint, stylelint

feat: 增加文档说明
  packages/zent/src/input/README_zh-CN.md
Due: none

feat: collapse 无用注释移除
  packages/zent/assets/collapse.scss
Due: yarn format, stylelint

V10 collapse (#1840)
  packages/zent/assets/collapse.scss
  packages/zent/src/collapse/Collapse.tsx
  packages/zent/src/collapse/Panel.tsx
  packages/zent/src/collapse/README_en-US.md
  packages/zent/src/collapse/README_zh-CN.md
  packages/zent/src/collapse/demos/accordion.md
  packages/zent/src/collapse/demos/no-border.md
  packages/zent/src/collapse/demos/show-content-bg.md
  packages/zent/src/utils/component/AnimateHeight.tsx
Due: yarn format, eslint, stylelint

V10 loading (#1842)
  packages/zent/assets/loading.scss
  packages/zent/src/loading/BlockLoading.tsx
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/loading/InlineLoading.tsx
  packages/zent/src/loading/README_en-US.md
  packages/zent/src/loading/README_zh-CN.md
  packages/zent/src/loading/components/icons/Circle.tsx
  packages/zent/src/loading/components/icons/IconProps.ts
  packages/zent/src/loading/components/icons/Youzan.tsx
  packages/zent/src/loading/demos/global-mode.md
  packages/zent/src/loading/demos/inline.md
  packages/zent/src/loading/demos/text.md
  packages/zent/src/loading/props.ts
Due: yarn format, eslint, stylelint

feat: i18n名称修改
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/ja-JP.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint

V10 link (#1843)
  packages/zent/__tests__/link.spec.jsx
  packages/zent/assets/button.scss
  packages/zent/assets/link.scss
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/src/link/Link.tsx
  packages/zent/src/link/README_en-US.md
  packages/zent/src/link/README_zh-CN.md
  packages/zent/src/link/demos/1.basic.md
  packages/zent/src/link/demos/2.weak-link.md
Due: yarn format, eslint, stylelint

V10 pagination (#1847)
  packages/zent/assets/pagination.scss
  packages/zent/src/pagination/README_en-US.md
  packages/zent/src/pagination/README_zh-CN.md
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/pagination/demos/01-basic.md
Due: yarn format, eslint, stylelint

V10 date-picker (#1855)
  packages/zent/__tests__/date-picker/RangePicker.spec.jsx
  packages/zent/__tests__/date-picker/SinglePicker.spec.jsx
  packages/zent/assets/date-picker.scss
  packages/zent/src/button/demos/only-icon.md
  packages/zent/src/button/demos/text.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/components/PanelHeader.tsx
  packages/zent/src/date-picker/demos/basic.md
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint, stylelint

V10 slider (#1854)
  packages/zent/assets/slider.scss
  packages/zent/src/slider/README_en-US.md
  packages/zent/src/slider/README_zh-CN.md
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/slider/demos/disable.md
  packages/zent/src/slider/demos/single-label.md
Due: yarn format, eslint, stylelint

V10 select (#1845)
  packages/zent/assets/select.scss
  packages/zent/assets/theme/_raw-vars.scss
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/3.group.md
  packages/zent/src/select/demos/4.multiple.md
  packages/zent/src/select/demos/5.filter.md
  packages/zent/src/select/demos/6.custom-search.md
  packages/zent/src/select/demos/7.virtual-scroll.md
  packages/zent/src/select/demos/8.scrollable.md
  packages/zent/src/select/demos/9.custom-display.md
Due: yarn format, eslint, stylelint

V10 Multi Select (#1846)
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/10.creatable.md
  packages/zent/src/select/demos/4.multiple.md
Due: yarn format, eslint

V10 dialog (#1844)
  packages/zent/assets/dialog.scss
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/demos/basic.md
  packages/zent/src/dialog/demos/content-only.md
  packages/zent/src/dialog/demos/context.md
  packages/zent/src/dialog/demos/no-header.md
  packages/zent/src/dialog/demos/open.md
Due: yarn format, stylelint

V10 input (#1839)
  packages/zent/assets/input.scss
  packages/zent/assets/number-input.scss
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
  packages/zent/src/input/demos/basic.md
  packages/zent/src/input/types.ts
Due: yarn format, eslint, stylelint

feat: 名称修改
  packages/zent/src/number-input/README_zh-CN.md
Due: none

V10 radio (#1837)
  packages/zent/assets/radio.scss
  packages/zent/src/radio/README_en-US.md
  packages/zent/src/radio/README_zh-CN.md
  packages/zent/src/radio/demos/button.md
  packages/zent/src/radio/demos/multi-line.md
Due: yarn format, stylelint

feat: button语义化修改; 新增文字按钮、图片按钮语义化定义 (#1827)
  packages/zent/assets/button.scss
  packages/zent/assets/theme/semantic/_color.scss
Due: yarn format, stylelint

V10 checkbox (#1835)
  packages/zent/assets/checkbox.scss
  packages/zent/src/checkbox/README_en-US.md
  packages/zent/src/checkbox/README_zh-CN.md
  packages/zent/src/checkbox/demos/multi-line.md
Due: yarn format, stylelint

fix: 向前兼容不传size时表格整体高度
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/autoStick.md
  packages/zent/src/grid/demos/batch.md
  packages/zent/src/grid/demos/columnProvider.md
  packages/zent/src/grid/demos/disable-hover-highlight.md
  packages/zent/src/grid/demos/drop.md
  packages/zent/src/grid/demos/editable.md
  packages/zent/src/grid/demos/empty.md
  packages/zent/src/grid/demos/expand.md
  packages/zent/src/grid/demos/headerGroup.md
  packages/zent/src/grid/demos/loading.md
  packages/zent/src/grid/demos/pagination.md
  packages/zent/src/grid/demos/scrollX.md
  packages/zent/src/grid/demos/scrollXY.md
  packages/zent/src/grid/demos/scrollY.md
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/demos/simple.md
  packages/zent/src/grid/demos/singleSelection.md
  packages/zent/src/grid/demos/sort.md
  packages/zent/src/grid/demos/span.md
Due: yarn format, eslint, stylelint

V10 number-input (#1841)
  packages/zent/__tests__/number-input.spec.jsx
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/ja-JP.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
  packages/zent/src/number-input/decimal.ts
  packages/zent/src/number-input/demos/1.basic.md
  packages/zent/src/number-input/demos/2.decimal-point.md
  packages/zent/src/number-input/demos/3.range.md
  packages/zent/src/number-input/demos/4.disable.md
  packages/zent/src/number-input/demos/7.tooltip.md
  packages/zent/src/number-input/integer.ts
Due: yarn format, eslint

V10 grid (#1889)
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/autoStick.md
  packages/zent/src/grid/demos/batch.md
  packages/zent/src/grid/demos/columnProvider.md
  packages/zent/src/grid/demos/disable-hover-highlight.md
  packages/zent/src/grid/demos/drop.md
  packages/zent/src/grid/demos/editable.md
  packages/zent/src/grid/demos/empty.md
  packages/zent/src/grid/demos/expand.md
  packages/zent/src/grid/demos/headerGroup.md
  packages/zent/src/grid/demos/loading.md
  packages/zent/src/grid/demos/pagination.md
  packages/zent/src/grid/demos/scrollX.md
  packages/zent/src/grid/demos/scrollXY.md
  packages/zent/src/grid/demos/selection.md
  packages/zent/src/grid/demos/simple.md
  packages/zent/src/grid/demos/singleSelection.md
  packages/zent/src/grid/demos/size.md
  packages/zent/src/grid/demos/sort.md
  packages/zent/src/grid/demos/span.md
Due: yarn format, eslint, stylelint

v10.0.0-rc.1
  .husky/pre-push
  packages/zent/package.json
Due: none

chore: pre-push lint
  .husky/pre-push
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

feat: 添加 normalizeBeforeBlur 属性，支持 onBlur 时修改值 (#1878)
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/11.normalizer.md
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

fix: [Grid]修复全选状态判断不正确的问题
  packages/zent/src/grid/SelectionCheckboxAll.tsx
Due: yarn format, eslint

fix: [Grid]修复全选状态判断不正确的问题 (#1904)
  packages/zent/src/grid/SelectionCheckboxAll.tsx
Due: yarn format, eslint

chore: update release config
  .github/workflows/release.yml
Due: none

chore: update doc path
  site/webpack/webpack.config.js
Due: yarn format, eslint

v9.12.5
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

chore: update doc path
  site/src/constants.ts
Due: yarn format, eslint

fix: sortable zIndex层级设置
  packages/zent/assets/sortable.scss
Due: yarn format, stylelint

fix: sortable zIndex层级设置 (#1907)
  packages/zent/assets/sortable.scss
Due: yarn format, stylelint

fix: [sortable]移除拖拽元素overflow:hidden设置
  packages/zent/assets/sortable.scss
Due: yarn format, stylelint

doc: v10升级文档
  packages/zent/RELEASE_v10.md
  packages/zent/RELEASE_zh-CN.md
  site/src/components/page-header/index.tsx
  site/src/constants.ts
  site/src/nav.static.js
  site/webpack/webpack.config.js
Due: yarn format, eslint

fix: [sortable]移除拖拽元素overflow:hidden设置 (#1908)
  packages/zent/assets/sortable.scss
Due: yarn format, stylelint
