Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

feat: 调整Notify的挂载节点方式
  packages/zent/__tests__/notify.spec.jsx
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/global-container-selector.md
Due: yarn format, eslint

feat(notify)：add containerSelector and className prop support (#2046)
  packages/zent/__tests__/notify.spec.jsx
  packages/zent/assets/notify.scss
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/custom-container-selector.md
  packages/zent/src/notify/demos/global-container-selector.md
  packages/zent/src/notify/demos/global-duration.md
Due: yarn format, eslint, stylelint

feat(Dialog): Dialog组件支持自定义弹窗打开/关闭动画原点
  packages/zent/src/dialog/DialogEl.tsx
Due: yarn format, eslint

fix(Dialog): Dialog组件新增配置 1.禁止页面滚动 2.按下Esc时关闭
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
Due: yarn format, eslint

fix(Dialog): cr问题修复,1.使用新参数指定变形原点;2.取消透出esc关闭;3.取消透出禁止页面滚动
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
Due: yarn format, eslint

fix(Dialog): 优化逻辑
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
Due: yarn format, eslint

docs(Dialog): Dialog组件调整示例
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
Due: none

docs(Dialog): add transformOrigin to API in Dialog component English documentation
  packages/zent/src/dialog/README_en-US.md
Due: none

feat(Dialog): Dialog组件 1.修复自动打开情况下,关闭位置不一致问题;2.新增 position Api 用于指定弹窗打开位置
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/position.ts
Due: yarn format, eslint

fix(Dialog): Dialog组件调整transform origin相关单测
  packages/zent/__tests__/dialog/Dialog.spec.jsx
  packages/zent/src/dialog/Dialog.tsx
Due: yarn format, eslint

fix(Dialog): 恢复无需调整的变更->优化逻辑
  packages/zent/src/dialog/DialogEl.tsx
Due: yarn format, eslint

feature(dialog)：add position prop support (#2047)
  packages/zent/__tests__/dialog/Dialog.spec.jsx
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/DialogEl.tsx
  packages/zent/src/dialog/README_en-US.md
  packages/zent/src/dialog/README_zh-CN.md
  packages/zent/src/dialog/position.ts
Due: yarn format, eslint

hotfix(dep): 修复因 observable-hooks 自动升级 4.3.2 下的打包报错问题
  packages/zent/package.json
  yarn.lock
Due: none

hotfix(dep): 修复因 observable-hooks 自动升级 4.3.2 下的打包报错问题 (#2048)
  packages/zent/package.json
  yarn.lock
Due: none

v9.12.14-beta.5
  packages/zent/package.json
Due: none

v9.12.14
  packages/zent/package.json
Due: none

docs: add v9.12.14 changelog
  packages/zent/RELEASE_zh-CN.md
Due: none

fix: 修复Indicator组件类型引用错误
  packages/zent/src/indicator/Indicator.tsx
Due: yarn format, eslint

feat(notify): Notify组件支持containerSelector和className配置
  packages/zent/__tests__/notify.spec.jsx
  packages/zent/assets/notify.scss
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/custom-container-selector.md
  packages/zent/src/notify/demos/global-container-selector.md
Due: yarn format, eslint, stylelint

feat(icon): update zenticons version
  .npmrc
  packages/zent/.npmrc
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

feat(icon): update zenticons version (#2049)
  .npmrc
  packages/zent/.npmrc
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

v9.12.15-beta.0
  packages/zent/package.json
Due: none

v9.12.15-beta.1
  packages/zent/package.json
Due: none

v9.12.15-beta.2
  packages/zent/package.json
Due: none

v9.12.15-beta.3
  packages/zent/package.json
Due: none

feat: update release.yml
  .github/workflows/release.yml
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

feat(icon): update zenticons version
  packages/zent/package.json
  yarn.lock
Due: none

feat(icon): update zenticons version (#2050)
  packages/zent/package.json
  yarn.lock
Due: none

docs: release 9.12.15-beta.4
  packages/zent/package.json
Due: none

feat(icon): update zenticons version
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

feat(icon): update zenticons version (#2051)
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

docs: release 9.12.15-beta.5
  packages/zent/package.json
Due: none

feat: update pre release
  .github/workflows/release.yml
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

feat(icons): update zenticons release version
  packages/zent/package.json
  yarn.lock
Due: none

feat(icon): update zenticons version (#2052)
  .github/workflows/release.yml
  .npmrc
  packages/zent/.npmrc
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

docs: release 9.12.15
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

chore: update doc deploy node version to 14
  .github/workflows/release.yml
Due: none

fix(icon): fix zenticons error version
  packages/zent/package.json
  yarn.lock
Due: none

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
