Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

fix tests
  packages/zent/__tests__/cascader.js
  packages/zent/__tests__/date-picker/TimePicker.js
  packages/zent/__tests__/date-picker/index.js
  packages/zent/__tests__/date-range-quick-picker.js
  packages/zent/__tests__/pop.js
  packages/zent/__tests__/popover.js
  packages/zent/__tests__/timeline.js
Due: yarn format, eslint

Rename popover pop tooltip daterangequickpicker css (#1607)
  packages/zent/__tests__/cascader.js
  packages/zent/__tests__/date-picker/TimePicker.js
  packages/zent/__tests__/date-picker/index.js
  packages/zent/__tests__/date-range-quick-picker.js
  packages/zent/__tests__/pop.js
  packages/zent/__tests__/popover.js
  packages/zent/__tests__/timeline.js
  packages/zent/assets/date-range-quick-picker.scss
  packages/zent/assets/pop.scss
  packages/zent/assets/tooltip.scss
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/pop/Action.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/placement/prefix.ts
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 修改dialog overflow css问题 && 添加collapseShowPop字段控制select折叠模式下pop气泡是否展示
  packages/zent/assets/dialog.scss
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

release v9.0.0-beta.25
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

fix: 修改dialog overflow css问题 && 添加collapseShowPop字段控制select折叠模式下pop气泡是否展示
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

release v9.0.0-beta.25 (#1610)
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

fix: 修改dialog overflow css问题
  packages/zent/assets/dialog.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

feat: 添加hideCollapsePop
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix: 修改dialog overflow css问题 (#1611)
  packages/zent/assets/dialog.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

feat: 添加 hideCollapsePop
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix(drawer): nomask模式下，兼容冒泡事件到达时，e.target已被移除dom树的场景
  packages/zent/src/drawer/components/DrawerContent/index.tsx
  packages/zent/src/drawer/demos/noMask.md
Due: yarn format, eslint

feat: 添加hideCollapsePop (#1612)
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix(drawer): note
  packages/zent/src/drawer/components/DrawerContent/index.tsx
Due: yarn format, eslint

release v9.0.0-beta.26
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

Hotfix/drawer_unexpected_close (#1613)
  packages/zent/src/drawer/components/DrawerContent/index.tsx
  packages/zent/src/drawer/demos/noMask.md
Due: yarn format, eslint

release v9
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

docs: 重写form文档
  packages/zent/src/form/README_zh-CN.legacy.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/6.validator-middleware.md
Due: none

docs: 补充一些API
  packages/zent/src/form/README_zh-CN.md
Due: none

Update doc
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_v9.md
  packages/zent/RELEASE_zh-CN.md
Due: none

Use backward compatible theme color format (#1601)
  packages/zent/assets/theme/_default.scss
  packages/zent/docs/THEME_en-US.md
  packages/zent/docs/THEME_zh-CN.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

v8.6.0
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.6.0
  packages/zent/package.json
Due: none

change deploy repository
  site/scripts/deploy.sh
  site/src/constants.js
Due: yarn format, eslint

change deploy repository
  site/scripts/deploy.sh
  site/src/constants.js
  site/webpack/webpack.prd.config.js
Due: yarn format, eslint

add v8 doc link
  site/src/components/page-header/index.js
Due: yarn format, eslint

Zent9 doc (#1615)
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_v9.md
  packages/zent/RELEASE_zh-CN.md
  site/src/components/page-header/index.js
Due: yarn format, eslint

fix: remove unused React
  packages/zent/src/upload/components/single/Trigger.tsx
Due: yarn format, eslint

Grid: 修复浮动列在表头分组场景下高度问题
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

Add reviver support to Select
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/TagList.tsx
  packages/zent/src/select/demos/11.revive-option.md
  packages/zent/src/select/reviver.ts
Due: yarn format, eslint

fix tests
  packages/zent/__tests__/utils/isPlainObject.js
Due: yarn format, eslint

Add value reviver support to Select (#1619)
  packages/zent/__tests__/utils/isPlainObject.js
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/TagList.tsx
  packages/zent/src/select/demos/11.revive-option.md
  packages/zent/src/select/reviver.ts
Due: yarn format, eslint

Support custom tag list render in multiple mode
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/index.ts
Due: yarn format, eslint

Support custom tag list render in multiple mode (#1621)
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/index.ts
Due: yarn format, eslint

Grid: 修复表头分组场景下浮动列表头高度问题
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

快捷选择日期今日结束时间统一为当前时间
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
Due: yarn format, eslint

fix renderOptionList type
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

fix renderOptionList type (#1623)
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint
