Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

fix popover bugs
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/trigger/ClickTrigger.tsx
  packages/zent/src/popover/trigger/Trigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix block-header cascader mention colorpicker
  packages/zent/assets/block-header.scss
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/colorpicker/PopoverClickTrigger.ts
  packages/zent/src/colorpicker/index.tsx
  packages/zent/src/mention/Mention.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: 修复 tabs 的 panel 在切换选项时重复触发生命周期的问题
  packages/zent/src/tabs/components/TabPanel.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix pop
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/pop.scss
  packages/zent/src/pop/NoneTrigger.ts
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/demos/center-arrow.md
  packages/zent/src/pop/demos/positions.md
  packages/zent/src/pop/demos/trigger.md
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/ClickTrigger.tsx
  packages/zent/src/popover/trigger/HoverTrigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: 添加 forceRenderPanel 属性用于控制 tabs 的渲染行为
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/tabs/components/TabPanel.tsx
  packages/zent/src/tabs/components/base/BaseTabs.tsx
  packages/zent/src/tabs/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update build config
  packages/zent/package.json
  packages/zent/webpack.config.js
Due: yarn format, eslint

Add libaryName option
  packages/babel-plugin-zent/README_en-US.md
  packages/babel-plugin-zent/README_zh-CN.md
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

Fix tests
  packages/babel-plugin-zent/__tests__/index.js
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

Add libraryName option (#1212)
  packages/babel-plugin-zent/README_en-US.md
  packages/babel-plugin-zent/README_zh-CN.md
  packages/babel-plugin-zent/__tests__/index.js
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

fix: 修改 tabs 的 panel 默认渲染行为
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/tabs/components/TabPanel.tsx
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修改 isChrome 判断逻辑，兼容 ssr
  packages/zent/src/ime-composition/README_en-US.md
  packages/zent/src/ime-composition/README_zh-CN.md
  packages/zent/src/utils/isChrome.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Upgrade to new icons
  packages/zent/assets/cascader.scss
  packages/zent/assets/datetimepicker.scss
  packages/zent/assets/menu.scss
  packages/zent/assets/notice.scss
  packages/zent/assets/number-input.scss
  packages/zent/assets/split-button.scss
  packages/zent/assets/swiper.scss
  packages/zent/assets/tabs.scss
  packages/zent/assets/tag.scss
  packages/zent/package.json
  packages/zent/scripts/generate-icon-type.js
  packages/zent/src/form/demos/field-array.md
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  packages/zent/src/number-input/NumberInput.tsx
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Hide duplicate icons in demo
  packages/zent/scripts/make-icon-grid.js
  packages/zent/src/icon/demos/all.md
Due: yarn format, eslint

fix sweetalert callback type [ci skip] (#1208)
  packages/zent/src/sweetalert/ActionButton.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix typo [ci skip]
  packages/zent/RELEASE_NEXT.md
Due: none

refactor select (non multiple)
  packages/zent/assets/select.scss
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/popover/Anchor.tsx
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Context.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/ClickTrigger.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/TagList.tsx
  packages/zent/src/select/Trigger.tsx
  packages/zent/src/select/_demos/array.md
  packages/zent/src/select/_demos/async-filter.md
  packages/zent/src/select/_demos/auto-width.md
  packages/zent/src/select/_demos/basic.md
  packages/zent/src/select/_demos/callback.md
  packages/zent/src/select/_demos/controlled.md
  packages/zent/src/select/_demos/custom-text.md
  packages/zent/src/select/_demos/custom.md
  packages/zent/src/select/_demos/disable.md
  packages/zent/src/select/_demos/dynamic.md
  packages/zent/src/select/_demos/empty-text.md
  packages/zent/src/select/_demos/filter.md
  packages/zent/src/select/_demos/object-array.md
  packages/zent/src/select/_demos/tag.md
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/2.controlled.md
  packages/zent/src/select/demos/3.group.md
  packages/zent/src/select/index.ts
  packages/zent/src/select/trigger/BaseTrigger.tsx
  packages/zent/src/select/trigger/InputTrigger.tsx
  packages/zent/src/select/trigger/SimpleTrigger.tsx
  packages/zent/src/select/trigger/TagsTrigger.tsx
  packages/zent/src/select/trigger/index.tsx
  packages/zent/src/sweetalert/ActionButton.tsx
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

refactor multiple select
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/4.multiple.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

filter demo
  packages/zent/src/select/demos/5.filter.md
Due: none

customer search demo
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/3.group.md
  packages/zent/src/select/demos/4.multiple.md
  packages/zent/src/select/demos/5.filter.md
  packages/zent/src/select/demos/6.customer-search.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

virtual scroll demo
  packages/zent/src/select/Popup.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Trigger.tsx
  packages/zent/src/select/components/Option.tsx
  packages/zent/src/select/components/Search.tsx
  packages/zent/src/select/components/Tag.tsx
  packages/zent/src/select/demos/7.virtual-scroll.md
  packages/zent/src/select/index.ts
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

update docs [ci skip]
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
Due: none

fix: batch components add fixed
  packages/zent/assets/grid.scss
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/batch-components.md
  packages/zent/src/grid/utils.ts
  packages/zent/src/table/demos/batch.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

[bugfix] Tabs: 添加 Panel 的不同渲染行为模式 (#1210)
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/VerticalTabs.tsx
  packages/zent/src/tabs/components/TabPanel.tsx
  packages/zent/src/tabs/components/base/BaseTabs.tsx
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Upgrade to new icons (#1213)
  packages/zent/assets/cascader.scss
  packages/zent/assets/datetimepicker.scss
  packages/zent/assets/menu.scss
  packages/zent/assets/notice.scss
  packages/zent/assets/number-input.scss
  packages/zent/assets/split-button.scss
  packages/zent/assets/swiper.scss
  packages/zent/assets/tabs.scss
  packages/zent/assets/tag.scss
  packages/zent/package.json
  packages/zent/scripts/generate-icon-type.js
  packages/zent/scripts/make-icon-grid.js
  packages/zent/src/form/demos/field-array.md
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  packages/zent/src/number-input/NumberInput.tsx
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

v2.1.0
  packages/babel-plugin-zent/package.json
Due: none

Fix babel-plugin-zent with custom library name
  packages/babel-plugin-zent/__tests__/index.js
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

v2.1.1
  packages/babel-plugin-zent/package.json
Due: none

fix: 修复 IME 未开启时 input 无法使用的 bug，并添加 defaultValue 的处理
  packages/zent/src/ime-composition/demos/basic.md
  packages/zent/src/ime-composition/hooks.ts
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/TextArea.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

reset table batch demo
  packages/zent/src/table/demos/batch.md
Due: none

Update RELEASE
  packages/zent/RELEASE_NEXT.md
  packages/zent/scripts/build.sh
Due: none

Publish
  packages/zent/package.json
Due: none

delete field-array.md
  packages/zent/src/form/demos/field-array.md
Due: none

Update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

coverage ignore tabs/components/TabDivide.tsx
  packages/zent/jest.config.json
Due: none

fix deps
  packages/zent/package.json
  yarn.lock
Due: none

fix: 修改 ime-composition hooks，仅处理受控组件
  packages/zent/src/ime-composition/README_en-US.md
  packages/zent/src/ime-composition/README_zh-CN.md
  packages/zent/src/ime-composition/hooks.ts
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

change default validateOccasion prop value for input-field
  packages/zent/src/form/form-components/InputField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: remove console and unused demo
  packages/zent/src/ime-composition/demos/basic.md
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json
