Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Fix slider value out of range on latest React (#1462)
  packages/zent/package.json
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/slider/common.ts
  site/package.json
  yarn.lock
Due: yarn format, eslint

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.5.6
  packages/zent/package.json
Due: none

feat(transfer): ignore grid、upload test coverage
  packages/zent/jest.config.json
Due: none

fix: cascader 单测
  packages/zent/__tests__/cascader.js
  packages/zent/assets/cascader.scss
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat(transfer): ignore mention、copy-button test coverage
  packages/zent/jest.config.json
Due: none

feat(transfer): ignore text-mark、avatar test coverage
  packages/zent/jest.config.json
Due: none

feat(transfer): ignore utils/hooks test coverage
  packages/zent/jest.config.json
Due: none

feat(transfer): ignore grid test coverage
  packages/zent/jest.config.json
Due: none

fix: Cascader 方法重命名
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/common/constants.ts
  packages/zent/src/cascader/common/utils.ts
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/trigger/index.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat(transfer): modify pattern that cpn imported
  packages/zent/src/transfer/components/AllCheckBox.tsx
  packages/zent/src/transfer/components/Search.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
Due: yarn format, eslint

fix: Cascader 方法重命名
  packages/zent/__tests__/cascader.js
Due: yarn format, eslint

fix: cascader api 重命名
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/common/utils.ts
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/trigger/index.tsx
Due: yarn format, eslint

feat: Cascader 元素高亮
  packages/zent/__tests__/cascader.js
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/demos/7.async-searchable.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

fix: cascader rerender 重写
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/common/utils.ts
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/demos/7.async-searchable.md
Due: yarn format, eslint

fix: cascader break change api doc
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/common/constants.ts
  packages/zent/src/cascader/common/utils.ts
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/demos/6.scrollable.md
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/index.tsx
Due: yarn format, eslint

revert tabs jest ignore config
  packages/zent/jest.config.json
Due: none

Update jest.config.json
  packages/zent/jest.config.json
Due: none

Feature/20200811 transfer (#1449)
  packages/zent/__tests__/transfer.js
  packages/zent/assets/transfer.scss
  packages/zent/jest.config.json
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/AllCheckBox.tsx
  packages/zent/src/transfer/components/Search.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/constants.ts
  packages/zent/src/transfer/demos/basic.md
  packages/zent/src/transfer/demos/grid.md
  packages/zent/src/transfer/demos/hook.md
  packages/zent/src/transfer/hooks/useTransfer.ts
  packages/zent/src/transfer/types.ts
  packages/zent/src/transfer/utils.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: cascader api 重命名
  packages/zent/__tests__/cascader.js
  packages/zent/__tests__/popover.js
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/common/utils.ts
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/demos/2.loading.md
  packages/zent/src/cascader/demos/6.scrollable.md
  packages/zent/src/cascader/demos/7.async-searchable.md
  packages/zent/src/cascader/trigger/Search.tsx
  packages/zent/src/cascader/trigger/Tag.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/index.tsx
  packages/zent/src/cascader/types.ts
  packages/zent/src/popover/placement/auto-bottom-left-in-viewport.ts
  packages/zent/src/popover/placement/bottom-left-in-viewport.ts
  packages/zent/src/popover/placement/bottom-left-sticky.ts
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/popover/placement/top-left-in-viewport.ts
  packages/zent/src/popover/placement/top-left-sticky.ts
Due: yarn format, eslint

feat: trigger 抽成独立组件
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/common/utils.ts
  packages/zent/src/cascader/demos/7.async-searchable.md
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/cascader/trigger/MultipleTrigger.tsx
  packages/zent/src/cascader/trigger/Search.tsx
  packages/zent/src/cascader/trigger/SingleTrigger.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/index.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

feat: trigger 抽成独立组件
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/trigger/MultipleTrigger.tsx
  packages/zent/src/cascader/trigger/SingleTrigger.tsx
Due: yarn format, eslint

调整progress circle组件的format样式居中的实现方式
  packages/zent/assets/progress.scss
  packages/zent/src/progress/components/CircleProgress.tsx
  packages/zent/src/progress/demos/format.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

svg 的属性优先级问题，修复progress circle组件的自定义颜色和自定义宽度
  packages/zent/src/progress/components/CircleProgress.tsx
Due: yarn format, eslint

[Fix] 修复progress circle类型组件的format、color、strokeWidth问题 (#1463)
  packages/zent/assets/progress.scss
  packages/zent/src/progress/components/CircleProgress.tsx
  packages/zent/src/progress/demos/format.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

v8.5.7
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

dont't pass around popover
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/constants.ts
  packages/zent/src/cascader/trigger/SingleTrigger.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/types.ts
  packages/zent/src/cascader/utils.ts
Due: yarn format, eslint

guard use after unmount
  packages/zent/src/infinite-scroller/InfiniteScroller.tsx
Due: yarn format, eslint

fix test
  packages/zent/src/cascader/components/SearchContent.tsx
Due: yarn format, eslint

cleanup code
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/cascader/trigger/MultipleTrigger.tsx
  packages/zent/src/cascader/trigger/Search.tsx
  packages/zent/src/cascader/trigger/SingleTrigger.tsx
  packages/zent/src/cascader/trigger/Tag.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

cleanup TabsContent
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/constants.ts
  packages/zent/src/cascader/types.ts
  packages/zent/src/cascader/utils.ts
Due: yarn format, eslint

cleanup TabsCascader
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/demos/10.tabs-loading.md
  packages/zent/src/cascader/utils.ts
Due: yarn format, eslint

cleanup triggers
  eslintrc.react.js.base.js
  packages/zent/eslintrc.base.js
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/cascader/trigger/SingleTrigger.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

fix lint
  packages/zent/src/alert/components/AlertItem.tsx
Due: yarn format, eslint

cleanup SearchContent
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
Due: yarn format, eslint

cleanup MenuContent
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
Due: yarn format, eslint

cleanup types
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/cascader/trigger/SingleTrigger.tsx
  packages/zent/src/cascader/trigger/Tag.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
  packages/zent/src/cascader/types.ts
  packages/zent/src/cascader/utils.ts
Due: yarn format, eslint

fix(transfer): type bug
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
