Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix(drawer): pr问题修改
  packages/zent/assets/drawer.scss
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/components/DrawerBackdrop.tsx
  packages/zent/src/drawer/components/DrawerContent.tsx
  packages/zent/src/drawer/components/DrawerContent/CloseBtn.tsx
  packages/zent/src/drawer/components/DrawerContent/Footer.tsx
  packages/zent/src/drawer/components/DrawerContent/Header.tsx
  packages/zent/src/drawer/components/DrawerContent/index.tsx
  packages/zent/src/drawer/hooks/useDrawerExiting.ts
  packages/zent/src/drawer/index.ts
  packages/zent/src/drawer/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix(drawer): css变量引用问题
  packages/zent/assets/drawer.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Add docs for AnimateHeight and scroll
  packages/zent/src/animate-height/README_en-US.md
  packages/zent/src/animate-height/README_zh-CN.md
  packages/zent/src/animate-height/demos/basic.md
  packages/zent/src/animate-height/index.ts
  packages/zent/src/avatar/README_zh-CN.md
  packages/zent/src/collapse/Panel.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeUnitColumn.tsx
  packages/zent/src/event-handler/README_en-US.md
  packages/zent/src/event-handler/README_zh-CN.md
  packages/zent/src/event-handler/index.ts
  packages/zent/src/form/Form.tsx
  packages/zent/src/index.ts
  packages/zent/src/menu/SubMenu.tsx
  packages/zent/src/smooth-scroll/README_en-US.md
  packages/zent/src/smooth-scroll/README_zh-CN.md
  packages/zent/src/smooth-scroll/demos/basic.md
  packages/zent/src/smooth-scroll/index.ts
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/utils/component/AnimateHeight.tsx
  packages/zent/src/utils/scroll.ts
  packages/zent/tsconfig.json
  site/react-template.jstpl
  site/src/components/search-box/ResultList.js
Due: yarn format, eslint

Add event-handler
  packages/zent/src/event-handler/README_en-US.md
  packages/zent/src/event-handler/README_zh-CN.md
  packages/zent/src/event-handler/demos/01-basic.md
  packages/zent/src/event-handler/demos/02-hook.md
  packages/zent/src/event-handler/demos/03-event-handler.md
  packages/zent/src/event-handler/demos/04-window-event-handler.md
  packages/zent/src/event-handler/demos/05-window-resize-handler.md
  packages/zent/src/event-handler/demos/06-window-scroll-handler.md
  packages/zent/src/event-handler/index.ts
  packages/zent/tsconfig.json
Due: yarn format, eslint

fix tests
  packages/zent/__tests__/tree.js
Due: yarn format, eslint

Export event-handler, smoothScroll and AnimateHeight from utils (#1505)
  packages/zent/__tests__/tree.js
  packages/zent/src/animate-height/README_en-US.md
  packages/zent/src/animate-height/README_zh-CN.md
  packages/zent/src/animate-height/demos/basic.md
  packages/zent/src/animate-height/index.ts
  packages/zent/src/avatar/README_zh-CN.md
  packages/zent/src/collapse/Panel.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeUnitColumn.tsx
  packages/zent/src/event-handler/README_en-US.md
  packages/zent/src/event-handler/README_zh-CN.md
  packages/zent/src/event-handler/demos/01-basic.md
  packages/zent/src/event-handler/demos/02-hook.md
  packages/zent/src/event-handler/demos/03-event-handler.md
  packages/zent/src/event-handler/demos/04-window-event-handler.md
  packages/zent/src/event-handler/demos/05-window-resize-handler.md
  packages/zent/src/event-handler/demos/06-window-scroll-handler.md
  packages/zent/src/event-handler/index.ts
  packages/zent/src/form/Form.tsx
  packages/zent/src/index.ts
  packages/zent/src/menu/SubMenu.tsx
  packages/zent/src/smooth-scroll/README_en-US.md
  packages/zent/src/smooth-scroll/README_zh-CN.md
  packages/zent/src/smooth-scroll/demos/basic.md
  packages/zent/src/smooth-scroll/index.ts
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/utils/component/AnimateHeight.tsx
  packages/zent/src/utils/scroll.ts
  site/react-template.jstpl
  site/src/components/search-box/ResultList.js
Due: yarn format, eslint

fix(drawer): pr问题修改
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/components/DrawerContent/index.tsx
  packages/zent/src/drawer/types.ts
Due: yarn format, eslint

fix(drawer): placement type拆分, noMark demo修改
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/components/DrawerContent/index.tsx
  packages/zent/src/drawer/demos/noMask.mdx
  packages/zent/src/drawer/index.ts
  packages/zent/src/drawer/types.ts
Due: yarn format, eslint

[bug fix] Form: 修复BasicBuilder导致的类型错误
  packages/zent/src/form/formulr/builders/basic.ts
Due: yarn format, eslint

[bug fix] Form: BasicBuilder#build默认值类型改为unknown，由子类指定
  packages/zent/src/form/formulr/builders/basic.ts
Due: yarn format, eslint

[bug fix] Form: 修复一些严格模式下的类型错误
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/src/form/form-components/RadioGroupField.tsx
  packages/zent/src/form/form-components/SwitchField.tsx
Due: yarn format, eslint

v8.5.10
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

9.0.0-beta2
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

9.0.0-beta2 (#1509)
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

[feat]: tabs过多时新增翻页和锚点操作功能
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/operation/AnchorOperation.tsx
  packages/zent/src/tabs/components/operation/FlipOperation.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
  packages/zent/src/tabs/demos/overflow-mode.md
  packages/zent/src/tabs/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 补充tabs单测
  packages/zent/__tests__/tabs.js
  packages/zent/src/tabs/demos/overflow-mode.md
Due: yarn format, eslint

fix release script
  .github/workflows/release.yml
Due: none

Rename basic.mdx to basic.md
  packages/zent/src/drawer/demos/basic.md
Due: none

Rename noMask.mdx to noMask.md
  packages/zent/src/drawer/demos/noMask.md
Due: none

Rename placement.mdx to placement.md
  packages/zent/src/drawer/demos/placement.md
Due: none

[bug fix] Form: 修复BasicBuilder导致的类型错误 (#1508)
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/src/form/form-components/RadioGroupField.tsx
  packages/zent/src/form/form-components/SwitchField.tsx
  packages/zent/src/form/formulr/builders/basic.ts
Due: yarn format, eslint

[new component]: Drawer (#1466)
  packages/zent/assets/drawer.scss
  packages/zent/assets/index.scss
  packages/zent/src/drawer/Drawer.tsx
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/drawer/components/DrawerBackdrop.tsx
  packages/zent/src/drawer/components/DrawerContent/CloseBtn.tsx
  packages/zent/src/drawer/components/DrawerContent/Footer.tsx
  packages/zent/src/drawer/components/DrawerContent/Header.tsx
  packages/zent/src/drawer/components/DrawerContent/index.tsx
  packages/zent/src/drawer/constants.ts
  packages/zent/src/drawer/demos/basic.md
  packages/zent/src/drawer/demos/noMask.md
  packages/zent/src/drawer/demos/placement.md
  packages/zent/src/drawer/hooks/useDrawerExiting.ts
  packages/zent/src/drawer/index.ts
  packages/zent/src/drawer/types.ts
  packages/zent/src/index.ts
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix Pop type
  packages/zent/src/pop/Pop.tsx
Due: yarn format, eslint

fix Pop type (#1511)
  packages/zent/src/pop/Pop.tsx
Due: yarn format, eslint

Fix SSR for WindowEventHandler
  packages/zent/src/copy-button/CopyToClipboard.ts
  packages/zent/src/copy-button/ReactCopyToClipboard.tsx
  packages/zent/src/utils/component/WindowEventHandler.tsx
Due: yarn format, eslint

Fix SSR for WindowEventHandler (#1512)
  packages/zent/src/copy-button/CopyToClipboard.ts
  packages/zent/src/copy-button/ReactCopyToClipboard.tsx
  packages/zent/src/utils/component/WindowEventHandler.tsx
Due: yarn format, eslint

Hide clear button when input is disabled or readonly
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/demos/disabled.md
Due: yarn format, eslint

Hide clear button when input is disabled or readonly (#1513)
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/demos/disabled.md
Due: yarn format, eslint

v8.5.11
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

fix: 代码优化
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/components/operation/AnchorOperation.tsx
  packages/zent/src/tabs/components/operation/FlipOperation.tsx
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
  packages/zent/src/tabs/demos/overflow-mode.md
  packages/zent/src/tabs/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: slide交互效果修改
  packages/zent/__tests__/tabs.js
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/components/operation/SlideOperation.tsx
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
  packages/zent/src/tabs/demos/overflow-mode.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 简化tabs相关数据的获取 && 样式调整
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/operation/AnchorOperation.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
  packages/zent/src/tabs/demos/overflow-mode.md
  packages/zent/src/tabs/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 补充入参类型
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
Due: yarn format, eslint

bugfix: 修复timepicker禁用失效问题
  packages/zent/src/date-picker/hooks/useConfirmStatus.ts
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
Due: yarn format, eslint

bugfix: 修复timepicker禁用失效问题 (#1514)
  packages/zent/src/date-picker/hooks/useConfirmStatus.ts
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
Due: yarn format, eslint

tabsInfo获取优化
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
Due: yarn format, eslint

[feature] Tabs 新增翻页锚点标签 (#1510)
  packages/zent/__tests__/tabs.js
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/operation/AnchorOperation.tsx
  packages/zent/src/tabs/components/operation/SlideOperation.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
  packages/zent/src/tabs/demos/overflow-mode.md
  packages/zent/src/tabs/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
