Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

[new feature] 新增 Disabled 组件 (#1117)
  packages/zent/__tests__/checkbox-group.js
  packages/zent/__tests__/disabled.js
  packages/zent/__tests__/radio.js
  packages/zent/assets/input.scss
  packages/zent/jest.config.json
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/demos/directive.md
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/checkbox/Group.tsx
  packages/zent/src/checkbox/GroupContext.ts
  packages/zent/src/checkbox/demos/checkbox-group.md
  packages/zent/src/collapse/Panel.tsx
  packages/zent/src/disabled/Disabled.tsx
  packages/zent/src/disabled/README_en-US.md
  packages/zent/src/disabled/README_zh-CN.md
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/disabled/demos/2.priority.md
  packages/zent/src/disabled/index.ts
  packages/zent/src/index.ts
  packages/zent/src/input/Input.tsx
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/radio/AbstractRadio.ts
  packages/zent/src/radio/AbstractRadio.tsx
  packages/zent/src/radio/Group.tsx
  packages/zent/src/radio/GroupContext.tsx
  packages/zent/src/radio/Radio.tsx
  packages/zent/src/radio/RadioButton.tsx
  packages/zent/src/rate/Rate.tsx
  packages/zent/src/rate/Star.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/split-button/SplitButton.tsx
  packages/zent/src/switch/Switch.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Remove legacy lifetime hooks in Swiper and LazyMount
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
  packages/zent/src/swiper/Swiper.tsx
  packages/zent/src/swiper/SwiperDots.tsx
  packages/zent/src/utils/component/LazyMount.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix prettify
  packages/zent/src/grid/Header.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Remove travis-ci build status in README
  README-zh_CN.md
  README.md
Due: none

Fix isFunctional check
  packages/zent/src/form/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Remove legacy lifetime hooks in Swiper and LazyMount (#1124)
  README-zh_CN.md
  README.md
  packages/zent/src/form/utils.ts
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
  packages/zent/src/swiper/Swiper.tsx
  packages/zent/src/swiper/SwiperDots.tsx
  packages/zent/src/utils/component/LazyMount.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: cascader 生命周期判断
  packages/zent/__tests__/cascader.js
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Replace boolean with unknown in Grid typings
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/SelectionCheckbox.tsx
  packages/zent/src/grid/SelectionCheckboxAll.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: cascader 记住默认选中的 tab
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 计算选中的 tab 是否取下一位
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[refactor] Cascader: 重构 componentWillReceiveProps 及移除 componentWillMount (#1074)
  packages/zent/__tests__/cascader.js
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Publish
  packages/babel-plugin-zent/package.json
  packages/zent/package.json
Due: none

doc: update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

fix npm package version
  packages/zent/package.json
Due: none

Remove useESM option
  packages/babel-plugin-zent/README_en-US.md
  packages/babel-plugin-zent/README_zh-CN.md
  packages/babel-plugin-zent/package.json
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

fix babel-plugin-zent tests
  packages/babel-plugin-zent/__tests__/index.js
Due: yarn format, eslint

fix: use mouseenter
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Row.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: use mouseenter (#1126)
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Row.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 重新实现check计算，并只保留受控模式break change
  packages/zent/__tests__/tree.js
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/demos/option.md
  packages/zent/src/tree/index.ts
  packages/zent/src/tree/utils/common.ts
  packages/zent/src/tree/utils/correctExpand.ts
  packages/zent/src/tree/utils/correctMark.ts
  packages/zent/src/tree/utils/createStateByProps.ts
  packages/zent/src/tree/utils/getJudgeInfo.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: readme 调整
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
Due: none

chore: extract event handler to class method
  packages/zent/src/grid/Body.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 调整Tree定义
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/index.ts
  packages/zent/src/tree/utils/common.ts
  packages/zent/src/tree/utils/correctExpand.ts
  packages/zent/src/tree/utils/correctMark.ts
  packages/zent/src/tree/utils/createStateByProps.ts
  packages/zent/src/tree/utils/getJudgeInfo.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix disabled bug for input type="textarea"
  packages/zent/__tests__/disabled.js
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/input/Input.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix disabled bug for input type="textarea" (#1127)
  packages/zent/__tests__/disabled.js
  packages/zent/src/disabled/demos/1.basic.md
  packages/zent/src/input/Input.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Use require for some buggy vendor packages
  packages/zent/__tests__/form/Form.js
  packages/zent/package.json
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/colorpicker/common/EditableInput.tsx
  packages/zent/src/colorpicker/helpers/color.ts
  packages/zent/src/form/Form.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/layout/components/Breakpoint.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/select-menu/MenuList.tsx
  packages/zent/src/select/Popup.tsx
  packages/zent/src/utils/scroll.ts
  packages/zent/src/utils/style/warnValidStyle.ts
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

Update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

Publish
  packages/zent/package.json
Due: none

fix: use namespace import for date-fns
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/date/DatePanelBody.tsx
  packages/zent/src/datetimepicker/quarter/QuarterPanelBody.tsx
  packages/zent/src/datetimepicker/utils/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: use require for date-fns
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/date/DatePanelBody.tsx
  packages/zent/src/datetimepicker/quarter/QuarterPanelBody.tsx
  packages/zent/src/datetimepicker/utils/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Remove unnecessary lodash function usage
  packages/zent/package.json
  packages/zent/src/badge/Badge.tsx
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/collapse/Collapse.tsx
  packages/zent/src/colorpicker/helpers/reactcss/flattenNames.ts
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/date-range-quick-picker/helper.ts
  packages/zent/src/datetimepicker/DateRangePicker.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/TimeRangePicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/date/DatePanelBody.tsx
  packages/zent/src/form/FieldArray.tsx
  packages/zent/src/form/createForm.tsx
  packages/zent/src/grid/ColGroup.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/Store.ts
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/placeholder/shapes/TextRowDashed.tsx
  packages/zent/src/select-menu/MenuList.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/utils/getScrollbarWidth.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix input style
  packages/zent/assets/input.scss
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/demos/basic.md
  packages/zent/src/input/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Fix responsive Layout
  packages/zent/src/layout/components/BreakPointContext.tsx
  packages/zent/src/layout/components/BreakPointHub.tsx
  packages/zent/src/layout/components/BreakpointContext.tsx
  packages/zent/src/layout/components/Col.tsx
  packages/zent/src/layout/components/ConfigContext.tsx
  packages/zent/src/layout/components/Grid.tsx
  packages/zent/src/layout/components/Row.tsx
  packages/zent/src/layout/components/screen-breakpoints.tsx
  packages/zent/src/layout/components/types.ts
  packages/zent/src/layout/index.ts
  packages/zent/tsconfig.json
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

revert tsconfig strict to false
  packages/zent/tsconfig.json
Due: none

Remove console.log
  packages/zent/src/copy-button/CopyToClipboard.ts
  packages/zent/src/form/Field.tsx
  packages/zent/src/layout/components/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add inline to doc
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
Due: none

Fix Layout bugs (#1130)
  packages/zent/package.json
  packages/zent/src/badge/Badge.tsx
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/collapse/Collapse.tsx
  packages/zent/src/colorpicker/helpers/reactcss/flattenNames.ts
  packages/zent/src/copy-button/CopyToClipboard.ts
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/date-range-quick-picker/helper.ts
  packages/zent/src/datetimepicker/DateRangePicker.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/TimeRangePicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/date/DatePanelBody.tsx
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/FieldArray.tsx
  packages/zent/src/form/createForm.tsx
  packages/zent/src/grid/ColGroup.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/Store.ts
  packages/zent/src/layout/components/BreakPointContext.tsx
  packages/zent/src/layout/components/BreakPointHub.tsx
  packages/zent/src/layout/components/BreakpointContext.tsx
  packages/zent/src/layout/components/Col.tsx
  packages/zent/src/layout/components/ConfigContext.tsx
  packages/zent/src/layout/components/Grid.tsx
  packages/zent/src/layout/components/Row.tsx
  packages/zent/src/layout/components/screen-breakpoints.tsx
  packages/zent/src/layout/components/types.ts
  packages/zent/src/layout/index.ts
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/placeholder/shapes/TextRowDashed.tsx
  packages/zent/src/select-menu/MenuList.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/utils/getScrollbarWidth.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[Input] fix styles (#1129)
  packages/zent/assets/input.scss
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
  packages/zent/src/input/demos/basic.md
  packages/zent/src/input/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: 重新实现check计算，并只保留受控模式break change (#1119)
  packages/zent/__tests__/tree.js
  packages/zent/src/tree/README_en-US.md
  packages/zent/src/tree/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/tree/demos/option.md
  packages/zent/src/tree/index.ts
  packages/zent/src/tree/utils/common.ts
  packages/zent/src/tree/utils/correctExpand.ts
  packages/zent/src/tree/utils/correctMark.ts
  packages/zent/src/tree/utils/createStateByProps.ts
  packages/zent/src/tree/utils/getJudgeInfo.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

feat: ban buggy packages from being imported
  packages/zent/package.json
  packages/zent/tslint.json
  yarn.lock
Due: none
