Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

feat: 修改demo
  packages/zent/src/form/demos/18.custom-field.md
Due: none

feat: 删除无意义修改
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
Due: yarn format, eslint

feat: merge v10
  packages/zent/src/index.ts
Due: yarn format, eslint

feat: 变量命名修改
  packages/zent/assets/slider.scss
Due: yarn format, stylelint

feat: alert test 完善
  packages/zent/__tests__/alert.spec.jsx
Due: yarn format, eslint

feat: 命名规范修改
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/trigger/Tag.tsx
Due: yarn format, eslint, stylelint

feat: table样式修改;增加size配置
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/Header.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/size.md
Due: yarn format, eslint, stylelint

feat: disabled test
  packages/zent/__tests__/disabled.spec.jsx
Due: yarn format, eslint

feat: breadcrumb test
  packages/zent/__tests__/tabs.spec.jsx
Due: yarn format, eslint

feat: swiper test
  packages/zent/__tests__/swiper.spec.jsx
Due: yarn format, eslint

feat: drawer 动画样式调整
  packages/zent/assets/drawer.scss
Due: yarn format, stylelint

feat: dialog close style
  packages/zent/assets/dialog.scss
Due: yarn format, stylelint

feat: drawer demo restore
  packages/zent/src/drawer/README_en-US.md
  packages/zent/src/drawer/README_zh-CN.md
  packages/zent/src/drawer/demos/noMask.md
Due: none

feat: drawer md
  packages/zent/src/drawer/README_en-US.md
Due: none

feat: steps demo restore
  packages/zent/src/steps/README_en-US.md
  packages/zent/src/steps/README_zh-CN.md
  packages/zent/src/steps/demos/vertical-step.md
Due: none

feat: tabs demo restore
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/demos/basic.md
  packages/zent/src/tabs/demos/fixed.md
  packages/zent/src/tabs/demos/no-tab-panel.md
  packages/zent/src/tabs/demos/overflow-mode.md
  packages/zent/src/tabs/demos/vertical.md
Due: none

fix: 兼容老版使用,更新文档
  packages/zent/__tests__/tag.spec.jsx
  packages/zent/assets/tag.scss
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/tag/LinkTag.tsx
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
  packages/zent/src/tag/SelectTag.tsx
  packages/zent/src/tag/Tag.tsx
  packages/zent/src/tag/demos/basic.md
  packages/zent/src/tag/demos/custom.md
  packages/zent/src/tag/demos/on-close.md
  packages/zent/src/tag/demos/select-tag.md
  packages/zent/src/tag/demos/size.md
  packages/zent/src/tag/demos/style.md
Due: yarn format, eslint, stylelint

feat: demo排列方式修改
  packages/zent/src/form/demos/1.basic.md
  packages/zent/src/form/demos/10.combine-errors.md
  packages/zent/src/form/demos/11.normalizer.md
  packages/zent/src/form/demos/13.interact.md
  packages/zent/src/form/demos/16.validate-option.md
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/demos/20.reactive-value.md
  packages/zent/src/form/demos/5.async-validate.md
  packages/zent/src/form/demos/6.validator-middleware.md
Due: none

feat: layout修改
  packages/zent/src/form/demos/12.preview.md
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/demos/4.validate.md
  packages/zent/src/form/demos/9.model-first.md
Due: none

fix: remove injected prop key form popover hoc generic type
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, eslint

feat: support normalizeBeforeBlur on FormField and related FormComponents
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/11.normalizer.md
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

fix: optimize normalizeBeforeBlur call frequency
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

fix: remove injected prop key form popover hoc generic type (#1877)
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, eslint

[github_action] update caniuse-lite database
  yarn.lock
Due: none

fix: 修复箭头按钮margin问题
  packages/zent/assets/button.scss
  packages/zent/assets/pagination.scss
Due: yarn format, stylelint

feat: 代码修改
  packages/zent/src/dropdown-nav/DropdownNav.tsx
  packages/zent/src/dropdown-nav/README_en-US.md
  packages/zent/src/dropdown-nav/README_zh-CN.md
  packages/zent/src/dropdown-nav/demos/01-basic.md
  packages/zent/src/popover/placement/bottom-same-width.ts
Due: yarn format, eslint

feat: select修改
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/10.creatable.md
Due: yarn format, eslint

feat: readme修改
  packages/zent/src/dropdown-nav/README_en-US.md
  packages/zent/src/dropdown-nav/README_zh-CN.md
Due: none

feat: 增加key值为value的select
  packages/zent/src/select/KeySelect.tsx
  packages/zent/src/select/demos/12.key-select.md
  packages/zent/src/select/demos/2.controlled.md
Due: yarn format, eslint

feat: key select增加creatable功能
  packages/zent/src/select/KeySelect.tsx
Due: yarn format, eslint

chore: fix zent debug
  package.json
Due: none

feat: 修改input max-witdh
  packages/zent/assets/input.scss
  packages/zent/src/input/Input.tsx
Due: yarn format, eslint, stylelint

feat: eslint
  packages/zent/src/input/Input.tsx
Due: yarn format, eslint

feat: tabs default type
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
Due: yarn format, eslint

feat: 文档修改&单测修改
  packages/zent/__tests__/tabs.spec.jsx
  packages/zent/src/tabs/README_zh-CN.md
Due: yarn format, eslint

feat: switch 文档定义修改
  packages/zent/src/switch/README_en-US.md
  packages/zent/src/switch/README_zh-CN.md
Due: none

feat: input widthSize从style改成class
  packages/zent/assets/input.scss
  packages/zent/src/input/Input.tsx
Due: yarn format, eslint, stylelint

fix: 修复css variable名字匹配问题,老版颜色可覆盖,删除无用前缀
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/assets/theme/semantic/_helper.scss
  packages/zent/plugins/postcss-plugin-theme-css-vars.js
Due: yarn format, eslint, stylelint

feat: demo修改，通过classname控制select宽度
  packages/zent/assets/select.scss
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/2.controlled.md
  packages/zent/src/select/demos/3.group.md
  packages/zent/src/select/demos/4.multiple.md
  packages/zent/src/select/demos/7.virtual-scroll.md
  packages/zent/src/select/demos/8.scrollable.md
  packages/zent/src/select/demos/9.custom-display.md
Due: yarn format, eslint, stylelint

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
