Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

export Grid types
  packages/zent/src/grid/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor input
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/input/Textarea.tsx
  packages/zent/src/input/index.ts
  packages/zent/src/input/index.tsx
  packages/zent/src/input/types.ts
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix input clear/onFocus/onBlur
  packages/zent/src/input/Input.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix types
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/types.ts
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/search-input/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix
  packages/zent/__tests__/number-input.js
  packages/zent/src/form/form-components/InputField.tsx
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

refactor number input stepper
  packages/zent/assets/input.scss
  packages/zent/assets/number-input.scss
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/context.ts
  packages/zent/src/input/demos/basic.md
  packages/zent/src/input/types.ts
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix types
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

delete search-input
  packages/zent/__tests__/search-input.js
  packages/zent/assets/index.scss
  packages/zent/assets/search-input.scss
  packages/zent/src/index.ts
  packages/zent/src/search-input/README_en-US.md
  packages/zent/src/search-input/README_zh-CN.md
  packages/zent/src/search-input/demos/basic.md
  packages/zent/src/search-input/index.tsx
  site/src/components/search-box/index.js
  site/src/components/search-box/style.scss
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix tests
  packages/zent/__tests__/input.js
  packages/zent/__tests__/number-input.js
  packages/zent/src/input/Input.tsx
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

修复button directive默认props
  packages/zent/src/button/Directive.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

修复button directive默认props (#1099)
  packages/zent/src/button/Directive.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

update docs
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
Due: none

fix: remove block-header prefix prop, update readme
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/block-header/README_en-US.md
  packages/zent/src/block-header/README_zh-CN.md
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix portal for some corner case
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/utils/style/CSSPropertyOperations.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修复Gridx轴阴影显示问题
  packages/zent/assets/grid.scss
  packages/zent/src/grid/demos/expand.md
Due: yarn format, sass-lint -vq

fix corner case for portal
  packages/zent/src/dialog/Dialog.tsx
  packages/zent/src/dialog/open.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/util.ts
  packages/zent/src/sweetalert/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix
  packages/zent/src/portal/Portal.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add formatTotal to Table and Grid
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/table/README_en-US.md
  packages/zent/src/table/README_zh-CN.md
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/modules/Foot.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 添加注释
  packages/zent/assets/grid.scss
Due: yarn format, sass-lint -vq

Add formatTotal to Table and Grid (#1102)
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/table/README_en-US.md
  packages/zent/src/table/README_zh-CN.md
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/modules/Foot.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] Grid: 修复Grid x轴阴影显示问题 (#1100)
  packages/zent/assets/grid.scss
  packages/zent/src/grid/demos/expand.md
Due: yarn format, sass-lint -vq

Update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

Publish
  packages/zent/package.json
Due: none

Work around a TypeScript bug
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/loading/BlockLoading.tsx
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/loading/InlineLoading.tsx
  packages/zent/src/loading/props.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Align pagination to right
  packages/zent/RELEASE_NEXT.md
  packages/zent/assets/pagination.scss
Due: yarn format, sass-lint -vq

[Refactor] BlockHeader (#1097)
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/block-header.js
  packages/zent/assets/block-header.scss
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/block-header/README_en-US.md
  packages/zent/src/block-header/README_zh-CN.md
  packages/zent/src/block-header/demos/basic.md
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

Align pagination to right (#1103)
  packages/zent/RELEASE_NEXT.md
  packages/zent/assets/pagination.scss
Due: yarn format, sass-lint -vq

Update upload error message
  packages/zent/src/i18n/en-US.ts
  packages/zent/src/i18n/zh-CN.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Fix textarea default value bug
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/input/demos/textarea.md
  site/src/components/search-box/style.scss
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

revert ts to 3.4.5. 3.5 has serious bugs
  packages/zent/package.json
  site/package.json
  yarn.lock
Due: none

Update upload error message (#1104)
  packages/zent/src/i18n/en-US.ts
  packages/zent/src/i18n/zh-CN.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix length on undefined
  packages/zent/src/input/TextArea.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

use flex-*
  packages/zent/assets/layout.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/table.scss
Due: yarn format, sass-lint -vq

revert ts to 3.4.5. 3.5 has serious bugs (#1105)
  packages/zent/package.json
  site/package.json
  yarn.lock
Due: none

Add addonBefore demo for number-input
  packages/zent/src/input/types.ts
  packages/zent/src/number-input/demos/basic.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

use flex-* (#1106)
  packages/zent/assets/layout.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/table.scss
Due: yarn format, sass-lint -vq

[Refactor] Input (#1098)
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/input.js
  packages/zent/__tests__/number-input.js
  packages/zent/__tests__/search-input.js
  packages/zent/assets/index.scss
  packages/zent/assets/input.scss
  packages/zent/assets/number-input.scss
  packages/zent/assets/search-input.scss
  packages/zent/src/form/form-components/InputField.tsx
  packages/zent/src/index.ts
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/input/Textarea.tsx
  packages/zent/src/input/context.ts
  packages/zent/src/input/demos/basic.md
  packages/zent/src/input/demos/textarea.md
  packages/zent/src/input/index.ts
  packages/zent/src/input/index.tsx
  packages/zent/src/input/types.ts
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/demos/basic.md
  packages/zent/src/search-input/README_en-US.md
  packages/zent/src/search-input/README_zh-CN.md
  packages/zent/src/search-input/demos/basic.md
  packages/zent/src/search-input/index.tsx
  site/src/components/search-box/index.js
  site/src/components/search-box/style.scss
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq
