Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

fix tests
  packages/zent/__tests__/tree.spec.jsx
Due: none

fix lintstaged
  .lintstagedrc
  packages/zent/__tests__/tree.spec.jsx
Due: none

simplify lintstaged config
  .lintstagedrc
Due: none

fix: LanguageCode-CountryCode
  packages/zent/src/i18n/index.ts
  packages/zent/src/i18n/ja-JP.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/time-locale.ts
Due: yarn format, eslint

prefix all css classnames in Tree (#1749)
  .lintstagedrc
  packages/zent/__tests__/tree.spec.jsx
  packages/zent/assets/tree.scss
  packages/zent/src/preview-image/README_en-US.md
  packages/zent/src/preview-image/README_zh-CN.md
  packages/zent/src/tree/Tree.tsx
Due: yarn format, eslint, stylelint

feature/i18n-ja (#1746)
  packages/zent/src/i18n/index.ts
  packages/zent/src/i18n/ja-JP.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/time-locale.ts
Due: yarn format, eslint

remove postcss-plugin-constants fro npm package
  packages/zent/package.json
Due: none

fix json syntax error
  packages/zent/package.json
Due: none

remove postcss-plugin-constants from npm package (#1750)
  packages/zent/package.json
Due: none

还原theme-colors
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/assets/theme/semantic/_helper.scss
Due: yarn format, stylelint

还原theme-colors (#1751)
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/assets/theme/semantic/_helper.scss
Due: yarn format, stylelint

fix theme demos
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/demos/01.basic.md
  packages/zent/src/theme/demos/02.dynamic.md
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.generate.md
  site/src/components/theme-switcher/index.tsx
Due: none

add Japanese locale in i18n docs
  packages/zent/docs/I18N_en-US.md
  packages/zent/docs/I18N_zh-CN.md
Due: none

v9.9.0
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

[github_action] update caniuse-lite database
  package.json
  yarn.lock
Due: none

fix missing version tag in iconfont
  packages/zent/plugins/postcss-plugin-version-attribute.js
Due: yarn format, eslint

fix missing version tag in iconfont (#1753)
  packages/zent/plugins/postcss-plugin-version-attribute.js
Due: yarn format, eslint

v9.9.1
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

[github_action] update caniuse-lite database
  yarn.lock
Due: none

provide a better error message in validator runtime errors
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/formulr/error.ts
  packages/zent/src/form/formulr/field-utils.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/index.ts
Due: yarn format, eslint

fix: 修复 fieldArrayModel splice 无法插入数据问题
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

add FormValidationError
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/demos/15.submit.md
  packages/zent/src/form/formulr/validate.ts
Due: yarn format, eslint

rename makeChangeHandler to useChangeHandler
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/13.interact.md
  packages/zent/src/form/demos/3.multi-value.md
  packages/zent/src/form/formulr/field-utils.ts
Due: yarn format, eslint

upgrade zenticons@3.7.2, add hotel icon
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

注释遗漏
  packages/zent/scripts/generate-icon-grid.js
  packages/zent/src/icon/demos/all.md
Due: yarn format, eslint

fix form doc links
  packages/zent/package.json
  packages/zent/scripts/check-deadlink.js
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/index.ts
  yarn.lock
Due: yarn format, eslint

upgrade zenticons@3.7.2, add hotel icon (#1762)
  packages/zent/package.json
  packages/zent/scripts/generate-icon-grid.js
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

fix: 修复 fieldArrayModel splice 无法插入数据问题 (#1761)
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

use block in callback
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

support form control layout direction
  packages/zent/assets/form.scss
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/7.layout.md
Due: yarn format, eslint, stylelint

Form bug fixes (#1763)
  packages/zent/assets/form.scss
  packages/zent/package.json
  packages/zent/scripts/check-deadlink.js
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/demos/13.interact.md
  packages/zent/src/form/demos/15.submit.md
  packages/zent/src/form/demos/3.multi-value.md
  packages/zent/src/form/demos/7.layout.md
  packages/zent/src/form/formulr/error.ts
  packages/zent/src/form/formulr/field-utils.ts
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/validate.ts
  packages/zent/src/form/index.ts
  yarn.lock
Due: yarn format, eslint, stylelint

support control style in FormContext
  packages/zent/src/form/Control.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/context.tsx
  packages/zent/src/form/demos/7.layout.md
Due: yarn format, eslint

support control style in FormContext (#1765)
  packages/zent/src/form/Control.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/context.tsx
  packages/zent/src/form/demos/7.layout.md
Due: yarn format, eslint

v9.9.2
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  stylelint: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
