Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

feat(transfer): disabled bug
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/demos/basic.md
Due: yarn format, eslint

Update prismjs
  site/package.json
  yarn.lock
Due: none

fix: DatePicker 单测去new Date
  packages/zent/__tests__/date-picker/RangePicker.js
  packages/zent/__tests__/date-picker/SinglePicker.js
  packages/zent/__tests__/date-picker/TimePicker.js
  packages/zent/__tests__/date-picker/index.js
  packages/zent/__tests__/date-picker/utils.js
Due: yarn format, eslint

feat(transfer): demo
  packages/zent/src/transfer/demos/basic.md
  packages/zent/src/transfer/demos/search.md
Due: none

fix: colorpicker支持disabled && 组件样式调整
  packages/zent/assets/colorpicker.scss
  packages/zent/src/colorpicker/README_en-US.md
  packages/zent/src/colorpicker/README_zh-CN.md
  packages/zent/src/colorpicker/demos/disabled.md
  packages/zent/src/colorpicker/index.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

ColorPicker 删除prefix属性
  packages/zent/__tests__/color-picker.js
  packages/zent/assets/colorpicker.scss
  packages/zent/src/colorpicker/ColorBoard.tsx
  packages/zent/src/colorpicker/README_en-US.md
  packages/zent/src/colorpicker/README_zh-CN.md
  packages/zent/src/colorpicker/SketchFields.tsx
  packages/zent/src/colorpicker/SketchPresetColors.tsx
  packages/zent/src/colorpicker/common/EditableInput.tsx
  packages/zent/src/colorpicker/index.tsx
  packages/zent/src/disabled/demos/1.basic.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Add colorPreset support to loading
  packages/zent/assets/loading.scss
  packages/zent/src/loading/BlockLoading.tsx
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/loading/InlineLoading.tsx
  packages/zent/src/loading/README_en-US.md
  packages/zent/src/loading/README_zh-CN.md
  packages/zent/src/loading/components/icons/Circle.tsx
  packages/zent/src/loading/components/icons/IconProps.ts
  packages/zent/src/loading/components/icons/Youzan.tsx
  packages/zent/src/loading/demos/preset.md
  packages/zent/src/loading/props.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix code highlight in docs
  site/package.json
  yarn.lock
Due: none

fix code highlight in docs (#1454)
  site/package.json
  yarn.lock
Due: none

Add colorPreset support to loading (#1453)
  packages/zent/assets/loading.scss
  packages/zent/src/loading/BlockLoading.tsx
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/loading/InlineLoading.tsx
  packages/zent/src/loading/README_en-US.md
  packages/zent/src/loading/README_zh-CN.md
  packages/zent/src/loading/components/icons/Circle.tsx
  packages/zent/src/loading/components/icons/IconProps.ts
  packages/zent/src/loading/components/icons/Youzan.tsx
  packages/zent/src/loading/demos/preset.md
  packages/zent/src/loading/props.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[bug fix]修改DatePicker单测中不严谨的用法 (#1451)
  packages/zent/__tests__/date-picker/RangePicker.js
  packages/zent/__tests__/date-picker/SinglePicker.js
  packages/zent/__tests__/date-picker/TimePicker.js
  packages/zent/__tests__/date-picker/index.js
  packages/zent/__tests__/date-picker/utils.js
Due: yarn format, eslint

[bug fix] ColorPicker支持禁用 && 删除prefix属性 (#1452)
  packages/zent/__tests__/color-picker.js
  packages/zent/assets/colorpicker.scss
  packages/zent/src/colorpicker/ColorBoard.tsx
  packages/zent/src/colorpicker/README_en-US.md
  packages/zent/src/colorpicker/README_zh-CN.md
  packages/zent/src/colorpicker/SketchFields.tsx
  packages/zent/src/colorpicker/SketchPresetColors.tsx
  packages/zent/src/colorpicker/common/EditableInput.tsx
  packages/zent/src/colorpicker/demos/disabled.md
  packages/zent/src/colorpicker/index.tsx
  packages/zent/src/disabled/demos/1.basic.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat: 引用默认的 loading
  packages/zent/src/select/demos/8.scrollable.md
Due: none

fix: rename select creating
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

[new feature] Select: 补齐 select 功能及 api 文档 (#1391)
  packages/zent/__tests__/text-mark.js
  packages/zent/assets/select.scss
  packages/zent/src/form/demos/2.builtin-field.md
  packages/zent/src/form/demos/3.multi-value.md
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/10.creatable.md
  packages/zent/src/select/demos/2.controlled.md
  packages/zent/src/select/demos/4.multiple.md
  packages/zent/src/select/demos/6.custom-search.md
  packages/zent/src/select/demos/8.scrollable.md
  packages/zent/src/select/demos/9.custom-display.md
  packages/zent/src/text-mark/index.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

update zenticons to v3.6.2
  packages/zent/package.json
  yarn.lock
Due: none

update zenticons to v3.6.2 (#1455)
  packages/zent/package.json
  yarn.lock
Due: none

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

bump version to 8.5.5
  packages/zent/package.json
Due: none

fix release script
  .github/workflows/release.yml
Due: none

fix Checkbox margin
  packages/zent/assets/checkbox.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix Checkbox margin (#1456)
  packages/zent/assets/checkbox.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

feat(transfer): disabled prop
  packages/zent/__tests__/transfer.js
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/demos/basic.md
  packages/zent/src/transfer/hooks/useTransfer.ts
  packages/zent/src/transfer/types.ts
  packages/zent/src/transfer/utils.ts
Due: yarn format, eslint

feat(transfer): test
  packages/zent/__tests__/transfer.js
Due: yarn format, eslint

feat(transfer): test useTransfer
  packages/zent/__tests__/transfer.js
Due: yarn format, eslint

[new feature] Form: 暴露formulr中的部分类型
  packages/zent/src/form/index.ts
Due: yarn format, eslint

feat(transfer): delete test
  packages/zent/__tests__/transfer.js
Due: yarn format, eslint

[bug fix] Form: 修复FormSelectField类型定义
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

chore: 删除不必要的类型导入
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

feat(transfer): extract search allCheckBox cpn
  packages/zent/src/transfer/components/AllCheckBox.tsx
  packages/zent/src/transfer/components/Search.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
Due: yarn format, eslint

[new feature] Form: 暴露formulr中的部分类型 (#1459)
  packages/zent/src/form/index.ts
Due: yarn format, eslint

[bug fix] Form: 修复FormSelectField类型定义 (#1458)
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

feat(transfer): test
  packages/zent/__tests__/transfer.js
  packages/zent/src/transfer/Transfer.tsx
Due: yarn format, eslint

feat(transfer): ignore grid test coverage
  packages/zent/jest.config.json
Due: none

fix: Cascader 代码风格修正
  packages/zent/__tests__/cascader.js
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/common/constants.ts
  packages/zent/src/cascader/common/utils.ts
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/components/TabsContent.tsx
  packages/zent/src/cascader/demos/1.menu.md
  packages/zent/src/cascader/demos/10.tabs-loading.md
  packages/zent/src/cascader/demos/2.loading.md
  packages/zent/src/cascader/demos/3.searchable.md
  packages/zent/src/cascader/demos/4.multiple.md
  packages/zent/src/cascader/demos/5.multiple-searchable.md
  packages/zent/src/cascader/demos/6.scrollable.md
  packages/zent/src/cascader/demos/7.async-searchable.md
  packages/zent/src/cascader/demos/8.disabled.md
  packages/zent/src/cascader/demos/9.tabs.md
  packages/zent/src/cascader/trigger/Search.tsx
  packages/zent/src/cascader/trigger/Tag.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/index.tsx
  packages/zent/src/cascader/types.ts
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/popover/placement/auto-bottom-left-sticky.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Fix slider value out of range on latest React
  packages/zent/package.json
  packages/zent/src/slider/Slider.tsx
  packages/zent/src/slider/common.ts
  site/package.json
  yarn.lock
Due: yarn format, eslint
