Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 修改type类型名称
  packages/zent/__tests__/alert.js
  packages/zent/assets/alert.scss
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/demos/outline.md
  packages/zent/src/alert/demos/scroll.md
  packages/zent/src/alert/demos/styles.md
  packages/zent/src/alert/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: scroll-alert 父子节点的onClose回调
  packages/zent/__tests__/alert.js
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/demos/close.md
  packages/zent/src/alert/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 使用 TextMark 进行关键词高亮
  packages/zent/__tests__/cascader.js
  packages/zent/__tests__/text-mark.js
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/demos/async-searchable.md
  packages/zent/src/text-mark/TextMark.tsx
  packages/zent/src/text-mark/index.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: alert组件类名zent前缀
  packages/zent/__tests__/alert.js
  packages/zent/assets/alert.scss
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/demos/scroll.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: forwardRef替换scrollRef
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/demos/scroll.md
Due: yarn format, eslint

fix: 类名和div属性保留
  packages/zent/__tests__/alert.js
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

docs: 完善表单的文档
  packages/zent/package.json
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/10.combine-errors.md
  packages/zent/src/form/demos/11.normalizer.md
  packages/zent/src/form/demos/12.preview.md
  packages/zent/src/form/demos/13.interact.md
  packages/zent/src/form/demos/14.interact.2.md
  packages/zent/src/form/demos/15.submit.md
  packages/zent/src/form/demos/3.multi-value.md
  packages/zent/src/form/demos/6.validator-middleware.md
  packages/zent/src/form/demos/7.layout.md
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/demos/9.model-first.md
  packages/zent/src/form/index.ts
  yarn.lock
Due: yarn format, eslint

fix: 单独暴露alertItem
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/components/AlertItem.tsx
Due: yarn format, eslint

feat: upgrade formulr
  packages/zent/package.json
  yarn.lock
Due: none

docs: Collapse activeKey
  packages/zent/src/collapse/README_en-US.md
  packages/zent/src/collapse/README_zh-CN.md
Due: none

fix: 使用说明修改 && 高度NaN值处理
  packages/zent/assets/alert.scss
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

增加scrollAlert组件 && alert组件type属性增加hint (#1380)
  packages/zent/__tests__/alert.js
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/components/AlertItem.tsx
  packages/zent/src/alert/demos/close.md
  packages/zent/src/alert/demos/extra.md
  packages/zent/src/alert/demos/highlight.md
  packages/zent/src/alert/demos/loading.md
  packages/zent/src/alert/demos/outline.md
  packages/zent/src/alert/demos/scroll.md
  packages/zent/src/alert/demos/styles.md
  packages/zent/src/alert/index.ts
  packages/zent/src/alert/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

docs: dynamicMessage -> message
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/6.validator-middleware.md
Due: none

chore: upgrade formulr
  packages/zent/package.json
  packages/zent/src/form/ZentForm.tsx
  yarn.lock
Due: yarn format, eslint

[new feature] Form: 导出ValidatorMiddlewares (#1381)
  packages/zent/package.json
  packages/zent/src/collapse/README_en-US.md
  packages/zent/src/collapse/README_zh-CN.md
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/demos/10.combine-errors.md
  packages/zent/src/form/demos/11.normalizer.md
  packages/zent/src/form/demos/12.preview.md
  packages/zent/src/form/demos/13.interact.md
  packages/zent/src/form/demos/14.interact.2.md
  packages/zent/src/form/demos/15.submit.md
  packages/zent/src/form/demos/3.multi-value.md
  packages/zent/src/form/demos/6.validator-middleware.md
  packages/zent/src/form/demos/7.layout.md
  packages/zent/src/form/demos/8.field-array.md
  packages/zent/src/form/demos/9.model-first.md
  packages/zent/src/form/index.ts
  yarn.lock
Due: yarn format, eslint

[bug fix] Collapse: optional onChange and panelKey props
  packages/zent/src/collapse/Panel.tsx
Due: yarn format, eslint

[bug fix] Collapse: optional onChange and panelKey props (#1382)
  packages/zent/src/collapse/Panel.tsx
Due: yarn format, eslint

v8.5.0-1
  packages/zent/package.json
Due: none

fix: 增加scrollAlert子节点类型校验
  packages/zent/__tests__/alert.js
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

fix: check the type of scroll-alert's childen
  packages/zent/__tests__/alert.js
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

fix: clear interval with one child
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

fix: setTimout replace setInterval
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

fix: add containerHeight, renderItems, preChildren states
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

fix: height is 0
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

fix: prettier
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

fix: reset delay
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

[bug fix] FormSelectField: 透传children
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

fix: check the type of scroll-alert's children (#1384)
  packages/zent/__tests__/alert.js
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

[bug fix] FormSelectField: 透传children (#1385)
  packages/zent/src/form/form-components/SelectField.tsx
Due: yarn format, eslint

v8.5.0-2
  packages/zent/package.json
Due: none

fix: default duration
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

fix: default duration (#1386)
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

[bug fix] Form: await submit之后的状态更新增加前置条件
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/utils/hooks/useAsyncSafeReducer.ts
Due: yarn format, eslint

chore: simplify code
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/utils/hooks/useAsyncSafeDispatch.ts
  packages/zent/src/utils/hooks/useAsyncSafeReducer.ts
Due: yarn format, eslint

chore: remove unused code
  packages/zent/src/utils/hooks/useAsyncSafeDispatch.ts
Due: yarn format, eslint

fix: support scroll-alert children update
  packages/zent/__tests__/alert.js
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

delete unuse fn
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

chore: 拆出useMounted、补全注释
  packages/zent/src/utils/hooks/useAsyncSafeDispatch.ts
  packages/zent/src/utils/hooks/useMounted.ts
Due: yarn format, eslint

[bug fix] Form: await submit之后的状态更新增加前置条件 (#1387)
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/utils/hooks/useAsyncSafeDispatch.ts
  packages/zent/src/utils/hooks/useMounted.ts
Due: yarn format, eslint

scroll-alert props's children update handler (#1388)
  packages/zent/__tests__/alert.js
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

Path conditions:
  yarn format: ((((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: site/**/*.scss)) or (any of: packages/zent/**/*.scss)
  eslint: ((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})
  sass-lint -vq: (any of: site/**/*.scss) or (any of: packages/zent/**/*.scss)
  yarn workspace zent lint-style: any of: packages/zent/**/*.scss
