Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

fix: image demo enable sortable
  packages/zent/src/upload/demos/image.md
Due: none

fix: update upload i18n en-US failed text
  packages/zent/src/i18n/en-US.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fork enquire for SSR
  packages/zent/__tests__/utils/enquire/MediaQuery.js
  packages/zent/__tests__/utils/enquire/MediaQueryDispatch.js
  packages/zent/__tests__/utils/enquire/QueryHandler.js
  packages/zent/src/layout/components/BreakPointHub.tsx
  packages/zent/src/utils/enquire/MediaQuery.ts
  packages/zent/src/utils/enquire/MediaQueryDispatch.ts
  packages/zent/src/utils/enquire/QueryHandler.ts
  packages/zent/src/utils/enquire/index.ts
  packages/zent/src/utils/enquire/types.ts
  scripts/test-component.sh
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

add enquire license
  packages/zent/__tests__/utils/enquire/LICENSE
  packages/zent/src/utils/enquire/LICENSE
Due: none

fix: add data-zv on sortable Com
  packages/zent/src/sortable/Sortable.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

replace tinycolor2 with a slim ts version (#1279)
  packages/zent/__tests__/utils/tinycolor.js
  packages/zent/package.json
  packages/zent/src/colorpicker/helpers/color.ts
  packages/zent/src/layout/components/BreakPointHub.tsx
  packages/zent/src/utils/date/formatDate.ts
  packages/zent/src/utils/date/helpers.ts
  packages/zent/src/utils/date/makeDateStr.ts
  packages/zent/src/utils/date/makeDateTimeStr.ts
  packages/zent/src/utils/date/parseDate.ts
  packages/zent/src/utils/tinycolor/conversion.ts
  packages/zent/src/utils/tinycolor/css-color-names.ts
  packages/zent/src/utils/tinycolor/format-input.ts
  packages/zent/src/utils/tinycolor/index.ts
  packages/zent/src/utils/tinycolor/interfaces.ts
  packages/zent/src/utils/tinycolor/tinycolor.ts
  packages/zent/src/utils/tinycolor/util.ts
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fork enquire for SSR (#1282)
  packages/zent/__tests__/utils/enquire/LICENSE
  packages/zent/__tests__/utils/enquire/MediaQuery.js
  packages/zent/__tests__/utils/enquire/MediaQueryDispatch.js
  packages/zent/__tests__/utils/enquire/QueryHandler.js
  packages/zent/src/layout/components/BreakPointHub.tsx
  packages/zent/src/utils/enquire/LICENSE
  packages/zent/src/utils/enquire/MediaQuery.ts
  packages/zent/src/utils/enquire/MediaQueryDispatch.ts
  packages/zent/src/utils/enquire/QueryHandler.ts
  packages/zent/src/utils/enquire/index.ts
  packages/zent/src/utils/enquire/types.ts
  scripts/test-component.sh
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

supports nested object path in Grid colomn name(legacy) (#1280)
  packages/zent/__tests__/utils/getFromPath.js
  packages/zent/src/grid/Cell.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/utils/getFromPath.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

fix: block-header titile 类型改为 ReactNode
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/block-header/README_en-US.md
  packages/zent/src/block-header/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: datetimepicker 组件右侧图标尺寸调整
  packages/zent/assets/datetimepicker.scss
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/MonthPicker.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/YearPicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

[Bugfix] Sortable: 修复组件的一些遗留bug (#1281)
  packages/zent/src/sortable/Sortable.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: datetimepicker 组件右侧图标尺寸调整 (#1284)
  packages/zent/assets/datetimepicker.scss
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/MonthPicker.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/YearPicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: block-header titile 类型改为 ReactNode (#1283)
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/block-header/README_en-US.md
  packages/zent/src/block-header/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: add generic type for ZentForm#getValue
  packages/zent/src/form/ZentForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Upgrade icons
  packages/zent/package.json
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: none

add new icon types
  packages/zent/src/icon/Icon.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Automate icon font update process
  packages/zent/package.json
  packages/zent/scripts/build-ts.sh
  packages/zent/scripts/generate-icon-grid.js
  packages/zent/scripts/update-iconfont.sh
Due: yarn format, eslint

Icon upgrade (#1286)
  packages/zent/package.json
  packages/zent/scripts/build-ts.sh
  packages/zent/scripts/generate-icon-grid.js
  packages/zent/scripts/update-iconfont.sh
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

remove lib reference and createAlias
  packages/zent/README_en-US.md
  packages/zent/README_zh-CN.md
  packages/zent/createAlias.js
  packages/zent/docs/I18N_en-US.md
  packages/zent/docs/I18N_zh-CN.md
  packages/zent/src/design/README_en-US.md
  packages/zent/src/design/README_zh-CN.md
  scripts/test.sh
  site/react-template.jstpl
  site/src/App.js
  site/src/components/search-box/ResultList.js
  site/webpack/webpack.config.js
Due: yarn format, eslint

Update github templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

remove lib reference and createAlias (#1288)
  packages/zent/README_en-US.md
  packages/zent/README_zh-CN.md
  packages/zent/createAlias.js
  packages/zent/docs/I18N_en-US.md
  packages/zent/docs/I18N_zh-CN.md
  packages/zent/src/design/README_en-US.md
  packages/zent/src/design/README_zh-CN.md
  scripts/test.sh
  site/react-template.jstpl
  site/src/App.js
  site/src/components/search-box/ResultList.js
  site/webpack/webpack.config.js
Due: yarn format, eslint

fix text mark types
  packages/zent/src/text-mark/TextMark.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update github templates (#1289)
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix text mark types (#1290)
  packages/zent/src/text-mark/TextMark.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 提供图片上传成功时 src 替换的能力，demo 整理
  packages/zent/assets/upload.scss
  packages/zent/src/number-input/integer.ts
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/image/Item.tsx
  packages/zent/src/upload/components/image/List.tsx
  packages/zent/src/upload/demos/controlled.md
  packages/zent/src/upload/demos/pagination.md
  packages/zent/src/upload/demos/sortable.md
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils.ts
  packages/zent/src/utils/isInteger.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 修复 update 时使用初始 item 对象的问题，补充 defaultFileList demo
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/demos/default-file-list.md
  packages/zent/src/upload/demos/image.md
  packages/zent/src/upload/demos/pagination.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v7.4.1
  packages/zent/package.json
Due: none

fix date range quick picker types
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix grid styles
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix date range quick picker types (#1294)
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix grid styles (#1295)
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json
