Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

feat: cascader部分样式修改
  packages/zent/assets/cascader.scss
Due: yarn format, stylelint

fix typo in RELEASE_zh-CN.md
  packages/zent/RELEASE_zh-CN.md
Due: none

feat: 时间选择器修改
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/components/PanelHeader.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
Due: yarn format, eslint, stylelint

feat: tabs style
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/operation/AnchorOperation.tsx
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, eslint, stylelint

feat: datepicker 单元测试修改
  packages/zent/__tests__/date-picker/RangePicker.spec.jsx
  packages/zent/__tests__/date-picker/SinglePicker.spec.jsx
Due: yarn format, eslint

feat: 进度条样式优化&支持进度条边缘形状改变
  packages/zent/assets/progress.scss
  packages/zent/src/progress/Progress.tsx
  packages/zent/src/progress/README_en-US.md
  packages/zent/src/progress/README_zh-CN.md
  packages/zent/src/progress/components/CircleProgress.tsx
  packages/zent/src/progress/components/LineProgress.tsx
  packages/zent/src/progress/components/ProgressInfo.tsx
  packages/zent/src/progress/demos/line-cap.md
  packages/zent/src/progress/types.ts
Due: yarn format, eslint, stylelint

feat: 修改日期不修改时间
  packages/zent/__tests__/date-picker/SinglePicker.spec.jsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
Due: yarn format, eslint

feat: 去除注释代码
  packages/zent/src/date-picker/components/PanelHeader.tsx
Due: yarn format, eslint

feat: 格式变更
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
Due: yarn format, eslint

feat: 格式修改
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
Due: yarn format, eslint

feat: swiper样式调整
  packages/zent/assets/swiper.scss
  packages/zent/assets/theme/_timing-functions.scss
  packages/zent/src/swiper/README_en-US.md
  packages/zent/src/swiper/README_zh-CN.md
  packages/zent/src/swiper/Swiper.tsx
  packages/zent/src/swiper/SwiperDots.tsx
  packages/zent/src/swiper/demos/arrow-disabled.md
  packages/zent/src/swiper/demos/arrow.md
  packages/zent/src/swiper/demos/dynamic-add-child.md
  packages/zent/src/swiper/demos/method.md
Due: yarn format, eslint, stylelint

feat: datepick 修改
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeFooter.tsx
Due: yarn format, eslint

[github_action] update caniuse-lite database
  yarn.lock
Due: none

feat: 级联选择器修改
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/trigger/BaseTrigger.tsx
  packages/zent/src/cascader/trigger/Tag.tsx
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint, stylelint

feat: 单元测试修改
  packages/zent/__tests__/cascader.spec.jsx
Due: yarn format, eslint

feat: date-picker按钮调换成text按钮
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
Due: yarn format, eslint

feat: 单元测试修改
  packages/zent/__tests__/date-picker/RangePicker.spec.jsx
  packages/zent/__tests__/date-picker/SinglePicker.spec.jsx
Due: yarn format, eslint

feat: alert style
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
Due: yarn format, eslint, stylelint

feat: tabs 样式优化&支持onAdd,canFixed
  packages/zent/assets/tabs.scss
  packages/zent/assets/theme/_timing-functions.scss
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/base/BaseTab.tsx
  packages/zent/src/tabs/components/tabs-nav/CommonTabsNav.tsx
  packages/zent/src/tabs/components/tabs-nav/OperationTabs.tsx
  packages/zent/src/tabs/demos/basic.md
  packages/zent/src/tabs/demos/fixed.md
  packages/zent/src/tabs/demos/nav-extra-content.md
  packages/zent/src/tabs/demos/no-tab-panel.md
  packages/zent/src/tabs/demos/overflow-mode.md
  packages/zent/src/tabs/demos/stretch.md
  packages/zent/src/tabs/demos/types.md
  packages/zent/src/tabs/demos/vertical.md
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, eslint, stylelint

feat: alert finish
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/Banner.tsx
  packages/zent/src/alert/Prompt.tsx
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/components/AlertItem.tsx
  packages/zent/src/alert/demos/Banner.md
  packages/zent/src/alert/demos/close.md
  packages/zent/src/alert/demos/loading.md
  packages/zent/src/alert/demos/outline.md
  packages/zent/src/alert/demos/prompt.md
  packages/zent/src/alert/demos/scroll.md
  packages/zent/src/alert/index.ts
Due: yarn format, eslint, stylelint

fix MiniPagination page number not updated in some cases
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
Due: yarn format, eslint

fix MiniPagination page number not updated in some cases (#1852)
  packages/zent/src/pagination/components/jumper/BasePageJumper.tsx
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/pagination/components/jumper/PageJumper.tsx
Due: yarn format, eslint

feat: card样式优化,支持小尺寸card
  packages/zent/assets/card.scss
  packages/zent/src/card/Card.tsx
  packages/zent/src/card/demos/basic.md
  packages/zent/src/card/demos/custom-style.md
  packages/zent/src/card/demos/loading.md
  packages/zent/src/card/demos/nested.md
  packages/zent/src/card/demos/size.md
  packages/zent/src/card/demos/with-action.md
  packages/zent/src/card/demos/with-title.md
Due: yarn format, eslint, stylelint

feat: docs
  packages/zent/assets/card.scss
  packages/zent/src/card/README_en-US.md
  packages/zent/src/card/README_zh-CN.md
  packages/zent/src/card/demos/custom-style.md
  packages/zent/src/card/demos/size.md
  packages/zent/src/card/demos/with-action.md
Due: yarn format, stylelint

feat: alert docs
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
Due: none

feat: 进度提示&docs
  packages/zent/assets/steps.scss
  packages/zent/src/steps/README_en-US.md
  packages/zent/src/steps/README_zh-CN.md
  packages/zent/src/steps/components/Step.tsx
  packages/zent/src/steps/demos/custom-icon.md
Due: yarn format, eslint, stylelint

feat: breadcrumb 代码优化
  packages/zent/src/breadcrumb/Breadcrumb.tsx
Due: yarn format, eslint

feat: steps 代码优化
  packages/zent/assets/steps.scss
  packages/zent/src/steps/demos/breadcrumb-step.md
Due: yarn format, stylelint

feat: breadcrumb import timing-functions
  packages/zent/assets/breadcrumb.scss
Due: yarn format, stylelint

v9.12.2
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

feat: breadcrumb test
  packages/zent/__tests__/breadcrumb.spec.jsx
  packages/zent/src/breadcrumb/Breadcrumb.tsx
Due: yarn format, eslint

feat: import
  packages/zent/assets/alert.scss
Due: yarn format, stylelint

feat: swiper import
  packages/zent/assets/swiper.scss
Due: yarn format, stylelint

feat: password修改
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/Password.tsx
  packages/zent/src/input/demos/password.md
  packages/zent/src/input/index.tsx
  packages/zent/src/input/password.tsx
Due: yarn format, eslint

feat: password修改
  packages/zent/__tests__/input.spec.jsx
  packages/zent/src/input/Password.tsx
  packages/zent/src/input/demos/password.md
Due: yarn format, eslint

feat: 更新单元测试
  packages/zent/__tests__/input.spec.jsx
Due: yarn format, eslint

feat: md修改
  packages/zent/src/input/demos/password.md
Due: none

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
