Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

[style] Form: 输入框边距样式优化、'*' 颜色修改 (#1347)
  packages/zent/assets/form.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Grid: 更新中文文档，替换属性名
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/autoStick.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修复FormControl的组件类型
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

Grid: 删除多余的默认值设置
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[new feature] Grid: 表头吸顶支持自定义offset (#1348)
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/autoStick.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix(Form): IFormComponentProps类型修复
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix(Form): IFormComponentProps类型修复 (#1350)
  packages/zent/src/form/shared.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

mark submit as failure when validation fails
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

mark submit as failure when validation fails (#1351)
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/src/form/Form.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update RELEASE.md
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.2.0
  packages/zent/package.json
Due: none

revert grid auto stick demo
  packages/zent/src/grid/demos/autoStick.md
Due: none

fix form demo style[ci skip]
  packages/zent/src/form/demos/12.interact.md
Due: none

fix pop, tooltip
  packages/zent/src/pop/NoneTrigger.ts
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/demos/center-arrow.md
  packages/zent/src/pop/demos/positions.md
  packages/zent/src/pop/demos/trigger.md
  packages/zent/src/popover/arrow-position/arrow-bottom-left-position.ts
  packages/zent/src/popover/arrow-position/arrow-bottom-right-position.ts
  packages/zent/src/popover/arrow-position/arrow-left-bottom-position.ts
  packages/zent/src/popover/arrow-position/arrow-left-top-position.ts
  packages/zent/src/popover/arrow-position/arrow-right-bottom-position.ts
  packages/zent/src/popover/arrow-position/arrow-right-top-position.ts
  packages/zent/src/popover/arrow-position/arrow-top-left-position.ts
  packages/zent/src/popover/arrow-position/arrow-top-right-position.ts
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/tooltip/NoneTrigger.ts
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

rewrite select
  packages/zent/assets/select.scss
  packages/zent/src/select/Popup.tsx
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/components/Option.tsx
  packages/zent/src/select/components/Search.tsx
  packages/zent/src/select/components/Tag.tsx
  packages/zent/src/select/demos/async-filter.md
  packages/zent/src/select/demos/auto-width.md
  packages/zent/src/select/demos/basic.md
  packages/zent/src/select/demos/callback.md
  packages/zent/src/select/demos/controlled.md
  packages/zent/src/select/demos/custom-text.md
  packages/zent/src/select/demos/custom.md
  packages/zent/src/select/demos/disable.md
  packages/zent/src/select/demos/dynamic.md
  packages/zent/src/select/demos/empty-text.md
  packages/zent/src/select/demos/filter.md
  packages/zent/src/select/demos/object-array.md
  packages/zent/src/select/demos/reset.md
  packages/zent/src/select/demos/retain-null-option.md
  packages/zent/src/select/demos/tag.md
  packages/zent/src/select/index.ts
  packages/zent/src/select/trigger/BaseTrigger.tsx
  packages/zent/src/select/trigger/InputTrigger.tsx
  packages/zent/src/select/trigger/SimpleTrigger.tsx
  packages/zent/src/select/trigger/TagsTrigger.tsx
  packages/zent/src/select/trigger/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix components for popover refactor
  packages/zent/assets/auto-complete.scss
  packages/zent/assets/block-header.scss
  packages/zent/assets/select.scss
  packages/zent/assets/split-button.scss
  packages/zent/assets/timeline.scss
  packages/zent/package.json
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/colorpicker/PopoverClickTrigger.ts
  packages/zent/src/colorpicker/index.tsx
  packages/zent/src/dropdown/Dropdown.tsx
  packages/zent/src/error-boundary/Fallback.tsx
  packages/zent/src/form/form-components/SelectField.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/pagination/components/button/ArrowButton.tsx
  packages/zent/src/split-button/SplitButton.tsx
  packages/zent/src/timeline/Item.tsx
  packages/zent/src/upload/components/normal/Item.tsx
  packages/zent/src/utils/getArrowPosition.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

add missing files
  packages/zent/src/pop/Action.tsx
  packages/zent/src/popover/Anchor.tsx
  packages/zent/src/popover/Context.tsx
  packages/zent/src/popover/placement/prefix.ts
  packages/zent/src/popover/trigger/ClickTrigger.tsx
  packages/zent/src/popover/trigger/FocusTrigger.tsx
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/TagList.tsx
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/2.controlled.md
  packages/zent/src/select/demos/3.group.md
  packages/zent/src/select/demos/4.multiple.md
  packages/zent/src/select/demos/5.filter.md
  packages/zent/src/select/demos/6.customer-search.md
  packages/zent/src/select/demos/7.virtual-scroll.md
  packages/zent/src/utils/useAnimationFramed.ts
  packages/zent/src/utils/useLazy.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix(Grid): 修复 Grid 跨页全选后反选导致 selectedRowKeys 被清空问题
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[style] Form: 描述文字上边距改为8px
  packages/zent/assets/form.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[style] Form: 描述文字上边距改为8px (#1354)
  packages/zent/assets/form.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[bug fix] FieldSet: prop类型修复
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] FieldSet: prop类型修复 (#1355)
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Revert "[bug fix] FieldSet: prop类型修复 (#1355)"
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Revert "[bug fix] FieldSet: prop类型修复 (#1355)" (#1356)
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] FieldSet: 移除类型中的defaultValue
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] FieldSet: 区分prop的model和view两种模式
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] FieldSet: model模式增加validators属性
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

chore(FieldSet): 恢复validators属性的注释
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] FieldSet: view模式类型修复
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] FieldSet: model接受ModelRef
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

chore(FieldSet): 调整validators变量的声明位置
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Grid: 添加属性控制是否禁用鼠标高亮效果
  packages/zent/assets/grid.scss
  packages/zent/src/grid/Body.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/Row.tsx
  packages/zent/src/grid/demos/simple.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

[bug fix] FieldSet: prop类型修复 (#1357)
  packages/zent/src/form/FieldSet.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Grid: disableHoverHighlight时取消挂载mouseEnter事件
  packages/zent/src/grid/Row.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

break loop when a match is found
  packages/zent/src/grid/Grid.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json
