Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

fix: readme
  packages/zent/src/cascader/README_zh-CN.md
  packages/zent/src/cascader/demos/basic.md
  packages/zent/src/cascader/demos/choosen.md
  packages/zent/src/cascader/demos/dynamic.md
  packages/zent/src/cascader/demos/expand.md
  packages/zent/src/cascader/demos/multiple.md
  packages/zent/src/cascader/demos/scrollable.md
  packages/zent/src/cascader/demos/searchable.md
  packages/zent/src/cascader/demos/type.md
  packages/zent/src/cascader/trigger/InputTrigger.tsx
  packages/zent/src/cascader/trigger/TagsTrigger.tsx
Due: yarn format, eslint

[new feature] Upload: 支持自定义上传项展示 (#1369)
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/README_en-US.md
  packages/zent/src/upload/README_zh-CN.md
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractList.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/image/List.tsx
  packages/zent/src/upload/components/normal/List.tsx
  packages/zent/src/upload/demos/custom-item.md
  packages/zent/src/upload/types.ts
Due: yarn format, eslint

update plugin/tsconfig.json
  packages/zent/package.json
  packages/zent/plugins/tsconfig.json
  packages/zent/tsconfig.plugins.json
Due: none

fix windows development (#1371)
  packages/zent/package.json
  packages/zent/plugins/tsconfig.json
  site/package.json
  yarn.lock
Due: none

style(tabs): tabs 删除icon 上下居中方式改为transform
  packages/zent/assets/tabs.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

style(tabs): card模式 active tab底边框改为透明
  packages/zent/assets/tabs.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[style] Tabs: 删除icon居中 button类型样式优化 (#1372)
  packages/zent/__tests__/tabs.js
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/components/tab/ButtonTab.tsx
  packages/zent/src/tabs/components/tabs-nav/ButtonTabsNav.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

RELEASE v8.4.0
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.4.0
  packages/zent/package.json
Due: none

fix: 修改 tips 展示规则，取消默认文案
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/README_en-US.md
  packages/zent/src/upload/README_zh-CN.md
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/demos/basic.md
  packages/zent/src/upload/demos/controlled.md
  packages/zent/src/upload/demos/custom-item.md
  packages/zent/src/upload/demos/default-file-list.md
  packages/zent/src/upload/demos/image.md
  packages/zent/src/upload/demos/manual.md
  packages/zent/src/upload/demos/pagination.md
  packages/zent/src/upload/demos/sortable.md
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/get-tips-content.ts
Due: yarn format, eslint

update formulr
  packages/zent/package.json
  packages/zent/src/form/Field.tsx
  yarn.lock
Due: yarn format, eslint

add validation propagation demo
  packages/zent/src/form/demos/7.field-array.md
Due: none

[Form] validate propagation (#1370)
  packages/zent/package.json
  packages/zent/src/form/CombineErrors.tsx
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/ZentForm.tsx
  packages/zent/src/form/demos/7.field-array.md
  packages/zent/src/form/shared.tsx
  yarn.lock
Due: yarn format, eslint

fix doc styles
  site/src/_constants.scss
  site/src/components/search-box/index.js
  site/src/components/search-box/style.scss
Due: yarn format, eslint, sass-lint -vq

fix popover related issues
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/mention/utils.ts
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/pop/demos/positions.md
  packages/zent/src/popover/Anchor.tsx
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/README_en-US.md
  packages/zent/src/popover/README_zh-CN.md
  packages/zent/src/popover/arrow-position/index.ts
  packages/zent/src/popover/demos/hoc.md
  packages/zent/src/popover/index.ts
  packages/zent/src/popover/placement/README.md
  packages/zent/src/popover/position-function.ts
  packages/zent/src/popover/trigger/ClickTrigger.tsx
  packages/zent/src/popover/trigger/FocusTrigger.tsx
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
  packages/zent/src/tooltip/demos/controlled.md
  packages/zent/src/tooltip/demos/positions.md
  packages/zent/src/tooltip/demos/trigger.md
Due: yarn format, eslint

fix: update zenticons to v3.4.0
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

fix: update zenticons to v3.4.0 (#1374)
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

fix: remove unused import
  packages/zent/src/i18n/en-US.tsx
Due: yarn format, eslint

[bugfix] Upload: 修改 tips 展示规则，取消默认文案 (#1373)
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/README_en-US.md
  packages/zent/src/upload/README_zh-CN.md
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/demos/basic.md
  packages/zent/src/upload/demos/controlled.md
  packages/zent/src/upload/demos/custom-item.md
  packages/zent/src/upload/demos/default-file-list.md
  packages/zent/src/upload/demos/image.md
  packages/zent/src/upload/demos/manual.md
  packages/zent/src/upload/demos/pagination.md
  packages/zent/src/upload/demos/sortable.md
  packages/zent/src/upload/types.ts
  packages/zent/src/upload/utils/get-tips-content.ts
Due: yarn format, eslint

fix: 拆分alertItem，增加新的alert类型
  packages/zent/assets/alert.scss
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/demos/styles.md
  packages/zent/src/alert/index.ts
  packages/zent/src/alert/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[bug fix] FormInputField: fix props type
  packages/zent/src/form/form-components/InputField.tsx
Due: yarn format, eslint

[bug fix] Select: optional data prop
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

[bug fix] Option: optional text and onClick props
  packages/zent/src/select/components/Option.tsx
Due: yarn format, eslint

chore: use optional chaining
  packages/zent/src/select/components/Option.tsx
Due: yarn format, eslint

fix: 补齐 ts 定义
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/TabsCascader.tsx
  packages/zent/src/cascader/components/MenuContent.tsx
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/demos/async-searchable.md
  packages/zent/src/cascader/demos/menu.md
  packages/zent/src/cascader/trigger/Tags.tsx
  packages/zent/src/cascader/trigger/index.tsx
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint

Grid: 修复scroll.x变化时fixed列阴影展示问题
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

fix: 增加scroll-alert 滚动和透明度渐变
  packages/zent/assets/alert.scss
  packages/zent/src/alert/AlertItem.tsx
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/index.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 滚动事件优化
  packages/zent/assets/alert.scss
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 异步搜索节点 merge
  packages/zent/__tests__/cascader.js
  packages/zent/assets/cascader.scss
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/common/utils.ts
  packages/zent/src/cascader/components/SearchContent.tsx
  packages/zent/src/cascader/demos/async-searchable.md
  packages/zent/src/cascader/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 异步搜索节点 merge
  packages/zent/__tests__/cascader.js
  packages/zent/src/cascader/MenuCascader.tsx
  packages/zent/src/cascader/common/utils.ts
  packages/zent/src/disabled/demos/1.basic.md
Due: yarn format, eslint

fix: close回调处理 属性整理 readme修改
  packages/zent/assets/alert.scss
  packages/zent/src/alert/README_en-US.md
  packages/zent/src/alert/README_zh-CN.md
  packages/zent/src/alert/ScrollAlert.tsx
  packages/zent/src/alert/demos/close.md
  packages/zent/src/alert/demos/extra.md
  packages/zent/src/alert/demos/highlight.md
  packages/zent/src/alert/demos/loading.md
  packages/zent/src/alert/demos/outline.md
  packages/zent/src/alert/demos/scroll.md
  packages/zent/src/alert/demos/styles.md
  packages/zent/src/alert/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: alert 单测修改
  packages/zent/__tests__/alert.js
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint

[bug fix] Form: Form的onSubmit允许任何类型的返回值
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

[bug fix] ButtonDirective: bordered默认为true
  packages/zent/src/button/Directive.tsx
Due: yarn format, eslint

[bug fix] Form: onSubmit返回值类型
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

Grid: 修复scroll.x变化时fixed列阴影展示问题 (#1377)
  packages/zent/src/grid/Grid.tsx
Due: yarn format, eslint

[bug fix] Form: 修复Select、Option、FormInputField的props类型 (#1375)
  packages/zent/src/button/Directive.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/form-components/InputField.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/components/Option.tsx
Due: yarn format, eslint

fix: 增加scroll-alert单测
  packages/zent/__tests__/alert.js
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/alert/ScrollAlert.tsx
Due: yarn format, eslint
