Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

fix: 代码注释补充
  packages/zent/src/cascader/common/utils.ts
Due: yarn format, eslint

ignore _override.scss when lint raw color values
  packages/zent/plugins/postcss-plugin-lint.js
Due: yarn format, eslint

ignore _override.scss when lint raw color values (#1416)
  packages/zent/plugins/postcss-plugin-lint.js
Due: yarn format, eslint

[bug fix]: ClampLines 非CJK连续字符超长时允许词内折行 (#1413)
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/clamp-lines/demos/non-cjk.md
Due: yarn format, eslint

修复rangeDisabledTimes、hoverDate优化、回调报错、年份范围、quick样式
  packages/zent/assets/date-picker.scss
  packages/zent/assets/date-range-quick-picker.scss
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/CombinedTimePicker.tsx
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/context/PickerContext.ts
  packages/zent/src/date-picker/demos/basic.md
  packages/zent/src/date-picker/demos/disabled-date.md
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/demos/disabled.md
  packages/zent/src/date-picker/demos/show-time.md
  packages/zent/src/date-picker/demos/value-type.md
  packages/zent/src/date-picker/hooks/useRangeDisabledDate.ts
  packages/zent/src/date-picker/hooks/useRangeDisabledTimes.ts
  packages/zent/src/date-picker/hooks/useShowTimeOption.ts
  packages/zent/src/date-picker/hooks/useSinglePopoverVisible.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/combined-time-range-panel/CombinedTimeFooter.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/panels/month-panel/MonthBody.tsx
  packages/zent/src/date-picker/panels/month-panel/index.tsx
  packages/zent/src/date-picker/panels/quarter-panel/QuarterBody.tsx
  packages/zent/src/date-picker/panels/week-panel/index.tsx
  packages/zent/src/date-picker/panels/year-panel/YearBody.tsx
  packages/zent/src/date-picker/panels/year-panel/index.tsx
  packages/zent/src/date-picker/types.ts
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
  packages/zent/src/date-picker/utils/getRangeDisabledTimes.ts
  packages/zent/src/i18n/en-US.tsx
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/zh-CN.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[new feature] 添加有赞沙箱环境支持 (#1404)
  packages/zent/.gitignore
  packages/zent/assets/upload.scss
  packages/zent/package.json
  packages/zent/scripts/build-sandbox.sh
  packages/zent/scripts/generate-sandbox-entry.js
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/input/TextArea.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/util.ts
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/utils/alcatraz/index.ts
  packages/zent/src/utils/component/AnimateHeight.tsx
  packages/zent/src/utils/component/event-handler/index.ts
  packages/zent/src/utils/dom/contains.ts
  packages/zent/src/utils/dom/createElement.ts
  packages/zent/src/utils/dom/findPositionedParent.ts
  packages/zent/src/utils/dom/getCaretCoordinates.ts
  packages/zent/src/utils/dom/getComputedStyle.ts
  packages/zent/src/utils/dom/getLineHeight.ts
  packages/zent/src/utils/dom/isSameNode.ts
  packages/zent/src/waypoint/Waypoint.tsx
  packages/zent/tsconfig.json
  packages/zent/webpack.sandbox.config.js
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

Update zenticons to 3.6.0
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

fix: remove some eslint-disable and fix code
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

feat: support customize form control labelWidth and labelPosition
  packages/zent/src/form/Control.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/Label.tsx
  packages/zent/src/form/context.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

fix: remove unused code
  packages/zent/src/form/Control.tsx
Due: yarn format, eslint

chore: modify labelWidth type
  packages/zent/src/form/Form.tsx
Due: yarn format, eslint

feat: 支持collapsable以折叠选项
  packages/zent/assets/select.scss
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/demos/4.multiple.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat(transfer): init
  packages/zent/assets/transfer.scss
  packages/zent/src/index.ts
  packages/zent/src/transfer/README_en-US.md
  packages/zent/src/transfer/README_zh-CN.md
  packages/zent/src/transfer/Transfer.tsx
  packages/zent/src/transfer/components/ArrowButton.tsx
  packages/zent/src/transfer/components/TransferItem.tsx
  packages/zent/src/transfer/constants.ts
  packages/zent/src/transfer/demos/basic.md
  packages/zent/src/transfer/demos/grid.md
  packages/zent/src/transfer/demos/search.md
  packages/zent/src/transfer/index.ts
  packages/zent/src/transfer/types.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat(transfer): css入口添加transfer
  packages/zent/assets/index.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Update zenticons to 3.6.0 (#1418)
  packages/zent/package.json
  packages/zent/src/icon/Icon.tsx
  packages/zent/src/icon/demos/all.md
  yarn.lock
Due: yarn format, eslint

feat: support form disabled prop
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/context.tsx
Due: yarn format, eslint

Expose babel plugin in nav
  site/src/nav.static.js
Due: yarn format, eslint

Expose babel plugin in nav (#1421)
  site/src/nav.static.js
Due: yarn format, eslint

补全DatePicker 单测
  packages/zent/__tests__/date-picker/CombinedRangePicker.js
  packages/zent/__tests__/date-picker/DatePicker.js
  packages/zent/__tests__/date-picker/RangePicker.js
  packages/zent/__tests__/date-picker/SinglePicker.js
  packages/zent/__tests__/date-picker/TimePicker.js
  packages/zent/__tests__/date-picker/index.js
  packages/zent/__tests__/date-picker/utils.js
  packages/zent/assets/date-picker.scss
  packages/zent/assets/date-range-quick-picker.scss
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/PanelCell.tsx
  packages/zent/src/date-picker/components/PanelFooter.tsx
  packages/zent/src/date-picker/components/PanelHeader.tsx
  packages/zent/src/date-picker/hooks/useRangeMergedProps.ts
  packages/zent/src/date-picker/hooks/useSinglePopoverVisible.ts
  packages/zent/src/date-picker/hooks/useTimePanelValue.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateBody.tsx
  packages/zent/src/date-picker/panels/month-panel/MonthBody.tsx
  packages/zent/src/date-picker/panels/quarter-panel/QuarterBody.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeBody.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeUnitColumn.tsx
  packages/zent/src/date-picker/panels/year-panel/YearBody.tsx
  packages/zent/src/date-picker/utils/getValueInRangePicker.ts
  packages/zent/src/date-picker/utils/getValueInSinglePicker.ts
  packages/zent/src/date-picker/utils/handler.ts
  packages/zent/src/date-picker/utils/index.ts
  packages/zent/src/date-range-quick-picker/demos/basic.md
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat: support form disabled prop (#1422)
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/context.tsx
Due: yarn format, eslint

fix Pop style
  packages/zent/src/pop/Action.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/demos/center-arrow.md
Due: yarn format, eslint

修改readMe 属性disabledTime
  packages/zent/__tests__/date-picker/SinglePicker.js
  packages/zent/__tests__/date-picker/TimePicker.js
  packages/zent/src/date-picker/DatePicker.tsx
  packages/zent/src/date-picker/DateRangePicker.tsx
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/CombinedTimePicker.tsx
  packages/zent/src/date-picker/components/RangePickerBase.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/context/PanelContext.ts
  packages/zent/src/date-picker/demos/disabled-time.md
  packages/zent/src/date-picker/hooks/useRangeDisabledTime.ts
  packages/zent/src/date-picker/panels/combined-date-range-panel/RangeFooter.tsx
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/panels/date-panel/index.tsx
  packages/zent/src/date-picker/types.ts
Due: yarn format, eslint

fix: 修正context上labelWidth的类型
  packages/zent/src/form/context.tsx
Due: yarn format, eslint

fix: 使用zent内置的uniqueId替换formulr的Uniqueid
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/form.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/unique-id.ts
Due: yarn format, eslint

fix: 提取isPlainObject到src/utils
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/utils.ts
  packages/zent/src/utils/isPlainObject.ts
Due: yarn format, eslint

drop display and width support for Popover, Pop and Tooltip
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
  packages/zent/src/popover/Dropdown.md
  packages/zent/src/popover/README_en-US.md
  packages/zent/src/popover/README_zh-CN.md
  packages/zent/src/popover/demos/basic.md
  packages/zent/src/popover/demos/controlled.md
  packages/zent/src/popover/demos/hoc.md
  packages/zent/src/popover/demos/nested.md
  packages/zent/src/tooltip/README_en-US.md
  packages/zent/src/tooltip/README_zh-CN.md
  packages/zent/src/tooltip/Tooltip.tsx
Due: yarn format, eslint

Update TypeScript to 3.9.6
  packages/zent/package.json
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/sortable/Sortable.tsx
  packages/zent/src/utils/alcatraz/index.ts
  site/package.json
  yarn.lock
Due: yarn format, eslint

feat: support customize form control labelWidth and labelPosition (#1419)
  packages/zent/src/form/Control.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/Label.tsx
  packages/zent/src/form/context.tsx
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

fix: error message
  packages/zent/src/form/formulr/context.ts
  packages/zent/src/form/formulr/error.ts
Due: yarn format, eslint

fix: async consume for value listener
  packages/zent/src/form/formulr/field-array.tsx
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/field.tsx
  packages/zent/src/form/formulr/value-listener.tsx
Due: yarn format, eslint

pass tests
  packages/zent/jest.config.json
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/utils/identity.ts
Due: yarn format, eslint

Upgrade zenticons to 3.6.1
  packages/zent/package.json
  yarn.lock
Due: none
