Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn format", "eslint"],
  "*.scss": ["yarn format", "stylelint"]
}

[github_action] update caniuse-lite database
  yarn.lock
Due: none

fix: incorrect DateRangePicker selection style
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

fix:[AnimateHeight]修复当设置appear为true，height为auto的时候没有动画的问题 (#1962)
  packages/zent/src/utils/component/AnimateHeight.tsx
Due: yarn format, eslint

fix: incorrect DateRangePicker selection style (#1963)
  packages/zent/src/date-picker/utils/getPanelCellsData.ts
Due: yarn format, eslint

feat: [Select]add optional renderCollapsedContent prop
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/4.multiple.md
Due: yarn format, eslint

update theme colors
  packages/zent/assets/badge.scss
  packages/zent/assets/button.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_raw-vars.scss
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/src/tag/demos/custom.md
Due: yarn format, stylelint

fix: 新增demo，还原'多选'demo
  packages/zent/src/select/demos/12.render-collapsed-content.md
  packages/zent/src/select/demos/4.multiple.md
Due: none

fix: doc ffix
  packages/zent/src/select/README_zh-CN.md
Due: none

fix: remove unused style code
  packages/zent/src/select/demos/12.render-collapsed-content.md
Due: none

feat: [Select]add optional renderCollapsedContent prop (#1966)
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/12.render-collapsed-content.md
Due: yarn format, eslint

fix theme-stroke-11
  packages/zent/assets/dropdown-nav.scss
  packages/zent/assets/theme/semantic/_color.scss
Due: yarn format, stylelint

update theme colors (#1967)
  packages/zent/assets/badge.scss
  packages/zent/assets/button.scss
  packages/zent/assets/dropdown-nav.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_raw-vars.scss
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/src/tag/demos/custom.md
Due: yarn format, stylelint

v10.0.2
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

fix: fix theme-colors-mapping
  packages/zent/assets/theme/semantic/_color.scss
Due: yarn format, stylelint

fix: fix theme-colors-mapping (#1970)
  packages/zent/assets/theme/semantic/_color.scss
Due: yarn format, stylelint

v10.0.3
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

fix: fix disabled button's href and withErrorBoundary-onError type
  packages/zent/__tests__/button.spec.jsx
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/README_zh-CN.md
  packages/zent/src/error-boundary/withErrorBoundary.tsx
Due: yarn format, eslint

fix: fix disabled button's href and withErrorBoundary-onError type (#1979)
  packages/zent/__tests__/button.spec.jsx
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/README_zh-CN.md
  packages/zent/src/error-boundary/withErrorBoundary.tsx
Due: yarn format, eslint

v10.0.4
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

feat(input): adjusting input icon font size
  packages/zent/assets/input.scss
Due: yarn format, stylelint

feat(alert): adjusting close Icon styles
  packages/zent/assets/alert.scss
Due: yarn format, stylelint

feat(input): adjusting input icon font size (#1981)
  packages/zent/assets/input.scss
Due: yarn format, stylelint

feat(alert): adjusting close Icon styles (#1982)
  packages/zent/assets/alert.scss
Due: yarn format, stylelint

v9.12.9
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

v9.12.9 fix typo
  packages/zent/RELEASE_zh-CN.md
Due: none

feat: upgrade react dependence
  packages/zent/package.json
  site/package.json
  yarn.lock
Due: none
