Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

update yarn.lock
  yarn.lock
Due: none

chore: resolve conflicts
  packages/zent/RELEASE_zh-CN.md
Due: none

form value interact demo [ci-skip]
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/13.interact.2.md
Due: none

update docs [ci skip]
  packages/zent/src/form/demos/13.interact.2.md
Due: none

[doc] 表单值联动demo (#1338)
  packages/zent/src/form/README_en-US.md
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/13.interact.2.md
Due: none

fix: use Object.assign
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] Select: return selected data instead of invoking setState in traverseData (#1337)
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 修改上传组件的文件数量计算规则
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
  packages/zent/src/upload/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: export FILE_UPLOAD_STATUS by Upload static property
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix number input counter style [ci skip]
  packages/zent/assets/number-input.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: update demo code
  packages/zent/src/upload/demos/manual.md
Due: none

fix number input counter style [ci skip] (#1339)
  packages/zent/assets/number-input.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

[bugfix] Upload: 修改文件数量计算规则 (#1340)
  packages/zent/src/upload/ImageUpload.tsx
  packages/zent/src/upload/Upload.tsx
  packages/zent/src/upload/components/AbstractUpload.tsx
  packages/zent/src/upload/components/normal/Trigger.tsx
  packages/zent/src/upload/demos/manual.md
  packages/zent/src/upload/index.ts
  packages/zent/src/upload/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix colorpicker dragging issue and form styles
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/form.scss
  packages/zent/src/colorpicker/common/Hue.tsx
  packages/zent/src/colorpicker/common/Saturation.tsx
  packages/zent/src/colorpicker/index.tsx
  packages/zent/src/form/form-components/CheckboxField.tsx
  packages/zent/src/form/form-components/CheckboxGroupField.tsx
  packages/zent/src/form/form-components/RadioGroupField.tsx
  packages/zent/src/form/form-components/SwitchField.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix array child validation
  packages/zent/package.json
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/shared.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix a bug for number input, state and view can be unsync
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix tests
  packages/zent/__tests__/color-picker.js
Due: yarn format, eslint

fix: block-header组件按最新样式调整/增加通用样式类型
  packages/zent/__tests__/block-header.js
  packages/zent/assets/block-header.scss
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/block-header/README_en-US.md
  packages/zent/src/block-header/README_zh-CN.md
  packages/zent/src/block-header/demos/type.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: doc补充
  packages/zent/src/block-header/README_en-US.md
Due: none

fix colorpicker dragging issue and form styles (#1341)
  packages/zent/__tests__/color-picker.js
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/form.scss
  packages/zent/src/colorpicker/common/Hue.tsx
  packages/zent/src/colorpicker/common/Saturation.tsx
  packages/zent/src/colorpicker/index.tsx
  packages/zent/src/form/form-components/CheckboxField.tsx
  packages/zent/src/form/form-components/CheckboxGroupField.tsx
  packages/zent/src/form/form-components/RadioGroupField.tsx
  packages/zent/src/form/form-components/SwitchField.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix a bug for number input, state and view can be unsync (#1343)
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix array child validation (#1342)
  packages/zent/package.json
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/shared.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

update RELEASE
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
Due: none

v8.1.0
  packages/zent/package.json
Due: none

fix form demo validation [ci skip]
  packages/zent/src/form/demos/8.model-first.md
Due: none

[bug fix]: BlockHeader 按最新样式调整/增加通用样式类型 (#1344)
  packages/zent/__tests__/block-header.js
  packages/zent/assets/block-header.scss
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/block-header/README_en-US.md
  packages/zent/src/block-header/README_zh-CN.md
  packages/zent/src/block-header/demos/type.md
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq, yarn workspace zent lint-style

fix: 进度条传入的百分比值约束范围
  packages/zent/src/progress/Progress.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 判断符号去掉等号
  packages/zent/src/progress/Progress.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[style] Form: 输入框边距样式优化、'*' 颜色修改
  packages/zent/assets/form.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: Grid表格吸顶支持自定义offsetTop
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/demos/autoStick.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

grid: 更新grid组件文档
  packages/zent/src/grid/README_en-US.md
Due: none

[bug fix]: 进度条传入的百分比值增加对<0和>100情况的处理 (#1345)
  packages/zent/src/progress/Progress.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: 新增 api
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/cascader/README_en-US.md
  packages/zent/src/cascader/README_zh-CN.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json
