Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

fix eslint errors
  packages/zent/src/form/formulr/builders/set.ts
Due: yarn format, eslint

v9.6.0[no ci]
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

make FormContext error a singleton
  packages/zent/src/form/formulr/context.ts
  packages/zent/src/form/formulr/error.ts
Due: yarn format, eslint

loose context check in Form hooks (#1707)
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/21.subscribe-model.md
  packages/zent/src/form/formulr/context.ts
  packages/zent/src/form/formulr/error.ts
  packages/zent/src/form/formulr/field-array.tsx
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/field.tsx
  packages/zent/src/form/formulr/listeners/array.ts
  packages/zent/src/form/formulr/listeners/field.tsx
  packages/zent/src/form/formulr/listeners/use-model.ts
  packages/zent/src/form/formulr/listeners/utils.ts
  packages/zent/src/form/formulr/models/is.ts
  packages/zent/src/form/formulr/utils.ts
Due: yarn format, eslint

reuse same logic
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/listeners/field.tsx
  packages/zent/src/form/formulr/listeners/set.tsx
  packages/zent/src/form/formulr/listeners/use-model.ts
  packages/zent/src/form/formulr/listeners/utils.ts
Due: yarn format, eslint

Form dynamic model mode (#1708)
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/demos/22.dynamic-model.md
  packages/zent/src/form/formulr/builders/array.ts
  packages/zent/src/form/formulr/builders/field.ts
  packages/zent/src/form/formulr/builders/form.ts
  packages/zent/src/form/formulr/builders/set.ts
  packages/zent/src/form/formulr/field-set.tsx
  packages/zent/src/form/formulr/listeners/field.tsx
  packages/zent/src/form/formulr/listeners/set.tsx
  packages/zent/src/form/formulr/listeners/use-model.ts
  packages/zent/src/form/formulr/listeners/utils.ts
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/form.ts
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

v9.7.0[no ci]
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

fix typo in doc[no ci]
  packages/zent/RELEASE_zh-CN.md
Due: none

doc:add long string content FAQ in Pop[no ci]
  packages/zent/src/pop/README_en-US.md
  packages/zent/src/pop/README_zh-CN.md
Due: none

update form model API doc[no ci]
  packages/zent/src/form/README_zh-CN.md
Due: none

fix form error message typo
  packages/zent/src/form/formulr/warnings.ts
Due: yarn format, eslint

add modelRef doc on Field
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

feat: 调整颜色规则,删除focus阴影
  packages/zent/assets/button.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/date-picker.scss
  packages/zent/assets/input.scss
  packages/zent/assets/select.scss
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_old-default.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/src/color/generator.ts
  packages/zent/src/color/sdk.ts
  packages/zent/src/color/theme-ref.ts
  site/scripts/dev.js
  site/src/pages/theme/en-US.js
  site/src/pages/theme/generator.js
  site/src/pages/theme/zh-CN.js
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat: 介绍页调整
  packages/zent/assets/theme/variables/_color-names.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/plugins/postcss-plugin-vars.js
  packages/zent/src/color/sdk.ts
  packages/zent/src/color/theme-ref.ts
  site/package.json
  site/src/pages/theme/THEME_en-US.md
  site/src/pages/theme/THEME_zh-CN.md
  site/src/pages/theme/en-US.js
  site/src/pages/theme/generator.js
  site/src/pages/theme/zh-CN.js
  site/src/react-docs.scss
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

add use after free error checks in models
  packages/zent/src/form/formulr/error.ts
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/form.ts
  packages/zent/src/form/formulr/models/sentinel-subject.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/utils.ts
  packages/zent/src/form/formulr/warnings.ts
Due: yarn format, eslint

remove unused code
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

add notice on destroyOnUnmount
  packages/zent/src/form/README_zh-CN.md
Due: none

fix form error message typo (#1710)
  packages/zent/src/form/formulr/warnings.ts
Due: yarn format, eslint

update form model API doc[no ci] (#1709)
  packages/zent/src/form/README_zh-CN.md
  packages/zent/src/form/shared.tsx
Due: yarn format, eslint

add use after free error checks in models (#1711)
  packages/zent/src/form/formulr/error.ts
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/form.ts
  packages/zent/src/form/formulr/models/sentinel-subject.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/utils.ts
  packages/zent/src/form/formulr/warnings.ts
Due: yarn format, eslint

feat: 调整样式
  packages/zent/assets/breadcrumb.scss
  packages/zent/assets/button.scss
  packages/zent/assets/colorpicker.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/notice.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_old-default.scss
  packages/zent/assets/theme/variables/_color-names.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/assets/theme/variables/_raw-vars.scss
  packages/zent/assets/theme/variables/_size-names.scss
  packages/zent/assets/theme/variables/_text.scss
  packages/zent/src/button/demos/loading.md
  packages/zent/src/button/demos/style.md
  packages/zent/src/color/sdk.ts
  site/src/components/page-header/index.js
  site/src/components/theme-change-trigger/index.js
  site/src/components/theme-change-trigger/style.scss
  site/src/pages/theme/THEME_en-US.md
  site/src/pages/theme/THEME_zh-CN.md
  site/src/pages/theme/en-US.js
  site/src/pages/theme/generator.js
  site/src/pages/theme/zh-CN.js
  site/src/react-docs.scss
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

feat: remove mock code
  packages/zent/scripts/postcss-vars.sh
  packages/zent/src/color/sdk.ts
  packages/zent/src/color/theme-ref.ts
  site/scripts/dev.js
  site/src/pages/theme/zh-CN.js
  site/src/react-docs.scss
Due: yarn format, eslint, sass-lint -vq

v9.7.1[no ci]
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

fix: code review
  packages/zent/assets/breadcrumb.scss
  packages/zent/assets/button.scss
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_old-default.scss
  packages/zent/assets/theme/variables/_box.scss
  packages/zent/assets/theme/variables/_color-names.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/assets/theme/variables/_raw-vars.scss
  packages/zent/assets/theme/variables/_size-names.scss
  packages/zent/assets/theme/variables/_text.scss
  packages/zent/package.json
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/scripts/postcss-generate-css-var-ref.sh
  packages/zent/src/color/sdk.ts
  packages/zent/src/color/theme-ref.ts
  packages/zent/src/index.ts
  packages/zent/src/notice/Wrap.tsx
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.specific.md
  packages/zent/src/theme/demos/3.dynamic.md
  packages/zent/src/theme/generator.ts
  packages/zent/src/theme/index.ts
  packages/zent/src/theme/sdk.ts
  site/package.json
  site/scripts/gather.js
  site/src/components/page-header/index.js
  site/src/components/theme-change-trigger/index.js
  site/src/components/theme-change-trigger/style.scss
  site/src/components/theme-switcher/index.js
  site/src/components/theme-switcher/style.scss
  site/src/nav.static.js
  site/src/pages/theme/en-US.js
  site/src/pages/theme/zh-CN.js
  site/src/react-docs.scss
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: fix ci
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_old-default.scss
  packages/zent/assets/theme/variables/_box.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/assets/theme/variables/_size-names.scss
  packages/zent/assets/theme/variables/_text.scss
  packages/zent/plugins/postcss-plugin-lint.js
  packages/zent/src/notice/Wrap.tsx
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/sdk.ts
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: 修改scss引入路径
  packages/zent/assets/theme/_color-generator.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: remove useless func
  packages/zent/src/theme/sdk.ts
Due: yarn format, eslint

fix: add notes
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_override.scss
  packages/zent/assets/theme/variables/_box.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/assets/theme/variables/_raw-vars.scss
  packages/zent/assets/theme/variables/_text.scss
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.specific.md
  packages/zent/src/theme/demos/4.dynamic-sence.md
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: scss path fix
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/scripts/compile-style.js
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: fix scss path
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/scripts/compile-style.js
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: loadpath add node_modules
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/scripts/compile-style.js
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: notice style revert
  packages/zent/assets/notice.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix: tag 组件支持传递 div 元素上的原生属性
  packages/zent/src/tag/Tag.tsx
Due: yarn format, eslint

fix sass load-path
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/variables/_color.scss
  packages/zent/scripts/compile-style.js
  site/webpack/webpack.config.js
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: tag 组件支持传递 div 元素上的原生属性 (#1713)
  packages/zent/src/tag/Tag.tsx
Due: yarn format, eslint

[bugfix]: 修复DatePicker组件中'当前时间'快捷按钮的禁用逻辑
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/components/TimePickerBase.tsx
  packages/zent/src/date-picker/context/PanelContext.ts
  packages/zent/src/date-picker/panels/date-panel/DateFooter.tsx
  packages/zent/src/date-picker/panels/time-panel/TimeFooter.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

fix: code review
  packages/zent/assets/button.scss
  packages/zent/assets/theme/_color-generator.scss
  packages/zent/assets/theme/_default.scss
  packages/zent/assets/theme/_font.scss
  packages/zent/assets/theme/_override.scss
  packages/zent/assets/theme/_raw-vars.scss
  packages/zent/assets/theme/semantic/_box.scss
  packages/zent/assets/theme/semantic/_color.scss
  packages/zent/assets/theme/semantic/_helper.scss
  packages/zent/assets/theme/semantic/_text.scss
  packages/zent/plugins/postcss-generate-css-var-ref.js
  packages/zent/plugins/postcss-plugin-lint.js
  packages/zent/scripts/build-theme.sh
  packages/zent/src/theme/README_en-US.md
  packages/zent/src/theme/README_zh-CN.md
  packages/zent/src/theme/css-var-ref.ts
  packages/zent/src/theme/demos/1.basic.md
  packages/zent/src/theme/demos/2.specific.md
  packages/zent/src/theme/demos/3.dynamic.md
  packages/zent/src/theme/demos/4.dynamic-sence.md
  packages/zent/src/theme/generator.ts
  packages/zent/src/theme/index.ts
  packages/zent/src/theme/sdk.ts
  site/src/components/page-header/index.js
  site/src/components/theme-switcher/index.js
  site/src/pages/colors/colors.js
  site/src/pages/colors/en-US.js
  site/src/pages/colors/zh-CN.js
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style
