Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

fix: update clamp-lines and menu component life-cycle
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/menu/SubMenu.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 补齐定义
  packages/zent/src/menu/SubMenu.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor animation height
  packages/zent/src/utils/component/AnimateHeight.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 移除废弃的componentWillReceiveProps
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 移除SubMenu组件的componentWillReceiveProps
  packages/zent/src/menu/SubMenu.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: DatePicker life cycle
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/MonthPicker.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/YearPicker.tsx
  packages/zent/src/datetimepicker/constants/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[new feature] Grid: bodyRender 会传入 fixed 参数
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/Row.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[new feature] DateRangeQuickPicker: 支持通过 preset 传入自定义的时间区间选项
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/date-range-quick-picker/constants.ts
  packages/zent/src/date-range-quick-picker/demos/preset.md
  packages/zent/src/date-range-quick-picker/helper.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor button, add button directive component
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Directive.tsx
  packages/zent/src/button/Group.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 处理 ts 类型错误
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: yarn prettify
  packages/zent/src/date-range-quick-picker/constants.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix tests
  packages/zent/__tests__/button.js
  packages/zent/__tests__/table/combine.js
  packages/zent/src/button/Button.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

[refactor] ClampLine、Menu: 移除即将废弃的生命周期componentWillReceiveProps (#1071)
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/menu/SubMenu.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[refactor] DatePicker: 重构 willReceiveProps (#1061)
  packages/zent/src/datetimepicker/DatePicker.tsx
  packages/zent/src/datetimepicker/MonthPicker.tsx
  packages/zent/src/datetimepicker/QuarterPicker.tsx
  packages/zent/src/datetimepicker/TimePicker.tsx
  packages/zent/src/datetimepicker/TimeRangePicker.tsx
  packages/zent/src/datetimepicker/WeekPicker.tsx
  packages/zent/src/datetimepicker/YearPicker.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix(Pop): 删除 content 最小宽度
  packages/zent/assets/pop.scss
Due: yarn format, sass-lint -vq

fix(Pagination): 修复选择器权重低导致样式被覆盖的问题
  packages/zent/assets/pagination.scss
Due: yarn format, sass-lint -vq

fix(Pagination): 修复分页组件在 total 为 0 时下一页按钮仍可点击的问题
  packages/zent/src/pagination/layout/lite.ts
  packages/zent/src/pagination/layout/mini.ts
  packages/zent/src/pagination/layout/normal.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix(Grid): 修复表格组件排序按钮靠右时无空隙的样式问题
  packages/zent/assets/grid.scss
Due: yarn format, sass-lint -vq

fix: cascader 修改判断条件
  packages/zent/src/cascader/Cascader.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix(Table): 修改table组件头部和hover的背景色
  packages/zent/assets/table.scss
Due: yarn format, sass-lint -vq

fix(Dialog): 删除dialog组件的body最小高度
  packages/zent/assets/dialog.scss
Due: yarn format, sass-lint -vq

fix: remove longer scss name variable
  packages/zent/assets/pagination.scss
Due: yarn format, sass-lint -vq

Publish
  packages/babel-plugin-zent/package.json
  packages/zent/package.json
Due: none

Update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

[bug fix] 修复部分新版组件的样式问题 (#1078)
  packages/zent/assets/dialog.scss
  packages/zent/assets/grid.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/pop.scss
  packages/zent/assets/table.scss
  packages/zent/src/pagination/layout/lite.ts
  packages/zent/src/pagination/layout/mini.ts
  packages/zent/src/pagination/layout/normal.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

[new feature] Grid: bodyRender 会传入 fixed 参数 (#1075)
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/Row.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[new feature] DateRangeQuickPicker: 支持通过 preset 传入自定义的时间区间选项 (#1076)
  packages/zent/src/date-range-quick-picker/DateRangeQuickPicker.tsx
  packages/zent/src/date-range-quick-picker/README_en-US.md
  packages/zent/src/date-range-quick-picker/README_zh-CN.md
  packages/zent/src/date-range-quick-picker/constants.ts
  packages/zent/src/date-range-quick-picker/demos/preset.md
  packages/zent/src/date-range-quick-picker/helper.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Publish
  packages/zent/package.json
Due: none

refactor tag
  packages/zent/__tests__/tag.js
  packages/zent/src/tag/Tag.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json

update docs
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/tag/README_en-US.md
  packages/zent/src/tag/README_zh-CN.md
  packages/zent/src/tag/demos/controlled.md
Due: none

fix tag props type
  packages/zent/src/tag/Tag.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor focus and click trigger
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/PopoverContext.tsx
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/FocusTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor Popover, PopoverContent, position function
  packages/zent/package.json
  packages/zent/scheduler.d.ts
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/PopoverContext.tsx
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/placement/prefix.ts
  packages/zent/src/popover/position-function.ts
  packages/zent/src/popover/position-updated.ts
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/utils/dom/findPositionedParent.ts
  packages/zent/src/utils/isPromise.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor hover trigger
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor withPopover
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor positions
  packages/zent/src/popover/placement/auto-bottom-center.ts
  packages/zent/src/popover/placement/auto-bottom-left.ts
  packages/zent/src/popover/placement/auto-bottom-right.ts
  packages/zent/src/popover/placement/auto-top-center.ts
  packages/zent/src/popover/placement/auto-top-left.ts
  packages/zent/src/popover/placement/auto-top-right.ts
  packages/zent/src/popover/placement/bottom-center.ts
  packages/zent/src/popover/placement/bottom-left.ts
  packages/zent/src/popover/placement/bottom-right.ts
  packages/zent/src/popover/placement/create.ts
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/placement/isEqual.ts
  packages/zent/src/popover/placement/left-bottom.ts
  packages/zent/src/popover/placement/left-center.ts
  packages/zent/src/popover/placement/left-top.ts
  packages/zent/src/popover/placement/right-bottom.ts
  packages/zent/src/popover/placement/right-center.ts
  packages/zent/src/popover/placement/right-top.ts
  packages/zent/src/popover/placement/top-center.ts
  packages/zent/src/popover/placement/top-left.ts
  packages/zent/src/popover/placement/top-right.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix auto position exports
  packages/zent/src/popover/placement/auto-bottom-center.ts
  packages/zent/src/popover/placement/auto-bottom-left.ts
  packages/zent/src/popover/placement/auto-bottom-right.ts
  packages/zent/src/popover/placement/auto-top-center.ts
  packages/zent/src/popover/placement/auto-top-left.ts
  packages/zent/src/popover/placement/auto-top-right.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json
