Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, stylelint

feat: 多值选择器修改
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/4.multiple.md
Due: yarn format, eslint

feat: 多值选择器修改
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: 添加回车功能
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: steps style
  packages/zent/assets/steps.scss
  packages/zent/src/steps/Steps.tsx
  packages/zent/src/steps/components/BreadcrumbSteps.tsx
  packages/zent/src/steps/components/Step.tsx
  packages/zent/src/steps/demos/breadcrumb-step.md
Due: yarn format, eslint, stylelint

feat: dialog style
  packages/zent/assets/dialog.scss
Due: yarn format, stylelint

feat: notify style
  packages/zent/assets/notify.scss
  packages/zent/src/notify/NotifyContent.tsx
  packages/zent/src/notify/demos/custom-show-time.md
Due: yarn format, eslint, stylelint

keep startDate's time value when endDate updates in combined-date-picker
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
Due: yarn format, eslint

fix: onChange can be triggered only when the confirm button is clicked in time-range-picker
  packages/zent/src/date-picker/components/TimeRangePickerBase.tsx
Due: yarn format, eslint

feat: Loading style
  packages/zent/assets/loading.scss
  packages/zent/src/loading/BlockLoading.tsx
  packages/zent/src/loading/FullScreenLoading.tsx
  packages/zent/src/loading/InlineLoading.tsx
  packages/zent/src/loading/README_en-US.md
  packages/zent/src/loading/README_zh-CN.md
  packages/zent/src/loading/demos/global-mode.md
  packages/zent/src/loading/demos/text.md
  packages/zent/src/loading/props.ts
Due: yarn format, eslint, stylelint

feat: select样式修改
  packages/zent/assets/select.scss
  packages/zent/src/i18n/zh-CN.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint, stylelint

feat: select添加size props
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: 新增LinkTag/SelectTag;修改tag样式
  packages/zent/assets/tag.scss
  packages/zent/src/tag/Tag.tsx
  packages/zent/src/tag/demos/basic.md
  packages/zent/src/tag/demos/style.md
  packages/zent/src/tag/index.ts
Due: yarn format, eslint, stylelint

feat: 新增LinkTag/SelectTag;修改tag样式
  packages/zent/src/tag/LinkTag.tsx
  packages/zent/src/tag/SelectTag.tsx
  packages/zent/src/tag/demos/size.md
Due: yarn format, eslint

feat: input增加widthSize
  packages/zent/src/input/Input.tsx
  packages/zent/src/input/README_en-US.md
  packages/zent/src/input/README_zh-CN.md
  packages/zent/src/input/types.ts
Due: yarn format, eslint

feat: readme修改
  packages/zent/src/select/README_en-US.md
Due: none

docs: revert
  packages/zent/src/notify/demos/custom-show-time.md
Due: none

feat: collapse style
  packages/zent/assets/collapse.scss
  packages/zent/assets/theme/_timing-functions.scss
  packages/zent/src/collapse/Panel.tsx
  packages/zent/src/collapse/README_en-US.md
  packages/zent/src/collapse/README_zh-CN.md
  packages/zent/src/collapse/demos/basic.md
  packages/zent/src/utils/component/AnimateHeight.tsx
  packages/zent/src/utils/timingFunctions.ts
Due: yarn format, eslint, stylelint

feat: pagination应用新版icon
  packages/zent/assets/button.scss
  packages/zent/assets/pagination.scss
  packages/zent/src/pagination/components/button/ArrowButton.tsx
Due: yarn format, eslint, stylelint

feat: 步骤条支持icon&文档完善
  packages/zent/assets/steps.scss
  packages/zent/src/steps/README_en-US.md
  packages/zent/src/steps/README_zh-CN.md
  packages/zent/src/steps/Steps.tsx
  packages/zent/src/steps/components/BreadcrumbSteps.tsx
  packages/zent/src/steps/components/Step.tsx
  packages/zent/src/steps/demos/breadcrumb-step.md
Due: yarn format, eslint, stylelint

feat: update badge display style
  packages/zent/assets/badge.scss
  packages/zent/src/badge/Badge.tsx
  packages/zent/src/badge/README_zh-CN.md
Due: yarn format, eslint, stylelint

feat: password优化
  packages/zent/src/input/InputCore.tsx
  packages/zent/src/input/password.tsx
Due: yarn format, eslint

feat: breadcrumbs 支持折叠
  packages/zent/assets/breadcrumb.scss
  packages/zent/src/breadcrumb/Breadcrumb.tsx
  packages/zent/src/breadcrumb/Item.tsx
  packages/zent/src/breadcrumb/demos/basic.md
  packages/zent/src/breadcrumb/utils.ts
Due: yarn format, eslint, stylelint

docs: collapse 修改
  packages/zent/src/collapse/README_en-US.md
  packages/zent/src/collapse/README_zh-CN.md
Due: none

feat: password优化
  packages/zent/__tests__/input.spec.jsx
Due: yarn format, eslint

docs: loading 文档修改
  packages/zent/src/loading/README_en-US.md
  packages/zent/src/loading/README_zh-CN.md
  packages/zent/src/loading/demos/text.md
Due: none

feat: steps 代码优化
  packages/zent/src/steps/components/BreadcrumbSteps.tsx
Due: yarn format, eslint

[github_action] update caniuse-lite database
  yarn.lock
Due: none

feat: md更新
  packages/zent/src/input/demos/password.md
Due: none

feat: disabled文字颜色修改
  packages/zent/assets/radio.scss
Due: yarn format, stylelint

feat: disabled背景颜色修改
  packages/zent/assets/checkbox.scss
Due: yarn format, stylelint

feat: slider组件修改
  packages/zent/assets/slider.scss
Due: yarn format, stylelint

feat: timePicker样式修改
  packages/zent/assets/date-picker.scss
Due: yarn format, stylelint

feat: breadcrumb 支持自适配宽度
  packages/zent/assets/breadcrumb.scss
  packages/zent/src/breadcrumb/Breadcrumb.tsx
  packages/zent/src/breadcrumb/README_en-US.md
  packages/zent/src/breadcrumb/README_zh-CN.md
  packages/zent/src/breadcrumb/demos/fit-wdith.md
  packages/zent/src/breadcrumb/demos/fold.md
  packages/zent/src/breadcrumb/utils.ts
Due: yarn format, eslint, stylelint

feat: switch style
  packages/zent/assets/switch.scss
Due: yarn format, stylelint

feat: timePicker样式修改
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/panels/time-panel/TimeFooter.tsx
Due: yarn format, eslint, stylelint

add destroyOnUnmount and normalizeBeforeSubmit support to FieldSet and FieldArrayModel
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/formulr/builders/array.ts
  packages/zent/src/form/formulr/builders/basic.ts
  packages/zent/src/form/formulr/builders/field.ts
  packages/zent/src/form/formulr/builders/set.ts
  packages/zent/src/form/formulr/field-utils.ts
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/utils.ts
Due: yarn format, eslint

keep startDate's time value when endDate updates in combined-date-picker(#1823) (#1832)
  packages/zent/src/date-picker/README_en-US.md
  packages/zent/src/date-picker/README_zh-CN.md
  packages/zent/src/date-picker/components/TimeRangePickerBase.tsx
  packages/zent/src/date-picker/panels/combined-date-range-panel/index.tsx
Due: yarn format, eslint

add destroyOnUnmount and normalizeBeforeSubmit support to FieldSet and FieldArrayModel (#1850)
  packages/zent/src/form/FieldSet.tsx
  packages/zent/src/form/formulr/builders/array.ts
  packages/zent/src/form/formulr/builders/basic.ts
  packages/zent/src/form/formulr/builders/field.ts
  packages/zent/src/form/formulr/builders/set.ts
  packages/zent/src/form/formulr/field-utils.ts
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/utils.ts
Due: yarn format, eslint

v9.12.1
  packages/zent/RELEASE_en-US.md
  packages/zent/RELEASE_zh-CN.md
  packages/zent/package.json
Due: none

Path conditions:
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.scss
