Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

Retain imports if not matched
  packages/babel-plugin-zent/__tests__/index.js
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

Fix typo
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

Retain imports if not matched (#1229)
  packages/babel-plugin-zent/__tests__/index.js
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

v2.2.0
  packages/babel-plugin-zent/package.json
Due: none

Fix a bug in module rewrite when noModuleRewrite is on
  packages/babel-plugin-zent/__tests__/index.js
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

Fix module rewrite (#1230)
  packages/babel-plugin-zent/__tests__/index.js
  packages/babel-plugin-zent/package.json
  packages/babel-plugin-zent/src/index.js
Due: yarn format, eslint

v2.2.1
  packages/babel-plugin-zent/package.json
Due: none

v2.2.2
  packages/babel-plugin-zent/package.json
Due: none

grid: fix batch render
  packages/zent/src/grid/BatchComponents.tsx
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/demos/batch.md
  packages/zent/src/grid/types.ts
  packages/zent/src/grid/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: export inner types from cascader
  packages/zent/src/cascader/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: add info to Notify for regular notice info
  packages/zent/assets/notify.scss
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/NotifyContent.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/basic.md
  packages/zent/src/notify/demos/global-duration.md
  packages/zent/src/notify/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

feat: export inner types from cascader (#1231)
  packages/zent/src/cascader/index.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: notify add test emp
  packages/zent/__tests__/notify.js
Due: yarn format, eslint

[new feature] Notify: 增加`info`(常规提示)支持 (#1232)
  packages/zent/__tests__/notify.js
  packages/zent/assets/notify.scss
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/notify/NotifyContent.tsx
  packages/zent/src/notify/README_en-US.md
  packages/zent/src/notify/README_zh-CN.md
  packages/zent/src/notify/demos/basic.md
  packages/zent/src/notify/demos/global-duration.md
  packages/zent/src/notify/index.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

feat: 严格的重置选项判断
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

feat: 取反
  packages/zent/src/select/Select.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Add retainNullOption to allow select an option with null value
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/reset.md
  packages/zent/src/select/demos/retain-null-option.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Update doc
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
Due: none

Add retainNullOption to allow select an option with null value (#1233)
  packages/zent/src/select/README_en-US.md
  packages/zent/src/select/README_zh-CN.md
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/reset.md
  packages/zent/src/select/demos/retain-null-option.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor Popover, PopoverContent, position function
  packages/zent/scheduler.d.ts
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/PopoverContext.tsx
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/placement/prefix.ts
  packages/zent/src/popover/position-function.ts
  packages/zent/src/popover/position-updated.ts
  packages/zent/src/utils/dom/findPositionedParent.ts
  packages/zent/src/utils/isPromise.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor focus and click trigger
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/PopoverContext.tsx
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/FocusTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor hover trigger
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor withPopover
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix auto position exports
  packages/zent/src/popover/placement/auto-bottom-center.ts
  packages/zent/src/popover/placement/auto-bottom-left.ts
  packages/zent/src/popover/placement/auto-bottom-right.ts
  packages/zent/src/popover/placement/auto-top-center.ts
  packages/zent/src/popover/placement/auto-top-left.ts
  packages/zent/src/popover/placement/auto-top-right.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor positions
  packages/zent/src/popover/placement/auto-bottom-center.ts
  packages/zent/src/popover/placement/auto-bottom-left.ts
  packages/zent/src/popover/placement/auto-bottom-right.ts
  packages/zent/src/popover/placement/auto-top-center.ts
  packages/zent/src/popover/placement/auto-top-left.ts
  packages/zent/src/popover/placement/auto-top-right.ts
  packages/zent/src/popover/placement/bottom-center.ts
  packages/zent/src/popover/placement/bottom-left.ts
  packages/zent/src/popover/placement/bottom-right.ts
  packages/zent/src/popover/placement/create.ts
  packages/zent/src/popover/placement/index.ts
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/placement/isEqual.ts
  packages/zent/src/popover/placement/left-bottom.ts
  packages/zent/src/popover/placement/left-center.ts
  packages/zent/src/popover/placement/left-top.ts
  packages/zent/src/popover/placement/right-bottom.ts
  packages/zent/src/popover/placement/right-center.ts
  packages/zent/src/popover/placement/right-top.ts
  packages/zent/src/popover/placement/top-center.ts
  packages/zent/src/popover/placement/top-left.ts
  packages/zent/src/popover/placement/top-right.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix types
  packages/zent/src/auto-complete/AutoComplete.tsx
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/colorpicker/PopoverClickTrigger.ts
  packages/zent/src/colorpicker/index.tsx
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/pop/Action.tsx
  packages/zent/src/pop/NoneTrigger.ts
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/placement/invisible.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/FocusTrigger.ts
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/split-button/SplitButton.tsx
  packages/zent/src/timeline/Item.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix types
  packages/zent/src/clamp-lines/ClampLines.tsx
  packages/zent/src/error-boundary/Fallback.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix pop
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix popover hover trigger
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix pop positions
  packages/zent/assets/pop.scss
  packages/zent/src/pop/Action.tsx
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/index.ts
  packages/zent/src/pop/position.ts
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/PopoverContext.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix adjust position
  packages/zent/src/popover/Content.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix popover
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/Trigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor popover
  packages/zent/scheduler.d.ts
  packages/zent/src/popover/Anchor.tsx
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Context.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/index.ts
  packages/zent/src/popover/trigger/ClickTrigger.ts
  packages/zent/src/popover/trigger/ClickTrigger.tsx
  packages/zent/src/popover/trigger/FocusTrigger.ts
  packages/zent/src/popover/trigger/FocusTrigger.tsx
  packages/zent/src/popover/trigger/HoverTrigger.ts
  packages/zent/src/popover/trigger/HoverTrigger.tsx
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/popover/withPopover.tsx
  packages/zent/src/utils/useAnimationFramed.ts
  packages/zent/src/utils/useLazy.ts
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix types
  packages/zent/src/mention/Mention.tsx
  packages/zent/src/mention/position.ts
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/trigger/index.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix popover bugs
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/trigger/ClickTrigger.tsx
  packages/zent/src/popover/trigger/Trigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix block-header cascader mention colorpicker
  packages/zent/assets/block-header.scss
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/colorpicker/PopoverClickTrigger.ts
  packages/zent/src/colorpicker/index.tsx
  packages/zent/src/mention/Mention.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix pop
  packages/zent/assets/mixins/_popup.scss
  packages/zent/assets/pop.scss
  packages/zent/src/pop/NoneTrigger.ts
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/pop/demos/center-arrow.md
  packages/zent/src/pop/demos/positions.md
  packages/zent/src/pop/demos/trigger.md
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/ClickTrigger.tsx
  packages/zent/src/popover/trigger/HoverTrigger.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

refactor select (non multiple)
  packages/zent/assets/select.scss
  packages/zent/src/pagination/components/PageSizeChanger.tsx
  packages/zent/src/popover/Anchor.tsx
  packages/zent/src/popover/Content.tsx
  packages/zent/src/popover/Context.tsx
  packages/zent/src/popover/Popover.tsx
  packages/zent/src/popover/trigger/ClickTrigger.tsx
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Search.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/Tag.tsx
  packages/zent/src/select/TagList.tsx
  packages/zent/src/select/Trigger.tsx
  packages/zent/src/select/_demos/array.md
  packages/zent/src/select/_demos/async-filter.md
  packages/zent/src/select/_demos/auto-width.md
  packages/zent/src/select/_demos/basic.md
  packages/zent/src/select/_demos/callback.md
  packages/zent/src/select/_demos/controlled.md
  packages/zent/src/select/_demos/custom-text.md
  packages/zent/src/select/_demos/custom.md
  packages/zent/src/select/_demos/disable.md
  packages/zent/src/select/_demos/dynamic.md
  packages/zent/src/select/_demos/empty-text.md
  packages/zent/src/select/_demos/filter.md
  packages/zent/src/select/_demos/object-array.md
  packages/zent/src/select/_demos/tag.md
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/2.controlled.md
  packages/zent/src/select/demos/3.group.md
  packages/zent/src/select/index.ts
  packages/zent/src/select/trigger/BaseTrigger.tsx
  packages/zent/src/select/trigger/InputTrigger.tsx
  packages/zent/src/select/trigger/SimpleTrigger.tsx
  packages/zent/src/select/trigger/TagsTrigger.tsx
  packages/zent/src/select/trigger/index.tsx
  packages/zent/src/upload/components/UploadPopup.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

refactor multiple select
  packages/zent/assets/select.scss
  packages/zent/src/select/Option.tsx
  packages/zent/src/select/Select.tsx
  packages/zent/src/select/demos/1.basic.md
  packages/zent/src/select/demos/4.multiple.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

filter demo
  packages/zent/src/select/demos/5.filter.md
Due: none

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent/src/**/*.{ts,tsx})) or (any of: packages/zent/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent/tsconfig.json: any of: packages/zent/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json: any of: packages/zent/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
