Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "eslint", "git add"],
  "site/**/*.scss": ["yarn format", "sass-lint -vq", "git add"],
  "packages/zent/**/*.scss": ["yarn format", "sass-lint -vq", "yarn workspace zent lint-style", "git add"]
}

workaround libsass bug
  packages/zent/assets/theme/_default.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

workaround libsass bug (#1552)
  packages/zent/assets/theme/_default.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

Upgrade caniuse-db (#1551)
  .browserslistrc
  packages/zent/README_en-US.md
  packages/zent/README_zh-CN.md
  yarn.lock
Due: none

defensive coding
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, eslint

v8.4.0-3
  packages/zent/package.json
Due: none

defensive coding (#1553)
  packages/zent/src/popover/withPopover.tsx
Due: yarn format, eslint

v9.0.0-beta14
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

fix Dialog animation issue using react17
  packages/zent/src/dialog/Dialog.tsx
Due: yarn format, eslint

fix Dialog animation issue using react17 (#1554)
  packages/zent/src/dialog/Dialog.tsx
Due: yarn format, eslint

[BugFix]: DatePicker 仅输入框添加背景色
  packages/zent/assets/date-picker.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

fix typings
  packages/zent/src/grid/Grid.tsx
  packages/zent/src/i18n/I18nReceiver.ts
  packages/zent/src/pop/Pop.tsx
  packages/zent/src/popover/trigger/Trigger.tsx
  packages/zent/src/upload/components/AbstractList.tsx
Due: yarn format, eslint

[BugFix]: DatePicker 仅输入框添加背景色 (#1555)
  packages/zent/assets/date-picker.scss
Due: yarn format, sass-lint -vq, yarn workspace zent lint-style

v9.0.0-beta15
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

Update RELEASE
  packages/zent/RELEASE_v9.md
Due: none

fix: 修复review提到的问题
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/src/form/formulr/validate.ts
Due: yarn format, eslint

[bug fix] Form: 修复review提到的问题(FieldSetModel#registerChild逻辑)
  packages/zent/src/form/formulr/models/set.ts
Due: yarn format, eslint

fix Select focus move issue during loading, and allow moving to top after pressing down on the last option
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

feat: ArrayModel#children只读
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

fix Select focus move issue during loading, and allow moving to top after pressing down on the last option (#1558)
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint

Add willScrollToError to Form
  packages/zent/src/form/Form.tsx
  packages/zent/src/utils/isPromise.ts
Due: yarn format, eslint

Add willScrollToError to Form (#1559)
  packages/zent/src/form/Form.tsx
  packages/zent/src/utils/isPromise.ts
Due: yarn format, eslint

v9.0.0-beta16
  packages/zent/RELEASE_v9.md
  packages/zent/package.json
Due: none

fix: FieldArrarModel#value$更新时机收拢
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

fix: 修复ArrayModel默认值对应的child model没有被订阅的问题
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

docs: ArrayModel构造函数中的低优先级订阅增加注视
  packages/zent/src/form/formulr/models/array.ts
Due: yarn format, eslint

fix(breadcrumb): optimize interface
  packages/zent/src/breadcrumb/Item.tsx
Due: yarn format, eslint

docs: 补充form文档，useFieldValye
  packages/zent/src/form/README_zh-CN.md
Due: none

feat: 支持value$和valid$懒加载
  packages/zent/src/form/demos/19.reactive-valid.md
  packages/zent/src/form/demos/20.reactive-value.md
  packages/zent/src/form/formulr/models/array.ts
  packages/zent/src/form/formulr/models/basic.ts
  packages/zent/src/form/formulr/models/field.ts
  packages/zent/src/form/formulr/models/set.ts
  packages/zent/tsconfig.json
Due: yarn format, eslint

fix use after unmount in Popover
  packages/zent/src/popover/Content.tsx
  packages/zent/src/utils/hooks/useAnimationFramed.ts
  packages/zent/src/utils/hooks/useLazy.ts
Due: yarn format, eslint

fix(breadcrumb): optimize interface (#1560)
  packages/zent/src/breadcrumb/Item.tsx
Due: yarn format, eslint

[bugfix]: FormField defaultValue取值逻辑修复
  packages/zent/src/form/form-components/CombinedDateRangePickerField.tsx
  packages/zent/src/form/form-components/CombinedTimeRangePickerField.tsx
  packages/zent/src/form/form-components/DatePickerField.tsx
  packages/zent/src/form/form-components/DateRangePickerField.tsx
  packages/zent/src/form/form-components/DateRangeQuickPickerField.tsx
  packages/zent/src/form/form-components/MonthPickerField.tsx
  packages/zent/src/form/form-components/QuarterPickerField.tsx
  packages/zent/src/form/form-components/TimePickerField.tsx
  packages/zent/src/form/form-components/TimeRangePickerField.tsx
  packages/zent/src/form/form-components/WeekPickerField.tsx
  packages/zent/src/form/form-components/YearPickerField.tsx
Due: yarn format, eslint

fix use after unmount in Popover (#1561)
  packages/zent/src/popover/Content.tsx
  packages/zent/src/utils/hooks/useAnimationFramed.ts
  packages/zent/src/utils/hooks/useLazy.ts
Due: yarn format, eslint

fix: FormDatePickerField 类型修复
  packages/zent/src/date-picker/index.ts
  packages/zent/src/form/form-components/CombinedDateRangePickerField.tsx
  packages/zent/src/form/form-components/DatePickerField.tsx
  packages/zent/src/form/form-components/DateRangePickerField.tsx
  packages/zent/src/form/form-components/MonthPickerField.tsx
  packages/zent/src/form/form-components/QuarterPickerField.tsx
  packages/zent/src/form/form-components/WeekPickerField.tsx
  packages/zent/src/form/form-components/YearPickerField.tsx
Due: yarn format, eslint

[bugfix]: DatePicker disabled失效
  packages/zent/assets/date-picker.scss
  packages/zent/src/date-picker/components/CombinedPickerBase.tsx
  packages/zent/src/date-picker/components/CombinedTimePicker.tsx
  packages/zent/src/date-picker/components/PickerTrigger.tsx
  packages/zent/src/date-picker/components/SinglePickerBase.tsx
  packages/zent/src/date-picker/components/TimePickerBase.tsx
Due: yarn format, eslint, sass-lint -vq, yarn workspace zent lint-style

[feature]: 禁用懒加载
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/types.ts
Due: yarn format, eslint

[bugfix]: 选中option后清空搜索内容
  packages/zent/src/select/Select.tsx
Due: yarn format, eslint
