Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json, sass-lint -vq

.lintstagedrc:

{
  "*.js": ["yarn format", "eslint", "git add"],
  "packages/zent/src/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/tsconfig.json", "git add"],
  "packages/zent/scripts/cruiser/**/*.{ts,tsx}": ["yarn format", "tslint --format stylish --project packages/zent/scripts/cruiser/tsconfig.json", "git add"],
  "*.scss": ["yarn format", "sass-lint -vq", "git add"]
}

fix(tabs): 调整高度样式，normal 类型使用 border 代替 ink-bar
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/components/normal/TabsNav.tsx
  packages/zent/src/tabs/demos/add-and-del.md
  packages/zent/src/tabs/demos/nav-extra-content.md
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: 水平对齐模式样式修改
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/components/card/TabsNav.tsx
  packages/zent/src/tabs/components/normal/TabsNav.tsx
  packages/zent/src/tabs/demos/add-and-del.md
  packages/zent/src/tabs/demos/align.md
  packages/zent/src/tabs/demos/vertical.md
  packages/zent/src/tabs/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

migrate switch
  packages/zent/assets/switch.scss
  packages/zent/assets/switch/_zent-switch-size.scss
  packages/zent/assets/switch/_zent-switch-status.scss
  packages/zent/assets/switch/_zent-switch-variable.scss
  packages/zent/assets/switch/_zent-switch.scss
Due: yarn format, sass-lint -vq

migrate tabs
  packages/zent/assets/tabs.scss
Due: yarn format, sass-lint -vq

migrate tag
  packages/zent/assets/tag.scss
Due: yarn format, sass-lint -vq

migrate timeline
  packages/zent/assets/timeline.scss
Due: yarn format, sass-lint -vq

migrate tree
  packages/zent/assets/tree.scss
Due: yarn format, sass-lint -vq

migrate upload
  packages/zent/assets/upload.scss
Due: yarn format, sass-lint -vq

fix dialog style
  packages/zent/assets/dialog.scss
Due: yarn format, sass-lint -vq

refactor checkbox
  packages/zent/assets/checkbox.scss
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/checkbox/Group.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix checkbox unit tests
  packages/zent/__tests__/checkbox-group.js
  packages/zent/__tests__/checkbox.js
  packages/zent/assets/checkbox.scss
  packages/zent/src/checkbox/Checkbox.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

update docs
  packages/zent/RELEASE_NEXT.md
Due: none

fix: 添加垂直模式，清理无用代码
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/button/TabsNav.tsx
  packages/zent/src/tabs/components/card/Tab.tsx
  packages/zent/src/tabs/components/normal/TabsNav.tsx
  packages/zent/src/tabs/components/vertical/Tab.tsx
  packages/zent/src/tabs/components/vertical/TabsNav.tsx
  packages/zent/src/tabs/demos/align.md
  packages/zent/src/tabs/demos/nav-extra-content.md
  packages/zent/src/tabs/demos/vertical.md
  packages/zent/src/tabs/impl/BaseTab.tsx
  packages/zent/src/tabs/impl/BaseTabsNav.tsx
  packages/zent/src/tabs/types.ts
  packages/zent/src/tabs/utils.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: 调整AnimateHeight DidMount auto height, 纠正 Tree getDerivedStateFromProps
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/utils/component/AnimateHeight.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: Tree rm lodash
  packages/zent/src/tree/Tree.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

[bug fix] AnimateHeight: 调整 DidMount auto height; Tree: 纠正 getDerivedStateFro… (#1146)
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/utils/component/AnimateHeight.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

Publish
  packages/zent/package.json
Due: none

fix: 调整 tabs components 目录结构
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/TabPanel.tsx
  packages/zent/src/tabs/components/base/BaseTab.tsx
  packages/zent/src/tabs/components/base/BaseTabsNav.tsx
  packages/zent/src/tabs/components/base/utils.ts
  packages/zent/src/tabs/components/button/TabsNav.tsx
  packages/zent/src/tabs/components/card/Tab.tsx
  packages/zent/src/tabs/components/card/TabsNav.tsx
  packages/zent/src/tabs/components/normal/Tab.tsx
  packages/zent/src/tabs/components/normal/TabsNav.tsx
  packages/zent/src/tabs/components/vertical/Tab.tsx
  packages/zent/src/tabs/components/vertical/TabsNav.tsx
  packages/zent/src/tabs/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

fix: 添加 stretch 和 navExtraContentAlign 两个属性
  packages/zent/assets/tabs.scss
  packages/zent/src/tabs/README_en-US.md
  packages/zent/src/tabs/README_zh-CN.md
  packages/zent/src/tabs/Tabs.tsx
  packages/zent/src/tabs/components/TabPanel.tsx
  packages/zent/src/tabs/components/base/BaseTabsNav.tsx
  packages/zent/src/tabs/components/card/TabsNav.tsx
  packages/zent/src/tabs/components/normal/TabsNav.tsx
  packages/zent/src/tabs/demos/align.md
  packages/zent/src/tabs/demos/nav-extra-content.md
  packages/zent/src/tabs/demos/stretch.md
  packages/zent/src/tabs/demos/types.md
  packages/zent/src/tabs/demos/vertical.md
  packages/zent/src/tabs/types.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

fix: PaginationComp 判断方式修改
  packages/zent/src/table/modules/Foot.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

add back main in package.json
  packages/zent/package.json
Due: none

[new feature] Grid、Table: paginationType 参数添加 mini 类型支持 (#1136)
  packages/zent/assets/pagination.scss
  packages/zent/src/grid/Footer.tsx
  packages/zent/src/grid/README_en-US.md
  packages/zent/src/grid/README_zh-CN.md
  packages/zent/src/grid/types.ts
  packages/zent/src/pagination/components/jumper/MiniPageJumper.tsx
  packages/zent/src/table/README_en-US.md
  packages/zent/src/table/README_zh-CN.md
  packages/zent/src/table/Table.tsx
  packages/zent/src/table/modules/Foot.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

grid box-shadow -> border
  packages/zent/assets/grid.scss
Due: yarn format, sass-lint -vq

Revert "grid box-shadow -> border"
  packages/zent/assets/grid.scss
Due: yarn format, sass-lint -vq

update browser support info [ci skip]
  packages/zent/README_en-US.md
  packages/zent/README_zh-CN.md
Due: none

doc: add icon spin doc
  packages/zent/src/icon/README_en-US.md
  packages/zent/src/icon/README_zh-CN.md
  packages/zent/src/icon/demos/all.md
  packages/zent/src/icon/demos/spin.md
Due: none

fix badge color
  packages/zent/assets/badge.scss
Due: yarn format, sass-lint -vq

fix demo styles
  packages/zent/src/auto-complete/demos/advanced.md
  packages/zent/src/button/demos/group.md
Due: none

fix styles
  packages/zent/assets/breadcrumb.scss
  packages/zent/assets/cascader.scss
  packages/zent/assets/date-range-quick-picker.scss
  packages/zent/assets/pagination.scss
  packages/zent/assets/radio.scss
Due: yarn format, sass-lint -vq

update browser support info [ci skip]
  packages/zent/README_en-US.md
  packages/zent/README_zh-CN.md
  packages/zent/docs/THEME_en-US.md
  packages/zent/docs/THEME_zh-CN.md
Due: none

polyfill padStart
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/utils/padStart.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

use Decimal calculate delta
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/utils/padStart.ts
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

update docs
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
Due: none

[refactor] Checkbox (#1145)
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/checkbox-group.js
  packages/zent/__tests__/checkbox.js
  packages/zent/assets/checkbox.scss
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/checkbox/Group.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent/tsconfig.json, sass-lint -vq

update docs [ci skip]
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
Due: none

polish getDelta
  packages/zent/src/number-input/NumberInput.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json

refactor icon to function component
  packages/zent/src/icon/Icon.tsx
Due: yarn format, tslint --format stylish --project packages/zent/tsconfig.json
